[2017-01-20 19:07] fuchsto commented on #241
@devreal Yeah, Cray, much like OpenMPI, are speshul and spoil the fun for everyone. Please don't invest your time in fixing their issues. As far as I'm concerned, I'm fine with something like `#ifdef DASH_ARCH_CRAY`.

[2017-01-20 19:44] fuchsto commented on #238
Fixed in #244

[2017-01-23 09:10] devreal commented on #241
The Cray on-site support escalated this issue to the compiler group so it might get fixed at some point. In the mean-time, we will guard the check through the `_CRAYC` macro.

I adapted the containers in branch `bug-241-containertypes` but it currently fails to compiler `ex.04.memalloc`, where a `GlobPtr` is used within a `dash::Array`.  @fuerlinger can you please check this example? Apart from no

[2017-01-23 09:30] devreal commented on #241
Some more observations:

- `STLAlgorithmTest` fails to compile because `std::pair` is not trivially copyable.
- `bench.04.histo` fails to compile because of a `dash::Array` of `GlobPtr`.
- `app.01.mindeg` fails to compile because `node_t` has a member of type `GlobPtr`.

[2017-01-23 09:39] fuerlinger commented on #241
Thanks for escalating the issue with Cray!

On having a `GlobPtr` as a elemental type in a DASH container I think we definitely should try to allow that if possible at all. This is a fundamental way to build more complex data structures out of the basics that are offered out of the box.

And that of course ties in with #221 : I think we should really allow to copy global pointers between units, ag

[2017-01-23 10:04] devreal commented on #221
Some thoughts on how to solve this: the easiest solution would be to (re-)integrate the team ID into the `gptr` struct. This would make it easy for a team to find consesus on a segment ID upon allocation. Re-use of segment IDs could be feasible through a team-specific stack containing segment IDs previously allocated and free'd. The combination of a team ID and a segment ID will uniquely identify

[2017-01-23 10:09] devreal commented on #241
I fully agree that a GlobPtr (and the underlying `gptr`) should be sharable between units. This has been haunting me before as well. After #221 has been resolved, the trivial fix is to make the copy assignment operator `default`.

Regarding `std::pair`: As mentioned by @fuchsto, having a pair type in containers is certainly handy. We could easily provide our own implementation that is trivially_co

[2017-01-23 10:23] devreal commented on #118
Mhh, I think the semantics here are different. According to https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_concurrency.html, it reads:

In particular, this means that you can call for example `std::find` from within multiple threads on the same or different containers. In DASH, you cannot call `dash::find_if` from within multiple threads in the same team as this would cause a data race on s

[2017-01-23 10:58] fuerlinger commented on #221
Including the team ID is probably a good idea as it makes everything else easier. An alternative would be to keep track of the max. currently used ID on each unit and then to do a max reduction across all units in the team. Although one can probably come up with scenarios where that scheme runs out of IDs quickly.

For flags, I don't think we have a very compelling use case yet (correct me if I'm

[2017-01-23 15:14] rkowalewski commented on #221
The DART interface provides two different routines for collective memory allocation:
- `dart_team_memalloc`
- `dart_team_memalloc_aligned`

As far as I can remember the original purpose of the aligned variant was to commit on a common segment ID among all units in a team, while the non-aligned version does not require this. Considering the suggested solution above raises the question if there is a

[2017-01-23 17:34] fuerlinger commented on #221
The two forms of memory allocation are

- `dart_memalloc()`
- `dart_team_memalloc_aligned()`

The first one is not collective, the second one is collective, `aligned` was meant to signify that each unit contributes the same amount of memory to the overall allocation. `aligned` might be a misnomer but that was what we came up with back when this was first designed. The advantage of an aligned alloc

[2017-01-23 17:45] fuerlinger commented on #221
As for the size of global pointers I would try to keep it small just for practical reasons. I would suggest staying at 128 bits if possible. I agree that there is potential value in having flags for the global pointers and that the flags should be encoded in the global pointer itself.

How about we take 8 bits from the `Unit ID` field and dedicate it to `flags`? That leaves 24 bits for unit IDs wh

[2017-01-24 02:56] fuchsto opened #249 "User Request: Atomics in dash::UnorderedMap"
User request I received by mail:

[2017-01-24 03:11] fuchsto commented on #249
My reply:

First, thank you for evaluating DASH for your application.
We highly appreciate feedback from users and will gladly provide technical support.

The "vanilla" configuration of dash::UnorderedMap is designed to provide a distributed key/value store.
If I understand your use case correctly, you use mapped values for shared counters.
So, for a simplified example:

[code]

(Let me know if I

[2017-01-24 08:34] devreal commented on #221
As said yesterday during the phone call with @rkowalewski, most of the flags I can imagine are not specific to a `gptr` but specific to an allocation, i.e., a segment. Hence, there is no need to store them in a `gptr`. What if the user changes the flags manually? The allocation will still have the semantics of the original flags... Do we have any use-case for purely pointer-specific (allocation-in

[2017-01-24 08:47] rkowalewski commented on #249
I am on it and prepare a small unit test to imitate a scenario as described above.

[2017-01-24 09:13] devreal commented on #249
Maybe I'm wrong but to me his use case sounds more like a `SharedCounter`? He wants local updates and eventually combine them into a sum...

[2017-01-24 09:25] fuerlinger commented on #221
I don't really see the need for huge numbers of teams (per unit), maybe I'm overlooking something. Say we have a program with 1024 units and we do a recursive binary split all the way down to teams of size 1. Then each unit is a member of only 11 teams.

We also don't need a huge number of unique team IDs because team IDs don't need to be globally unique. Back during the design phase for DART we c

[2017-01-24 09:36] fmoessbauer commented on #239
After reading #221 I have some concerns that the way we fixed this does not comply with the assumptions of `dash::CollectiveAllocator` and hence `dart_team_memalloc_aligned()`. The documentation is not clear at this point, whether all units have to call the allocator with an equal number of local elements. According to @fuerlinger's comment, this is the case.

However if that is the case, the `Glo

[2017-01-24 09:39] BenjaProg commented on #249
Hm i thought unordered map ist perfekt, because the mapped value to a key is the counter and beforehand it's unknown which keys are to be found at all.
If I interpret your SharedCounter suggestion right, one need a SharedCounter for every possible Key, but the range in this case would be to large. Or did I miss something?
EDIT: @rkowalewski yes that was perfect timing!

[2017-01-24 09:39] rkowalewski commented on #249
hmm..to me it sounds like he wants to count the number of occurences of a particular DNA stripe. So obviously he wants to manage all the stripes (as keys) in an unordered map and increment it if was found found by any unit. So it is some kind of `dash::unodered_map<dash::SharedCounter>`.

EDIT: Actually, @BenjaProg and me submitted the same comment concurrently.

[2017-01-24 10:26] devreal commented on #221
@fuerlinger I just checked the implementation: yes team IDs are globally unique (there is an allreduce to find the highest available ID, lower available IDs skipped by a unit). And team IDs are not reused.

If team IDs were not globally unique, the proposed implementation would suffer from the same issue as we have with segment IDs right now. A combination of team ID and segment ID would not be un

[2017-01-24 10:32] fuerlinger commented on #239
As mentioned, the original idea was that `dart_team_memalloc_aligned()` is used with requesting an identical amount of memory on each unit and I suggest that we keep it that way. We can, however, add a version that allows for a different amount on each unit and we could call that version `dart_team_memalloc()`. This might be useful for cases where the amount of memory varies a lot between units an

[2017-01-24 10:52] fuerlinger commented on #221
But the allreduce is not over all units, just over the parent team, I assume?

Here is an example of what should be allowed in the model that I mentioned:

![snip](https://cloud.githubusercontent.com/assets/475258/22243967/f1ef228a-e229-11e6-86f8-54e45ee38358.PNG)

Say I have `dash::Team::All()` and then I have a team per node in a large machine. If I then want to further split one particular node

[2017-01-24 11:17] rkowalewski commented on #239
Maybe there is a chance to rename the aligned with a better term, e.g. `dart_team_memalloc_symmetric`. Aligned is misnamed here IMHO.

Regarding the issues as described by @fmoessbauer:

- A simple idea is to add some trait informtation to `GlobPtr` (e.g. `GlobPtr::memory_traits::symmetric`).  Simple pointer arithmetic should be well-defined if this trait is satisfied, otherwise undefined. It soun

[2017-01-24 11:38] devreal commented on #221
You're right, my mistake. The allreduce is only on the parent team, not globally.

[2017-01-25 05:34] fuchsto commented on #216
Resolved in PR #237

[2017-01-25 06:00] fuchsto commented on #239
@fuerlinger How about `dart_team_coalloc`? It's shorter and that's what it does.

Now some lengthy Wisenheimer remark:
Traits are not part of the type they describe, they are templates specialized for types.
For example:

[code]

I strongly oppose the notion of *memory_traits* for iterators.
So in your example, it's something like:

[code]

But actually again, symmetric allocation it's not a prope

[2017-01-25 07:25] fuchsto commented on #249
@devreal @rkowalewski @BenjaProg

Nonono, be careful:

As the name suggests, `dash::SharedCounter` already is a (shared) distributed type, implemented as a wrapper for `dash::Array` so that's not practicable for mapped values in `dash::UnorderedMap`.

Also, with the default hash function, units have to update remote counter values in this use case.
Keys are mapped to a single specific unit, so loc

[2017-01-25 08:23] devreal commented on #249
@fuchsto You're right, distributed map with distributed arrays as values does not make much sense. If all `GATCSequence`s are known before, a simple `std::unordered_map` with `SharedCounter` would work, though.

What's the road-block in using `dash::Atomic` in a `dash::unordered_map`?

[2017-01-25 08:40] fuchsto commented on #249
We briefly discussed this in the Munich team meeting today and it looks like just some minor changes (changing a member type from `const *` to DART id) are needed to use  `dash::Atomic` as a mapped type in `dash::UnorderedMap`
It is just a wrapper for a `dart_gptr_t` so `dash::Atomic` could even be sold to the compiler as trivially copyable. From the container's perspective, there is nothing speci

[2017-01-25 17:55] fmoessbauer commented on #249
On the compiler side, the changes are minimal. However my solution seems to be not correct anymore, as a `dash::Atomic().add(1)` which is not local leads to DART errors in the accumulate phase, as the DART segment id is wrong. According to all documentation of DART that I found (pretty few^^) this should definitely work. I also checked, that both the DART team ID as well as the dart_globptr is cop

[2017-01-25 18:56] fuchsto opened #254 "Allow to specify pattern configuration at compile time"
tba

[2017-01-25 19:00] fuchsto commented on #249
(told you so)

Seriously, this is a drastic defect. I will test your use case on some ancient stable code base and check if it is related to recent changes.

[2017-01-25 23:26] ddiefenthaler commented on #249
@fmoessbauer To which use case are you referring?
If you're asking about the test ([AtomicTest.cc](https://github.com/dash-project/dash/blob/feat-249-atomic/dash/test/AtomicTest.cc#L115)) it is probably because the default constructed `dash::Atomics` are not valid.
It looks like its writing the values to `DART_GPTR_NULL`, which is done twice. Therefore the comaprision in the test yields 8 instead

[2017-01-26 09:56] fmoessbauer commented on #249
@ddiefenthaler exactly, you are right with everything you mentioned. However this should be asserted. Maybe the assertions do not work properly.

After have slept on it for one night I see that simply my unit test was not valid. However this will happen to most of our users, as the behavior of `dash::Atomic` differs massively from `std::Atomic`. While the dash variant is more an algorithm to perfo

[2017-01-26 09:59] devreal commented on #249
I looked into this this morning as well. I am about to add sanity checks in DART communication routines to catch this type of errors. However, the unit IDs and segment IDs passed to DART seem strange, likely uninitialized (not -1 and 0 as would be expected for `DART_GPTR_NULL`). I still cannot track them down.

[2017-01-26 14:26] devreal commented on #249
I'm not a big fan of the name `AtomicWrapper` although I am having a hard time coming up with a good alternative. Maybe `AtomicAccess` or `AtomicAccessor`?

You mean the new `dash::Atomic` will allocate global memory non-collectively on the current unit and use `dash::AtomicWrapper` internally?

[2017-01-26 15:26] devreal commented on #249
One more thought: Do we actually need a dedicated `dash::Atomic` class? As far as I can see, the support for atomic operations does not rely on any internal state but can be executed on any suitable (aka basic) data type through a global pointer. We could thus have a `dash::atomic::` namespace that contains `dash::atomic::fetch_and_op` and `dash::atomic::accumulate`, right?

Having a wrapper type

[2017-01-26 17:39] rkowalewski commented on #249
I agree with @devreal to provide atomic algorithms which operate on global pointers. This simplifies many details and the semantics are well-defined.
For more complex types, I would not provide this out of the box as a wrapper because performance drastically goes down. Instead I would suggest to provide a `dash::mutex(Team & team)` and the user can then aquire and release it to guarantee atomic up

[2017-01-26 21:10] fuchsto commented on #249
Ah, no, we are leaving the terrain of well-defined concepts/semantics here.
Yes, it would work to use atomic wrappers and atomic operations, but there are strong arguments against doing so.

For starters, I disagree with @rkowalewski on

With the suggestions above, they are exactly not.

So for example, you would define a variable `GlobPtr<T> reg`.
One unit could use a register/address for atomic

[2017-01-27 01:02] ddiefenthaler commented on #249
Thanks for the clarification @fuchsto,
however I do not fully agree with that:

any suitable (aka basic) data type

The original use case was to count up some values in a way that no updates are lost. If we are able to achieve this with functions already available in DART there probably should be a way in DASH, too. And that without restricting the access to a bare minimum. I agree that this then

[2017-01-27 02:10] fuchsto commented on #249
No! The DART functions are already malformed in the first place.

There really is no room to discuss alternatives to "make it work somehow", the principles described in my last comment are of rather formal nature and don't result from some implementation-specific mechanism that someone could redesign or abstract away.
Really, there is no excuse.

Yes, the current implementation of `dash::Atomic` i

[2017-01-27 02:28] fuchsto commented on #249
@fmoessbauer

No, absolutely not. `std::atomic` is not a container, by no definition. Just look at its signatures.
The pointer member in `std::atomic` is ... a *member*. Not an element.

And neither is `dash::Atomic`. Both are templates for atomic types.
Much like templates for, say, floating point types.

<http://en.cppreference.com/w/cpp/atomic/atomic>

This is what `dash::Array` should mimic as

[2017-01-27 09:41] rkowalewski commented on #249
@fuchsto:

One unit could use a register/address for atomic operations and another unit/context could use regular reads/writes on the same variable.
Same variable, same type but: different memory model, different consistency, different operations -> semantics are not well-defined.

I understand your point, however what I meant with well-defined is that the user defines the semantics. Or to be more

[2017-01-27 10:04] fmoessbauer commented on #249
I agree with @rkowalewski

The problem with the `dash::Atomic` is that it holds a globptr as member instead of the value itself. However the globptr is necessary to perform the atomic DART operations on the value (which can reside anywhere in the global address space). This indirection is especially problematic, as the value is not stored in the memory of the container. So what about using phantom

[2017-01-27 10:35] BenjaProg opened #256 "Segfault with dash::Array using CSR-Pattern and odd number of units"
Hey @dash-project/developers ,
There is some strange behaviour with my test scenario (main.cpp).
[CSRBug.zip](https://github.com/dash-project/dash/files/734924/CSRBug.zip)

I get a segmentation fault if I execute the test with an odd number of units and at least three.
In the loop lines 42-45 is where the segmentation fault happens.
Unfortunately I and @ddiefenthaler couldn't track it further down

[2017-01-27 10:44] devreal commented on #256
Can you please provide us with a stack trace of the Segfault? If you run locally you can do something like:

[code]

[2017-01-27 10:49] BenjaProg commented on #256
okay i will provide it this afternoon, unfortunately i am on my way to university every moment

[2017-01-27 14:17] rkowalewski commented on #256
And please provide your build settings: Which compiler, which libraries, etc.

[2017-01-27 16:11] fuchsto commented on #249
Okay, I see the problem.

`dash::Atomic` does not have to be a non-moveable, non-copyable type. This is required for `std::atomic` to ensure that an atomic variable has

- exactly one owner
- that cannot change in the life time of the variable

We have the same requirements for `dash::Atomic`, but they are not realized as C++ type constraints (like copyable, moveable).

Instead of a register, the

[2017-01-27 16:18] fuchsto commented on #249
@fmoessbauer referring to your last comment:

Yes, this is could turn into something we can agree on!

But: We cannot assume MPI to argue soundness of the DART interface because MPI is an arbitrary implementation, so I don't take this as an argument for itself.

[2017-01-27 16:48] fmoessbauer commented on #249
Ok, perfect. So what about changing the interface the following way:

- introduce phantom type `dash::Atomic<T>`
- add GlobRef traits to check if type is a GlobRef
- provide algorithms like `dash::atomic::load(ref)` which are only enabled for GlobRefs of atomic types (checked by traits)
- Add specializations of GlobRef for atom types to do something like `array<Atomic<T>>[i].load()`

IMO this will

[2017-01-27 17:51] fuchsto commented on #249
Yes! We also need traits for the PGAS memory model, then we should end up with a well-defined
abstraction.

I will create an article in the doc-wiki and describe PGAS atomic semantics for discussion.

[2017-01-27 19:38] fuchsto commented on #256
isn't reached anymore.

You don't know, at least not from missing output. The log operation might have been completed but a subsequent segfault prevented the flush of `std::clog`.

[2017-01-27 19:44] fuchsto commented on #249
Another remark, back on topic:

Using `dash::Container<dash::Atomic<T>>` is in fact a practicable approach.
An instance of `dash::Atomic<T>` acts as a **reference** to an atomic variable.
This, again, is why cloning instances of `dash::Atomic` is okay.

This would correspond to `std::container<std::atomic<T> &>` which is not allowed for STL containers (`value_type` must not be a reference), but pe

[2017-01-27 19:50] fuchsto commented on #249
@rkowalewski

Right!

Yes, but where is the problem with that? So we don't provide `memory_order_seq_cst`, right, but we still can specify any other possible memory order.
We do not and cannot satisfy STL semantics **entirely**, but we don't have to.

[2017-01-27 20:23] BenjaProg commented on #256
sorry for the delay, I gladly provide you with a stack trace but I first have to work into gdb more.
@rkowalewski: hope the attached info from the build script hold all relevant infos ;-)
[additional Information_1.txt](https://github.com/dash-project/dash/files/736187/additional.Information_1.txt)

[2017-01-30 09:06] devreal commented on #249
While implementing `dart_compare_and_swap` and subsequently `compare_exchange`, I realized that the DART atomic operations take a `teamid` parameter, which is neither used nor required. This makes it necessary that `dash::AtomicReference` stores the  team ID. Was this a deliberate decision, maybe required for the shmem communication backend? If not, I would simply remove the parameter as it wrongl

[2017-01-30 09:18] fuerlinger commented on #249
I don't remember this being a deliberate decision. I think it was just an oversight so I think we can remove the `teamid` parameter.

[2017-01-30 11:21] fuchsto commented on #249
The idea behind the team parameter was to reflect the dependency on team-allocated memory.
That is to say: the global address is only atomic within a specific team.
But this is an unsurprising restriction that doesn't need to be explicitly stated.
I'm with @devreal, it implies a collective operation so we should remove it.

[2017-01-30 17:08] devreal commented on #221
I've been massaging the team and segment related code for a while now and think I got it working, please see PR #257.

As it stands right now, global pointer can now be shared among the members of the team that created the allocation (or globally in case of local allocations). So in fact, a global pointer is not really global but I think we can live with this limitation. I noticed that the `gptr`

[2017-01-31 10:30] BenjaProg commented on #256
That's the backtrace I got.
I am sorry for the screenshot! Is there a way to pipe the output of gdb in a file?
Because copy/paste wasn't possible.
![gdb overview](https://cloud.githubusercontent.com/assets/20214726/22461206/9f36f39a-e7a8-11e6-865c-c394d9ed2ee0.PNG)

[2017-01-31 11:02] rkowalewski commented on #249
As you can see in the linked issue I will implement the use case from scratch in DASH. It should be a very good benchmark for DASH dynamic data structures and memory management.

[2017-01-31 13:00] Fettpet opened #258 "const moves assignment operators"
In the code are at least two move assignment operators with a constant variable.
[self_t & operator=(const self_t && other) noexcept](https://github.com/dash-project/dash/blob/development/dash/include/dash/allocator/LocalAllocator.h#L124) and
[self_t & operator=(const self_t && other) noexcept](https://github.com/dash-project/dash/blob/development/dash/include/dash/allocator/CollectiveAllocator.h#

[2017-01-31 13:09] Fettpet opened #259 "Call of a constant function within a non-constant function"
In the functions [const_mapped_type_reference at(const key_type & key) const](https://github.com/dash-project/dash/blob/development/dash/include/dash/map/UnorderedMap.h#L513)
 and
 [const_mapped_type_reference at(const key_type & key) const](https://github.com/dash-project/dash/blob/development/dash/include/dash/map/UnorderedMapLocalRef.h#L232)
the operator[] is called. The operator[] has no const

[2017-01-31 21:08] devreal commented on #221
Taking the discussion on flags over here again: The flags field in the `gptr` is now  8 bit wide, the unit ID has 24 bit left (as proposed by @fuerlinger). You can still set 16 bit flags but only the lower 8 bit will be stored in the `gptr` for quick access. Setting the flags field should be done through a call to `dart_gptr_setflags`. Retrieving the full 16 bit flags is done through `dart_gptr_ge

[2017-01-31 22:05] fmoessbauer commented on #225
Support for clang is now implemented. Currently the release build is tested on circleci.

[2017-01-31 22:05] #225 closed, assigned to fuchsto, clemensmanert, stiefn, BenjaProg, JosefSchaeffer

[2017-02-02 09:27] devreal commented on #216
Reopening this issue after accidentally looking at the code for `dash::transform`: The way I understand the semantics of `dash::transform` is that it performs pair-wise operations on two input ranges into one output range. This is done using `dart_accumulate`, a wrapper around `MPI_Accumulate`. The latter does exactly what is says: it accumulates a single input range into the _single_ output value

[2017-02-02 10:33] devreal commented on #256
I just gave it a try with current development and cannot reproduce the issue locally. I used 1.10.2, GCC 5.4.1 and 3 processes. Also tried with 5 processes, still succeeded. Missing something?

[2017-02-02 17:17] BenjaProg commented on #256
@devreal Probably not, it seems the error only appears on my local vm :/
"1.10.2" is the version number of what?
I will have a closer look this weekend.

[2017-02-03 08:14] devreal commented on #256
Ahh sorry, yes. I meant OpenMPI 1.10.2, which is the version that comes packaged with my system.

[2017-02-03 10:14] fmoessbauer commented on #239
As the initial bug is fixed, I close this issue. Maybe we should move the discussion to a dedicated issue.

[2017-02-03 10:14] #239 closed, assigned to fuchsto, fuerlinger, devreal

[2017-02-03 18:45] fuchsto commented on #256
@BenjaProg You could test local sizes before assigning values. Are values in `local_sizes[myid]` identical to `array.lend() - array.lbegin()`?

[2017-02-03 19:00] fuchsto commented on #221
@devreal @fuerlinger @rkowalewski

I lost track: global pointers contain a team ID in your variant, right?
If a unit ID is provided along with a team ID, I would expect the unit ID to be relative to the team.

[2017-02-03 19:12] fuchsto commented on #216
@devreal
`MPI_Accumulate` does not reduce a sequence to a single value, if I get the docs right:

<https://www.mpich.org/static/docs/v3.1/www3/MPI_Accumulate.html>

It performs an element-wise atomic update operation, similar to a put, but reduces origin and target data into the target buffer. This is why there is a parameter `target_count`. If the input sequence was reduced to a single value, it

[2017-02-03 19:38] fuchsto commented on #48
Fixed in #236

[2017-02-03 19:38] #48 closed, assigned to clemensmanert

[2017-02-04 01:18] fuchsto commented on #259
The actual defect is that `at(const key_type & key) const` is implemented using `operator[](key)`.

Just as for `std::unordered_map`, there is no const overload for `operator[](key)` as it would create an element with the specified key if it doesn't exist yet:

<http://en.cppreference.com/w/cpp/container/unordered_map/operator_at>

[2017-02-06 08:05] devreal commented on #216
Right, got the docs wrong. Sorry for that.

[2017-02-06 12:23] devreal commented on #221
That was my suggestion, yes. So far we had global unit IDs so changing to team-relative unit IDs would be a major change in the semantics of the interface since they can be accessed directly by user code. I just wanted to confirm that this is what we want.

[2017-02-06 13:07] fuchsto commented on #221
I'm with you on this.
I will conduct a quick code survey (read: `grep --use-brain`) to check which conversion is more frequent in our code right now. I assume that team-relative IDs are more prevalent than global unit IDs, so switching to (team,unit) might simplify the common case.

[2017-02-06 15:03] Fettpet opened #265 "Portable Dash Version"
The current version of dash use the compiler flags  "-march=native -mtune=native". These are hidden in the sub-CMake files [config/coreglitch.cmake ](https://github.com/dash-project/dash/blob/development/config/coreglitch.cmake#L12) and [config/default.cmake](https://github.com/dash-project/dash/blob/development/config/default.cmake#L8). Without editing these files it is not possible to build a po

[2017-02-06 15:13] fuchsto commented on #265
I agree and suggest `BUILD_SHARED_LIBS` as the corresponding build option.

[2017-02-06 15:24] devreal commented on #265
@fuchsto You still might want to have `-march=native` optimized shared libraries. Building shared libs and optimizing for a specific target architecture are independent aspects imo. You can already pass  `BUILD_SHARED_LIBS` to CMake. I rather suggest a flag such as `BUILD_GENERIC` to disable target-specific optimizations.

[2017-02-06 15:27] fuchsto commented on #265
Ah, you are right of course. So let's introduce both. I would follow the build options provided by MPICH and standard tools like PAPI and hwloc.

[2017-02-06 15:29] fuchsto commented on #265
... oh, I wasn't aware of this cmake option. I will use an `.so` build in some CI scenario then, we should check that this actually works for DART/DASH.

[2017-02-06 15:34] devreal commented on #265
I've been using shared libs in one of my branches and haven't had any issue with it so far (as far as I can remember ^^). It's good to have it in CI though.

[2017-02-06 21:40] Fettpet opened #266 "UnorderedMapGlobIter const local function"
Within [ const_reference operator*() const](https://github.com/dash-project/dash/blob/development/dash/include/dash/map/UnorderedMapGlobIter.h#L259) in the UnorderedMapGlobIter the function local() is called. But the const version of the [local function](https://github.com/dash-project/dash/blob/development/dash/include/dash/map/UnorderedMapGlobIter.h#L305) is within a comment.

[2017-02-07 10:38] fmoessbauer opened #267 "Perform Concept Checking in Tests"
Many of the DASH classes are implementations of concepts. In the past, there were many bugs related to an inconsistent or incomplete implementation. To fix this in a generic and support reducing manner, I propose testing the concepts.

Fortunately googletest supports this type of test by using [typed tests](https://github.com/google/googletest/blob/master/googletest/docs/AdvancedGuide.md#typed-tes

[2017-02-08 15:22] devreal opened #269 "Passing a unit to GlobMem::lbegin?"
I've been scrolling through the `GlobMem` code and found two things noteworthy:

1. There are basically two overloads for `lbegin` and `lend`, each. One takes no arguments and returns the begin of the local memory on the current unit. But what is the other supposed to return? The local pointer on an arbitrary (remote) unit? Any reason to expose this to the user? While it seems like a source of err

[2017-02-08 16:24] devreal commented on #269
Ahh, stupid me! The separate `const` versions are required because they have `const` and non-`const` return types.

I realized the the `lend` and `lbegin` methods taking a unit ID are used to initialize the members `_lbegin` and `_lend` in the c'tor. I think they should not be public though.

[2017-02-09 14:09] fuchsto commented on #269
Exactly, I'm not too sure if these are actually required in the public interface anyways.
I will put some thought into it and report back.

[2017-02-09 14:10] #258 closed, assigned to fuchsto, fmoessbauer

[2017-02-09 16:45] fuchsto commented on #259
Fixed in #262

[2017-02-09 16:45] #259 closed, assigned to fuchsto

[2017-02-10 00:44] #231 closed, assigned to fuchsto, devreal

[2017-02-10 00:45] fuchsto commented on #249
Addressed in #255

[2017-02-10 13:35] devreal opened #272 "Launch policies for algorithms"
At the moment, accesses to global memory of DASH containers through subscript operators are serialized using blocking put operations (`dart_put_blocking`) in `GlobRef`, potentially resulting in poor performance for naive users. I understand that this is useful to avoid synchronization problems in the general case, but allowing asynchronous access through subscript operators would provide an easy w

[2017-02-10 14:02] fuerlinger commented on #272
Something like that is definitely needed and there was previous discussion about it. Some parts of the functionality described below are in DASH already but I think its not 100% working at the moment.

The idea to provide similar functionality as you describe with an `.async` modifier, like so:

[code]

While `arr[i]` returns a `dash::GlobRef` `arr.async[i]` returns a `dash::AsyncGlobRef` and that

[2017-02-10 16:00] rkowalewski commented on #272
We have `GlobAsyncRef` which should satisfy all the requirements

[2017-02-10 16:13] fuchsto commented on #272
I introduced the GlobAsync* types quite some time ago and they do exactly that. We don't want to use the low-level function interface `dash::put_value*`, of course.
I'm about to define launch policies, though, so these won't be needed much longer. Otherwise we would need `Glob x (Local*, Async* × Deferred* ...) x (Ptr, Iter, Ref)`.
But the container concept persists:

`array.async[i] = value`

and

[2017-02-10 16:18] fuchsto commented on #272
... and the same launch policies will also be used for algorithms.
So the current interface

`dash::copy_async(first, final)`

will be changed to

`dash::copy(dash::launch::async, first, final)`

There's not much to it, just mimicking the C++11 concepts.
I already presented the new style at HPCC'16, thinking of it ... will care about this during the semester break.

[2017-02-10 18:11] devreal commented on #272
Thanks for the clarifications, I wasn't aware that there were already activities in that direction in the DASH part. Looking forward to seeing this happen and leaving this ticket open to track progress.

[2017-02-12 19:02] fmoessbauer commented on #202
Implemented in PR #268

[2017-02-12 19:02] #202 closed, assigned to fuchsto, rkowalewski, fmoessbauer, devreal

[2017-02-12 19:12] fmoessbauer commented on #75
There is some progress and it might be fixed in 2.0.2 according to the [release notes](https://www.mail-archive.com/announce@lists.open-mpi.org//msg00095.html)

memchecker.

[2017-02-13 08:10] devreal commented on #75
I will try to rerun with 2.0.2  this week to see whether we get a clean Valgrind run by now.

[2017-02-13 09:48] devreal opened #274 "Passing lambdas to algorithm interfaces (for_each, generate, min_element, ...)"
I noticed that the signature of `dash::for_each` requires a `std::function<void(ElementType &)>` to be passed in as functor. In particular, it seems that this excludes passing lambdas instead of pre-defined function arguments. The following fails to compile with the error that the lambda is not derived from `std::function`:

[code]

Is there any reason for explicitly excluding lambdas here? On my

[2017-02-13 09:53] rkowalewski commented on #274
I agree with this limitation. Moreover, lambdas are more efficient in many cases compared to `std::function` as they can be better optimized by the compiler.

[2017-02-13 09:58] devreal commented on #216
I have to reopen this once again because the implementation of dash::accumulate is still broken, which was the actual reason for this issue. Please see my first paragraph in the initial description:

I guess we got completely side-tracked by the discussion of the semantics of `MPI_Accumulate` etc but the original problem still persists.

EDIT: as a side-node, there is another problem: the definiti

[2017-02-13 11:17] fuchsto commented on #274
I agree, there was no specific reason against using a template type like `UnaryFunction`, I just didn't think of it back then.

[2017-02-13 12:31] fuchsto commented on #228
Addressed in #229

[2017-02-13 12:31] #228 closed, assigned to ddiefenthaler

[2017-02-13 12:33] fuchsto commented on #104
Related to launch policies, see #272

[2017-02-13 13:08] fuchsto commented on #266
Addressed in PR #276

[2017-02-13 13:48] #266 closed, assigned to fuchsto

[2017-02-13 14:28] fuchsto opened #277 "Defect detected via NastMPI in MatrixTest.UnderfilledLocalViewSpec"
Test failed for 3 units.
Build details:

<https://circleci.com/gh/dash-project/dash/1202>

@fmoessbauer Might be related to recent changes of underfilled block arithmetic in pattern code?

[2017-02-13 15:56] BenjaProg commented on #256
There is now a dedicated branch for this [bug](https://github.com/dash-project/dash/tree/bug-256-csrpattern). A CSRPatternTest is already there and `array.lend() - array.lbegin()` is being checked as well, but hasn't been a problem so far.

[2017-02-13 17:28] fmoessbauer commented on #277
This seems to be not a problem of the local view, but anywere below in DART. I tried to track down the bug, but without valgrind I was not able to find it. I guess that we try to access memory which has not been allocated by dart, but I cannot prove that.

@rkowalewski please have a look the bug. I did enhance the unit test in branch `bug-227-localview`

[2017-02-13 20:58] fuchsto commented on #274
Fixed in #275

[2017-02-13 20:58] #274 closed, assigned to fuchsto, devreal

[2017-02-13 21:51] fuchsto opened #280 "Local memory allocated by DART is not aligned"
A test case of CSRPattern showed that local memory of arrays allocated by DART is not aligned.
This leads to segfaults and undefined behavior in several situations, apparently when the compiler uses automatic loop parallelization.

See test case `CSRPatternTest.InitArray` in #279 for details.
Using `value_t = int` works, with `size_t` the test segfaults for GCC 5.4 and OpenMPI.

When loop parallel

[2017-02-13 21:59] fuchsto commented on #256
The actual defect is in allocation in DART, see #280 and `CSRPatternTest` in #279

[2017-02-13 22:29] #256 closed, assigned to fuchsto, fuerlinger, fmoessbauer, devreal, BenjaProg, ddiefenthaler

[2017-02-13 22:57] BenjaProg commented on #280
I just built dash with `-O0` (release & debug) and the segfault doesn't occur anymore! 👍
But I still wonder, why is there a segfault only with odd numbers of units (>1)?
And why is it only with OpenMPI?

[2017-02-14 02:23] fuchsto commented on #280
@BenjaProg For an even number of units, alignment happens to be a multiple of `sizeof(size_t)`. This is just a coincidence. You can verify this from the logged result of `array.lbegin() % 64`.

[code]

I have no idea how OpenMPI affects this, though.
We don't have to know, anyways: Memory allocated by DART must be at least cache-aligned!

[2017-02-14 02:39] fuchsto commented on #280
I found the related defect in `dash::min_element` and its fix, I already suggested aligned allocation back then:

<https://github.com/dash-project/dash/issues/39#issuecomment-260107154>
<https://github.com/dash-project/dash/issues/110#issuecomment-260915655>

Now, thank god allocation functions in DART have been extended to data types, right ... ? :P

[2017-02-14 02:48] fuchsto commented on #277
Marked as duplicate: This is another effect of the defect reported in #280

Only occurs for odd number of units and unaligned local memory.

[2017-02-14 02:49] #277 closed, assigned to rkowalewski, fmoessbauer

[2017-02-14 09:56] BenjaProg commented on #280
@fuchsto **Thanks for finding this very sturdy bug! And thank you very much for the explanation! :-)**

It's somehow obvious but I confirmed it anyway:
DASH can be compiled with -O3 -Ofast and so on but the program/test have to be compiled with -O0 right now. Thought it would be nice to know if someone wants to try out.
_The entire library must **not** be recompiled!_ ;-)

[2017-02-14 10:04] fuchsto commented on #280
That's plausible, the presumably-parellelized loop is in the test code.
But this doesn't help much, local memory must be at least cache-aligned.
Actually it should be cache- and data size aligned, just like `new[]` in C++.

[2017-02-14 10:32] devreal commented on #280
I'm investigating this. In the example, the memory is allocated through `dart_team_memalloc_aligned` (no pun intended, I guess), which passes on the memory allocated by `MPI_Win_allocate_shared`. The allocation is marked as `alloc_shared_noncontig` and the provided displacement unit is passed to MPI. I had assumed that this causes MPI to allocate aligned memory.

@fuchsto Are you sure that C++ `ne

[2017-02-14 11:36] fuchsto commented on #280
@devreal Thank you for your quick response, I followed your bug branch on this.
Yes, `new` aligns for data size for PODs only, apparently. 32 for AVX as suggested in your branch should work. I'm on the bus and will have a cup of standardese on this.
User-defined composite types like `struct { int; char; double; }` have to be padded in user code, but that's rather unsurprising.

[2017-02-14 13:06] devreal commented on #280
After some more experiments I found that the problem only seems to appear with `MPI_Win_allocate_shared`, which is used if shared memory windows are enabled. If they are disabled, `MPI_Alloc_mem` is used, which seems to return addresses with acceptable (aka `sizeof(size_t)`) alignments. This holds true for both OpenMPI 1.10.5 and 2.0.2 but not for MPICH 3.2. I will file a report against OpenMPI fo

[2017-02-14 14:20] devreal commented on #280
I sent the report to the OpenMPI user mailing list together with a reproducer, will keep you posted. For the time being, the easiest fix would be to disable shared memory windows if OpenMPI is used.

@fuchsto Not wanting to nit-pick here but your example is perfectly fine and does not need padding as the compiler aligns the `double` member to 8-byte ;) `sizeof` this struct should be 16 byte (unles

[2017-02-14 14:33] fuchsto commented on #280
Yes! I was referring to the latter. My mental auto-correct seems to prevent making up unaligned structs ;)

[2017-02-14 14:37] fuchsto commented on #280
Still, I would like DART to support user-specified alignments à la `std::memalign`, that is: aligning within MPI-allocated memory as you suggested. But that's not a bug, obviously.

So, all in all: another job well done thanks to a splendid team effort that would have not been necessary if OpenMPI ... archh ... well ...

[2017-02-14 16:32] devreal commented on #280
Yep, thanks to all of you for putting your effort into investigating this! :+1: I'm glad though that I am not the only OpenMPI user around here ^^

Having something like `dart_memalign` should be straight-forward and does not require any additional book-keeping. Enforcing a certain (user-defined?) alignment in `dart_team_memalloc_aligned` should not be too hard but requires some modifications in t

[2017-02-14 20:15] fuchsto commented on #280
Yes, let's get back to the actual challenges.

... what a weird, nasty bug.

[2017-02-15 08:46] devreal commented on #280
That was quick! There is a patch, which has already been merged: https://github.com/open-mpi/ompi/pull/2978

It seems that the alignment is now consistently 8-byte no matter the number of processes (which should be fine for our use-case). I noticed though that on my machine `malloc` (which is probably used by `MPI_Alloc_mem`) consistently aligns on 16-byte boarders.

[code]

So I guess custom alig

[2017-02-15 09:43] fuchsto commented on #280
C-style malloc is not cache aligned, I have some custom alignment utils in algorithms like `min_element`.
Well, with an alignment parameter, we would now definitely have a clash in the naming scheme :)

Can imagine the documentation already. "Alignment does not refer to aligned local allocation, but aligned global allocation, which is not related to data alignment, but only memory alignment, which

[2017-02-15 10:07] devreal commented on #280
You are right, the name clash would be rather confusing. I seem to remember having seen this proposal in another context but just cannot find it right now. For me at least, the term `coalloc` does not have specific semantics but I cannot come up with something better. How about `balanced`? In any case, we can pass the information of `same_size` global allocations to MPI for some potential optimiza

[2017-02-15 10:26] fuchsto commented on #280
Ah, of course, "balanced" is perfectly right

(I can't object to this, it's in my own freakn paper).

[2017-02-15 10:32] fuerlinger commented on #280
Or, "symmetric", for which there is precedent, for example the symmetric heap in OpenSHMEM, but yes, we should get rid of "aligned".

http://www.ibm.com/support/knowledgecenter/en/SSFK3V_1.3.0/com.ibm.cluster.protocols.v1r3.pp300.doc/bl511_shmalloc.htm

[2017-02-15 10:34] devreal commented on #280
:+1: for `symmetric` from my side.

[2017-02-15 11:12] BenjaProg commented on #280
Should the alignment be identical on each unit? Than "symmetric" implied it best to me 👍

[2017-02-15 20:36] BenjaProg opened #283 "NArray/Matrix as const throws compiler error"
Hey,
in my simplified example I want to call a function with a const refernce to a NArray/Matrix.
But then I get an compiler error.
[code]
I made a very reduced example in [feat-283-constMatrix](https://github.com/dash-project/dash/blob/feat-283-constMatrix/dash/examples/ex.12.feat-283/main.cpp).
If the parameter in [line12](https://github.com/dash-project/dash/blob/feat-283-constMatrix/dash/examp

[2017-02-16 14:04] BenjaProg commented on #283
I think that's just a missing feature in form of missing const versions of some function(s)?

[2017-02-16 14:12] fmoessbauer commented on #283
I will have a look at this tonight. If you want to assist, please create an unit test which is not compilable (but should be). Then it's much easier to track down the problem and this also enhances the code coverage.

[2017-02-16 16:41] BenjaProg commented on #283
@fmoessbauer you solved my example already, i just tested compiling the cowichan example and it worked fine 👍 in my branch feat-283-constMatrix is the example which should not compile without your changes.
I can write a test for matrix access but I can't do it in the next days, because I have to put more time into my bachelor thesis ;-)

[2017-02-16 16:46] fmoessbauer commented on #283
I tested it with your example, so it should work. You can pull from the bug branch if necessary. Unfortunately there are still some things to discuss before we can merge the PR. And there are some problems regarding the CI API of github at the moment.

[2017-02-17 15:42] bertwesarg opened #286 "GTestExternal does not honor compilers set"
Dear team,

I head a hard time to get the dash project running, including building tests, as the cmake for the external GTest did not used by C/C++ compiler I specified on the top-level cmake invocation. It used my ancient GCC 4.9.1 from the system.

I will open a pull request for this.

[2017-02-17 22:15] fuchsto opened #289 "Copy / Assignment of dash::Atomic"
Question on `dash::Atomic`:

Why is the copy constructor deleted, but assignment is not?

- `operator=(T)` is deleted
- `operator=(const self_t &)` is implicitly defaulted

That can't be right
When I explicitly delete assignment, tests don't compile

Also, the constructor `Atomic(T)` is not marked explicit, so it's an implicit conversion constructor
What's the intended semantics here?

The current

[2017-02-17 22:17] fuchsto commented on #289
For now, I added

[code]

But assignment is still explicitly deleted, so this is not well-defined.

[2017-02-17 22:22] fuchsto opened #290 "GlobPtr, GlobRef, GlobIter const-Correctness"
According to the STL, iterators must be implicitly convertible to const-iterators.
In the current implementation of `dash::Array` and other containers, dependent types like `iterator` and `reference` are defined like

[code]

This, of course, is nonsense. It should rather be something like:

[code]

The correction of these type definitions has far-reaching consequences.
I fixed the essential seman

[2017-02-18 00:45] fuchsto commented on #269
Update: The overloads of `lbegin`, `lend` accepting a global unit id should be private, they are only required in the constructor of `GlobMem` and only return valid results if the passed unit id is the active unit.

[2017-02-18 01:07] #286 closed, assigned to nobody

[2017-02-18 05:32] fuchsto commented on #290
Pull request #291 contains the related changes and also covers changes from PR #284

[2017-02-18 06:18] fuchsto commented on #220
@devreal Is this issue still relevant, or does #118 cover it?

[2017-02-18 07:46] fuchsto commented on #283
Fixed in PR #291

[2017-02-18 10:37] devreal opened #292 "ThreadsafetyTest: Problems with OpenMPI"
I am seeing issues on my local machine when running the `ThreadsafetyTest`s under OpenMPI. The used compiler is GCC 5.3.0, both in Debug and Release mode.

__OpenMPI 1.10.5__
I am experiencing hangs in `ConcurrentPutGet`, where one or multiple threads are stuck in `MPI_Win_flush` called by `dart_put_blocking`:

[code]
For some reason, the test seems to pass on CircleCI. It seems to be a progress i

[2017-02-18 11:22] fuchsto commented on #292
This defect only has effect in builds with `DASH_ENABLE_THREADSUPPORT`, right?
So previously existing functionality is not affected? We could live with that.

[2017-02-18 11:45] #290 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal

[2017-02-18 11:51] fmoessbauer commented on #289
Yes, that should be fixed. From the type-safety side it would be best to disable all forms of assignment, because the member is always set by DART using memory copy. But if all assignments are disabled, the dash algorithms like `dash::fill` will not work anymore, as they use local assignment internally.

AFAIK we have the following options:
- make assignment private and use friend
- allow assignme

[2017-02-19 02:09] fuchsto commented on #289
It's actually to be expected that `dash::fill` would not work for `dash::Atomic<T>` containers value types.

Similarily, you can;t use `std::fill` for an STL `std::vector<std::atomic<T>>`.
So a container cannot be "filled" with atomics, they need to exist already. You would have to use `emplace_back` (not implying you should, though).

In general terms: semantics have priority over algorithm conve

[2017-02-19 18:17] devreal commented on #220
I've been meaning to close this as we will not get rid of the buddy allocator anytime soon (unless someone wants to get his hands dirty...). Closing it as mostly fixed in #118.

[2017-02-19 18:17] #220 closed, assigned to fuchsto, fuerlinger, HuanZhou2

[2017-02-20 09:05] devreal commented on #292
The second problem (the failing `MPI_Win_create`) is under investigation after I posted a report on the user ML. The first problem, though, seems more interesting. I also posted this on the ML and got as a first reply that concurrently calling `MPI_Win_flush` (which we do in `dart_put_blocking` to ensure remote completion) is not allowed by the standard. The reply suggested to use `MPI_Rput`, whic

[2017-02-20 13:50] BenjaProg commented on #283
With the latest changes my examples from above don't comile with const parameter anymore.
Trying to compile the example from the feat branch leads to following error.
[constMatrix compiler Error.txt](https://github.com/dash-project/dash/files/787597/constMatrix.compiler.Error.txt)
An Extract:

[code]

[2017-02-21 16:30] fuchsto commented on #283
A container of const values doesn't seem useful as container elements would not be assignalbe.
It doesn't compile any more because DASH containers are const-correct since my changes in #291

[2017-02-21 16:52] #269 closed, assigned to fuchsto, devreal

[2017-02-21 16:55] fmoessbauer commented on #283
No, I do not agree on that: Use cases like the following are common and we definitely should support them:

[code]

[2017-02-21 16:58] fuchsto commented on #283
That is a const container, not a container of const.

[2017-02-21 17:04] fmoessbauer commented on #283
Yes, but what is wrong with my sample code? This code does not compile, as `sub` modifies an internal state. Element accesses are of course another topic, but this problem is just not related to them.

[2017-02-21 17:18] fuchsto commented on #283
That's unrelated to the example presented by @BenjaProg then.
Does your code compile with the following changes?

[code]

Or:

[code]

Note that `auto` does not state `const` explicitly. It would be resolved as `uint * const`, just asking out of curiosity.

[2017-02-21 17:24] fuchsto commented on #283
... ah, it's in @BenjaProg 's code, I see:

https://github.com/dash-project/dash/blob/feat-283-constMatrix/dash/examples/ex.12.feat-283/main.cpp#L17

Yes, looks like this should actually work. Some conversion operator seems to be missing. Will report back.

[2017-02-21 17:42] fuchsto commented on #283
@fmoessbauer `LocalMatrixRef.sub` does not modify an internal state. It operates on a copy of `LocalMatrixRef`. The issue was the assignment `Matrix<T, ...> * = Matrix<const T, ...> *` that can safely be `reinterpret_cast`ed.

@BenjaProg I pushed to your branch `feat-283-constMatrix` for testing. Seems to work now.

[2017-02-21 18:09] fuchsto commented on #283
@BenjaProg @fmoessbauer Added the original use case of this issue as unit test and cleaned up example code in PR #296

[2017-02-21 18:15] fuchsto commented on #249
The requested use case works with changes in PR #295 but copy/assignment semantics of `dash::Atomic` are still not well-defined, see separate issue #289

[2017-02-21 18:35] #208 closed, assigned to nobody

[2017-02-21 18:37] fuchsto commented on #191
Addressed in #288

[2017-02-21 19:10] BenjaProg commented on #283
Nice work! Now everything works as intended!
Tested it with your test, the example and [cowichan product (with const as parameter [not pushed yet]) ](https://github.com/dash-project/dash-apps/blob/master/cowichan/product/main.cpp).
Thanks for adding the test by the way!

[2017-02-22 00:57] fuchsto opened #297 "DART: Support alignment in allocation"
As previously discussed in issue #280, DART should support user-specified alignment for allocation (also see https://github.com/dash-project/dash/issues/280#issuecomment-279759290)

[2017-02-22 00:58] fuchsto commented on #280
Closing this issue as the defect is fixed, Discussed feature request for aligned allocation is continued in #297

[2017-02-22 00:58] #280 closed, assigned to devreal, BenjaProg

[2017-02-22 09:15] devreal commented on #297
Thanks for moving this here. Before I start getting my hands dirty, I would like to define the means of ensuring alignment that we want to support:

1. Something like `dart_memalign`: Fairly easy to do as the offset would be stored in the `gptr` alone. Downside: you can still access the unaligned leading portion of the allocated memory. Also, the aligned portions will likely be smaller, thus holdi

[2017-02-22 17:41] #241 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal, BenjaProg

[2017-02-23 18:55] fuchsto commented on #249
Fixed in merge of #295

[2017-02-23 18:55] #249 closed, assigned to fuchsto, rkowalewski, fmoessbauer, devreal, BenjaProg, ddiefenthaler

[2017-02-23 22:49] fuchsto commented on #168
Fixed in #298

[2017-02-23 22:49] #168 closed, assigned to fuchsto

[2017-02-24 00:34] fuchsto commented on #216
Will be fixed along with introduction of execution- and launch policies, see PR #300

[2017-02-24 00:39] fuchsto commented on #193
@devreal Obviously, there is a strong dependency on the DART task concept specifications. Let's have a telco some time soon!

[2017-02-24 01:02] fuchsto commented on #108
@dash-project/developers Bump: Unit tests still could benefit from your reviews!

[2017-02-24 01:44] fuchsto commented on #118
Related: Execution policies as discussed in #104

[2017-02-24 07:51] devreal commented on #193
I've been meaning to look at the Kokkos task API and whether this is something we should consider. Will do so during the next days and report back. Pretty much any time next week works for me, just PM me.

[2017-02-24 13:18] devreal commented on #193
I just read through the document at https://github.com/kokkos/kokkos/blob/master/doc/Kokkos_PG.pdf. To sum up what we need:

1. Parallel dispatch (chapter 7): `parallel_for`, `parallel_reduce`, and `parallel_scan`. Implementation should be straight-forward and possible with the current state of the DART tasking implementation.
2. Hierarchical parallelism (chapter 8) : so far I have not implemented

[2017-02-24 16:45] fuchsto commented on #193
Perfect, I

[2017-02-24 16:45] fuchsto commented on #193
(oops)

[2017-02-25 14:41] fmoessbauer opened #301 "Fix dereference of nullptr in locality module"
In [UnitLocality.h](https://github.com/dash-project/dash/blob/b6c58b5bdc2ffbff52b5c60ce9079fc146618965/dash/include/dash/util/UnitLocality.h#L133-L137), 137 a nullptr is dereferenced.

[2017-02-25 17:12] fuchsto commented on #301
Yes. 😰

[2017-02-26 10:08] fmoessbauer opened #303 "Implement Allocator Traits"
The goal is to have allocator traits to automatically check if the allocator and the pattern are comatible.

[2017-02-26 12:13] rkowalewski commented on #303
We should clarify this because it is not completely clear to me what you mean. Probably you want to avoid static patterns / containers with the dynamic memory allocator? If yes I agree, however, there is is some kind of misconception IMO as patterns and allocators deal with orthogonal aspects.

[2017-02-26 13:21] fuchsto commented on #303
We discussed this last Friday, I will write a brief article on this.

[2017-02-26 13:25] rkowalewski commented on #303
Fine, then let's talk about this tomorrow

[2017-02-27 18:46] fuchsto commented on #301
Fixed in PR #302

[2017-02-27 19:46] fuchsto commented on #272
For the latest proposal on execution and launch policies, see my comment in #300

<https://github.com/dash-project/dash/pull/300#issuecomment-282473662>

[2017-02-28 01:44] fuchsto commented on #61
@fmoessbauer Is this issue resolved by your PR #214 ?

[2017-02-28 09:46] devreal commented on #221
@fuchsto Never mind, since we only have 24 bit for the unit ID we cannot use typed unit IDs in `gptr`. I will implement the re-use of segment IDs after which we can close this issue.

[2017-02-28 09:54] fmoessbauer commented on #61
Yes, the PR disables the unit test for runs on more than one node.

[2017-02-28 11:12] fuchsto commented on #61
Can we close this issue then?

[2017-02-28 11:20] fuchsto commented on #221
Hm, why is that? A bitfield int : 1 ; int : 23 should be plenty for team-relazive unit ids?

[2017-02-28 12:10] devreal commented on #221
My idea was to have `dart_team_unit_t` as a field in `dart_gptr_t` holding the unit ID. That won't work now that unit IDs in global pointer are 24 bit. They are always relative to the team ID stored in the pointer.

[2017-03-01 07:23] devreal opened #307 "Improvements to DART Buddy Allocator"
Problems identified by @fuchsto in #306:

I guess, this kind of mess is what happens when you blindly copy code from some Chinese dude... To put it with the words of the 45th president: I inherited a mess.

[2017-03-01 11:09] fuchsto commented on #307
We will make the buddy-allocator clean again, and we will make StackOverflow pay for it.

[2017-03-01 14:44] #301 closed, assigned to fuchsto

[2017-03-01 15:41] #61 closed, assigned to fuchsto

[2017-03-02 18:34] fmoessbauer opened #312 "Add support for memory flush in NArray"
Currently there is no possibility to explicitly issue a flush on the globmem of a `dash::NArray / Matrix`.

[2017-03-02 19:40] #221 closed, assigned to fuchsto, fuerlinger, devreal

[2017-03-02 19:41] fuchsto commented on #312
Good timing, I'm about to add point-to-point commit (= flush) anyways.

[2017-03-03 16:31] devreal opened #313 "Missing progress in barriers"
The following code may deadlock:

[code]

The reason here is that the underlying `dart_barrier` (implemented in terms of `MPI_Barrier`) does not guarantee progress on any segment of the team.

I thus propose to implement `dart_fence(dart_gptr_t)` in terms of `MPI_Win_fence`, which behaves like a barrier but also guarantees that all outstanding RMA requests are completed upon return, and implement

[2017-03-03 16:37] fuchsto commented on #313
I totally agree.
In fact, I added the `dart_flush*` functions to the DART interface and implemented them for dart-mpi some time ago for exactly this reason:

https://github.com/dash-project/dash/blame/development/dart-impl/mpi/src/dart_communication.c#L874

Back then, there was discussion about remote completion in the context of the dart-gaspi implementation without a final resolution, so I didn'

[2017-03-03 16:39] devreal commented on #313
I thought about flushes as well. However, you have no guarantee that a flush hits all outstanding (remotely issued) RMA operations. A fence is the only viable option there. The question is just how we integrate it :smile:

Oh, and as far as I know, `dart_flush` and the like are in `development` :wink:

[2017-03-03 16:42] fuchsto commented on #313
Well, let's implement `dart_fence` and use it in the Containers?

We should not use MPI-lingo in DASH, though. I will post a concept proposal here.

[2017-03-03 16:45] fuchsto commented on #313
... actually this nicely fits to the point-to-point synchronization of memory spaces I'm currently specifying. So I will extend these specs by fencing and report back.

[2017-03-03 16:46] devreal commented on #313
Just preparing a PR for that. The question is rather how this is integrated in Containers (see the alternatives above).

[2017-03-03 16:49] fuchsto commented on #313
Let's create another (dependent) PR for the integration in containers.
From an uptight SOP perspective, the features are unrelated after all ;)

[2017-03-03 16:51] rkowalewski commented on #313
uhm...wait! We are mixing apples and oranges. Applying MPI Fences in our synchronization model is actually undefined behavior and erroneous. First, MPI Fences are a concept of active target synchronization while we only use passive target. Second, progress and completion are two independent concepts and MPI does not specify anything regarding progress. That is purely implementation specific. So th

[2017-03-03 16:52] fuchsto commented on #313
Aaaah, of course! `MPI_Win_fence` logically corresponds to closing and re-opening the epoch, right?

[2017-03-03 16:53] rkowalewski commented on #313
Yes and it has different consistency guarantees compared to a flush.

[2017-03-03 16:55] fuchsto commented on #313
Yes, sorry, didn't pay attention here.
@HuanZhou2 contributed actual solution, but it's based on an ancient forked codebase and not merged.
The fact that MPI does not specify progress guarantees was the motivation for her work in the first place.

https://github.com/dash-project/dash/issues/54

[2017-03-03 16:59] rkowalewski commented on #313
There are some workarounds and a "portable" one without any additional progress threads which I know so far is a MPI Probe like the following:

[code]

It does nothing but triggering the progress engine and waits for a whatever one-sided message to arrive.

[2017-03-03 17:04] devreal commented on #313
@rkowalewski Shoo, I forgot that we are only working in passive mode. I guess I was too excited so thanks for the correction. However, your solution is not a real one here because it is unknown how many RMA requests we have to wait for. Unless of course we use conventional messages during a custom `fence` to signal completion between all processes, which sounds like a bad idea.

[2017-03-03 17:05] devreal commented on #313
How about `MPI_Ibarrier` and `MPI_Wait`? Would that trigger the progress engine?

[2017-03-03 17:08] rkowalewski commented on #313
Actually MPI_Iprobe is asynchronous and it does semantically not enforce anything regarding one-sided communication. It is only a dirty hack and works. It does even not have to match the number of one-sided messages. It is only to trigger the progress engine periodically and as soon as one message arrives you can suppose that all messages arrive.
I do not know about the Barrier-Wait construct so w

[2017-03-03 17:09] fuchsto commented on #313
@devreal Well, if I understand the standard correctly, there is no specification on when the progress engine is triggered, or that a progress engine exists.
So the workarounds like `MPI_Iprobe` are best practice because "they usually work for known implementations", but the standard doesn't specify it.

[2017-03-03 17:09] devreal commented on #313
Any experience in combining `MPI_Ibarrier` with  `MPI_Test` and `MPI_Win_flush` in between?

[2017-03-03 17:10] rkowalewski commented on #313
Correct and that is why I call it a workaround and dirty hack.

[2017-03-03 17:14] rkowalewski commented on #313
In terms of the MPI standard we are conform to the semantics in DART. It is a MPI problem in specific libraries and while the implementations are getting better it should be fixed in future versions.
I would suggest to examine which libraries are suffering from this issue and propose specific workarounds for them. I assume this problem happens only with OpenMPI. It is not worth to implement someth

[2017-03-03 17:20] devreal commented on #313
Well, the problem is that MPI does not guarantee progress but our programming relies on progress. So it is the other way around: we need to ensure progress and cannot rely on MPI to provide it. Hence, we need to come up with a general solution. I'm experimenting with `MPI_Ibarrier` right now, will report back.

[2017-03-03 17:20] rkowalewski commented on #313
Yes you are right and this is the original purpose of the issue in https://github.com/dash-project/dash/issues/54. Integrating that will solve many problems. :)

[2017-03-03 17:43] devreal commented on #313
I'm not sure we should make that our default as it adds quite some complexity but we should discuss this in Garching.

The solution using `MPI_Ibarrier` seems to work with OpenMPI:

[code]

[2017-03-03 17:52] rkowalewski commented on #313
OK sounds good. It is more or less the same solution like the Iprobe one. I assume that if you move out the local flush behind the while loop it works as well, does it?
The only argument against this solution from the semantical perspective is that we are now mixing process synchronization (barrier) and memory consistency (flush) to achieve progress. So you cannot achieve any progress unless all u

[2017-03-03 17:54] rkowalewski commented on #313
But anyway it is a workaround. So let's keep it as is and discuss that in Garching. :)

[2017-03-04 13:52] fuchsto commented on #303
For tracking: https://github.com/dash-project/dash/pull/310

[2017-03-05 18:19] devreal commented on #313
No. The Iprobe solution and my solution are not comparable for another reason: The solution I proposed has the same semantics as `MPI_Win_fence` but for passive target mode (blocking until all locally *and* remotely issued RMA operations are guaranteed to be finished), which is required in the use-case I presented. On the other hand, the Iprobe solution does not provide this guarantee since there

[2017-03-05 20:58] devreal commented on #313
I pushed a version of `dart_fence` and fixed documentation for the flush functions: https://github.com/dash-project/dash/compare/feat-dart-fence

There is another issue I realized while working on this: All RMA operations in one team are issued on the same *dynamic* window, to which the allocated segments are attached. The same is true for synchronization operations, i.e., `dart_flush` and the lik

[2017-03-06 08:05] HuanZhou2 commented on #313
Sorry, just saw the issue, I think Roger had somehow explained the progress thing. Here I'd like to complement a little bit. Normally, the puting-MPI_Test-method is a typical way to progress an outstanding MPI operation. Well, regarding this method, you guys can refer to  the paper "Implementation and Performance Analysis of Non-blocking Collective Operations for MPI", which is more or less like w

[2017-03-06 08:14] HuanZhou2 commented on #313
Sorry, just saw the issue. I think Roger had already somehow explain the progress thing. Here I'd like to complement a little bit more, Normally, the puting-MPI_Test-method is a typical way to progress an outstanding MPI operation if there is no the separate progress thread (just like what @devreal has proposed). Regarding this method, you guys can refer to the paper "Implementation and performanc

[2017-03-06 08:21] HuanZhou2 commented on #313
@devreal, the reason I used the dynamic window instead of the individual window is try to maximally amortize the window creation overhead.
Try to image when we use the normal window, every time when there is a memory allocation operation, a heavy window creation operation need to be invoked. On contrary, if the dynamic window is applied, we just need to invoke the MPI_Attach locally, which brings

[2017-03-06 08:34] devreal commented on #313
@HuanZhou2 Thanks for the explanation. However, with the shared-memory optimization this does not hold anymore because we create a new window on each allocation anyway, right?

[2017-03-06 08:36] rkowalewski commented on #313
While I have not participated in this design decision it is clear that we cannot really model one-sided communication by active target synchronization as it always requires collective fences. This model may be a good fit in applications with regular access patterns (e.g. stencils). However, DASH provides data structures which should enable irregular random access patterns. Yes we provide algorithm

[2017-03-06 08:42] HuanZhou2 commented on #313
@devreal, I think you may have misunderstood the mixed usage of shared-memory window and dynamic window. Here the shared-memory and dynamic window actually span the same region of memory but server different kind of data transfers, where the shared-memory window serves the intra-node one and the dynamic window serves the inter-node data transfers.

[2017-03-06 08:55] devreal commented on #313
I totally understand that. My point was that with the use of shared memory windows the argument of using dynamic windows to reduce the number of allocated windows is not valid anymore because we allocate a window on every allocation (using `MPI_Win_create_shared` instead of just `MPI_Alloc_mem`). So in fact, one optimization (using shared memory windows to directly access memory on the same node)

[2017-03-06 09:10] HuanZhou2 commented on #313
@devreal, below is the logic:
Assume there is two methods for allocating collective memory:
1.  MPI_Win_window_shared (..., &mem, &shmem_win);
     MPI_Win_window (mem, &win); // this window object needs to be created in any case for the inter-node data transfers.

This is the scheme you are favour of if I understand it correctly.

2. MPI_Win_window_shared (..., &mem, &shmem_win);
    MPI_Win_atta

[2017-03-06 09:15] rkowalewski commented on #313
However note that the allocation of a shared memory segment does not correspond to a team but to a sub-team which contains all units on a shared memory node. And as @HuanZhou2 explains MPI requires different windows for shared memory and distributed memory. So in order to make it visible for the global team we have to attach the shared memory segment to the global memory. And that does not mean th

[2017-03-06 09:33] devreal commented on #313
Ahh, of course. The collective `MPI_Win_allocate_shared` is done on the shared communicator, which only involves the processes on the same node. Makes sense then.

On another note: I wasn't able to reproduce the deadlock in a standalone test case.  After poking around with my original test I realized that one process was stuck elsewhere (`gdb` showed it to be in MPI as well but it actually was wor

[2017-03-06 09:33] #313 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal

[2017-03-06 20:48] fuchsto commented on #313
@HuanZhou2 Thank you for engaging in this discussion, much appreciated!

So, long story short: We should put effort into integrating Huan's approach. There already is a dedicated issue for this task #54 so we should continue further discussion there.

[2017-03-07 17:16] devreal commented on #292
I got feedback from the OpenMPI folks:

Sounds like the next release of OpenMPI will support our use-case. We might want to add this (and the broken alignment of shared windows, see #280) to a `KNOWN_ISSUES` file together with the releases that contain the fixes (as soon as they are available). Other issues (such as missing support for `is_trivially_copyable` in the Cray compiler, see #241) could

[2017-03-08 08:21] HuanZhou2 commented on #313
Always welcome :). For sure, I will keep the task in mind and try to make progress together with you guys.

[2017-03-09 13:23] fuchsto commented on #97
@dash-project/developers With the annual symposium meeting end of March, I think it's time to wrap up the release of DASH version 0.3.0. Please review your contributions and extend CHANGELOG in branch
`sup-97-maintainer-docs`.

[2017-03-09 13:32] #265 closed, assigned to fuchsto, rkowalewski, fmoessbauer, devreal

[2017-03-10 18:38] devreal opened #319 "constexpr function return is non-constant"
In my humble try to compile DASH with all compilers we support, I also tried to use the latest Cray CCE to compile the DASH part. While this has not been successful so far (some symbols are missing during linking), the following warnings could be relevant nevertheless:
[code]

The Intel compiler has reported similar warnings.

[2017-03-13 11:57] fuchsto opened #320 "DART locality subsystem initialized multiple times when thread support is disabled"
See logs attached.

[test.nothreads.txt](https://github.com/dash-project/dash/files/838088/test.nothreads.txt)
[test.threads.txt](https://github.com/dash-project/dash/files/838087/test.threads.txt)

[2017-03-13 12:52] devreal commented on #320
There are tons of calls to `dart__base__locality__domain__create_module_subdomains` in the logs for the `nothread` version but I have no idea where they come from atm. There are also not many places where `DASH_ENABLE_THREADSUPPORT` or `DART_ENABLE_THREADSUPPORT` are used to change the control flow and none of them seem significant. I will try to reproduce this locally.

[2017-03-13 13:12] fuchsto commented on #320
I'm puzzled just the same. All I can tell is that with `DART_ENABLE_THREADSUPPORT=OFF` it behaves as expected, with `=ON` the log is spammed with `..._create_module_subdomains`.

[2017-03-13 13:42] devreal commented on #320
From the logs you posted it looks just the other around ;)

If I run `ArrayTest.Declaration` locally on my laptop I see 21 or 27 lines with  `dart__base__locality__domain__create_module_subdomains()` in the logs but that is independent of the thread support status (I assume it has to do with the mapping from OpenMPI). Are you positive that this is related to the thread-support status?

[2017-03-13 13:47] fuchsto commented on #320
Ah, yes, it's the other way around :)
Well, I'm positive that this is related to the `DART_ENABLE_THREADSUPPORT` option.

[2017-03-13 18:17] fuchsto commented on #319
@devreal I fixed the code sections listed in the warnings you posted in PR #321. How did you obtain the `constexpr` warnings? I can't seem to generate them on my machines.

[2017-03-14 08:25] devreal commented on #97
I think from the DART side everything is covered (but I will check once again). I assume we do the release after the meeting?

[2017-03-14 10:08] fmoessbauer opened #322 "Submatrix view iterates whole matrix"
The instantiation of the `begin` and or `end` iterator on a matrix view is not as expected. Instead of just iterating the view, the whole matrix is iterated:

[code]

[2017-03-14 10:09] devreal commented on #319
I can't seem to produce them either with the Intel compiler (I was sure I saw them there). I threw the Cray compiler at your branch and it reported some more issues:

[code]

[2017-03-14 10:30] devreal opened #323 "Missing synchronization primitive dart_sync"
While going through the MPI standard I found the following notable example: http://mpi-forum.org/docs/mpi-3.1/mpi31-report.pdf#section.11.7 (MPI standard 3.1, Example 11.6)

[code]

The accompanying text states:

I think this is a common use-case for us:

1. Create a window and share-lock it.
2. Fill the memory locally.
3. Synchronize units through barriers and start issuing RMA operations.

Thus,

[2017-03-14 13:04] fuchsto commented on #97
Yes, that's the general idea.

[2017-03-14 13:54] rkowalewski commented on #323
You are right with the above mentioned problem, however, it is actually not an issue in DASH. Just to confirm that I got it: In the unified memory model it is not guaranteed that local updates ["happen-before"](https://en.wikipedia.org/wiki/Happened-before) subsequently issued MPI barriers. And this makes sense as barriers deal only with process synchronization, not memory synchronization.

Sugges

[2017-03-14 14:17] devreal commented on #323
Dang, I actually meant to call `MPI_Win_sync` in `dart_sync`, my mistake.

I wasn't aware of the flush in the array barrier. However, the flush is missing in `Matrix::barrier()`.

Also, the standard does not mention anything about sync'ing private and public copies (or memory barriers) in the description of `MPI_Win_flush*`. My understanding is that the synchronization of stores is not covered by

[2017-03-14 14:47] fmoessbauer opened #324 "Consistency of NArray bracket accesses"
During the implementation of the dash coarray for atomic types, I noticed that the following accesses return different types:

[code]

Is this really desired? I would appreciate it if both accesses return a GlobRef, as the GlobRef has specializations for atomic accesses. Otherwise we have to implement the atomic specializations also for the `MatrixRef<int,0,...>`

[2017-03-14 15:13] devreal commented on #324
Afaics, `MatrixRef::operator[]()` returns again a `MatrixRef` to keep the `operator[]` chain going:
[code]

I guess we could provide an overload that returns a `GlobRef` if `(NumViewDim-1) == 0)`?

[2017-03-14 15:17] fmoessbauer commented on #324
I am currently working on exactly this functionality. Seems to be not too hard, but anyway I am interested if this was a design decision or just a "bug".

For my Coarray implementation this functionality is essential, as I have to proxy all views otherwise...

[2017-03-14 16:50] fmoessbauer opened #325 "Why does GlobPtr depend on the pattern type"
The `dash::GlobPtr` has to be declared with a pattern type, but I cannot find a single method which requires this.

[code]

[2017-03-15 13:46] devreal commented on #320
My (un-)educated guess is that the mapping is different depending on whether `MPI_Init` or `MPI_Init_threads` is called. Still, I cannot reproduce it. I guess you are using MPICH?

[2017-03-15 15:20] devreal commented on #320
So, I kept staring at the logs you posted. The recursion really seems fishy, there are blocks with a whole bunch of calls to `dart__base__locality__domain__create_module_subdomains` without any intermediate  functions in the log. I thus assume that they are recursive calls. Understanding this monstrous >300loc function is anything but trivial though.

There are some intermediate other functions be

[2017-03-15 18:00] fmoessbauer opened #327 "Implement `dash::mutex` for mutual exclusion"
Mutex similar to `std::mutex` based on the synchronization interface of DART.

[2017-03-15 19:55] fuchsto commented on #325
This is a good one, and it raises almost philosophical concerns.
The reason for the dependency on a pattern is the possibility to define pointer arithmetics corresponding to iteration space.

The ancient question behind this is the difference between `GlobPtr` and `GlobIter`.
With `GlobRef` it is easy because references cannot be re-directed, just like vanilla reference types.

Now assuming a glob

[2017-03-15 20:08] fuchsto commented on #324
Fixed in #326

[2017-03-15 20:08] #324 closed, assigned to fuchsto, fuerlinger, devreal

[2017-03-15 20:10] fuerlinger commented on #325
Pointers are dull, non-validated value-representations of addresses, iterators respect the structure of values in memory.

:+1:

[2017-03-15 20:11] fuchsto commented on #320
The PAPI integration itself is not broken, it just the linked PAPI library. PAPI expects that libpapi is build with the same build environment as the application it is linked.
I'm fixing the scopes in log messages (and the linked PAPI lib to be sure) and will report back with new logs.

[2017-03-16 03:44] fuchsto commented on #323
@devreal The missing flush in `dash::NArray` / `dash::Matrix` is addressed in #312

Apart from that, are there missing features or broken use cases to be resolved, or can we close this issue?

[2017-03-16 03:45] fuchsto commented on #327
Is there a specific use case where a mutex is required or is this a general feature request?

[2017-03-16 06:07] fuchsto commented on #192
Implemented in #288

[2017-03-16 07:43] devreal commented on #323
Thanks.

No broken use cases at the moment but a cautious warning that this may eventually fire back at us. Afaics, we do not adhere to the MPI standard here but there seems to be a discrepancy in the understanding it between @rkowalewski and myself, which I would like to discuss in Garching before closing this issue.

[2017-03-16 07:55] devreal commented on #325
Agreed. It is up to the user to be careful when juggling with (global) pointers, or just don't do it. We should document though that a `dash::Array` is different from a `std::array` in that you cannot iterate over the whole array by continuously incrementing a `GlobPtr` as you would do with a `T *` and a `std::array`.

Just one remark: The definition of `self_t operator+=(gptrdiff_t n)` in `GlobPt

[2017-03-16 09:35] fuchsto commented on #319
These warnings are caused by `Team.myid()` which is not `constexpr` and probably never will.
The value of `_team->myid()` could be stored in a member, but pattern constructors would then not be `constexpr` any more.
I will try some workarounds, but it's not a bug, just a missed opportunity for compile-time optimization.

[2017-03-16 09:41] devreal commented on #319
Most (all?) pattern constructor are not `constexpr` anyway afaics. The value of `team->myid()` could be cached upon team creation so that should allow `constexpr` there as well.

[2017-03-16 10:59] fmoessbauer commented on #327
It's both. In [Johnson, Coarray C++, 6.3](http://www.pgas2013.org.uk/sites/default/files/finalpapers/Day2/R4/2_paper6.pdf) he proposes a mutex which can be placed in his coarray and behaves similar to a `std::mutex`.

My idea was to implement it roughly the same way as `dash::Atomic` by specializing `dash::GobRef<dash::Mutex>`. Together with #326 this would enable the following use case:

[code]

[2017-03-16 20:00] devreal opened #330 "Fix thread-safety of dart_lock"
After having a closer look at the implementation of `dart_lock` in `dart_synchronization.c`, I think this needs fixing:

1. The implementation of `dart_lock_acquire` and `dart_lock_release` is not thread-safe. This can be fixed through a local lock quite easily. Creation and destruction will not be made thread-safe though (as it is a collective operation).
2. ~~More important though: there is a ra

[2017-03-17 08:02] fmoessbauer commented on #246
As discussed in #325 a `GlobPtr` does not respect the structure of values in memory. Passing a `GlobPtr` to `dash::copy` should not be allowed. Taken again the `std::list` example, this demonstrates why: Passing a pointer to a list element to an STL algorithm does not work because the data is not contiguous in memory. There you need full blown iterators.

Keeping that in mind, I guess we can close

[2017-03-17 09:32] fuchsto commented on #246
@fmoessbauer That's right in principle, but `std::copy` accepts pointers and so should we.

[2017-03-17 09:58] devreal commented on #246
We could annotate `GlobPtr` type to signal whether it points to contiguous memory (i.e., it points to a `dash::Matrix` or `dash::Array`) and at runtime error out if the user tries to copy more than one element and the memory region pointed to is not contiguous. This might be more restrictive than necessary but prevents from running total havoc in the transport layer.

[2017-03-17 10:34] fuchsto commented on #246
I think it should not. `GlobPtr` is a dull representation of an address. Or thinking the other way around: In which situation would application programmers use `dash::copy` or `std::copy` (which is explicitly supported!) on a `GlobPtr`? To avoid overhead from validation and index calculations.
Also, `GlobPtr` has no concept of containers (other than `GlobIter` types) so its implementation has no m

[2017-03-17 10:57] fuchsto commented on #327
No, please don't. The `GlobRef<Atomic>` is a **phantom** and never explicitly defined by / for application developers.
Specializing `GlobRef` for a visible / explicit type is like `std::vector<bool>`. Looks convenient, is plain hell.

[2017-03-17 14:57] fmoessbauer commented on #327
This is a dilemma: The CoArray should behave almost exactly like the stored value, so for mutexes it's like the following:

[code]

But after sleeping a night over this, you are right that this is not a good decision: I could make it possible to mimic the interface, but almost all semantics will change as a `dash::mutex` requires a copy per unit, while `std::mutex` requires exactly one copy for al

[2017-03-18 04:26] fuchsto commented on #325
@devreal The semantic deviation of `GlobPtr` from `T *`, which also affects global pointer distance, is bugging me since I started working on DASH. The proposal in PR #333 tries to fix it.

[2017-03-18 06:57] fuchsto commented on #319
@devreal
... so ... what you are saying is that team ids are not cached at team creation? Why?

[2017-03-19 18:34] devreal commented on #319
Well, the team-relative unit ID is not cached from the start but queried on first request and then cached. The reason is that the unit ID in `dash::Team::All()` cannot be initialized in the constructor so this initialization is deferred. This is what makes `dash::Team::myid()` non-`constexpr`. A workaround could be to set the unit ID for `dash::Team::All()` during initialization in `dash::Init()`.

[2017-03-19 20:52] devreal commented on #319
I started implementing this but I'm stuck with the check for `dash::is_initialized()` in `dash::Team::myid()`. My understanding is that this check was required in case an application called `dash::myid()` before `dash::Init()` has been called. IMO, calling any DASH functionality (`dash::myid()` in this  case) in a uninitialized DASH environment (before `dash::Init()` or after `dash::Finalize()`) i

[2017-03-19 22:08] devreal commented on #319
OK, so I think I slightly misunderstood the meaning of `constexpr`. The C++11 standard (https://github.com/cplusplus/draft/blob/master/papers/N3376.pdf) says in 7.1.5:

stitution would produce a constant expression (5.19), the program is ill-formed; no diagnostic required.

My understanding is that any `constexpr` member function accessing a member variable in a class that has no `constexpr` const

[2017-03-20 10:06] fuchsto commented on #319
Yes, pattern c'tors usually cannot be constexpr, but all of the pattern methods typically can be formulated as constexpr. That's important for view expressions where the pattern referenced by view modifiers is already instantiated. So non-constexpr c'tors don't hurt, but methods should be constexpr so views can be nicely folded at compile time.

[2017-03-20 19:15] fmoessbauer commented on #327
Implemented in #329

[2017-03-20 19:15] #327 closed, assigned to fmoessbauer

[2017-03-21 10:59] #91 closed, assigned to fuchsto

[2017-03-23 11:28] fuerlinger opened #336 "dash::Shared broken for composite types"
The following does not compile any more because `dash::Shared` insists on keeping a  `GlobRef<Atomic<ElementType>>`  as a member.

[code]

[2017-03-23 11:47] fuchsto commented on #336
@fmoessbauer Type traits for `dash::Atomic` are missing. Then, `dash::Shared<T>::atomic_ref_type` should be:

[code]

[2017-03-23 15:09] fuchsto commented on #121
Changed in PR #337

[2017-03-23 15:26] fuchsto commented on #336
... or, fundamentally: `dash::Shared` should not have an `atomic` accessor. A shared global either is atomic, or it is not. Otherwise the owner unit could perform non-atomic changes to the shared value.

For atomic operations on a `dash::Shared`, use `dash::Shared<dash::Atomic<T>>`.

[2017-03-23 15:55] fmoessbauer commented on #336
I agree on that, but IMO this should not be implemented or forced using a type trait. Please have a look at my comment in [PR 338](https://github.com/dash-project/dash/pull/338#discussion_r107706607)

[2017-03-23 16:17] fuchsto commented on #336
In the current version of the PR, I just removed `dash::Shared.atomic`.

[2017-03-23 16:18] BenjaProg commented on #283
There is another compiler error concerning `const matrices`.
In cowichan/randmat there's a print2D function which prints matrices to sdt::out.
The old signature looks like this:
[code]
and the new one like this:
[code]

with this i get the following compiler error:
[code]
[Here](https://github.com/dash-project/dash-apps/blob/6dc88bbf842a1484469cbd8dd993f542f39ac7ef/cowichan/randmat/randmat.cpp#L9)

[2017-03-23 17:26] rkowalewski opened #339 "Semantics of dart team locks not well-defined"
[out.txt](https://github.com/dash-project/dash/files/865596/out.txt)
[env.txt](https://github.com/dash-project/dash/files/865600/env.txt)

The current implementation of DART locks to enable mutual exclusion for units in a team is implemented based on two MPI Windows:
Let us call them `Win_1` which stores the current holder of the lock and `Win_2` where units enqueue themselves in a linked list. Th

[2017-03-23 17:51] devreal commented on #339
Mhh, but isn't the order given by the order of the flushes, i.e., 1) is guanranteed to  have finished before the `MPI_Fetch_and_op`  in 2) is called.

Patches are welcome :)

[2017-03-23 17:56] fuchsto commented on #336
Fixed in PR #338, also added test of `dash::Shared` for composite value types.

[2017-03-23 18:24] devreal commented on #292
Ping: any opinion on the `KNOWN_ISSUES` proposal?

[2017-03-23 20:51] fuchsto commented on #325
Fixed in PR #333.

[2017-03-23 21:09] fuchsto commented on #283
That's supposed to fail:

https://github.com/dash-project/dash-apps/blob/6dc88bbf842a1484469cbd8dd993f542f39ac7ef/cowichan/randmat/randmat.cpp#L12

Should be `static_cast<typename T::value_type>(mat.at(i, j));`

More specific, return type of `const dash::Matrix<uint>::at` is `GlobRef<const uint>`, not `GlobRef<uint>`.

[2017-03-23 21:10] fuchsto commented on #292
@devreal I'd be fine with that. Known issues are to be documented in `CHANGELOG.md`.

[2017-03-24 02:02] #325 closed, assigned to fuchsto, fuerlinger, devreal

[2017-03-24 04:09] BenjaProg commented on #283
Hm okay so i should have made the cast like this?:
[code]
But i just checked it, completely without the cast and the error still remains!
By the way the cast is only needed when the type in the matrix is `uchar` so `cout` won't output garbage.

[2017-03-24 05:47] fuchsto commented on #283
Indeed, some const accessors have been missing.
Fixed along with #322 in #341 with your use case added as test case.

[2017-03-24 07:22] fuchsto commented on #322
Fixed in #341, added unit test for this use case.

[2017-03-24 07:35] fuchsto commented on #339
Apart from that: hard tabs? Yakkkk.
https://github.com/dash-project/dash/blob/development/dart-impl/mpi/src/dart_synchronization.c

[2017-03-24 07:40] devreal commented on #339
@fuchsto You hadn't seen that file before I touched it, did you? I already tried to get it in shape, will fix the rest...

[2017-03-24 07:44] fuchsto commented on #339
I didn't blame you in a single syllable.
It rather looks like an emacs crime.

[2017-03-24 07:50] fuchsto commented on #339
The plot thickens. No unit tests and emacs hard tabs. Elementary, Watson, the deed of a post-doc.

... seriously, though: the implementation of locks in dart-mpi was already broken before @devreal's changes and this has only been revealed by @fmoessbauer's introduction of `dash::Mutex`.
So if it cannot be fixed with reasonable effort (half a day max), I suggest to add it to "known limitations" and

[2017-03-24 08:10] fuerlinger commented on #339
Agreed that it is probably best to postpone fixing this after 0.3.0!

[2017-03-24 08:46] #322 closed, assigned to fuchsto

[2017-03-24 08:47] fuchsto commented on #312
Fixed in #341 but without upcoming support for point-to-point commits for now.

[2017-03-24 08:47] #312 closed, assigned to fuchsto

[2017-03-24 08:50] fuchsto commented on #339
Ha! The criminal returns to the scene of the crime!

The mutex type is currently only used by @fmoessbauer for his coarray implementation.
So if he is fine with this, so should we.

[2017-03-24 08:54] rkowalewski commented on #339
No for exactly the reasons as discussed above.

OK I agree as well. Then we should revert the merge of DASH Mutex in #329.

[2017-03-24 08:56] rkowalewski commented on #339
So if he is fine with this, so should we.

I do not think that @fmoessbauer is satisfied with a non-working solution. :)

[2017-03-24 08:58] fuerlinger commented on #339
I think it's Huan's code - I would only consider accepting responsibility if the code also includes copious amounts of trailing whitespace.

[2017-03-24 09:00] devreal commented on #339
Now that is a fruitful discussion.

I can put some in and re-add the tabs, if that helps to convince you :) (need to modify my editor though...)

[2017-03-24 09:24] #108 closed, assigned to fuchsto, fuerlinger, rkowalewski, clemensmanert, fmoessbauer, stiefn, BenjaProg, JosefSchaeffer, ddiefenthaler

[2017-03-24 09:47] rkowalewski commented on #339
OK, I'll try to summarize. Yes, a flush guarantees remote completion between two subsequent communication operations. However, only within the same window and to the same target.

The code above (or the current implementation of locking) does something different. Suppose `unit 0 holds the current lock holder (tail pointer).
1. Apply an atomic operation to `unit 0` in `Win_1` in order to modify the

[2017-03-24 09:58] devreal commented on #339
Thanks, much appreciated.

That is where I am unsure. After each atomic operation we issue a flush, which is supposed to block until the operation is finished on the remote side. Hence, the order of operation 1 and 2, right? We cannot even issue operation 2 on the same process before operation 1 is remotely completed because the flush does not return earlier. Maybe my understanding of *block until

[2017-03-24 10:09] rkowalewski commented on #339
The standard is vague what remote completion really means and MPI implementations have lots of freedom. One possible scenario is that MPI libraries have an intermediate buffer on the remote side to receive one-sided messages before they are finally transmitted to the target window. While the messages should arrive to the intermediate buffer in-order it may be the case that these intermediate buffe

[2017-03-24 12:20] devreal opened #342 "Problem with dash::memalloc"
I am using `dash::memalloc` in my `ThreadSafetyTest`s. I'm pretty sure it had worked before but now every call returns a global pointer with offset 0: `dash::GlobPtr<i>(000000|00|0000|0000|0000000000000000)`.

I have created a simple  test case that currently fails: https://github.com/dash-project/dash/blob/feat-dart-reducempicalls/dash/test/memory/LocalAllocatorTest.cc#L19

Output:
[code]

Two al

[2017-03-24 12:21] devreal commented on #323
Closing this after discussions in Garching and realizing that `dart_flush` calls `MPI_Win_sync`.

[2017-03-24 12:21] #323 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer

[2017-03-24 12:53] #336 closed, assigned to fuchsto, fuerlinger, fmoessbauer

[2017-03-24 12:56] fuchsto commented on #342
Pretty sure that's on me. `dash::memalloc` used to create a "free-floating" memory space with rather arbitrary global pointer iteration. The type dependencies are fine now, but apparently I broke something else there.
Unit tests passed on my machines with some different MPI versions and compilers, though. I will check your test case now.

[2017-03-24 12:57] BenjaProg commented on #283
Thanks for the effort!
But unfortunately there are still compiler errors.
Now they have changed a bit... i opened a dedicated branch for this bug at [dash-apps](https://github.com/dash-project/dash-apps/blob/bug-283-constMatrix/cowichan/randmat/randmat.cpp).
See current compiler errors in appendix.
[constMat(x,y).txt](https://github.com/dash-project/dash/files/867882/constMat.x.y.txt)

[2017-03-24 13:16] fuerlinger commented on #283
Possibly related: The following doesn't compile any more when the array is passed as a const ref.

[code]

[2017-03-24 14:13] fuchsto commented on #283
Aye, my test case uses `const Matrix<...>.at(i.j)`, not `const Matrix<...>.(i,j)`, I'm on it.
And `min_element` apparently is not const-correct and fails since global references / pointers / iterators are.

[2017-03-24 14:15] rkowalewski commented on #342
I am looking into  this.

[2017-03-24 14:51] fuchsto commented on #283
Fixed and unit-tested in #343

[2017-03-24 15:13] fuchsto commented on #342
I might have tracked it down. @devreal can you please re-build with logging enabled and attach the log snippet around the `dash::memalloc` call?

[2017-03-24 15:21] rkowalewski commented on #342
After inspecting what's going on I can see that there is a [TODO](https://github.com/dash-project/dash/blob/feat-dart-reducempicalls/dash/include/dash/GlobPtr.h#L137) by @fuchsto. We do not bind the GlobUnitMem temporary to a global pointer.

So please fix this. I am wondering why these refactorings of the global memory concept are actually at least partially included in this release.

[2017-03-24 15:30] fuchsto commented on #342
It's not related to global memory concepts, these are preparations for fixes of global pointer arithmetics.
The `GlobalUnitMem` is not required to be bound as the allocated handle is the `dart_gptr_t` returned by `dart_memalloc` which is later released via `dash::memfree`. If the `GlobUnitMem` would be bound, it would also be deleted in the `GlobPtr`s destructor and that's not what we want. The li

[2017-03-24 15:33] rkowalewski commented on #342
Since this temporary is not bound it is destroyed and the destructor actually frees the originally allocated dart global pointer. So both allocations in the mentioned unit tests return a global null pointer.

[2017-03-24 15:39] fmoessbauer commented on #339
As I was mentioned multiple times in this ticket referring the Coarray: The `dash::Mutex` is not mandatory (or even necessary) for the `dash::Coarray<T>`, but for a `dash::Comutex`. As the Coarray stuff itself will definitely not be part of 0.3.0 I'm fine with pushing this to 0.4.0.

Another option would be to leave the DASH code as is, and mark it as experimental (or note the problems in DART).

[2017-03-24 15:41] fuchsto commented on #342
Aaah, darn, that's exactly right. I added an ownership flag in `GlobPtr` that is missing in branch development for arcane reasons, seems to have been overwritten in a merge.
It still doesn't quite add up. A global null pointer is not `0000|0000|...`, it's `ffff|0000|....` (undefined unit id is -1). I should have an un-merge-broken version of this in a local workspace.

[2017-03-24 15:41] devreal commented on #342
Thanks for investigating. I should note that the pointer is not a `DART_GPTR_NULL`. When you fix this issue, please set the internal `gptr` to `DART_GPTR_NULL`.

So I guess a log is not needed anymore?

[2017-03-24 15:42] devreal commented on #342
Ahh, @fuchsto you were faster. Note that `dart_memfree` does not set the `gptr` to NULL (just like `free()`) so it has to be done manually.

[2017-03-24 15:45] fuchsto commented on #342
Dito ;)

I actually set the `dart_gptr_t` to `DART_GPTR_NULL`, the nulliness of the pointer is the actual result of the allocation. But as the memory space is reclaimed before the second allocation, you get the zeroed-pointer value twice. I believe.

[2017-03-24 15:47] fuchsto commented on #342
@devreal ... and yes, no log needed!

[2017-03-24 16:14] fuchsto commented on #342
Fixed in #344, added the unit test linked in the description, passes on my machine.

[2017-03-24 16:27] #283 closed, assigned to fuchsto, fuerlinger, fmoessbauer, BenjaProg, ddiefenthaler

[2017-03-24 16:51] BenjaProg commented on #283
thanks for the clarification!

[2017-03-24 19:15] #342 closed, assigned to fuchsto, rkowalewski, devreal

[2017-03-26 17:16] fuerlinger opened #346 "dash::copy (local range to global destination) not copying the whole range"
[code]

Looks like the copy is performed only for the fist two units and the other transfers go haywire somewhere - CMake builds give an additional segfault, a build with the manual Makefile, strangely, doesn't.

[code]

`std::copy` works as expected (good!) but of course then the transfer is done element-by-element.

[2017-03-27 12:01] rkowalewski commented on #346
See pull request #347 for a proposed solution. As mentioned there, it does not consider fragmented local memory layout but assumes contiguous local ranges. I am not sure if we support this in the other `dash::copy` algorithms.

[2017-03-27 15:42] tuxamito opened #348 "Segmentation fault in gtest_filter="SUMMA*" with 8 processes"
On current development branch (tag dash-0.2.0-2506-g47b12a9)

System:
Linux Mint 18.1 (based on Ubuntu LTS 16.04)
4+HT Skylake (i7-6700K)
mpic++ gcc version 5.4.1 20160904
mpirun (Open MPI) 1.10.2

There is a segmentation fault when executing the dash-test-mpi application as follows:
`mpirun -n 8  dash-test-mpi --gtest_filter="SUMMA*"`
while with 4 processes it ends apparently correctly.

I attach

[2017-03-27 23:27] fuchsto commented on #348
Good catch, thank you. I have an idea what might have caused this, will report back here.

[2017-03-28 02:48] fuchsto commented on #346
Please wait until I evaluates effects on performance before merging.

[2017-03-28 06:09] #121 closed, assigned to fuerlinger, knuedd, jgraciahlrs

[2017-03-28 06:10] #97 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal

[2017-03-28 10:53] fuchsto commented on #246
Update: `GlobPtr<T>` now provides robust global random access pointer semantics for any memory space so `dash::copy` can be safely extended to support global pointers now.

[2017-03-29 10:06] #320 closed, assigned to devreal

[2017-03-29 10:06] #330 closed, assigned to fmoessbauer, devreal

[2017-03-29 11:03] devreal commented on #339
The original problem has been addressed in PR #331. I think the explanation of the fault was not correct. Since we are using `MPI_Win_flush` the order in which the *atomic* operations on a process are performed is well defined. Of course, they may be interlocked in two processes but since they are atomic it does not matter.

The overhead of using two different segments (not allocated windows) is m

[2017-03-29 11:03] #339 closed, assigned to devreal

[2017-03-29 22:18] ddiefenthaler commented on #63
After lately nearly every test case was blocking for me,
I looked for a version of openmpi to build from sources and found `Open MPI: Version 2.1.0`.
This version appears to have fixed the blocking issue for me.

Currently every 5ths run of `dash-test-mpi` still aborts,
but this may also be a different issue as it just seem to happen in two test cases.
(Namely DARTLocalityTest.ExcludeLocalityDomai

[2017-03-29 22:53] ddiefenthaler commented on #63
As this is also seems true for `Open MPI: Version 2.0.2` I suggest to close this issue,
unless anybody else is still experiencing this issue.

For me this external bug looks like it is resolved.

[2017-03-30 07:24] BenjaProg commented on #246
cool, nice improvement! :-)

[2017-03-30 07:55] stiefn opened #350 "Problems with MPI_Rget"
MPI_Get has been recently exchanged with MPI_Rget in dart_get_blocking().
This seems to not be working on my local machine: The call to MPI_Rget blocks and never finishes.
Changing MPI_Rget back to MPI_Get makes everything work as expected again.

My local MPI version: OpenMPI 2.0.1

[2017-03-30 08:11] stiefn commented on #350
To reproduce my test, the following program can be run with the latest DASH version from the branch feat-graph, using 2 nodes:

[code]

The test() method will try to get a value from unit 1.

[2017-03-30 08:21] devreal commented on #350
Thanks for the report. Can you please post a MWE that works on `development`?

[2017-03-30 08:59] stiefn commented on #350
Yes, of course. Sorry for that.

[code]

Also, here is the code block for dart_get_blocking, that makes it work again:
[code]

If you have problems reproducing the error, I can send you my VM image.

[2017-03-30 09:15] rkowalewski commented on #350
I would recommend to use a newer ompi version (either 2.1.0 or nightly) because they have various problems regarding one-sided communication in v2.0.1.

See [#2538](https://github.com/open-mpi/ompi/issues/2538) and [#2530](https://github.com/open-mpi/ompi/issues/2530) for example.

[2017-03-30 09:19] devreal commented on #350
Thanks a lot for the MWE. I can confirm the hang with OpenMPI 2.0.1. With v2.1.0 things seemed to have improved, your example works there.

Also, it seems that 1.10.* is not affected either. I think is is an OpenMPI issue (which seems solved on their side).

[2017-03-30 09:21] stiefn commented on #350
OK great, thanks for the heads up!

[2017-03-30 09:22] #350 closed, assigned to devreal

[2017-03-30 15:54] ddiefenthaler commented on #350
Seems related to issue #63.

[2017-03-30 20:28] ddiefenthaler commented on #292
Just as a note, I think that is a problem with the way the version got build.
I had the same error with the package from the system repoistory, but
after building OpenMPI 2.0.2 from sources the error was gone for me.

[2017-03-31 06:46] devreal commented on #292
Interesting. What flags did you pass to configure? I usually build all OpenMPI versions myself.

[2017-03-31 10:13] ddiefenthaler commented on #292
I passed no extra options to `./configure`.
I guess there is the problem as it seems I have built without ThreadSupport...
For some reason I also deactivated the thread support in the DASH `build.sh`...

Sorry my bad, the error persists for OpenMPI 2.0.2. Should've read the output more carefully.

For at least in OpenMPI 2.1.0 this error is gone, but then again it blocks in `ThreadsafetyTest.Concu

[2017-03-31 10:37] devreal commented on #292
That is interesting as well, I was not aware that things changed there. I will follow up with the OpenMPI folks on that. Thanks for the report!

[2017-03-31 11:42] devreal commented on #292
Mhh, this test is failing for me as well and I've been trying to debug this for a while now. The results are wrong and it tends to hang, just as you observe it. However, I get wrong results with MPICH as well, so I assume that we do something nasty there. I just haven't figured out what exactly is going wrong...

[2017-03-31 12:30] devreal opened #352 "dash::copy broken on team-allocations"
Consider the following example code:

[code]

Executing the test on 4 units, Valgrind reports the following invalid write:

[code]

Eventually the process goes down in a Segfault.

Interestingly, leaving out the team split (`.split(2)`) leads to correct results so I assume that `dash::copy` does not honor the team in the array.

Related: The failing `ThreadsafetyTest.ConcurrentAlgorithm` mentioned

[2017-03-31 13:36] devreal commented on #352
Never mind, the test case was faulty (allocated `_dash_size * num_elem_per_unit` instead of `team.size() * num_elem_per_unit` element.

[2017-03-31 13:36] #352 closed, assigned to fuchsto, rkowalewski, devreal

[2017-03-31 14:46] devreal opened #353 "dash::Array storing the wrong team?"
I am still debugging #292 (with increasing desperation). I found the following strange behavior

[code]

I added the check `ASSERT_EQ_U(array_a.team(), myteam)`, which surprisingly fails. My understanding is that `array.team()` should yield the team the array was created with so the check should  succeed. Looking through the code, I don't see what could go wrong there. Ideas?

UPDATE: The error I

[2017-04-01 01:54] ddiefenthaler commented on #353
I think I found the cause of this strange behaviour,
If I'm right it is related to PR #304 and through the implicit conversion from `dash::Team` to `dash::TeamSpec` now the wrong contructor gets called during the construction of `dash::Array` ([Code](https://github.com/dash-project/dash/blob/development/dash/include/dash/Array.h#L785)).

The fix for this should be simple.

[2017-04-01 02:38] ddiefenthaler commented on #353
Acctually it is not so simple, as the constructors of the different pattern types mismatch now.
For example the `CSRPattern` has no constructor which takes a `TeamSpec`.

@fuchsto Your feeling about the missing explicit was quite appropriate.

My best bet to fixing this issue is to revert PR #304 and just remove the default parameter definitions instead of the whole functions...
By the way who add

[2017-04-02 09:58] ddiefenthaler opened #355 "Maximal width of dash::is_atomic_compatible types"
Currently the trait `dash::is_atomic_compatible` matches the size of the type against `std::size_t` to determine if atomic access is possible (Defined in [Types.h](https://github.com/dash-project/dash/blob/1978c10151d7fb000ecc3bd6e50099fd3835256e/dash/include/dash/Types.h#L235)).
This was introduced and already shortly discussed in pull request #338.

Is `std::size_t` really the correct type to ma

[2017-04-02 15:50] fuchsto commented on #355
Indeed, `CMPXCHG16B`, if available, should be wider than `size_t`. But MPI does not support DWCAS so it would only work for local operations.
That's why I suggested `is_global_atomic_compatible` and `is_local_atomic_compatible` somewhere in the comments.

[2017-04-03 13:19] fmoessbauer commented on #355
But can’t we use the minimum of MPI and local for the meantime? Or do 32-Bit MPI implementations at max support 32-bit types for atomic operations? Anyway, our current implementation has to be refactored, as an atomic operation semantically is not limited by any type length (as I mentioned earlier, you know…).

[2017-04-03 14:07] ddiefenthaler commented on #355
I guess the supported width for MPI is `std::size_t` then, so how it currently is should be fine.
Even though in dart it seems to just match against `DART_TYPE_LONGLONG`: [dart_communication.c](https://github.com/dash-project/dash/blob/1978c10151d7fb000ecc3bd6e50099fd3835256e/dart-impl/mpi/src/dart_communication.c#L440)
Actually it is quite hard to find a good documentation about what MPI supports

[2017-04-03 14:20] devreal commented on #355
Technically, the atomic DART functions (with the documented exception of `dart_compare_and_swap`, which you referenced) support all DART data types. Afaik, the MPI standard does not limit the size of the type that used in atomic operations (again, with the notable exception of `MPI_Compare_and_swap`). I'm not sure how they are implemented on 32 bit machines but it would be interesting to test (I h

[2017-04-05 17:37] fuchsto commented on #355
@fmoessbauer Yes, atomic operations are, in formal principle, independent from the data type and microinstruction support, that's no news and you are still missing my point, Wisenheimer 😋
For global operations only DART data types are supported as of now because `GlobRef<Atomic>` does not provide locking mechanisms to support arbitrary type sizes.
So again, that's why I suggested `is_local_atomic_

[2017-04-12 04:58] #353 closed, assigned to fuchsto, devreal, ddiefenthaler

[2017-04-12 09:17] fuerlinger commented on #346
Bump! `dash::copy` for local to global is still not working. Issues of async aside, why can't we use @rkowalewski 's solution from #347 ?

[2017-04-13 16:36] fmoessbauer opened #357 "GlobAsyncRef uses blocking dart operations"
According to my understanding, `dash::GlobAsyncRef` should perform non-blocking puts and gets. However a first glance at the code this is not the case: See [GlobAsyncRef.h,L190](https://github.com/dash-project/dash/blob/development/dash/include/dash/GlobAsyncRef.h#L190).

Furthermore, the implementation does not fulfill the GlobRef concept and seems to be pretty experimental.

[2017-04-16 10:27] fuchsto commented on #357
That's true, write-access is blocking. The reason is consistency in situations like:

[code]

Should be refactored and be based on `dash::Future`.

[2017-04-18 08:10] devreal commented on #357
The implementation of `operator T()` looks broken as well: if the reference is not local, `dart_get` is called but a value is returned before any flush is performed. The `get` should be blocking to ensure consistency and no other `get` should be executed subsequently but only the locally cached value be used. I see no way `operator T()` can be truly asynchronous.

For the assignment operator, no b

[2017-04-18 09:13] fuchsto commented on #357
Thanks, when patching this, see if you can make it work with `dash::Future`, perhaps as specialization.

[2017-04-18 10:19] devreal commented on #357
Not sure what you mean with making it work with `dash::Future`. You mean `GlobAsyncRef<dash::future<T>>`?

[2017-04-18 11:47] #357 closed, assigned to fuchsto, devreal

[2017-04-20 16:06] fmoessbauer opened #365 "GlobAsyncRef flush via container.flush() does not work"
According to the documentation of `GlobAsyncRef` it is possible use `container.flush()` to publish all changes. However this does unfortunately not work:

[code]

This has to be investigated further. My guess is that the problem is the value comparison in the assignment operator. Furthermore the async stuff is not threadsafe in any case.

Maybe we should document this as a known limitation in 0.3.

[2017-04-20 16:33] devreal commented on #365
Shouldn't this be
[code]
?

The following (adapted) test succeeds:

[code]

Mhh, as long as two threads do not share a `GlobAsyncRef` object it is thread-safe. Of course, you get race-conditions if two threads write to the same global memory through different references but that is not in our hands. What exactly do you have in mind?

The general problem is that the `GlobAsyncRef` is decoupled from

[2017-04-20 17:00] fmoessbauer commented on #365
You are right with `^^^` ;) Have you tried with nastympi? I first had the errors in CI and then was only able to generate them using nastympi.

[2017-04-21 06:20] devreal commented on #365
NastyMPI dies with a Segfault on my machine:

[code]

@rkowalewski ?

[2017-04-21 07:45] devreal opened #366 "Issues with NastyMPI in dart_init"
I am running into an issue with NastyMPI in `dart_init` (or `dart_init_thread` for that matter here):

[code]

I've built both DASH and NastyMPI with OpenMPI 2.1.0. NastyMPI was built using `make debug`, otherwise it crashes with a Segfault (see #365).

From looking at the code, I do not see what could be going wrong in DART. I will try MPICH later today to see whether this is related to OpenMPI.

[2017-04-25 07:55] dhinf opened #367 "Resolve compiler Warnings"
Resolve compiler warnings. Especially unused parameters/variables.

[2017-04-25 08:12] fmoessbauer opened #368 "Fix Copy / Move / Rule of five of Matrix"
Copy and move semantics are currently broken on (at least) `dash::Matrix`. This is due to the missing ctors and assignment operators.

[2017-04-25 12:42] rkowalewski commented on #366
I will inspect it until Friday this week. Maybe it has to do something with the thread support in DART?

[2017-04-25 16:55] fuchsto commented on #368
They are not broken, they are deleted. A `dash::Matrix` may not be copied as it's a typically huge object. Moving should work, though.

[2017-04-25 16:56] fuchsto commented on #368
Your changes in #369 look okay in this respect, though. Just don't implement assignment and copy ;)

[2017-04-25 21:01] fmoessbauer commented on #368
They were missing... Anyway, of course copy is deleted, but move should be perfectly well. I guess we have to fix that on other places in dash as well. I just stumbled upon this by making my `dash::Coarray` fulfill the container concept ;)

[2017-04-26 07:21] devreal commented on #366
Looks like it, yes. The tests run fine if I built without thread-support enabled in DART. Maybe NastyMPI has troubles with `MPI_Init_threads`?

[2017-04-26 10:49] dhinf opened #370 "Errors while running tests in development branch"
I got the following errors for tests in development:
Desktop machine (4 cores)
openmpi: 1.10.6
gcc 6.3.1

enabled:
shared_windows, unified_memory_model, hwloc,libnuma

- 4 ranks  (shared_wondows, libnuma and hwloc disabled)

  [  FAILED  ] 1 tests, listed below
  [  FAILED  ] DARTLockTest.TeamLockUnlock
- 5 ranks
  [  ERROR   ] [UNIT 4] in /home/huenich/zih/projects/DASH/github/dash/dash/test/cont

[2017-04-26 11:16] rkowalewski commented on #370
It looks like the identical issue in #230.

@dhinf Can you please check if starting your tests like the following still results in an error:

[code]

[2017-04-26 11:18] dhinf commented on #370
--map-by core solved it for 6 cores but now 4 cores in this setup is buggy

[2017-04-26 11:26] rkowalewski commented on #370
OK these are actually multiple independent issues. The others do not really refer to the locality stuff and need separate inspection.

[2017-04-26 11:26] dhinf commented on #370
ok nope, with 6 cores i still get (sometimes)
ERROR   ] [UNIT 0] in /home/huenich/zih/projects/DASH/github/dash_dev/dash/test/types/AtomicTest.cc:403
      Expected: array[3].load()
      Which is: 3
To be equal to: 1
Unit 0

[  FAILED  ] 1 tests, listed below
[  FAILED  ] AtomicTest.AtomicInterface

with 8 ranks the locality errors sill appears

Has locality a problem with oversubscripting?

I te

[2017-04-26 11:58] devreal commented on #370
I cannot reproduce the error in `DARTLockTest.TeamLockUnlock` on my machine. What error do you see?

[2017-04-26 12:06] dhinf commented on #370
4 Ranks and only unified_memory_model enabled

[ERROR   ] [UNIT 2] in /home/huenich/zih/projects/DASH/github/dash_dev/dash/test/dart/DARTLockTest.cc:230
      Expected: num_iterations * team.size()
      Which is: 20
To be equal to: static_cast<value_t>(shared.get())
      Which is: -150688948
Unit 2
[=  2 LOG =]               TestBase.h : 264 | -==- Test case finished at unit 2
[  ERROR   ] [UNIT

[2017-04-26 12:16] devreal commented on #370
Thanks, looking at the code it makes sense: the `team` was not used correctly to set the initial value. I committed a hotfix, please try again on current `development`.

[2017-04-26 12:18] dhinf commented on #370
This one is solved :)

[2017-04-26 12:21] devreal commented on #370
There was a `barrier` missing in `AtomicTest.AtomicInterface`. I just pushed a hotfix, please check that as well.

[2017-04-26 12:45] dhinf commented on #370
also solved.
The reason for the locality errors is maybe the oversubscripting.

[2017-04-26 12:45] #370 closed, assigned to fuchsto, devreal

[2017-04-26 14:37] rkowalewski commented on #366
Actually Nasty-MPI is not prepared for thread-safety. This will be my next weekend project.

[2017-04-26 15:12] fmoessbauer commented on #368
Fixed in #369

[2017-04-26 15:12] #368 closed, assigned to fuchsto, fmoessbauer

[2017-04-26 15:25] devreal commented on #366
Mhh, in that case a warning would have been nice and maybe returning `MPI_THREAD_SINGLE` ;)

[2017-04-26 16:19] fmoessbauer opened #372 "DART Mutex hangs for > 16 units"
The DART mutex seems to hang if using more than 16 units (projekt03, single node, 24 cores). Surprisingly with 15 units it works as expected. The executed test is [`CoArrayTest.Mutex`](https://github.com/dash-project/dash/blob/feat-coarray/dash/test/container/CoArrayTest.cc#L298), but the test hangs in the first part, which just uses the `dash::Mutex`.

At least on projekt03 the bug is perfectly r

[2017-04-26 18:37] devreal commented on #372
Ain't nobody gonna need more than 15 processes...

Just in case anyone ever does: From a quick glimpse at the log, it looks like it could be a progress issue (see #361): unit 0 is polling on a local value using MPI atomics without any remote data access. However, I cannot reproduce it locally. I added an `MPI_Iprobe` while waiting for the local next pointer in your branch, just to see if that is s

[2017-04-26 18:43] fuchsto commented on #372
Seconded, I think there is a world market for maybe five processes.

[2017-04-28 09:47] devreal commented on #372
I ran the test suite from `development` yesterday on our cluster on 64 processes (8proc x 8nodes) and did not see `dash::Mutex` deadlock a single time. @fmoessbauer did you have a chance to see whether the added `MPI_Iprobe` helped?

[2017-04-28 09:54] fmoessbauer commented on #372
Hi, thanks for the fix. That solved the problem 👍 These progress issues become quite annoying.

[2017-04-28 13:50] devreal opened #375 "Integrate Jenkins CI"
TUD has a Jenkins CI server running that we could use to run our tests on multiple nodes of their cluster. This will cover a whole class of problems that are not covered by our current setup, as demonstrated in #374. Opening this issue to track progress.

[2017-04-28 13:54] devreal opened #376 "Synchronization at the end of DASH algorithms"
While working on #374 I realized that some algorithms in DASH synchronize units at the end (e.g., `dash::for_each`) and some don't (e.g., `dash::generate`). This should be unified.

@fuchsto I assume this is covered by Execution Policies (#104)? If so, this is just to track progress on this issue.

[2017-04-28 20:00] fuchsto commented on #376
Yes, exactly, but it's sensible to track this as a separate issue.

[2017-05-03 11:28] dhinf commented on #375
I'm on it.

[2017-05-04 10:47] bertwesarg opened #378 "Make `local_blockspec` available in the Pattern concept"
`local_blockspec` is currently available only in some Pattern instances, but it gives valuable information about the local blocks available to the unit. Please make this a concept in the Pattern.

[2017-05-04 11:12] ddiefenthaler commented on #367
Can you be more specific about what types of warnings and what build modes you are looking at?
Is this fixed by pull request #373? Or are there more warnings that you are looking at?

As a side note when building with a 32bit system there are some more format warnings,
as `size_type` does not match `long long unsigned int`.

[2017-05-04 11:29] dhinf commented on #367
It is fixed with request #373. I tested my stuff and a lot unused parameters/variables warnings popped up. I fixed them in #373 . Maybe there are more. But, for now i'll close the issue.

[2017-05-04 11:29] #367 closed, assigned to dhinf

[2017-05-05 06:55] bertwesarg opened #379 "Wrong IndexType in TilePattern for BlockSpec_t and BlockSizeSpec_t"
The IndexType should be IndexType not SizeType. Detected, because there is no operator<< for the these types defined.

[code]

[2017-05-05 07:07] dhinf opened #381 "Arithmetic operator overloading in LocalMatrixRef"
In LocalMatrixRef the arithmetic operators are declared but only + and += are defined. And the defined ones don't work properly.

I suggest to remove them, like in MatrixRef.

[2017-05-05 08:51] fmoessbauer commented on #381
After having a short glance at the code I think this has to be refactored anyway. The specialization of the bottom case (Dim = 0) is not necessary and should be removed.
Instead, for the last dimension local references `T &`  should be returned. This was also wrong in [`MatrixRef.h`](https://github.com/dash-project/dash/blob/development/dash/include/dash/matrix/MatrixRef.h#L212) where I fixed it i

[2017-05-05 09:37] #379 closed, assigned to nobody

[2017-05-08 11:55] bertwesarg opened #385 "Getting te `dash::Team` for `const` containers"
It is currently not possible to work with a `dash::Team` if one only has a `const&` to a dash container. There is only:

https://github.com/dash-project/dash/blob/development/dash/include/dash/Matrix.h#L381

As having a `const&` to a `dash::Team` isn't that of a value anyway (can't be used to create new conteiner objects, as they require a non-const argument), I suggest to add only this:

[code]

[2017-05-08 13:21] devreal opened #386 "Strange behavior of dash::transform with local input range"
Right now, `dash::transform` can be called with a local input range. The user is responsible for blocking the output range, i.e., he has to call `dash::transform` for every target unit individually. For an example, see https://github.com/dash-project/dash/blob/development/dash/test/algorithm/TransformTest.cc#L81.

This is really not intuitive. I propose changing this to require `len(local_input_ra

[2017-05-08 19:13] bertwesarg commented on #385
Contrary to `dash::Matrix`, `dash::Array` has only the `const` variant for `team()`:

https://github.com/dash-project/dash/blob/development/dash/include/dash/Array.h#L1101

[2017-05-09 09:21] fmoessbauer commented on #385
That should be consistent in both cases, but there are some limitation regarding constness, as the team is stored as reference:

- Each team carries an internal state, hence a const team cannot be modified
- If using `const Team &` in the container, a team gained from a container cannot be split

[2017-05-09 10:26] bertwesarg commented on #385
Thats why my propsoal is `Team& team() const`. I did it already here:

https://github.com/bertwesarg/dash/commit/6dae20e2b0a959381b63b61c6f6ad94d71e358a3

[2017-05-09 10:28] bertwesarg opened #387 "build: Have an MPI3 cmake check"
It is currently possible to pass `cmake` but `make` fails because the used MPI implementation does not have MPI 3 support. It would be valuable for possible users, that than already `cmake` fails.

[2017-05-09 10:31] bertwesarg opened #388 "build: Check that the provided HDF5 has MPI support"
If the build env does provide an HDF5 lib, than this library does not necessarily have MPI support. But DASH does not perform a check in `cmake`, thus the build may fail at `make` time, which is cumbersome for a user.

[2017-05-09 10:36] fmoessbauer commented on #388
That is not correct. If the version of CMake is recent enough, it is checked if the found version is the parallel one. However, for older versions it's not possible to check which version is found. If you have a (portable!) solution for that, please tell us.

Here is the check implemented: [CMakeExt/HDF5.cmake](https://github.com/dash-project/dash/blob/development/CMakeExt/HDF5.cmake#L29)

[2017-05-09 10:42] fmoessbauer commented on #385
Ah, got it. Please make a PR.

[2017-05-09 11:04] bertwesarg commented on #385
Will do.

[2017-05-09 11:21] fmoessbauer commented on #387
Unfortunately the MPI implementation version (e.g. OpenMPI 2.1.0) does not match the MPI standard version (e.g. 3.0). Hence, we would have to implement the mapping on our own. We could do that propably for mpich, openmpi and intelmpi, but we will never be able to verify all MPI implementations.

But, you are right: We should at least document the requirements in the README. Can you do that?

[2017-05-09 11:43] fmoessbauer opened #389 "Add support for move in dash::Array"
Currently the `dash::Array` is [not movable](https://github.com/dash-project/dash/blob/development/dash/include/dash/Array.h#L887). To be consistent with the other containers, this should be implemented.

[2017-05-09 11:45] devreal opened #390 "RFC: flush-free async put/get using stream operators"
During a short discussion on our interface(s) for asynchronous transfer today, we agreed that an interface using `dash::Future` is desireable (and on the way in #371) and that we also want to have a nice C++'ish interface for transfers for which the user provides the buffer. Right now this is done using `dash::Array::async.get(T*)`, which is rather C-style.

My proposal: use the stream operators o

[2017-05-09 11:47] #372 closed, assigned to devreal

[2017-05-09 12:02] bertwesarg commented on #387
See, I'm comming from the autotools, and the philosophy there is _do not test for version, test for features_. Thus you do not need a version mapping at all, just check if `MPI_OP_NO`, `MPI_Win_flush` and some other relevant functions/decls exists.

[2017-05-09 12:08] bertwesarg commented on #388
Than increase the required CMake version! I find this rather lazy to rely on CMake to do such basic check. For HDF5, one would check if it `#define H5_HAVE_PARALLEL`, which should be trivial without relying on a specific CMake version.

[2017-05-10 18:49] devreal opened #399 "Q: Where to handle continuous global address space?"
After looking at the implementations of `dash::copy` today, I noticed a major flaw in the current implementation. In a nutshell, this is what `dash::copy(T*, T*, GlobOutputIter)` does:

1. `memcpy` the local portion of the transfer
2. `put` the preceeding elements
3. `put` the succeeding elements

Now, this will work fine for up to 3 units. However, experience from the last couple of years dictate

[2017-05-11 02:53] fuchsto commented on #399
Yes, local-to-global copy is an incomplete implementation, there are "known limitations" I didn't address so far because some secondary considerations are not resolved, yet.

On DART and iteration space:
We had a talk (and quick agreement) in Munich about this.
In brief: No, DART should not define / understand concepts of iteration- and index space.
Trivial cases like bucket traversal are an evil

[2017-05-11 06:52] devreal commented on #399
I guess they are known to you but they are not documented. Not the first time something is supposed to work except for this and that corner case surprise...

Well, this is not about the iteration space of containers or patterns. This is about the underlying global address space, just like a `memcpy` has no concept of iteration spaces in C/C++. Still, a `memcpy` can be used to cover the full range

[2017-05-11 07:37] rkowalewski commented on #399
As pointed out by @fuchsto we had a talk in Munich couple of weeks ago. And we made some progress regarding global address spaces in #345 with a more detail discussion in #333. The memory concept is still in work. However, I think this covers the concept of the global memory range and copy from/into contiguous global adress ranges should work here. If not, what aspects are missing?

No, `std::copy

[2017-05-11 07:49] devreal commented on #399
Read carefully here! The quote already states that `std::copy` supports overlapping ranges: only `d_first` (the first output element) may not be in `[first, last)` but otherwise the range may overlap. And if you look at implementations of `std::copy` you will see `memmove` being used where possible.

Well, let's see what comes out of that. It's severely frustrating to see things crumble in so many

[2017-05-11 08:43] dhinf commented on #390
Although i like the current syntax a tiny bit more, I would like to use the proposed one in future. We get rid of the pointer and i think it is more obvious to the user what happens.

[2017-05-11 09:05] rkowalewski commented on #399
You are right. We may overlap coming from the left-hand side but not the right-hand side. The conditions are reversed in `copy_backward` which is obvious. And this is certainly a bug in the DASH counterpart. So let us document this restriction and fix it in a separate issue.  Applying the `memmove` approach in global address ranges even if the source and target ranges do not overlap will significa

[2017-05-11 09:12] fuchsto commented on #399
Ah well.
Blaming the one guy that actually implemented all of the core stuff in DASH and migrated it to github to improve stability in the first place for incomplete implementations or docs is not the nicest move in the book. I better don't get started on the topic "unit tests", or the lack thereof in DART.
Also, the branch is named "development" for a reason.

[2017-05-11 09:37] devreal commented on #399
Not at all, just wanted to make sure we are on the same page.

My question was whether DART should be aware of contiguous memory spaces and apparently there has previously been a clear decision on your side without me knowing, so please take it from there.

Did I blame you personally? No. I merely expressed my discontent with the way things are going. I won't get started on the details, that is so

[2017-05-11 09:40] #399 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal, dhinf

[2017-05-11 09:46] devreal opened #401 "Fix multi-node copy operations"
`dash::copy` is broken for copy operations spanning more than the current node and its neighbors.

Example:

[code]
with `dash::size()` > 3.

Related: #386 for `dash::transform`

[2017-05-11 10:32] #388 closed, assigned to nobody

[2017-05-11 13:43] fmoessbauer commented on #289
With some knowledge gained the last couple of month, I want to re-think the topic:

No, not really as the assignment operator of `std::Atomic` (`T operator=( T desired )`) is defined. This atomically replaces the value. Of course, that is not possible in DASH, as we have to use DART for atomically replacing the value at an DART address. However our implementation should provide a similar interface

[2017-05-11 14:32] #389 closed, assigned to fmoessbauer

[2017-05-11 14:34] fmoessbauer commented on #387
Check for `MPI_NO_OP` is implemented and tested.

[2017-05-11 14:34] #387 closed, assigned to bertwesarg

[2017-05-11 14:34] #385 closed, assigned to bertwesarg

[2017-05-11 17:11] fuchsto commented on #289
Yes, and as fill does not provide emplace the elements have to exist, that's what I wrote.
For example, `std::fill`ing an `std::array<std::atomic<T>>` would work as the elements are pre-initialized.
Where did I go wrong in my statement?

On using iterator traits to dictate the behavior of `dash::for_each`:
Obviously, iterator traits specify ... well, traits (properties) of an iterator type.
As ite

[2017-05-12 00:06] fuchsto commented on #401
It's the local-to-global variants only, right? Global-to-local copying has been evaluated and benchmarked in lots of use cases, I would expect it's fine, Local-to-global has just been implemented for a single scenario and didn't get any love, yet.
And, yes, that's annoying ... as you wrote yesterday, it's crucial to document "restricted" implementations like this one

The n-dim ranges and views ca

[2017-05-12 07:27] devreal commented on #401
Yes, you're right. I seem to have missed the `while` loop in the global-to-local overload of `copy_impl` that iterates over the source units.

Sounds good to me :+1:

[2017-05-12 12:46] fmoessbauer commented on #289
Let me give a short explanation, as multiple people asked me about this issue. I'll try to keep it as brief as possible:

**Basics**
- Elements in (all) DASH containers are accessed using a `GlobRef<T>`.
- `dash::Atomic<T>` is a phantom type, just to specialize the `GlobRef` for using different put / get implementations. This is also the key problem, because all accesses to an atomic value have to

[2017-05-12 18:55] devreal commented on #401
Closing this as a duplicate of #346

[2017-05-12 18:55] #401 closed, assigned to fuchsto, rkowalewski

[2017-05-13 19:04] fuchsto commented on #289
We discussed this live already, just for documentation: Yes! Looks correctly right to me, will be robust for STL algos.

*Columbo turning around right before the door*

Sir ... just one more question.

We didn't actually discuss alternatives to the `GlobRef<Atomic>`-phantom type trick.
It still is very ... aaahm ... "clever", in every interpretation of the word.
We still don't have value semantics

[2017-05-13 19:20] fuchsto commented on #390
Prettyfullness aside, using the stream operator for something that's not a stream is ... I'm sweating.

Seriously though, Is the operator precedence of `>>`, `<<` okay?
And you wrote it yourself:

Would be devious then if we would provide the operator ... but not stream semantics ... *pets white persian cat*

*insane laughter, raising steel fist prosthesis, persian cat runs away*

[2017-05-14 09:40] devreal commented on #390
*Sigh*. Cynicism make discussions so much more fun.

I regard these operators as a nice way of capturing the address of the target or source variable without having to poke around C-style pointers. But well, I agree that it's not exactly stream semantics...

Maybe someone has a better idea. Until then, we will have to cope with ugly pointers (and no, I do not regard something like `async.get(T&)`

[2017-05-16 02:12] fuchsto commented on #390
No no! Sorry, I wasn't being cynical. Not intentionally, at least.
Just wanted to put this into formal perspective without resorting to formalese.

In brief: I agree, stream operators are well understood by users and the proposed interface is pretty. But we'd have to follow through. Exceptions from expected behavior are evil, especially when the interface looks so familiar.

So I'd like to resolve

[2017-05-16 02:20] fuchsto commented on #390
... and we actually might want range expressions here:

[code]

... because eliminating temporaries is exactly what they are good at. Just a thought.

[2017-05-16 11:21] fmoessbauer opened #404 "Make build system Apple LLVM compatible"
Currently DASH cannot be compiled on Mac, which uses Apple LLVM version 8.1.0 (clang-802.0.42).

To make it compatible, the following has to be done:

- [x] Remove `fatal_error` in MPI.cmake if no MPI implementation is found and shmem is used
- [ ] Correct implementation of DART-shmem to meet the DART interface (at least minimal features without compiler error)
- [ ] Remove `has_trivial_copy_const

[2017-05-17 11:57] devreal commented on #404
That should be fixed in #403, right?

My feeling is that this is a bigger endeavor, although it would be nice to have, yes.

In general: why do you need `shmem` to support Apple LLVM? Is there no MPI?

[2017-05-17 18:41] fmoessbauer commented on #404
Yes, I guess. But as shmem is not working, I cannot verify this

Yes, unfortunately... Would be something for a student project.

At least a short google search did not point me to any. OpenMPI is no solution as well because it requires a F77 compiler which is not available on mac.

[2017-05-17 22:48] fuchsto commented on #404
*Affectionate look at PowerBook on shelf*

Hm. They have been so useful, back then.

[2017-05-20 01:42] fuchsto commented on #346
@fuerlinger Solving this using view expressions now.

The changes proposed in #347 have been rejected as commented here:
https://github.com/dash-project/dash/pull/347#issuecomment-289970209

In brief: It doesn't work for non-contiguous elements (e.g. cyclic distribution) and it's inefficient.

[2017-05-20 11:59] fuchsto commented on #346
Addressed in #410

New implementation uses view expressions. If find this diff quite convincing:
<https://github.com/dash-project/dash/pull/410/files#diff-c4c2bc3b549c09735c61251a8f8d8ecfR1149>

[2017-05-22 16:17] #191 closed, assigned to fuchsto, fmoessbauer

[2017-05-22 22:12] fuchsto commented on #378
Also addressed in #410

[2017-06-02 18:39] fmoessbauer opened #411 "Improve IteratorRange"
While you are working on PR #410 : Please add support for the following use-cases in `dash::IteratorRange` (should be trivial):

1. Copy and move of iterators

[code]

2. Random access / bracket operator if iterator provides one

[code]

This will make some things so much easier, especially in the upcoming `dash::Directory`.

[2017-06-02 22:25] fuchsto commented on #411
The first use case is already supported in #410, I am fixing some other use cases in the PR right now and hope to get it done tomorrow.

On random access / bracket operators:
The [proposed STL range concept](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n4128.html#orthogonality-of-traversal-and-access-is-not-surfaced-in-the-iterator-concepts)
does not specify a bracket operator (random a

[2017-06-06 20:46] devreal opened #412 "On using dash::Matrix"
I poked around with `dash::Matrix` (or `dash::NArray` to be precise) today and want to report some of my findings. Consider the following code:

[code]

My issues:
1. *Delayed allocation*: why do I have to create a `SizeSpec`, `DistSpec`, and `TeamSpec` if for direct allocation through the c'tor passing the size in each dimension is sufficient? I also noticed that the types (`SizeSpec_t` etc) used

[2017-06-06 21:00] fuchsto commented on #412
Local-to-global and global-to-global copying is only "officially" supported with PR #410 (also see https://github.com/dash-project/dash/issues/346), I will add your use case to a test suite there.

[2017-06-21 11:55] ddiefenthaler opened #415 "MatrixTest.SubViewMatrix3Dim fails with invalid IndexSpace in VM"
When running the testsuite in a local VM (32bit) the test `MatrixTest.SubViewMatrix3Dim` fails for me.
I'll append the output and other useful stuff at the end of this description.
It may also be a compiler bug, as it works when using clang.

It seems to be some kind of Heisenbug as the error does not exist in the debug build.
Also when adding output to the Release-build the error disappears.

Usi

[2017-06-22 09:34] fuchsto commented on #415
On it, thanks for reporting!

[2017-06-24 15:10] fmoessbauer opened #416 "Bulk wait for async copy"
In the [hpccg](https://github.com/dash-project/dash-apps/blob/hpccg-coarray/hpccg/src_dash/exchange_externals.cpp#L69) benchmark the following is used to wait for a bulk of `dash::copy_async` transfers:

[code]

Is this a valid way to wait for the transfers? Otherwise I would have to use (e.g.) a `std::vector<VeryComplicatedType>` to store the futures. But as indicated, then the type of the vector

[2017-06-25 09:12] rkowalewski commented on #416
"Unfortuneately" no, since the callback handle which is stored inside the returned future is not executed before `future.wait()` has been called. But I do not really understand why we cannot use auto.

While I have not tested I would expect something like this to work:
[code]

[2017-06-25 09:18] devreal commented on #416
That is not entirely correct: the default is to use `gptr` and call `dart_flush` in the future on them (see `DASH__ALGORITHM__COPY__USE_FLUSH` at the beginning of `Copy.h`). You can achieve the same with a single flush on the same array/matrix object instead of calling wait on each future. In case request handles are used, the picture is different as the request handles have to be waited on and fr

[2017-06-25 09:54] rkowalewski commented on #416
Ah correct. I looked in the wrong branch (feat-192-nviews). Assuming that it can make it to development soon my explanation will be right. :)

[2017-06-25 17:52] fmoessbauer commented on #416
Ok, thanks for the explanations. @rkowalewski yes, of course the `decltype` stuff should work, but then you have to write the copy statement in fact twice. Anyway, a bulk wait as described by @devreal seems to be the better solution.

So anyway, this should be well documented. IMO the user should not be put in charge of checking if request handles are used. Maybe this is also something for the lau

[2017-06-26 05:02] rkowalewski commented on #416
The user does not need to be aware of request handles but the fact that  `dash::copy_async` returns a future requires to wait at least. Of course, the implementation does not bother.

I agree, however it is not bad style as you can find this pattern in many well-known C++ libraries. Despite the fact that It is not really comfortable.

In this case we have to buffer all the requests inernally in so

[2017-06-26 06:07] devreal commented on #416
No you don't, that's the nice part: just initiate all the transfers and flush the segment(s) afterwards. After all, this is what the `flush` methods on the containers are there for, right? Otherwise, we should get rid of them. There is no need to internally cache them. Of course, if the user only wants to sync specific communications, then the future is the right way to go. I think these are two d

[2017-06-26 17:04] devreal commented on #416
I've been thinking about this a bit more (while having my wisdom teeth removed...). I think there should be two options for the programmer:

1. Wait for specific asynchronous transfers via futures, which should use DART handles. It's important that the dtor of these futures releases the handles if they have not been waited upon (we'd have to add a DART function for that, which could be more robust

[2017-06-27 12:19] devreal commented on #412
Points 1 and 3 have been addressed in #417. Number 4 is not likely to change as checking for initialization adds some overhead.

Regarding point 3: I tried to address this as well but realized that we need to carry a pointer to the underlying global memory instance in each `GlobRef`, which would then be passed to the constructor of `GlobPtr` in `operator&()`. While I like the convenience of `&matr

[2017-06-27 16:05] BenjaProg commented on #416
the call of dash::copy_async should probably look like this?
[code]

[2017-07-06 11:41] devreal opened #418 "MatrixRef::lbegin() fails to compile"
Consider the following code snippet:

[code]
which gives the following compiler error:
[code]

As a workaround, I can probably use `matrix.lbegin()` for now.

[2017-07-18 14:04] praveen-velliengiri opened #424 "Pattern and *Spec Concepts Documentation"
Hi
I don't know whether posting this as issue is correct or not but once my doubts are cleared I will close this issue :)
I'm doing similar kind of project for my Google Summer of Code program,at STE||AR Group.You can find it [here](https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas#distributed-component-placement).
It is very much similar to Chapel domain Maps. I have recently find

[2017-07-28 13:30] devreal opened #425 "Uneven distribution in BlockPattern: empty units"
Consider the following code snippet:

[code]

I am observing a strange distribution of the `(10, 10)` two-dimensional array:

5 units:
[code]
5 units:
[code]
--> Notice the unit with 0 elements. I would expect a distribution of `2,2,2,2,1,1` to avoid empty units.

10 units:
[code]

Also notice the load imbalance with 4 units:
[code]
a distribution of `3,3,2,2` seems to be more suitable, even thoug

[2017-07-28 14:13] mmue opened #426 "std::sort() for dash::Array fails"
Compiling a small test program for sorting a dash::Array with std::sort fails.

Test program:

[code]

Error message:
[code]

[2017-07-28 16:58] fmoessbauer commented on #426
After a quick glance the problem seems to be the move sematics of `GlobRef`. `std::swap` tries to use move semantics whenever possible. However this is not well-defined for proxy references. I recommend to disable them completely (and hope that the copy ellision avoids the additional overhead).

Unfortunately there are some problems in the type deductions so that the code breaks if disabling them.

[2017-07-28 17:54] fuerlinger commented on #425
This is by design. Even in 1D, `dash::BLOCKED` means: determine the blocksize as `ceil(nelem/nunits)` and distribute a block to each unit, except for the last one which gets the rest (which might be zero). Doing it this way is in line with what is used in other data distribution specifications. In OpenMP a `static` loop scheduling clause does the same type  of partitioning of loop iterations into

[2017-07-28 19:06] fuchsto commented on #426
Good catch, thanks for reporting and your hints. I'm fully blocked next week, will fix it and report back on Friday.

[2017-07-28 19:10] fuchsto commented on #425
What @fuerlinger said.
The conceptual problem with "dash::BALANCED" is that it would have to be supported by any pattern type. This is not possible *with the current spec of the Pattern concept* and will be addressed in ... 2-3 weeks in refined Pattern concepts.

[2017-08-07 15:56] devreal commented on #425
After I lost yet another large-scale job to this (due to a `dash::exception::OutOfRange` exception when checking the coordinates of the first local row, duh!) I have to comment on this again. I first thought that I can live with it, but:

1. From a usability point of view this is catastrophic. I think it is safe to assume that the user will choose a problem size suitable for the number of units he

[2017-08-09 10:42] devreal opened #430 "Feature Request: Provide DASH compiler wrapper"
Building and linking DASH applications can be challenging for novice users as they have to provide the correct paths and libraries (in correct order) to the compiler and linker. On top of that, the libraries to link may vary based on the platform and configuration. Having simple `dashCC`/`dashcxx`/`dashc++` wrapper (shell scripts) would make lives easier.

This is just to keep track of it, I haven

[2017-08-12 10:39] ddiefenthaler commented on #418
I'm surprised this one is left unanswered so long.

I tried to look into this yesterday and wanted to report my findings.
In short this `TODO` has to be done: [MatrixRef.h#L47-L49](https://github.com/dash-project/dash/blob/development/dash/include/dash/matrix/MatrixRef.h#L47-L49)

To check this use case in a unit test it is possible to extend the existing case `MatrixTest.MatrixLBegin`:
[code]

Fi

[2017-08-12 11:27] ddiefenthaler commented on #418
I spoke to soon, there is PR #428 which is handling at this issue.
Perhaps my report is helpful anyways...

[2017-08-14 16:38] BenjaProg opened #432 "dash::Array - not enough space allocated/accessible"
Hey DASH Team!
I noticed that dash::Array has a problem with large array sizes!
It either leads to an error when trying to allocate or it seems to successfully allocate and on element access you get an segfault!

Since i got the problem in winnow (one of my cowichan implementations) I didn't write a dedicated test program for time reasons.
I give my best to describe it thoroughly and wrote some sc

[2017-08-15 07:04] devreal commented on #432
I will look into this. Three questions first:

1) Which MPI implementation + version are you using (I assume it's Open MPI but I don't trust my glass ball that much)
2) Which system are you running on? Is this your 32bit VM or a 64bit system?
3) Are shared memory windows enabled? I've had issues with large allocations of shared memory windows in the past so it might be worth trying without them.

[2017-08-15 09:28] devreal commented on #432
OK, so this was one of those things...

Please have a look at `bug-432-largearray` and PR #433. I was able to run your tests on one process on our cluster. There seems to another issue if I go to 4 processes, though.

Please let me know if that helps.

[2017-08-15 12:42] BenjaProg commented on #432
I was using `Intel(R) MPI Library for Linux* OS, Version 2017 Update 2 Build 20170125 (id: 16752)`
[That's the processor](http://ark.intel.com/products/64586/Intel-Xeon-Processor-E5-2630L-15M-Cache-2_00-GHz-7_20-GTs-Intel-QPI) of the university machine.
That's the Linux Distribution and Version: `Linux version 3.10.0-327.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red

[2017-08-15 14:54] ddiefenthaler commented on #426
There is more to this issue than the compiler errors.
The `std::sort` in this program also leads to MPI-errors.

Further discussion took place over a seperate channel (slack).
This are the results:

- Found through debugging by @devreal:

The in-place sorting of the STL is not threadsafe for the same/overlapping ranges. Due to this fact it cannot be called from multiple threads/units at once. In a

[2017-08-15 16:40] #432 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal, BenjaProg

[2017-08-15 17:03] ddiefenthaler commented on #432
Is this issue really resolved?
Otherwise reopen please.

[2017-08-16 08:55] dhinf opened #435 "dart_wait needs double pointer for handle"
The function dart_wait only allows dart_handle_t as parameter. This works for freeing the memory but not for setting handle to NULL. Therefor we would need dart_handle_t * . As user i would expect that my handle becomes NULL after freeing memory.
To fix this we have to change the dart interface and all calling functions (dart and dash).

In my opinion it is a mistake in the interface and should be

[2017-08-16 09:29] devreal commented on #435
You are right, I've been thinking about this as well. I wanted to merge #419 today so we can add this there before the merge (and proper review, of course)

[2017-08-16 20:27] #426 closed, assigned to fmoessbauer

[2017-08-18 06:47] devreal commented on #435
Fixed through #419

[2017-08-18 06:47] #435 closed, assigned to devreal

[2017-08-18 09:07] devreal opened #436 "RFC: Advanced global memory access patterns"
All,

I have seen the issue of strided global memory access popping up from time to time and @dhinf has started implementing something along those lines for his `HaloMatrix` implementation (for the DART part, see https://github.com/dash-project/dash/blob/feat-halo/dart-impl/mpi/src/dart_communication.c#L490). In general, both DASH and DART currently only support copying to and from contiguous memo

[2017-08-18 15:31] devreal commented on #436
For those interested, there is a mockup for proposal 3: https://github.com/dash-project/dash/compare/dart-feat-strides

Some notes:
- Basic DART datatypes must be constants since they are used as template parameter and in `constexpr` statements. Hence, my initial approach to model DART datatypes as pointers to opaque variables (as seen in Open MPI) won't work. The current approach combines this, a

[2017-08-22 18:38] fuchsto commented on #436
Proposal 3 looks good to me.
The interface  `dart_ret_t dart_type_create_indexed(bt, blocklens[], offsets[], nt);` is pretty much what @dhinf and I discussed as a basic approach because view index sets would nicely support it on the DASH side, something like:

[code]

Do we already have a use case? I could use it to check if additional view features are needed for this.

[2017-09-14 23:14] jeffhammond opened #437 "error: expression must have a constant value w/ Intel 18"
I tried to compile DASH with Intel 18, which was released a few days ago.  I see some discussion of this topic in https://github.com/dash-project/dash/issues/231.  ICC is associated with the system default of GCC 5.4.1, which should be new enough to support C++11 features.
[code]

[code]

[2017-09-16 19:55] fuchsto commented on #437
@jeffhammond Thank you for reporting, it's the first time I see a problem in the `dash::ce` implementation.
I will put icc-18 on one of our machines and try to reproduce this.
You use `-std=c++17` which should be okay in principle, but did you also try `-std=c++11` or `-std=c++14`?

[2017-09-17 12:53] rkowalewski commented on #437
Pull request #438 fixes this issue.

[Update]: This issue is not specific to icc-18 but manifests in older versions (tested with icc-17) as well.

[2017-09-18 13:53] dhinf opened #439 "dash::acumulate doesn't work for doubles"
dash::accumulate uses size_t as element type for dash::Array and "auto result = 0".
Both convert the double values to an int.

Fix is on the way.

[2017-09-18 14:07] rkowalewski commented on #437
Pull request is merged.

[2017-09-18 14:07] #437 closed, assigned to fuchsto, rkowalewski

[2017-09-20 03:19] fuchsto commented on #415
This seems to be caused by a bug in a pattern, will fix it in a separate issue and retest this defect.

[2017-09-20 17:56] BenjaProg opened #441 "Loop optimization breaks something?"
Hi all!
I think i have found a bug related to loop optimization...
A segmentation fault occurs in  [outer](https://github.com/dash-project/dash-apps/blob/master/cowichan/outer/outer.h) when the following conditions are met:

- input size with 40000
- number of units between 1-5
- program compiled in release mode (not debug mode)
- using pointer logic in both locations: [line 59 instead 57](https:/

[2017-09-20 17:56] BenjaProg commented on #441
still editing....

[2017-09-20 19:46] devreal commented on #441
Which MPI implementation do you use? Can you try to compile in mode `RelWithDebInfo` and see if the Segfault occurs there as well? If so please post a stack trace. Otherwise, gdb can still tell you the address at which the segfault occurs, which would be interesting as well.

This might be related to #89 (alignment of memory allocated through MPI). In case you're running on an older version of Ope

[2017-09-20 21:30] BenjaProg commented on #441
Were using impi/2017.2.174 and impi/2018.0.128.

I could compile DASH in Debung mode and found a way to compile my application with debug symbols as well.

Note: Default debug script in DASH isn't compiling at the moment and `RelWithDebInfo` mode isn't compiling at all for me with intel compiler.
On this machine only OpenMPI 1.10.6 is installed and i don't know how to install a new one and (!) the

[2017-09-21 13:56] rkowalewski commented on #441
I have verified your example and the problem indeed manifests only with icc. However, compiling the application simply with `-O1` does not lead to a segmentation fault, suggesting that there may be some alignment issues with vectorization. So I played a little bit and found that simply changing [line 47](https://github.com/dash-project/dash-apps/blob/abd0e0ea91e7d28d6c6550ddeed60f5d8fca0ef8/cowich

[2017-09-21 14:02] devreal commented on #441
Cautious note here: `auto j = 0` most certainly makes `j` an `int`, irrespective of the other statements in the loop header. It's probably a good idea to explicitly make `j` long, either by using `0L` or using `index_type`/`size_t` as type.

[2017-09-21 14:12] rkowalewski commented on #441
Right, I agree with @devreal. There are several flavors how to deal with that. I would use `auto`  for initializing `gRow` and `decltype(gRow) j = 0` in the for loop.

[2017-09-21 14:25] rkowalewski commented on #441
I have uploaded a possible fix with minor changes.

[2017-09-21 14:42] dhinf commented on #441
since c++11 auto i = 0 should be long long int
http://en.cppreference.com/w/cpp/language/integer_literal

[2017-09-21 14:46] devreal commented on #441
Where do you see that? Above the table is the following statement:

I think what is new in C++11 is that `long long int` is now an option but it's not the default. And `0` fits well into `int` :)

[2017-09-21 14:51] dhinf commented on #441
0 is decimal base and no suffix -> long long int

[2017-09-21 14:56] devreal commented on #441
The order of types checked for the value to fit is `int` -> `long int` -> `long long int` (the last is included since C++11). So, there is no reason the compiler should assume `0` to be `long long int` as it fits well into `int`.

[2017-09-21 15:34] BenjaProg commented on #441
Big **Thanks** @rkowalewski and @devreal !!!!
i can confirm it's working :-) clean up and speed comparison is incoming!

[2017-09-21 15:36] devreal commented on #441
Kudos to @rkowalewski for figuring out it's related to the variable types.

[2017-09-21 18:51] BenjaProg commented on #441
Comparison between the old implementation and the new one with pointers.
measured with the following matrix sizes: 100, 400, 4000 and 40000.
[tests.zip](https://github.com/dash-project/dash/files/1322388/tests.zip)

[2017-09-21 18:53] #441 closed, assigned to fuchsto, fuerlinger, fmoessbauer, devreal, BenjaProg

[2017-09-30 11:34] fmoessbauer commented on #381
Already fixed in PR #326

[2017-09-30 11:34] #381 closed, assigned to dhinf

[2017-09-30 11:40] fmoessbauer commented on #404
Support is dropped, as there are not apple HPC systems which are our primary target.

[2017-09-30 11:40] #404 closed, assigned to nobody

[2017-10-10 09:10] devreal commented on #430
Closed by #431

[2017-10-10 09:10] #430 closed, assigned to nobody

[2017-10-12 11:59] rkowalewski commented on #390
At the project meeting we have decided to omit the conversion of `dash::GlobAsyncRef<T>` to `T`. This should clarify the confusion of this issue while preserving a well-defined and consistent interface.

[2017-10-12 12:09] #307 closed, assigned to fuchsto

[2017-10-12 12:18] devreal commented on #63
Fixed.

[2017-10-12 12:18] #63 closed, assigned to fuchsto, fmoessbauer, devreal

[2017-10-12 12:18] devreal commented on #29
Now using 5.5.1

[2017-10-12 12:18] #29 closed, assigned to fuchsto

[2017-10-16 11:23] knuedd opened #449 "dash::copy not working between containers in different teams"
dash::copy (both, in global-to-global and in global-to-local mode) segfaults when one wants to copy between containers that have different teams associated to them.

The example where you can check this can be found in dash-apps --> multigrid/multigrid3d_elastic.cpp. This currently still needs the feat-halo branch.

... we talked about this at the project meeting last week. If you need more detail

[2017-10-16 11:42] devreal commented on #449
Andreas,

Thanks for opening a ticket, that helps tracking the issue. It's still not clear what is going wrong here...
Before starting to debug this, do you happen to have a stack trace at hand?

[2017-10-16 12:37] knuedd commented on #449
[code]

[2017-10-16 15:31] devreal commented on #449
This appears to be a bug somewhere in the pattern code. Here is what I have so far:

`dash::copy` first assumes that the copy is all local because the range returned by `dash::local_index_range(in_first, in_last)` has the length of the `total_copy_elem`. However, the call to `in_first.local()` returns `nullptr` because `_pattern->local(idx)` claims that the values are located on another unit.

I'm

[2017-10-16 18:20] devreal commented on #412
Nothing to be done.

[2017-10-16 18:20] #412 closed, assigned to fuchsto, rkowalewski, fmoessbauer

[2017-10-16 18:23] devreal commented on #366
Moved to https://github.com/dash-project/nasty-MPI/issues/2

[2017-10-16 18:23] #366 closed, assigned to rkowalewski, devreal

[2017-10-19 17:21] #365 closed, assigned to fuchsto, devreal

[2017-10-26 08:17] devreal opened #454 "Adventures in copying a row out of a Matrix"
I've been trying to copy a row out of a matrix. The good news: it works. The bad news: it works in exactly one use-case and fails for all others.

*What works*
[code]
Each unit has the first global row in the buffer (copied from unit 0).

*What does not work*

Any other data distribution either yields wrong results or throws an exception, e.g.,

[code]
yields only elements from unit 0 (specificall

[2017-11-02 22:22] fuchsto commented on #449
@devreal Aye!

[2017-11-08 13:28] devreal opened #459 "Fix constness of containers"
While working on #458 I realized that access to DASH containers is not const-correct, i.e., a function can alter the elements of a container that's passed as const reference. Hence, the following example compiles fine although it shouldn't:

[code]

The reason is that `operator[](size_t) const` returns a `GlobRef<const T>` where imo that should be a `const GlobRef<T>`. `GlobRef` (and it's speciali

[2017-11-09 05:27] fuchsto commented on #459
Right, but on global references and const'ness, see https://github.com/dash-project/dash/pull/458#discussion_r149868238

[2017-11-17 12:08] stiefn opened #461 "DART calls influencing each other [MPICH 3.2]"
I have some problems with DART calls. Here is a minimum example that results in the last DART call to be non-blocking on Unit 1, but blocking on Unit 0 which makes the program to never terminate:

[code]

Each of the calls run perfectly fine on their own, but in combination I am getting this weird behaviour.
Commenting out the second DART call also results in the following error for the third DART

[2017-11-17 15:17] devreal commented on #461
Mhh, that code looks fishy in multiple places (for example: why do `send1_count` and `send3_count` have  different values on both processes?). Have you tried doing the same thing in MPI without DART in between? (the collectives in DART are mostly just forwarding things to the MPI collectives)

I suggest you look at the MPI standard and if you have a correct MPI example that fails if ported to DART

[2017-11-17 16:29] stiefn commented on #461
I have actually just created a minimum example from the values my real code generates. send1_count and send3_count have different values because the processes have to exchange different amoutns of data (hence the alltoall\*v\*). I will try doing the same thing in MPI, but if I get the same results, can I assume my MPI version is broken?

[2017-11-18 01:00] devreal commented on #461
I apologize, it was late last night. You're right, for ~allgatherv~ `alltoallv` it makes sense. However, I cannot find the implementation of `dart_alltoallv`. Is that implemented in a private branch?

Also, are you running on a 32-bit or 64-bit machine? In case of the latter, the allgatherv is illegal because `sizeof(int) != sizeof(std::size_t)`. This might not be the reason for why the processes

[2017-11-18 13:18] stiefn commented on #461
I just checked the commit log and it seems I have implemented both `dart_alltoall` and `dart_alltoallv` myself on my branch. That is a bit embarrassing as I don't even remember it at all...
Anyway, I just had a quick look at the code and found a possible memory leak in `dart_alltoallv`, but i don't think it is related to my problem at all. Couldn't find any other problems right now, but will check

[2017-11-18 13:23] stiefn commented on #461
As for the `alltoallv` being illegal: The processes exchange `int`s and only the counts and displacements are `std::size_t`. `dart_alltoallv` converts those size_t arrays to int arrays internally, so that should not be a problem. I think when I created the code, I took `dart_allgatherv` as an example.

[2017-11-18 15:16] devreal commented on #461
I meant this line:

[code]

`send2` is an int (4 Byte) but you are treating it as size_t (potentially 8 Byte).

Anyway, I looked at the implementation of `dart_alltoallv` and couldn't find anything immediately suspicious. I get an error about truncated messages from Open MPI 3.0.0, even without the allgather in between. I converted your example to MPI and the error does not manifest there. It migh

[2017-11-18 18:08] stiefn commented on #461
Ah, sorry, yes. That was a mistake. The original code handles this correctly though.

[2017-11-18 18:23] stiefn commented on #461
The values the first `dart_alltoallv` call returns should be correct. I just added some random data to the examples to make sure and they are indeed correct.

[2017-11-21 10:58] stiefn commented on #461
[code]

Seems like these lines are causing the problem. However, I don't get how this affects the second `dart_alltoallv` call...

[2017-11-21 12:01] stiefn commented on #461
because the first `dart_alltoallv` call is in_place on unit 1, but not on unit 0, the call is blocking on unit 0 and then couples with the second `dart_alltoallv` call on unit 1.

What is the reason for the `NULL == sendbuf`? Can i safely remove it?

[2017-11-21 13:17] devreal commented on #461
MPI 3.1 standard, p. 169:

the argument sendbuf at *all* processes.

This is an optimization that is sensible and we should keep that option. Unfortunately, the developer who added this neat feature forgot to document it. Patches are welcome ;) (please open a pull request if you want to add the documentation) A debug message that in-place is being used might be helpful as well.

In your case, I su

[2017-11-21 13:31] stiefn commented on #461
Thanks! My understanding is that in_place is used when `sendbuf == recvbuf`, so I think it should be safe to just remove the `NULL == sendbuf` part. This should probably be done for `dart_allgatherv` in the main branch as well.

[2017-11-21 13:36] devreal commented on #461
Please check whether anyone actually calls collectives with `NULL == sendbuf` before you remove this feature. I'm fine with changing the convention to `sendbuf == recvbuf` triggering the use of `MPI_IN_PLACE`. It just has to be documented :)

[2017-11-21 14:00] stiefn commented on #461
I am actually not sure how to do that because if it is used depends on the data that is passed to the functions. And that is kind of dependent on the user.

For \*v\* collectives, in_place only makes sense, if both sendbuf AND recvbuf are NULL and that is already covered with the `sendbuf== recvbuf` condition

[2017-11-21 23:57] devreal commented on #461
Again, the MPI standard states:

the argument sendbuf at all processes. In such a case, sendcount and sendtype are ignored.
The data to be sent is taken from the recvbuf and replaced by the received data. Data sent
and received must have the same type map as specified by recvcount and recvtype.

So, even for `v` variants it makes sense to use it. I think if the user provides `sendbuf == recvbuf` i

[2017-11-23 13:28] #436 closed, assigned to fuchsto, fuerlinger, rkowalewski, tuxamito, fmoessbauer, devreal, dhinf, knuedd

[2017-11-23 17:06] stiefn commented on #461
Yes, in_place also makes sense here. Just not the `sendbuf==NULL` part which is why I don't think that checking whether this is used somewhere is actually needed.

How would you go about making things clear in the interface? Isn't it enough to state it in the doc comments of the function?

[2017-11-24 00:40] devreal commented on #461
You're right. And passing `sendbuf==NULL` can be perfectly reasonable if there is nothing to send.

Yes, it should be added to the documentation. Something along the lines of

That's for `dart_alltoallv`, it should be adapted for the other relevant collectives.

[2017-12-12 10:17] devreal opened #464 "NArray: How to do horizontal blocking?"
I am trying to block the elements of a two-dimensional `dash::NArray` cyclic column-wise, i.e., have consecutive columns of a user-defined width. My attempt was to use `NONE, BLOCKCYCLIC(N)` but that won't work:

[code]

Gives me: 100 local elements on unit 0 and 0 local elements on unit 1.If I swap `dash::NONE` and `dash::BLOCKCYCLIC(block_size)` the distribution is as expected but not what I'm a

[2017-12-12 12:31] devreal commented on #464
Never mind, I forgot about the obvious: creating a suitable TeamSpec...

[2017-12-12 12:31] #464 closed, assigned to fuchsto

[2017-12-13 14:43] bertwesarg opened #466 "Intel 2018 can't compile halo-stencil example"
With Intel 2018.1.163 i get these errors for `ex.11.halo-stencil`:

[code]
[code]

Any clues how to fix this?

[2017-12-14 12:59] #466 closed, assigned to dhinf

[2017-12-18 03:33] minerric opened #469 "Error: Prune mode is incompatible with -txindex."
thanks

[2017-12-18 04:10] devreal commented on #469
I'm pretty sure we cannot help with this as this is not the digital currency (https://www.dash.org/) but a PGAS framework (http://www.dash-project.org/).

[2017-12-18 04:10] #469 closed, assigned to nobody

[2017-12-25 07:18] devreal opened #472 "Build fails with RelWithDebInfo"
Standard configuration, using `-DCMAKE_BUILD_TYPE=RelWithDebInfo`:

[code]

[2017-12-25 09:45] #472 closed, assigned to nobody

[2018-01-05 14:35] fmoessbauer opened #474 "cblas_* on arch linux not found"
**Issued via support@dash-project.org**

I'm trying to build DASH in Arch Linux with the regular cblas package installed.

I get the following error when compiling:

libdash-mpi.a(SUMMA.cc.o): In function `void dash::internal::mmult_local<float>(float const*, float const*, float*, long long, long long, long long, dash::MemArrange)':
SUMMA.cc:(.text+0x32): undefined reference to `cblas_sgemm'
libda

[2018-01-05 17:49] #474 closed, assigned to fmoessbauer

[2018-01-10 02:26] fuchsto commented on #454
Whussa. I don't think it's a problem with `dash::Matrix`, this looks like an issue in the block pattern.
Using `dash::SeqTilePattern` should work, for example. I copy from/to matrix objects a lot, and so do other unit tests like those for SUMMA and algorithm/copy.

[2018-01-12 04:28] devreal opened #479 "Container: Default initialization of elements"
Consider the following code snippet:

[code]

Point to make: Contrary to the STL, elements in DASH container are not initialized with their default value. Now, there is a good argument for this: performance! Many times users might want to skip implicit initialization because they perform the initialization themselves, e.g., using `dash::fill`.

However, since we aim to be compatible with STL behav

[2018-01-12 07:55] BenjaProg commented on #479
Hey here some input from my side:
Wouldn't it be failsafer for new developer if it behaves like in STL?
I suggest offering a constructor without initialization for performance aware programmers.
Is this a option? Or am I fooling myself anywhere?

[2018-01-16 04:03] devreal commented on #346
@fuchsto When can we expect #410 to land? Local-to-global clearly is broken (or incomplete, at least) in `development` and I'd consider this a road-block for 0.3.0. So either we fix it in `development` or wait for view expressions to get stable...

[2018-01-21 12:32] devreal opened #480 "Add documentation for HaloMatrix"
#452 was merged without proper code documentation so this is to track the progress on this.

[2018-01-22 07:54] rkowalewski opened #481 "CMake cannot find local installation of GoogleTest"
#477 added GoogleTest as a submodule. However, it does not work if I have a local installation of GoogleTest. The current solution suffers from two issues:

- If I pass both `GEST_LIBRARY_PATH` and `GEST_INCLUDE_PATH`, `GTEST_FOUND` is not set to true which in turn leads to skip tests in the build process.
- I can set both environment variables and CMake seems not to really check if it is a valid

[2018-01-23 00:14] devreal commented on #481
See #482

That should also be fixed. I guess we could also test for valid versions. Patches are welcome :)

Cmake seems to ship with `FindGTest` starting with 3.0.2 (at least that is the earliest version I can find). We would bind ourselves to CMake 3, which in turns means some people on some systems (including me) have to compile CMake first...

[2018-01-23 08:40] rkowalewski commented on #481
Fixed by #482

[2018-01-23 08:40] #481 closed, assigned to fmoessbauer, devreal

[2018-01-29 13:06] bertwesarg opened #483 "Installing `dash-test-mpi` conflicts with `/bin/dash` shell"
The `dash-test-mpi` binary is installed into a `dash/test/mpi` subdirectory of the `bin` directory, though if one specifies `/bin` as this directory, it may overwrite/fail because of the existing `/bin/dash` shell. Having subdirectories in bin-directories is not very common any way. I think putting the binary into a `dash` subdirectory of `libexec` fits best.

[2018-01-30 00:50] devreal commented on #483
The same problem seems to exist for the `examples` binaries. I wonder whether it makes sense to install them at all. If you want to run tests and examples you can run them from the build directory, right? Both examples and the test suite are not required for using DASH in an application...

[2018-02-01 09:36] rkowalewski commented on #483
This is not an issue at all. This problem is something which may happen to any application and it is the user's responsibility to prevent these conflicts.

[2018-02-08 08:50] knuedd opened #487 "Halo ignores some outside borders with Cycle::FIXED"
When I add a HaloMatrixWrapper to a 3D NArray with `Cycle::FIXED` then it ignores some outside halo areas in the `set_fixed_halos()` call. One can access those halo areas with no trouble via `halo_element_at()`, though.

You can reproduce and see this in dash-apps/multigrid/ when running `mpirun -n 4 multigrid3d -t`

Try adding the following lines of code to the end of the HaloMatrixWrapper constr

[2018-02-09 10:08] devreal opened #488 "Investigate deprecated CMake policies"
I just built DASH using CMake 3.9 and saw a bunch warnings due to enforced `OLD` policies:

[code]

1. `CMP0007`: `OLD` suppresses counting empty list elements (see https://cmake.org/cmake/help/v3.6/policy/CMP0007.html)
2. `CMP0003`: `OLD` splits absolute paths passed to `target_link_libraries` into `-L` and `-l` parts instead of passing the absolute path (see http://docs.w3cub.com/cmake~3.9/polic

[2018-02-09 10:12] fmoessbauer commented on #488
`CMP0058` is required for the compatibility of ninja and `External Project`, as otherwise the byproducts are not detected correctly.

[2018-02-09 13:43] devreal commented on #488
@fmoessbauer Yes, I agree. Any idea on why the other policies have been put in place originally?

[2018-02-11 00:10] siebeniris opened #489 "make error, cannot find the dash libs."
Makefile:
MPICXX = mpicxx

DASH_ROOT = $(HOME)/opt

DASH_LIB = -L$(HOME)/opt/lib -libdash-mpi -libdart-mpi -libdart-base
DASH_INC = -I$(HOME)/opt/include

all: hello

hello : hello.cc
		$(MPICXX) -o hello $(DASH_INC) hello.cc $(DASH_LIB)

clean :
	    rm -f *~
	    rm -f ./hello

make ===>

mpicxx -o hello -I/home/xx/opt/include hello.cc -L/home/xx/opt/lib -libdash-mpi -libdart-mpi -libdart-base
/

[2018-02-11 09:25] devreal commented on #489
Two things:
1) Can you please verify that the libraries are located in `~/opt/lib`?
2) Instead of
[code]
the link line should look like:
[code]
(notice the use of `-ldash-mpi` instead of `-libdash-mpi`)

DASH also comes with a compiler wrapper, called `dash-mpicxx`, which should set all the paths and link all required libraries.

[2018-02-11 23:20] siebeniris commented on #489
Hi @devreal , thanks for replying.
Yeah , the libraries are in ~/opt/lib:
[code]
I changed to ldash-mpi instead of -libdash-mpi.
I think it is working, but it could not find the libdash.h , which I used in the example 1 from the tutorial [http://www.dash-project.org/tutorial/](url):
[code]
However, libdash.h is in ~/opt/include.

[2018-02-12 08:34] devreal commented on #489
Try adding `-I$HOME/opt/include` to your command line (instead of `-I/home/xx/include`).

I guess we need to adjust our examples...

[2018-02-12 15:52] siebeniris commented on #489
@devreal  thanks !
Unfortunately , there is another error... And I don't really understand this error..
 make
[code]

[2018-02-12 16:20] devreal commented on #489
The error indicates that DASH was built with support for `hwloc` enabled (you probably have it installed on your system). When you link your application you also have to link `libhwloc`, e.g., by adding `-lhwloc`. I strongly suggest you use `dash-mpicxx` as it takes care of all of the third-party libraries (there might also be `libnuma` missing, just in case...) You can inspect the required librar

[2018-02-14 08:51] #416 closed, assigned to fuchsto, rkowalewski, devreal

[2018-02-15 15:00] rkowalewski opened #491 "SUMMA Algorithm does not successfully run anymore"
After merging #451 the SUMMATest does not successfully run anymore. It seems that there is some memory corruption. See the attached stack trace.
I built with clang 5.0.1. Tracing and debug flags are enabled. Unfortunately, I had to cut a large portion of the trace file. Nevertheless, the interesting part is included.

Steps to reproduce: Start `SUMMATest.SeqTilePatternMatrix` with at least 2 units

[2018-02-16 18:04] devreal commented on #491
I cannot reproduce this locally, both using Clang and GCC with Open MPI. I cannot make much of the stack trace. Can you post a stack trace acquired using GDB? I also threw Valgrind at it and it didn't report any oddities.

[2018-02-17 14:20] rkowalewski commented on #491
I have tested with clang, openmpi and the following build file. The most important thing is that shared memory windows are disabled. And make sure that the SUMMATest is actually executed, i.e., see the `SKIP_TEST_IF_NO_SUMMA` macro. @pascalj can reproduce it as well.

[code]

[2018-02-17 14:24] rkowalewski commented on #491
GDB backtrace:
[code]

[2018-02-17 16:46] devreal commented on #491
Still no luck. I'm pretty certain that the SUMMATest runs, though (takes approx. 15s).

What version of Open MPI are you using? (it looks like it's a system installation so it might be hopelessly out of date...) Single or multiple node? What does Valgrind report?

[2018-03-01 11:48] ddiefenthaler commented on #439
Fixed by PR #440

[2018-03-01 11:48] #439 closed, assigned to dhinf

[2018-03-01 12:03] #489 closed, assigned to nobody

[2018-03-02 07:17] dhinf commented on #487
Fixed in the feat-halo branch

[2018-03-02 07:18] dhinf commented on #480
in progress -> feat-halo branch

[2018-03-07 10:51] devreal opened #501 "CoArrayTest does not compiler on Intel 17.0x"
Trying to compile the DASH `CoarrayTest `, the Intel compiler 17.0.4 chokes:

[code]

[2018-03-07 13:31] devreal commented on #246
Is anyone working on this? @tuxamito ran into this problem today. @rkowalewski is that part of your upcoming PR?

[2018-03-07 14:56] devreal commented on #491
Just ran on our Linux cluster, seeing the following OOB exception when running with 2 units:

[code]

Fun fact: it works with 4 and 16 processes but not with 6 or 8. I suspect this is a bug in the data distribution or SUMMA (as it works in cases in which there is an equal number of processes in both dimensions). Not gonna touch that...

[2018-03-07 16:53] fmoessbauer commented on #501
I'm going to have a look at this next week. From the error message I guess some const is missing.

[2018-03-08 12:49] tuxamito commented on #246
I totally need this feature to be able to access arrays pointed by GlobPtr. Accessing the elements one by one is terribly slow :(

[2018-03-11 12:03] fmoessbauer commented on #501
This is due to a bug in icc 17.0x, where the conversion from `"int [2]" to "const std::__array_traits<int, 2UL>::_Type"` is not `constexpr`. As this is necessary for splicing the type `int[2][]`, there is no easy workaround. In icc 18.x this works correctly.

The only thing we can do is to disable this coarray constructor in icc 17. I prefer to keep this as a known limitation. Probably we will cha

[2018-03-14 09:51] dhinf opened #505 "Can't build dash with clang 5.0.1"
CMake finds the compiler but don't want to build anything:
- cmake version 3.10.2
- Arch linux
- clean checkout development
- ./build.minimal.sh

Output below:
-- The C compiler identification is Clang 5.0.1
-- The CXX compiler identification is Clang 5.0.1
-- Check for working C compiler: /usr/bin/clang
-- Check for working C compiler: /usr/bin/clang -- works
-- Detecting C compiler ABI info
-- D

[2018-03-14 14:44] pascalj commented on #505
I cannot reproduce this error but I get some similar `NOTFOUND` paths on CMake 3.10.2, e.g. for `PLASMA_PREFIX`. My suspicion is that it has something to do with a changed `find_path` behavior. Previously it didn't set the variable to `PATH_PREFIX-NOTFOUND` but now (3.10) it does.

[2018-03-14 15:02] dhinf commented on #505
The thing is, no source files are copied to "dash/CMakeFiles/dash-mpi.dir/src".

[2018-03-14 15:14] dhinf commented on #505
works fine, thanks

[2018-03-14 15:14] pascalj commented on #505
It seems culprit is `find_package(OpenMP)`. which sets the value of `OpenMP_CXX_FLAGS` to `NOTFOUND`. So installing libomp and/or using #506 should fix the problem. I'm not sure whether this is actually a bug in the OpenMP Cmake module...

[2018-03-15 13:52] #505 closed, assigned to nobody

[2018-03-16 10:13] ddiefenthaler opened #507 "Changing the pattern concept"
While implementing the pattern visualizer I stumbled across the fact that it would be useful to know how many tiles one unit holds. This works for the calling unit, as there is the function `local_size()`. But there is know way to call this function for different units.

A workaround for this is to use `local_extents(unit u)`. By multiplying those extents up this yields the searched size for norma

[2018-03-16 10:14] ddiefenthaler opened #508 "Mismatch of pattern concept and implementation"
In some patterns the pattern concept is only implemented very shallow.
For example the `ShiftTilePattern` even differs in the interface for the 1-dim and n-dim variants.

Here is an incomplete list:
- `index global(unit u, index li)` isn't implemented for most patterns
- `size[d] local_extents(unit u)` isn't implemented for ShiftTilePattern
- `size[d] local_extents()` is allowed while not listed i

[2018-03-16 12:15] bertwesarg commented on #483
And the reason to create directories in the `bin/` directory to begin with is as follows? Honestly, executables which you want to hide from the user (i.e., not in `bin/') should either be in `LIBEXECDIR` or under 'share'.

[2018-03-16 12:21] fmoessbauer commented on #483
@bertwesarg: I missed that point, reopen the issue. IMO only lib dash should be installed and not the examples or tests.

[2018-03-17 11:49] fmoessbauer opened #510 "dash::equal does not work for non-trivial ranges"
The current implementation of `dash::equal` is both highly inefficient, as well as erroneous.

As the implementation internally operates on the local parts of the first range, the distribution of the second is not honored.

Consider the following example, where the `|` denote the "borders" of a unit. Logically both ranges are equal.
[code]
In this case the current implementation even segfaults, as

[2018-03-17 19:49] devreal opened #511 "Container-compatibility of DASH types"
A thing I noticed (again) while looking at #504: All of the DASH reference types are `container_compatible`, i.e., `dash::GlobIter`, `dash::GlobRef`, and `dash::GlobPtr`. However, internally all but `dash::GlobRef` contain local pointers so they should definitely not used in distributed data structures. The culprit is the pointer to the global memory manager and in the case of `GlobIter` to the pa

[2018-03-17 20:21] devreal commented on #501
OK, fine with me. Can you put a line into the `CHANGELOG`?

[2018-03-19 02:25] BenjaProg opened #513 "DASH::Copy hangs in a global to local scenario with more than 2 units"
The hanging takes place in cowichan's chain implemenation in the [CopyFromDashtoStd function](https://github.com/dash-project/dash-apps/blob/e494965dc3caabcb14f489139a2195a549159e4e/cowichan/chain/chain.cpp#L168). Note I used a std::vector before as target, hence the name for the function.
The hang occurs on user level in this function [here](https://github.com/dash-project/dash-apps/blob/e494965d

[2018-03-19 07:49] rkowalewski commented on #513
If you run your application with Intel MPI please try first the following settings. It always alarms me if I read something with hanging, SuperMUC and MPI one-sided.

[code]

If you are using IBM MPI we have to investigate it further.

[2018-03-19 07:57] rkowalewski commented on #513
Another question:
What is your git commit hash of our DASH source tree? Did you try with the current HEAD revision?

[2018-03-19 08:28] rkowalewski commented on #511
Good point.

The issue with this suggestion is that increment and decrement depend on the native pointer to the underlying memory space. So, if you increment a pointer you probably will not find the corresponding entry in your central register. Another thing is that you will have to communicate and synchronize these registers among communication peers if you copy  a `GlobPtr` from one unit to the

[2018-03-19 08:35] rkowalewski commented on #511
It is exactly the same problem like with shared memory programming in Linux. You cannot simply copy a pointer to shared memory from one process to the other. What you need is a (base, offset)-tuple. That is what POSIX SHMEM or SystemV SHMEM do. In our case, the base is the pointer to underlying memory space instance. Theoretically we may name our global memory instances and provide some kind of lo

[2018-03-19 09:07] devreal commented on #511
That is exactly the point of the central register: you map segment IDs from the `dart_gptr_t` to memory spaces. I should clarify that the central register is not a single instance but that every unit stores the data for local and collective allocations it participated in by itself.

That is what we have in a `dart_gptr_t`: a base (codified through the segment ID and stored in DART) and an offset.

[2018-03-19 09:09] #483 closed, assigned to nobody

[2018-03-19 10:58] #355 closed, assigned to fuchsto, devreal

[2018-03-19 12:47] rkowalewski commented on #511
This use case makes no sense IMHO. What a user typically wants is to operate on container. If you allow a use case like this you loose any container semantics. The only right implementation for your example is a ``dash::Array<int>`` with a pattern which allocates element only on a single unit.

If you do this in plain C++ then you will get in trouble as well. Let's say you have a ``std::list`` and

[2018-03-19 13:28] devreal commented on #511
A bold statement to make, imo.

If you only consider regular fixed grids, yes. There is a whole world out there beyond that (@tuxamito will present one possible use-case of this for his sparse matrix implementation)

I can see how well that will scale, allocating thousands of arrays... And creating a custom pattern is not exactly an easy exercise either (certainly nothing a user does swiftly).

No

[2018-03-19 21:42] BenjaProg commented on #513
Hi thanks for the fast answer!
Yes I am using Intel 2017.2 (compiler and MPI).
I tried it with your suggested export variables on project03, but without effect.
On project03 I used DASH commit version 8021881aa4cd504de3098ac80c2c60347e65005a.
Originally it occured with 032dfbf515385f57b09398ce83709f11d115dd9a on SuperMUC.
But I think the problem was there already half a year ago, which lead to my

[2018-03-19 21:55] BenjaProg commented on #513
Addition: for the purpose of reproduction and debugging I hard coded the [input parameters](https://github.com/dash-project/dash-apps/blob/e494965dc3caabcb14f489139a2195a549159e4e/cowichan/chain/chain.cpp#L49) in the above linked debug branch. So to reproduce the problem call:
[code]

@rkowalewski just tested it with the most recent commit 42fcd458641e94fbf21d0fa3b36abaf852e836c2 ... same issue.
E

[2018-03-20 04:18] BenjaProg commented on #513
Okay I made a mistakte somewhere on the road, with the current version of dash the behaviour is much more confusing. Depending on the number of units and compiler settings the outcome varies between following possibilities:
- hangs at dash::copy
- segfaults at dash::copy
- some ```couts``` after dash::copy are printed and then it hangs or segfaults somewhere before completion.
(felt random where i

[2018-03-20 07:03] devreal commented on #513
Ahh, thanks for the new stack trace, I can see what is going wrong. As a quick fix, can you please comment out the `DART_LOG_TRACE` statement in dart_communication.c:946? I will file a PR later today...

[2018-03-20 08:24] BenjaProg commented on #513
Just tested it on Project03; now there are no segfaults anymore in my fast testing, now it always hangs with more than two units. will provide more information in a few minutes.
Thanks for your dedication!
Edit: interestingly it runs now rather until the end of the program but doesn't terminate...hangs perhaps in dash::finalize (still only if number of units > 2).

[2018-03-20 08:46] BenjaProg commented on #513
Wow okay, it's actually a infinite loop somehow!
Tested with 4 units: 2 units where at a barrier waiting while the other 2 where looping around somewhere.

[2018-03-20 08:53] devreal commented on #513
Can you provide a stacktrace to the infinite loop? And maybe the debug output?

[2018-03-20 08:58] BenjaProg commented on #513
the loop in which the 2 units were can be easily seen here:
[code]

the other 2 units are waiting at the barrier at the bottom:
[code]

[stacktrace.txt](https://github.com/dash-project/dash/files/1828541/stacktrace.txt)

[2018-03-20 09:08] devreal commented on #513
That is weird, there seems to be a zero-size copy. I'm not sure why that would trigger an infinite loop... Do you have debug output from the DASH side as well? You might have to translate your application with `-DDASH_ENABLE_TRACE_LOGGING` (iirc) because the copy is in a header

[2018-03-20 09:15] BenjaProg commented on #513
Unfortunately there is another problem when compiling with `-DDASH_ENABLE_TRACE_LOGGING`:
[code]

[2018-03-20 09:31] devreal commented on #513
A guess what happens: In the CSRPattern there are units that are empty and `dash::copy` does not handle that gracefully. I don't have much experience with the CSRPattern. Can you provide a minimal reproducer that we can use to reproduce this?

[2018-03-20 09:36] BenjaProg commented on #513
Hehe thought exactly the same, i am just looking into my program in that direction.

[2018-03-20 09:48] BenjaProg commented on #513
the strange thing is: there is no zero copy with 4 units... (my standard test case).
meaning -> every unit holds data to be copied.
i try to setup a minimal example.

[2018-03-20 11:23] BenjaProg commented on #513
[Here](https://github.com/dash-project/dash-apps/blob/master/cowichan/SuperMUC/bug/bug.cpp) is the super minimal setup ;-)
Hardcoded for 4 units!
With this the `"after dash::copy"` isn't printed on project03.
Edit: [here](https://github.com/dash-project/dash-apps/blob/master/cowichan/SuperMUC/bug/bug.cpp) is also a dynamic version.

[2018-03-20 12:22] BenjaProg commented on #513
While creating the dynamic version of the minimal setup, I noticed I definitely didn't use `dash::copy` as I had in mind.
What I wanted to do: copy from `dash::Array` to local array and then broadcast it.
But with the `dash::copy` used by every unit the broadcast is superfluous.
So I let only unit 0 make the `dash::copy` call and it worked in my test scenario.
Will have to test it on SuperMUC with

[2018-03-22 06:42] #513 closed, assigned to fuchsto, fuerlinger, fmoessbauer, devreal, BenjaProg

[2018-03-22 16:10] devreal opened #517 "Issue with using UnorderedMap"
To track a problem reported through the DASH ML:
---

I'm trying to use UnorderedMap in DASH, but a simple program seems to compile, but seg fault:

[code]

Is the map not yet fully implemented, or am I doing something wrong?

---

I think we should look into that and fix it...

[2018-04-12 08:37] dhinf opened #520 "dash::finalize really slow for a big matrix"
Since commit https://github.com/dash-project/dash/commit/ee6e92bd1cedc11e335072fb410271a85516e021 dash::finalize takes really long to deallocate the memory.
Tested with:
ex.02.matrix.halo.heat_equation and 24 units
Matrix size:20000 x 20000
100 iterations

compile flags application: -O3 -std=c++14 -march=native

System:
Taurus (Dresden)
Haswell partition
one node with 24 cores
modules:  gcc/7.1.0;

[2018-04-12 08:39] devreal commented on #520
What was the system? How many nodes? Which MPI?

[2018-04-12 14:37] devreal commented on #520
Can you run with DART logging turned on to see whether this is one long operation or many small operations? My first suspicion was the deregistration of memory from the IB device (not sure that is required after all, registration can take ages depending on the size) but the memory should not be registered in your case...

[2018-04-16 12:53] devreal commented on #520
I tried to reproduce this: on the Cray system I don't see any issue with `finalize` when not using dynamic windows. With dynamic/shared memory windows there seem to be progress issues (pending further investigation). On our Linux cluster and Open MPI I see progress issues as well.

@dhinf Can you please try to disable dynamic/shared memory windows to see whether that has any effect?

[2018-04-23 14:32] dhinf commented on #520
Didn't changed anything.

[2018-04-24 07:38] dhinf commented on #520
Actually, the commits before became slower when turning off dynamic/shared windows. So that might not be the problem.

[2018-04-24 07:44] devreal commented on #520
With #521 merged, could you please re-run and paste the DART debug output here?

[2018-04-27 11:55] devreal commented on #520
I was able to reproduce this on Taurus and (as I originally suspected) *it has to do with shared/dynamic windows*. Here is what I see:

1) With dynamic windows enabled and shared memory windows disabled the performance is good.
2) With dynamic windows and shared windows enabled, the performance is low.
3) With dynamic windows and shared windows disabled, the performance is low.

I see that in both

[2018-04-27 11:56] #520 closed, assigned to devreal

[2018-04-28 07:21] ddiefenthaler commented on #459
This issue has been fixed through #458 (see commit [8ef3690](https://github.com/dash-project/dash/pull/458/commits/8ef3690c549521c55e5b0a5be11fa2b9639171ca)).

[2018-04-28 07:21] #459 closed, assigned to fmoessbauer, devreal

[2018-05-02 13:07] jprotze opened #531 "Cmake version requirements"
When compiling dash with clang compiler and cmake version 2.8.12.2, the compilation results in errors like:

[code]
After switching to a more recent cmake version (3.6.0), the error is gone.

In my opinion, the minimum required cmake version should be lifted.

[2018-05-02 14:11] rkowalewski commented on #531
Could you please post the generated `compile_commands.json` with CMake 2.8 and CMake 3.6.0. I think this depends on the c++ standard which should be at least c++11.

[2018-05-02 14:24] devreal opened #532 "How to set the diagonal of a matrix (and then some)"
Consider something like the following:

[code]

I know what you're saying, that's trivial...

Here is what I get as a result:
[code]

WTF process 1?! Go home, you're drunk!

[2018-05-08 15:13] fmoessbauer opened #539 "Conceptual Problems in Pattern & Memory"
During the investigation of #532 I discovered various conceptual problems:

## Pattern Related
We still have not a clear meaning what `pattern.local_capacity()` has to return:

**A: max number of local elements on any unit**
This would be beneficial, but with the current implementation it cannot be efficiently determined. Either we have to communicate the maximum number or we have to calculate the

[2018-05-08 17:28] fuerlinger opened #540 "dash::sort() hangs for degenerate inputs"
When using `dash::sort()` with certain degenerate inputs, the sorting algorithm appears to hang. E.g., if a sufficient number of elements are set to the element type's maximal value. For example, running this program with 4 units hangs:

[code]

My guess is that the partition-finding logic is tripped up by the extremal values.

[2018-05-09 06:22] devreal commented on #539
There is an item somewhere on my TODO list to extend the DART interface to accepts a hint on whether all units allocate the same amount of memory locally as this may allow for some optimizations in the back-end (MPI specifically).

Do you suggest to enforce allocating the same amount of memory on each unit even on units that have less elements?

Good catch (and another sad one)!

[2018-05-09 06:43] fmoessbauer commented on #532
Closed via #538

[2018-05-09 06:43] #532 closed, assigned to fuchsto

[2018-05-09 08:25] ddiefenthaler commented on #539
First, sorry for leaving you alone with the bug yesterday...
I probably would have dived deep into other conceptual problems without finding this issue...

This would be beneficial, but with the current implementation it cannot be efficiently determined. Either we have to communicate the maximum number or we have to calculate the local blockspec for each unit (does not scale). AFAIK we still have

[2018-05-11 20:55] rkowalewski commented on #540
Thank you reporting. It should be fixed in #543 now.

[2018-05-13 20:38] rkowalewski commented on #540
I was definitely too overhasty with my previous comment. I actually found another ugly integer overflow (the second one). Will be hopefully fixed soon.

[2018-05-14 08:38] rkowalewski opened #544 "dash::Shared with Atomic Min / Max Operations Leads to Incorrect Results"
The following code does not work, at least with extreme (edge case) values. Sometimes it works, sometimes not. I tried to find the root cause on the quick, however, failed. A pull request with the corresponding unit test will be available in couple of minutes.

[code]