[2018-05-14 09:58] rkowalewski commented on #544
I suspect there is something strange happening in DART / MPI since the DASH side looks right at a first glance.

If the issue is fixed we should [revert this commit](https://github.com/dash-project/dash/pull/543/commits/b1501f7c00be104156982641e863947fe54442a8) and replace two-sided min/max with one-sided min/max reduction.

[2018-05-14 13:52] fuerlinger opened #546 "Strange performance differences between access to DASH local memory and locally malloc'd memory"
When investigating the performance of the DASH Cowichan implementation compared to TBB and Cilk I noticed that, strangely, access to DASH local memory (via `.lbegin()`) appears to be significantly slower than access to regular locally allocated memory via `malloc`. Here is an example that demonstrates the behavior:

[code]

On my machine, when run with two units, I get the following significant pe

[2018-05-14 14:30] devreal commented on #546
That is a strange thing indeed. I did some testing locally and can confirm this issue. I will try to boil it down to an MPI-only reproducer and if the problem persists contact the (Open) MPI people.

What I tried so far:
- Pre-initializing the memory using `memset` (no effect)
- Looking at the memory alignment (8 Byte using Open MPI, 16 Byte for `malloc`). Adjusting the alignment of the window mem

[2018-05-14 14:41] rkowalewski commented on #546
An update for this from the SuperMUC environment with Intel MPI 2018 and ICC 2018:

14 Units, Build Type Release.
[code]

[2018-05-14 14:44] devreal commented on #546
Can you try to have only one process write to the memory? If there are multiple processes writing to the MPI window memory on the same node you might run into false sharing effects as the memory these processes share may be allocated as one chunk (to facilitate shared memory access between the processes running on the same node).

[2018-05-14 15:09] rkowalewski commented on #546
Actually I would not expect too many cache misses / false sharing issues since each process does never access the same memory region. It may be the case nearby boundaries between various processes but that is only a small fraction.

However, it makes indeed a big difference. I modified the example with an outer loop to see the output for reach repetition.
[code]

EDIT: This example is not really r

[2018-05-14 15:17] devreal commented on #546
Shooting from the hip: maybe the effect we're seeing is caused by the cache associativity? You're right of course that false sharing only occurs on the edges

[2018-05-14 15:20] rkowalewski commented on #546
I modified again the build and disabled MPI shared memory windows. These measurements might reveal that MPI shared memory windows are anything but performant.

[code]

EDIT: I am not sure how shared memory windows are implemented, however, whether it is posix or System V SHMEM, it may cause additional overhead. The "Using Advanced MPI" book from Gropp et al. states that as well.

[2018-05-14 15:25] devreal commented on #546
Nice! Maybe we should disable them by default and print a huge warning that the user is about to shoot himself in the foot if he enables them... It is worth reporting to the MPI folks though.

@fuerlinger Does that solve your performance problem in the cowichan problems?

[2018-05-14 15:29] rkowalewski commented on #546
Maybe we should show a bluescreen of death if the user enables shared memory windows?

Actually, before disabling by default we should run more detailed benchmarks,  GUPS and STREAM at least. This should help more to understand the overhead of MPI Shared Memory.

[2018-05-14 15:34] devreal commented on #546
I agree, I will look into that next week (unless someone else wants to volunteer ^^)

[2018-05-14 19:00] rkowalewski commented on #544
fixed by #545

[2018-05-14 19:00] #544 closed, assigned to nobody

[2018-05-14 20:25] rkowalewski commented on #540
@fuerlinger You can check and review #543. Your nasty unit test should work now.

[2018-05-15 08:34] fuchsto commented on #491
Does it work with a previous state of DASH? Esp. prior to changes on GlobRef and the like?
Edit: @fuerlinger That's what I was referring to

[2018-05-15 08:39] fuchsto commented on #491
... ah, and: There is a comprehensive performance evaluation of dash::summa using arbitrary numbers of units, test results, job setups and environment configs are in documented the wiki.
So: This used to work.

[2018-05-16 05:48] fuchsto commented on #511
I'm with @devreal in everything he wrote [1]

Copying `GlobPtr` between units does  not correspond to copying shared pointers between processes.
It corresponds to copying shared pointers between threads. This use case even motivated the introduction of threads back in the day besides more efficient context switching.

Processes have separate address spaces, threads have a shared address space.
DAS

[2018-05-16 05:57] fuchsto commented on #539
Just to add this issue to my bookmarks:
@fuchsto

[2018-05-16 06:01] fuchsto commented on #517
@devreal Exactly, @iminkov helped me to get it right, it's not in a PR yet. I will poke him.

[2018-05-16 08:11] rkowalewski commented on #539
I completely agree with you here. And the only restriction that memory is not resizeable is fine in my opinion, for the following reason.
Whether we allocate collectively or not can be addressed with an allocation policy as often discussed. #515 provides a prototypical implementation of that, discussions about the approach are of course welcome. Apart from the implementation, if we know the alloca

[2018-05-16 08:28] dhinf opened #547 "clear separation of Dart/DASH and MPI"
Now, we are implementing a Gaspi runtime in DART, some MPI specific stuff pops up. Like using MPI calls in TestPrinter.h. Also, the cmake options for shared and dynamic windows should have MPI as part of the name, to mark them as MPI specific.

[2018-05-16 08:32] fuchsto commented on #539
Exactly, but if we are about to get our hands dirty there, then we should go all the way:

Allocation has several categories.
Two of those are `dynamic` / `static` and `collective` / `independent`.
And there are further categories like `synchronization` and `accessibility`.
All of those are independent, of course.

Well, in formal terms, a `local` allocation policy is a special case of `asymmetric

[2018-05-16 08:42] fmoessbauer commented on #547
Are there any other locations (except the TestPrinter) where MPI is used directly? The TestPrinter itself is a bit special as it coordinates the execution of the tests and collects and unifies the results. Hence it is totally valid to use MPI / whatever there directly as neither DASH nor DART can be used there.

_Technically this is because DASH is initialized and teared-down after each testsuite.

[2018-05-16 08:47] devreal commented on #547
More interesting to me, what are the DART functionalities that are hard/impossible to implement using GASPI? I'm thinking about `dart_send` and the collective operations.

Just out of curiosity (and potentially to ease the transition): isn't it possible to run GASPI and MPI side-by-side? So you could leave the TestPrinter as is and still use GASPI as the DART frontend?

[2018-05-16 09:12] dhinf commented on #547
It is possible to run both gaspi and mpi. The point is, that MPI is only a runtime and should by accessed via the dart interface only. If this is not possible, our concept doesn't fit anymore (just my opinion). Maybe i'm wrong here :) .

@fmoessbauer:  TestPrinter is the only location we found at the moment
@devreal: their are some things gaspi is not capable of, like remote completion for a put.

[2018-05-16 09:29] devreal commented on #547
Interesting. We rely on remote completion quite significantly. Our memory model dictates that remote writes should be visible as soon as the operation is completed, so that the next read (on the same unit) returns the written value. Is sequential ordering of accesses from the same process guaranteed? At which point is remote completion guaranteed?

I wouldn't worry too much about the TestPrinter f

[2018-05-16 10:14] dhinf commented on #547
No

Good question. Without a special demon managing the communication you can't guarantee remote completion. With get it is no problem, but put/write you can only guarantee local completion.

[2018-05-16 11:23] rkowalewski commented on #546
After a short hands-on session with @fuerlinger, disabling shared memory windows and enabling dynamic windows solved the problem. However, let us keep this issue open. Just for a reference that we should investigate it in more detail if the time schedule permits it.

[2018-05-16 11:24] devreal commented on #547
Looks like you need to use `gaspi_wait` to guarantee sequential ordering. There seems to have been some confusion among the GASPI peeps about the term "remote completion": https://github.com/cc-hpc-itwm/GPI-2/issues/22

We should make sure that a barrier is sufficient to ensure that values written before the barrier are visible to all processes after the barrier. That is still somewhat weaker than

[2018-05-16 11:29] devreal commented on #546
Thanks for checking back on this! I'm much interested in this issue and will look at it in more details next week to see how big the impact is on our systems.

[2018-05-16 11:34] dhinf commented on #546
It's the same behaviour i noticed in issue #520. With shared windows on, the calculation for the local elements took way longer.

[2018-05-16 11:38] devreal commented on #546
Good point, @dhinf! I didn't see the parallels there.

[2018-05-16 11:43] pascalj commented on #547
`gaspi_wait` only guarantees that operations have been processed by the network. The write operations may still be pending on the remote host. See page 65 of the standard:

The GASPI people said the way to guarantee remote completion is to send a notification back to the sender.

[2018-05-16 11:46] dhinf commented on #547
And to do that, you need to use a demon.

[2018-05-16 11:49] devreal commented on #547
That sounds horrible :( IMO, a daemon is not an option. We'd have to implement our own all-to-all notification scheme to signal remote completion on the global scale. Am I missing something?

[2018-05-16 11:52] dhinf commented on #547
definitely
Like i said before. Local completion isn't a problem. remote works for get/read. But put/write needs some kind of notification that the values are written. At the moment, i have no idea how to trigger the remote unit to send a notification.

[2018-05-16 12:37] pascalj commented on #547
Yes! I didn't want to say otherwise.

You're right. I think in principle it wouldn't be that difficult to build, but it kind of defeats the purpose of GASPI's design/model.

@dhinf Out of curiosity: do you have any plans regarding that or will you cross the bridge when you get there?

[2018-05-16 12:46] dhinf commented on #547
@pascalj i will convince users that it is best practice to use get/read instead of put/write. problem solved ;)

Seriously, we will try to find a solution. How long it takes, i can't estimate at the moment.

[2018-05-16 13:38] rkowalewski commented on #539
Sounds like music in my ears and I really get appetite for that.

[2018-05-16 14:10] rkowalewski opened #548 "Efficient Min / Max Reduction in DART"
In a recent issue #543  we had some discussions about the most efficient way for min and max reduction for an array of values. Assume further that each unit already knows for whatever reason the local minimum and maximum and we want to obtain the global minimum and maximum. This is the case in `dash::sort` for example. There are couple of options:

- Simply call `dash::min_element` and `dash::max_

[2018-05-16 14:40] dhinf commented on #548
Also,a dart counterpart of MPI_Iallreduce woulld be nice, especially in terms of performance.  The multigrid implementation of @knuedd is a valid use case for it.

[2018-05-16 18:20] fuerlinger commented on #546
Indeed, disabling shared windows and enabling dynamic windows is required to make the performance differences go away. I see the effect on all MPI implementations I tested, including OpenMPI, MPICH, and Intel MPI.

CFLAGS+=-DDART_MPI_DISABLE_SHARED_WINDOWS
CFLAGS+=-DDART_MPI_ENABLE_DYNAMIC_WINDOWS

[2018-05-16 20:56] rkowalewski commented on #491
I cannot really reproduce this issue and I would attribute this to an old OpenMPI Version (2.1.0). With versions 2.1.0 and 3.1.0 everything works as expected.

[2018-05-16 20:56] #491 closed, assigned to fuchsto, devreal

[2018-05-17 06:41] devreal commented on #546
@fuerlinger What happens if you disable dynamic windows as well (i.e., using regular allocated windows)? Does that trigger the performance issue too?

[2018-05-17 11:06] rkowalewski opened #549 "DART local memory allocation leads to segfault"
Problem: If we allocate locally on a unit which has different global and local unit ids (e.g., `dash::myid() == 2 && split_team.myid() == 0`), the team id handling is buggy in DART.

It is clear why that is the case. While allocating the local memory we set the global pointer to the **global** unit id based on `DART_TEAM_ALL` (see [here](https://github.com/dash-project/dash/blob/development/dart-i

[2018-05-17 11:21] devreal commented on #549
It is not. Local allocations have no team attached so the dart_gptr carries a global unit ID. The test case in #550 is invalid as it assigns an ID from a random team to a gptr that should contain ~global unit IDs~ unit IDs from DART_TEAM_ALL. We have no way to check that in `dart_gptr_setunit`.

[2018-05-17 11:22] fmoessbauer commented on #549
In my opinion the local unit id's should be just a index-set of the corresponding global ids. However for all operations which provide a team parameter, local id's have to be used.

For dart_gptr however only global id's should be used, as otherwise these pointers cannot be passed to another team (or memory accessed by another team).

The conversion should be implicitly done in DART.

[2018-05-17 11:24] fmoessbauer commented on #549
... and as @devreal said: The unit-test is invalid.

[2018-05-17 11:25] devreal commented on #549
We have to store the team ID in the gptr because allocations are linked to a team, otherwise segment IDs are not unique (only the combination of team_id+segement_id can be guaranteed to be unique). It is also invalid to pass gptr to units outside of the team that allocated the memory, they could not access the underlying window. So storing relative IDs in gptr is perfectly fine.

[2018-05-17 11:32] rkowalewski commented on #549
Well the unit test is kind of invalid, right. It is more a workaround to manifest the error.

However, this is definitely a bug. From the practical perspective if we know that team unit id 0 allocates locally a global pointer and then explicitly sets the unit id of the global pointer again to 0, this should be an idempotent operation, right?! And it should never lead to an error.

EDIT: This unit

[2018-05-17 11:35] devreal commented on #549
And it does not. If you allocate local memory on `dash::myid() ==  0` and then assign `0` to the gptr everything is fine. Similarly, if `dash::myid() == 1` and you assign `1` it is correct. You just cannot assign a unit ID from any team other than `DART_TEAM_ALL`.

[2018-05-17 11:37] devreal commented on #549
To get a better idea of what you are trying to achieve: what are you trying to achieve? ;)

[2018-05-17 11:39] rkowalewski commented on #549
If that would be the case we can remove the teamid from the global pointer. ;) And there was a long discussion once why we need the teamid in the global pointer. Otherwise, we are limited to 2^16 units in DASH.

Well it does, see the unit test and CI.

[2018-05-17 11:43] devreal commented on #549
I outlined the rationale above: the team ID is required to guarantee unique segment identifier so gptr can be passed among units of the *same team*. Since passing gptr to units outside of the time is invalid we can safely store relative unit IDs in gptr.

If you can present a *valid* test case we can better understand what you are trying to achieve. The test case you created is invalid, for the re

[2018-05-17 12:11] rkowalewski commented on #549
I understand your arguments. However, in my opinion it is a valid test case because:

- For me as a user it is not visible whether we operate on global or relative unit ids. I have no idea that one API call (`dart_memalloc`) operates internally on global ids and the other API call (`dart_gptr_getaddr`) operates on relative ids.
- For the reason mentioned before I know that I am unit id 0 and alloc

[2018-05-17 12:18] rkowalewski commented on #549
And the reason why `std::uninitialized_fill` does not crash is that both `lbegin` and `lend` are NULL, so the algorithm does not do anything. It is clear that this is a bug in `GlobStaticMem` of course because we internally always set the (global) unit id of the global pointer to the relative unit id of the memory instance. And `dash::Shared` operates never on the global address otherwise, only on

[2018-05-17 13:42] rkowalewski commented on #540
closed and fixed

[2018-05-17 13:42] #540 closed, assigned to fuerlinger, rkowalewski

[2018-05-18 12:48] dhinf opened #551 "cmake error (LAPACK)"
cmake version 3.10.3

Here the error message:
LAPACK was disabled in config

Error mesage:
A library with LAPACK API found.
CMake Error at CMakeExt/LAPACK.cmake:7 (check_library_exists):
  check_library_exists Macro invoked with incorrect arguments for macro
  named: CHECK_LIBRARY_EXISTS
Call Stack (most recent call first):
  CMakeLists.txt:152 (include)

[2018-05-18 13:14] fmoessbauer commented on #551
This is already a know issue and there is a fix in the pipe (@rkowalewski ?). The actual issue is that cmake changed the number of arguments for that macro in version 3.5.

Not quite maintainer friendly...

[2018-05-21 16:30] fmoessbauer commented on #531
A minimal CI environment (cmake 2.8.12, gcc 4.8) is added in #552. As the bug does not show up there, this is a cmake unrelated issue.

[2018-05-21 16:34] fmoessbauer commented on #488
@devreal: As some of the CMake policies are deprecated in version > 3.10, I removed them  in PR #553. As the CI and the new [minimal CI container](https://github.com/dash-project/dash/pull/552/files#diff-340195d4da8e17b2c0543304a8288f02) run properly, I guess that they are not needed. However if possible, we should check that manually on our main HPC targets.

[2018-05-21 16:36] #411 closed, assigned to fuchsto

[2018-05-21 17:05] jprotze commented on #531
[compile_commands.json-3.6.0.txt](https://github.com/dash-project/dash/files/2023425/compile_commands.json-3.6.0.txt)
[compile_commands.json-2.8.12.2.txt](https://github.com/dash-project/dash/files/2023426/compile_commands.json-2.8.12.2.txt)

cmake 3.6.0 adds -std=gnu99 and -std=gnu++14 as compiler flags

[2018-05-21 17:23] fmoessbauer commented on #531
Hi Joachim, thanks for the logs, I'm now able to reproduce the bug. Seems to be a bug in CMake, working on a fix.

[2018-05-22 00:58] fuchsto commented on #539
@rkowalewski Let's have a meeting for this, I could use another pair of eyes for this!

[2018-05-22 11:07] fmoessbauer commented on #551
Fixed in #552

[2018-05-22 11:07] #551 closed, assigned to rkowalewski

[2018-05-23 08:48] devreal commented on #546
I did some investigation into this on the MPI level and it appears that there are two things at work here:

1. **Initialization latencies**: if `memset`ing the memory prior to the computation (and avoiding NUMA effects, see below), the memory access latencies seem comparable to the local memory access. This is probably caused by `mmap`ing the memory into the process memory space.
2. **NUMA effects

[2018-05-24 12:53] devreal commented on #546
Short update: After my request on the Open MPI user ML I was able to pinpoint the issue down to the way the shared memory backing the window is allocated. On the Bull Cluster, `/tmp` is mounted on a disk partition. Incidentally, this is where Open MPI places the shmem backing file in its session directory. Using an alternative session directory in `tmpfs` or increasing the priority of the POSIX sh

[2018-05-31 09:14] bertwesarg opened #557 "use-after-free in `dash::finalize` when using `dash::copy`"
I got the following valgrind error on unit 1 when running the below example code:

[code]

Though if I remove the calls to `dash::copy` from the code, then I can't observe this anymore.

Example code:

[code]

This is with Open MPI 3.1.0 (but also 3.0.0). Build with:

    $ ../configure \
    --prefix=/home/wesarg/opt/openmpi-3.1.0 \
    --disable-libompitrace \
    --enable-mem-debug \
    --enab

[2018-05-31 09:15] bertwesarg commented on #557
Note that @dhinf could not reproduce this.

[2018-05-31 11:55] bertwesarg commented on #557
I get this valgrind error on all but unit 0. Regardless of the number of units.

[2018-05-31 11:55] bertwesarg commented on #557
@devreal this looks like a DART issue to me, can you please have a look? thanks.

[2018-06-01 07:16] bertwesarg commented on #557
Building with `-DENABLE_DYNAMIC_WINDOWS=OFF` works.

[2018-06-01 08:01] devreal commented on #557
Thanks for the report and the details. #558 should fix it (it's a slip I introduced while reworking the `dash::copy` implementation to use handles)

[2018-06-01 08:19] bertwesarg commented on #557
Thanks. I confirm, that #558 fixes the problem.

[2018-06-04 12:29] #557 closed, assigned to devreal

[2018-06-29 13:29] fabian-jung opened #568 "Missing Online documentation"
The link from the project README.md to the online documentation (http://doc.dash-project.org/) is broken. The displayed error page shows the following information:

"Happstack 7.4.5

Something went wrong here
Internal server error
Everything has stopped

The error was "gitit.log: commitBuffer: permission denied (Read-only file system)""

[2018-06-29 14:55] fuerlinger commented on #568
Restarted the system and seems to be working again for now, thanks for reporting!

[2018-06-29 14:55] #568 closed, assigned to fuchsto, fuerlinger

[2018-07-02 10:57] rkowalewski opened #569 "Support for All to All Operations"
DART should provide operations to support both blocking and nonblocking all-to-all operations.

- blocking: `MPI_Alltoall` and `MPI_Alltoallv`
- nonblocking: `MPI_Ialltoall` and `MPI_Ialltoallv`

Currently the only way to transpose an (N-)Array is to apply one-sided operations. This is, of course, not scalable with a large number of processes where logarithmic complexity is imperative, compared to

[2018-07-02 11:03] rkowalewski commented on #569
An interesting use case for `dart_Ialltoallv` is `dash::sort` where all processors have to distribute local data to the corresponding target processors. This can be overlapped with local copy operations.

[2018-07-02 11:39] devreal commented on #569
I think there was once of student from TUM who had a `dart_alltoall` implementation. I will look into that

[2018-07-30 07:38] devreal opened #572 "Limitation on the size of dynamic allocations"
The overall size of memory allocatable in DART-MPI through `dart_memalloc` is currently limited to 16MB. The limit is imposed by the size of the window backing these dynamic allocations, which is allocated during initialization and is then chunked up using the infamous buddy allocator. Although no one could have expected anyone to ever require more than these 16MB we have come to witness the unexp

[2018-07-30 18:56] fmoessbauer commented on #572
Can we implement it in a way that the user instantiates an allocator with a size of his choice (backed by one window) and then he can allocate using this window?

See this example:

[code]

[2018-07-31 13:22] devreal commented on #572
@fmoessbauer I missed your post earlier, sorry. That would certainly be an option as well, yes. I like that better than environment variables :+1:

[2018-08-27 09:13] dhinf opened #579 "dash doesn't compile with gcc 8.2 anymore"
gcc: 8.2.0
openmpi: 3.1.1

test and examples on

dash_dev/dash/include/dash/algorithm/Operation.h:76:8: error: too many template-parameter-lists
 struct dart_reduce_operation<BinaryOperation,
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         typename std::enable_if<
[code]
           BinaryOperation::op_kind() != dash::internal::OpKind::NOOP &&
[code]
           // they are derived from dash

[2018-08-28 07:49] #579 closed, assigned to nobody

[2018-09-10 09:14] bertwesarg opened #582 "no previous declaration for `dart_domain_remove_subdomain` [-Wmissing-declarations]"
[code]

[2018-09-10 20:18] fuchsto commented on #582
🤒
That's strange. Will look into it.

Probably the function has been renamed, but why didn't this come up earlier? There are unit tests, and removing domains is an elementary function. Sorry for the trouble.

[2018-09-11 04:42] bertwesarg commented on #582
Only the declaration is missing, i.e., it does not show up in any header.

[2018-09-17 07:42] bertwesarg opened #584 "BlockPattern: declared but never referenced warnings"
https://github.com/dash-project/dash/blob/7cf3e5e538428e5cdf188f92240046dcce7d2582/dash/include/dash/pattern/BlockPattern.h#L700
https://github.com/dash-project/dash/blob/7cf3e5e538428e5cdf188f92240046dcce7d2582/dash/include/dash/pattern/BlockPattern.h#L880

[2018-09-17 07:43] bertwesarg opened #585 "BlockPattern: declared but never referenced warnings"
https://github.com/dash-project/dash/blob/7cf3e5e538428e5cdf188f92240046dcce7d2582/dash/include/dash/pattern/BlockPattern.h#L700
https://github.com/dash-project/dash/blob/7cf3e5e538428e5cdf188f92240046dcce7d2582/dash/include/dash/pattern/BlockPattern.h#L880

[2018-09-17 07:51] bertwesarg commented on #585
Closed as duplicate, GitHub screwed up.

[2018-09-17 07:51] #585 closed, assigned to nobody

[2018-09-17 09:33] devreal opened #586 "How to iterate over member array in global memory?"
Consider the following example:

[code]

I can access individual members of `data_t` using the `member()` function of `GlobRef`:
[code]

However, I cannot figure out a way to access individual elements of the member array `c`. I can get a reference to the first element (using `member(&data_t::c)`) but I cannot create a global pointer from that reference (as I am missing the memory space).

Any ide

[2018-09-17 15:18] rkowalewski commented on #586
One use case I recently had is a `dash::Shared<int[N]>`. See this [implementation](https://github.com/dash-project/dash-apps/blob/c147ad489abe315fb411e4ec45b8512a1ae2fdac/splash2/barnes-hut/shared_array.h) as an example. This eventually helps you for your use case.
A generic solution basically requires something like a constexpr array which can give you the relevant offsets at compile time. Howeve

[2018-09-17 15:41] rkowalewski opened #587 "Invalid Test Cases in AtomicTest"
Our `AtomicTest.cc` test suite has two confusing unit tests:
- [AtomicTest.PunnedType](https://github.com/dash-project/dash/blob/development/dash/test/types/AtomicTest.cc#L139)
- [AtomicTest.PunnedFetchOp](https://github.com/dash-project/dash/blob/development/dash/test/types/AtomicTest.cc#L212)

The thing is that the used `elem_t` for `dash::Atomic` is a container with two value members. This does

[2018-09-17 20:13] devreal commented on #586
No no no. The offset into an array member of a struct in the global address space is left to the user and nothing we care about (it is row-major, just as the C++ standard defines it). It should not be so hard to do this and certainly not require the user to write his own abstraction (WTF?!)

All that is needed is a way to request a `GlobPtr` from a `GlobRef` that can then be used to iterate over e

[2018-09-17 20:19] devreal commented on #587
You can still atomically read/write/cas structs for which `sizeof(T) <= 8B`, just not perform arithmetic operations on them. The restrictions are encoded in `GlobAtomicRef::set` etc.

[2018-09-17 20:40] devreal opened #588 "GlobRef copy c'tor broken"
Consider the following example:

[code]

which generates the following error:

[code]

The problem is that copy constructors may not be templated [1]. Hence, we cannot allow `GlobRef<const T>` to be constructed from `GlobRef<T>`.

Addendum: the same goes for `GlobAsyncRef` and `GlobAtomicRef`.

[1] https://en.cppreference.com/w/cpp/language/member_template

[2018-09-17 21:14] rkowalewski commented on #586
Keep Calm and drink some beer. Your response goes way beyond the scope of your initial question. ;) It is actually a completely different issue as accessing an array at a particular index is not the same as iterating raw memory, in the strict sense and from the implementation point of view.

Yup, most stuff what you mention above is done, so we can do a hands-on session.

[2018-09-17 21:32] rkowalewski commented on #586
We do not need any PoC. DASH is full of it. We need a working and well tested library.

[2018-09-17 21:51] devreal commented on #586
I agree. But I cannot accept that this should not be easily doable and would require me to implement a hack just because our implementation is bad (and I have criticized this several times before and not seen a solution...)

Looking forward to that :)

[2018-09-18 07:17] rkowalewski commented on #586
You first talked about `dash::Shared<int[N>` and how to access individual elements. Now we are talking about simple pointer arithmetic. These are two different things at least, apparently. For your first question I provided you a prototypical solution, eventually. Regarding your memory thing, let us make an agreement and fix conceptual inconsistencies in Stuttgart. The only thing I want from you:

[2018-09-18 07:21] fmoessbauer commented on #587
The whole `dash::atomic` stuff is still experimental and subject to change.

@devreal: I see your point, but the problem is that `sizeof(struct)` (without `packed`) depends also on the compiler.

@rkowalewski: The `is_atomic_compatible` trait is too simple. Instead it should return tags, denoting _what_ atomic operations are supported.

[2018-09-18 07:29] fmoessbauer commented on #584
Yup, can you provide a PR? I guess there are many more unused variables in DASH.

[2018-09-18 07:37] fmoessbauer commented on #588
I still do not fully get why our GlobRef is copyable anyways. IMO it should behave similar to a native reference, this means only copy by value (and value in this case is the target value, not the reference).

[2018-09-18 08:01] rkowalewski commented on #588
First, these templated "copy constructors" are no copy constructors but conversion operators. These conversion operators are provided for casts which is useful and the semantics should be valid after several discussions. Cppreference:

Second: I agree with @fmoessbauer. Copying a reference is a completely new copy with new memory in C++. That was also an argument why we deleted the copy constructo

[2018-09-18 10:00] devreal commented on #588
If you copy a native reference you get a copy of the reference, not the value. Think of the following example:

[code]

That is why `GlobRef` is copyable, too: you get a copy of the underlying gptr that you can later dereference to access the value behind it. Just like native references are pointers, `GlobRef` is basically a `GlobPtr` that is i) immutable (always points to the same memory location

[2018-09-18 10:37] rkowalewski commented on #588
I disagree. We do not get a copy of the reference, references are a compiler construct. In your example, the compiler would pass either a pointer or even inlining everything.

In my opinion, the proper way for implementing your example would be either to use a `GlobPtr` or even `dash::GlobRef<int> &`. Both make clear that you are referring to an existing memory location. When considering `GlobAsyn

[2018-09-18 10:40] fmoessbauer commented on #588
@devreal: I see your point, but I'm not certainly sure if we want to support this use-case. The main difference between the first and the second example is that in the first one, nothing is copied. I mean that in the sense of memory-allocation and ctor calling.

The Problem with supporting the second example is, that we will open hell's gate. If the reference carries some internal state, things ge

[2018-09-18 10:45] rkowalewski commented on #588
Yup, agree. I would even prefer to explicitly delete both copy construction and copy assignment. Then the compiler will give you a precise error:
[code]

[2018-09-18 11:51] #584 closed, assigned to nobody

[2018-09-18 13:22] devreal commented on #588
Exactly, an immutable, copyable, non-null pointer.

I leave it to the reader to imagine outlined functions, e.g., if they defined in another TU :)

I'm curious: what would be an example of things going wrong with `GlobRef` that cannot go wrong with `GlobPtr`?

There is exactly one internal state in `GlobRef`: a `dart_gptr_t`. For reference, a `GlobPtr` (in current `development`) carries a `dart_gp

[2018-09-18 15:29] devreal commented on #587
Yes. That is why we check for `sizeof(T)` to be smaller than `8` in `dash::dart_punned_datatype`. If the struct is larger than that (potentially due to padding) we cannot use MPI to atomically get/set/cas the values. I don't think padding varies between compilers (on the same architecture).

We `static_assert` for the kind of operation in `GlobAtomicRef::op` etc for this. A type may be set/get-abl

[2018-09-20 11:23] devreal commented on #588
As discussed in the F2F: we `delete` the copy c'tor and @rkowalewski will provide a `dash::addressof` operator to easily get a `GlobPtr` from a `GlobRef`.

[2018-09-20 11:25] devreal commented on #586
Will be possible with `dash::addressof`, see #588

[2018-09-20 11:27] #549 closed, assigned to devreal

[2018-09-20 11:28] devreal commented on #549
Discussed at F2F: not valid with updated memory space concepts.

[2018-09-20 11:29] devreal commented on #548
Provided in #562

[2018-09-20 11:29] #548 closed, assigned to rkowalewski, devreal

[2018-09-20 11:33] devreal commented on #507
Is there an update here? Can you provide a PR that adds the missing members?

[2018-09-20 11:33] #487 closed, assigned to dhinf

[2018-09-20 11:39] #425 closed, assigned to fuchsto, fmoessbauer

[2018-09-20 11:40] devreal commented on #424
@fuchsto Anything to do here?

[2018-09-20 11:48] devreal commented on #501
Not relevant anymore.

[2018-09-20 11:48] #501 closed, assigned to fmoessbauer

[2018-09-21 09:20] ddiefenthaler commented on #507
Sorry for my inactivity lately,
I just updated the link to the [pattern concept](https://codedocs.xyz/dash-project/dash/a00602.html#details) as it is unfortunately not a permalink.

Adding the functions to the concept would be easy, but I won't do this without feedback.
Once the concept is settled the implementation can start. This should also be mostly straightforward.

I think there were perform

[2018-09-21 12:24] rkowalewski commented on #588
Just to clarify this issue here. We agreed on the fact that constructing a `GlobRef` by copy should not be permitted. Use cases described above should be handled with `GlobPtr` instances since it really makes clear that we have a location somewhere in global memory. Pointers are a well known concept. `GlobRef` is only a proxy type and very different from C++ references. It is usually transparent t

[2018-09-21 12:37] rkowalewski commented on #418
@ddiefenthaler maybe something you can fix based on the already existing pull request and your breakdown? It would be nice to have it in the 0.3.0 release.

[2018-10-02 20:19] rkowalewski opened #597 "HDF5 Errors"
While looking at the debug output on circle ci I noticed a problem with the gnu_openmpi3 environment. HDF5 shows some errors, however, the [unit test](https://circleci.com/gh/dash-project/dash/4868) of development passes. Is it relevant?
[code]

[2018-10-03 09:45] fmoessbauer commented on #597
I'm going to have a look at this during the weekend. However, as the unit test succeeds, the data should have been written correctly to disk.

[2018-10-05 12:15] rkowalewski commented on #597
Yes, maybe you're right.  However, only the `UnderfilledPatMultiple` test shows these errors,. This seems to be a bit strange.

[2018-10-07 17:43] fmoessbauer commented on #597
I just tried to update the openmpi3 container to the latest version (3.1.2), but there are still the `MPI_THREAD_MULTIPLE` bugs reported by @devreal . If building with this flag, no jobs can be run at all:

[code]

Regarding the HDF5 bug: This is also a bug in the MPI-IO implementation and not on the HDF5 or DASH side. However what is actually written to the file seems to be correct (at least in t

[2018-10-08 11:49] rkowalewski commented on #597
Let's track it as a known issue.

[2018-10-08 16:11] devreal commented on #597
@fmoessbauer Can you reproduce the MPI-IO problem with a small example or describe what the code is doing so we can file a bug report?

[2018-10-08 18:24] fmoessbauer commented on #597
@devreal: If you run the test with the env-flag `DASH_HDF5_PRESERVE_FILE=1` set, the generated file is preserved. What is stored in the file is a 2-d cantor pairing of the cartesian coordinates. This makes it possible to almost instantly see IO errors, but actually there are no.

The `DASH_PATTERN` attribute contains a encoded version of a `dash::BlockPattern`, by specifying the extents per dimens

[2018-10-10 07:37] rkowalewski opened #598 "Refactor Logging Mechanism"
The logging mechanism in our header library suffers from several issues:

1. Our Logging macros log always complete objects which can be both of simple datatypes and classes.  Either way it **requires that `operator<<` is a well-formed expression**.  Since we excessively log basically  everything this can lead to compilation problems in our container library if `operator<<` is not appropriately pr

[2018-10-10 08:25] fmoessbauer commented on #598
Just a note: In another project I faced similar problems and did some research. There are two pretty good libraries related on this topic:

- [gabime/spdlog](https://github.com/gabime/spdlog): Fast extensible logger (uses `fmt`)
- [fmtlib/fmt](https://github.com/fmtlib/fmt): Typesafe and fast formatting lib

The big caveat with spdlog is that it uses mutexes (in construction of the logger) and exc

[2018-10-15 18:52] fmoessbauer commented on #531
@devreal , @rkowalewski : Is this still an issue? Do we plan to lift the CMake version?

[2018-10-15 19:03] devreal commented on #531
From my point of view, we can upgrade the minimal CMake required to >=3.0.

[2018-10-19 15:56] rkowalewski commented on #598
spdlog seems to be a very good IMHO. ;)

[2018-10-27 09:23] rkowalewski opened #601 "Evaluation to replace GoogleTest with Catch2"
I recently stumbled upon another test framework, called [Catch2](https://github.com/catchorg/Catch2). It looks very interesting for us and is already used in couple of big [open source projects](https://github.com/catchorg/Catch2/blob/master/docs/opensource-users.md#top). The biggest advantage is that it is a single header include. So we do not have to build GoogleTest anymore and we do not need t

[2018-10-27 09:37] fmoessbauer commented on #601
The framework itself looks quite good, but we have to re-implement a lot of stuff regarding the distributed nature of DASH. This includes the local collection and forwarding of test results to the master. Furthermore we use inheritance in the test setup and teardown steps. I'm not sure if that is possible with Catch2.

... So why should we replace something that already works good? IMO we should f

[2018-10-27 11:10] rkowalewski commented on #601
It has certainly no priority. It is just a suggestion and yes, our current build works. It may be just faster with this framework. We can close this issue, I had just some brainstorming idea.

[2018-11-05 15:14] devreal commented on #480
Fixed in #560

[2018-11-05 15:14] #480 closed, assigned to dhinf

[2018-11-06 09:46] rkowalewski commented on #588
fixed in #515

[2018-11-06 09:47] rkowalewski commented on #586
fixed in #515

[2018-11-06 09:47] #586 closed, assigned to rkowalewski

[2018-11-06 09:47] #588 closed, assigned to rkowalewski

[2018-11-06 09:53] rkowalewski commented on #539
@fmoessbauer  All your conceptual problems should be fixed in #515. Maybe we can talk again about this issue today?

[2018-11-06 09:55] rkowalewski commented on #510
Pull #509 is merged long time ago. Can we close this issue?

[2018-11-06 10:08] fmoessbauer commented on #510
Actually not, as the PR just fixes trivial ranges. Non-Trivial ranges (like the example above) are still not supported.

Also have a look at this (currently disabled) unit test: https://github.com/dash-project/dash/pull/509/files#diff-c82107809db03e2103249f9bb3de4956R43

[2018-11-07 13:22] rkowalewski commented on #539
After discussing the original issues with @fmoessbauer we can finally close it since everything is either addressed in #515 or fixed by other pull requests.

[2018-11-07 13:22] #539 closed, assigned to fuchsto, fuerlinger, rkowalewski, devreal

[2018-11-28 13:24] rkowalewski opened #613 "DART MinMax Reduction does not work with int64_t"
PR #548 proposed efficient Min/Max Reduction in DART. Unfortunately it does not work with all primitive types. One of them is `int64_t`. While the minimum is correctly reduced the maximum value is wrong.

Please fix this.

[2018-11-28 14:58] devreal opened #615 "Thoughts on NUMA issues with DASH containers"
I want to lay out some observations I made during the last couple of months.

**Background**

MPI implementations register the memory backing windows with the network device on systems that use high-performance networks in order to leverage RDMA capabilities (observed both on IB and Cray Aries with Open MPI). As part of this process, all pages in the registered memory range are pre-faulted (in the

[2018-12-07 09:29] nbenn opened #616 "Build v0.3.0 under macOS"
I'm encountering several fatal errors when building v0.3.0 under macOS. In case anyone is having similar problems and if you are interested in fixing this, I'm opening a PR alongside this issue.

1. undeclared identifier `HOST_NAME_MAX`: as discussed in #581
1. `malloc.h` file not found: as discussed e.g. in RIOT-OS/RIOT#2361
1. loads of errors from timing functionality, e.g.
[code]
    I did not

[2018-12-07 15:57] fmoessbauer commented on #616
See also #404

[2018-12-12 22:40] pascalj commented on #616
Thanks for taking a shot at this! These are only minor changes that don't break anything for the non-macOS folks.

Did you run the tests successfully on macOS? I was trying on 10.14.1 with GCC 8.2, OpenMPI 3.1.3, hwloc and PAPI enabled. Without hwloc I get an error from dart "HWLOC or PAPI required if not running on a Linux platform" at runtime although PAPI was enabled. Will check that tomorrow.

[2018-12-16 12:05] rkowalewski opened #617 "DART API calls with DART_UNDEFINED_UNIT_ID"
All DART API calls validate the unitId arguments (source and destination) to be in the range `0 <= unitId < team_size`. Unfortunately, this prohibits the possibility to pass `DART_UNEFINED_UNIT_ID` as an equivalent to `MPI_PROC_NULL` which is a valid parameter in MPI communication routines. This greatly simplifies code and leaves possible optimizations to MPI. We do not have a notion of `DART_UNIT

[2018-12-16 12:26] rkowalewski opened #618 "Issues with Thread-Safety in DASH"
The implementation of `dash::sort` now heavily relies on threading and asynchronous tasks, especially in the end while we merge all our sorted sequences. In order to test that we had to enable thread support on our CI. Some tests in the `ThreadsafeTest.*` suite fail now which absolutely makes sense.

We have to push concurrency in DASH to the next level and make threading a first-class citizen in

[2018-12-16 12:29] rkowalewski commented on #617
So I did a small fix for me and mapped `DART_UNDEFINED_UNIT_ID` to `MPI_PROC_NULL`, see this [code](https://github.com/dash-project/dash/blob/a025c192d40ce4dad95e9d8b8f8a66ac40fe84a0/dart-impl/mpi/src/dart_communication.c#L2491). But we need a more general solution there since it affects all communication routines.

[2018-12-16 18:25] devreal commented on #618
Why does it make sense? It used to work in the past...

Do you mean thread-safety in the sense of thread-safe conflicting accesses (e.g., lock-free data structures) or thread-safe non-conflicting accesses? The latter won't need much work imo and should be mostly supported (I use multi-threaded access on containers in my work).

Using OpenMP in DASH has bitten in the past as well, yes. It should on

[2018-12-16 18:41] devreal commented on #617
Interesting use-case, didn't think we'd need that. Introducing that globally should be straight-forward (afaics, it's only relevant for `put`/`get`/`send`/`recv`/`sendrecv`, right?). Except for `sendrecv`, we can short-cut and avoid a call to MPI alltogether...

[2018-12-18 08:17] rkowalewski commented on #617
You may be right. It is not really urgent since I have a "fix" for my use case, so prioritize more critical stuff for you.

[2019-01-03 21:54] devreal commented on #418
Ping. Just ran into this again :(

[2019-01-04 15:05] devreal opened #619 "Two-level tiling in dash::Matrix"
DASH currently provides a set of patterns and distribution specifiers to control the distribution of tiles in a tiled matrix. However, there is currently no easy way to form blocks of local blocks, i.e., have super-blocks that are distributed with each super-block containing multiple local tiles. This can be beneficial for certain algorithms, e.g., QR factorization, to reduce the communication ove

[2019-01-04 21:50] devreal opened #620 "TilePattern: erroneous conversion between global index and global coordinates"
Consider the following matrix:

[code]

That is meant to represent a 16x16 two-dimensional matrix with 4x4 super-blocks of 2x2 tiles a 2x2 elements, i.e., super-blocks contain 4x4 elements split into 2x2 tiles. The idea is that I can access individual tiles {x, y} via A[x][y].  See #619 for some more details.

A matrix could look like this (with `00` denoting block 0 on unit 0, `12` denoting block

[2019-01-25 12:57] bertwesarg opened #623 "`dart-impl/base/include/dash/dart/base/atomic.h` is unused"
Can't find any user of these macros!

[2019-01-25 13:07] bertwesarg opened #624 "`SPEC` macro in `include/dash/Meta.h`"
The `SPEC` macro defined in `include/dash/Meta.h` is too generic and slips through into the global namespace. Please rename.

[2019-01-25 14:49] devreal commented on #623
It's used in the tasking branch and will be refactored to include C11 atomics if available. At some point it was upstreamed into `development` without a real use I guess.

[2019-01-25 15:46] dhinf opened #625 "resize in TeamSpec is ambiguous in case of two dimensions"
The method resize (TeamSpec) is ambiguous in case of two dimensions:

  template<typename... Args>
  void resize(SizeType arg, Args... args)
vs.
  void resize(dim_t dim, SizeType extent)

e.g. the call teamspec.resize(2,1) doesn't compile.
Currently, I don't have a solution, in case we want to keep both functionalities.

[2019-01-25 15:49] dhinf commented on #625
Maybe rename resize(dim_t...) to resize_dim(dim_t,...)

[2019-01-25 16:04] devreal commented on #625
I'm fine with renaming `resize(dim_t, SizeType)` to `resize_dim(...)`.

[2019-01-28 12:50] bertwesarg opened #627 "Generating `StaticConfig.h` or `Version.h` into the source tree is considered harmfull"
These two headers are generated into the source tree, which breaks common expectations when doing an out-of-tree build, i.e., `mkdir BUILD; cd BUILD; cmake ..`.

[2019-01-28 12:54] bertwesarg opened #628 "Redundancy in `dash::HBWSpace::check_hbw_available`"
This function takes the result of `dash::util::DashConfig.avail_memkind` and `DASH_ENABLE_MEMKIND` as inputs for its decision. Though, `dash::util::DashConfig.avail_memkind` itself is based on `@CONF_AVAIL_MEMKIND@` which is set in `dash/CMakeLists.txt` based on `ENABLE_MEMKIND` and `MEMKIND_FOUND`. But in the same place `-DDASH_ENABLE_MEMKIND` is added to the compile flags. Thus booth inputs resu

[2019-02-05 10:26] pascalj commented on #616
I looked some more into the issues and I think it would probably be possible to make DASH compatible with macOS. However, as @fmoessbauer noted in #404 macOS is not really an HPC plattform plus we don't have a macOS CI. Therefore I'm closing this issue.

That being said: I'm happy to review and merge a PR fixing the compatibility issues if that works for you. We just can't guarantee future compati

[2019-02-05 10:26] #616 closed, assigned to pascalj

[2019-03-05 09:34] bertwesarg opened #631 "`constexpr constructor must initialize direct base class` with Intel 2019"
Got this from someone which compiled with Intel 2019 and `-std=c++14`.

Is this some known problem, which is already solved?

[code]

[2019-03-09 19:53] fuchsto commented on #625
It should be:

[code]

The reason using the same name (overload) was the 1-dimensional case in particular.

[code]

Another thing: We might also want `resize<dim_t>(SizeType>` to ensure compile-time definition of the dimension. Nowadays, `constexpr` achieves the same when used correctly, but it doesn't complain if we don't.

[2019-03-12 14:35] devreal opened #636 "Pattern for triangular matrices"
Some (numerical) algorithms do not require the full matrix but work on the upper or lower triangular matrix. Thus, it would be sufficient to store half of the matrix. It's important that it's not strictly a triangular matrix in that the blocks on the diagonal should remain intact.

[2019-03-12 20:49] fuchsto opened #637 "Merge and integrate dash::Graph (concepts, containers, algorithms)"
See PR #634

[2019-03-13 14:15] devreal commented on #620
Ping, @fuchsto

[2019-03-13 14:55] devreal opened #638 "Atomic operation mix in DASH"
As discussed at the F2F today, DASH currently allows to use an arbitrary mix of atomic operations on objects in the global address space. However, MPI in version 3.1 only allows for either the same operation or the same operation and no-op to be performed concurrently on the same memory location (see §11.2.1 on p. 404 in the standard). A proposal to the MPI forum would add an info key `which_accum

[2019-03-14 19:04] fuchsto commented on #638
Among the topics discussed in the DASH team summit this week, I found this problem the most intriguing. It is orthogonal to any common conceptual category of parallel programming.
I mean, it cannot be fully described in terms of:
- value semantics
- memory access
- container semantics
... etc.

I think we need more fine-grained concepts of allocation?
Perhaps we need to differentiate between "memo

[2019-03-15 07:53] devreal commented on #638
You're right, it's more like a state that can be changed that influences the way in which memory accesses are performed, not their semantics but potentially their performance. Given the fact that these hints can be set after the memory/window has been allocated we should probably decouple this issue from memory allocation and focus on the runtime aspect. In fact, there may be situations where we c

[2019-04-18 12:42] bertwesarg opened #642 "CMake `ENABLE_UNIFIED_MEMORY_MODEL` does not have an effect"

[2019-04-18 14:02] devreal commented on #642
That's been on my list for a while but without high priority. It doesn't make sense to have this as a CMake variable (not sure who came up with it in the first place...) Instead, DART-MPI should query the `MPI_WIN_MODEL` and issue synchronization calls where needed in the separate model. That should be easy to implement...

[2019-04-24 16:33] devreal commented on #517
What is the state of this? We had a second (same?) user report the same issue on the user ML and this issue is over a year old now :(

[2019-04-30 09:27] devreal commented on #613
This was fixed in #614

[2019-04-30 09:27] #613 closed, assigned to devreal

[2019-04-30 10:28] #517 closed, assigned to fuchsto

[2019-04-30 20:11] devreal commented on #601
Is this going anywhere?

[2019-04-30 20:13] devreal commented on #587
Still an issue here?

[2019-05-02 06:05] devreal commented on #511
Update: as discussed, `GlobRef` will not be made copyable. Credits to @rkowalewski for making it possible to have `GlobPtr` in DASH containers. It doesn't look like we'll get `GlobIter` there anytime soon so moving this away from 0.4.0 but keeping it open to track progress.

[2019-05-02 06:12] devreal commented on #390
Closing this issue because it's not going anywhere. There are discussions about introducing a fence call in MPI RMA, which we hopefully use to avoid flushes after each and every put. However, we still need to work on a description of the memory model...

[2019-05-02 06:12] #390 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal, dhinf

[2019-05-02 06:27] devreal commented on #137
Is this going anywhere?

[2019-05-03 12:00] devreal commented on #303
Resolved through #310.

[2019-05-03 12:00] #303 closed, assigned to fuchsto

[2019-05-07 09:11] #642 closed, assigned to nobody

[2019-05-08 06:52] devreal commented on #620
@fuchsto Ping. Still a huge road-block for me.

[2019-05-10 12:15] bertwesarg opened #647 "`DART_MPI_DISABLE_SHARED_WINDOWS` should not be set in dart-base"
https://github.com/dash-project/dash/blob/fb201484d7914bddddb2d10739e4424a1ba30961/dart-impl/base/CMakeLists.txt#L81

[2019-05-15 16:10] devreal commented on #620
I started looking into this myself (again). It appears that the conversion from global index to coordinates and back is flawed in the TilePattern for higher number of dimensions. For starters, going through the `CartesianIndexSpace` won't work because it has no notion of the tile distribution (which you should obey in a TilePattern, duh).

Consider the example from above:

[code]

For example, `Ca

[2019-06-21 05:58] bertwesarg opened #651 "FYI: PGI misscompiles C++11 enum classes with non integer types"
DASH is affected to a PGI compiler but I reported a bug with a reproducer:

    https://www.pgroup.com/userforum/viewtopic.php?t=6600

I noticed this because of the `BoundaryProp` enum class is of type `uint8_t`.

[2019-07-03 16:35] bertwesarg opened #653 "Infinite loop when using `dash::copy`"
I have a code which wants to copy a NArray to a NArray which has a smaller team and uses `dash::copy` for each line:

[code]

Running this with 4 units results in an infinite loop on unit 0 (the one which pulls the matrix into its local memroy):

[code]

The last two lines are reapeated indefinitly.

[2019-07-11 10:55] bertwesarg opened #656 "`dash::copy` copies the wrong values in global to local"
Extending the example in #653 gives now the wrong values in the target matrix:

[code]

The source matrix looks like this:

[code]

But the result matrix looks like this:

[code]

[2019-07-11 13:14] devreal commented on #656
Analysis: The current implementation of `dash::copy` (`dash::copy_impl`) does not observe the iteration space of the iterator but instead uses the local iteration space(s), starting from the first unit in the range passed to copy. That of course is not how `dash::copy` should operate.

Working on a fix.

[2019-07-11 17:46] bertwesarg opened #657 "`dash::copy` copies the wrong values in local to global"
Extending the example in #656 even further by copying the values back to the larger team by the smaller team, reveals that the local-to-global mode of `dash::copy` also does not work

[code]

The result with 4 units should be:

[code]

but I get:

[code]

For 16 units the correct result is:

[code]

The faulty result:

[code]

[2019-07-12 12:05] bertwesarg opened #658 "Cannot split a team multiple times"
When splitting a team the second time I get the following runtime exception:

[code]

Here is an example code:

[code]

Is this intentional?

[2019-07-18 06:33] bertwesarg opened #661 "DART: Only basic types allowed in this operation (BYTE given)"
Error with 512 units:

[code]

Alweays rank 7, not hardware related (tried two different sets of nodes). Works with 256

Reproducer:

[code]

[2019-07-18 07:32] bertwesarg commented on #661
For 2048 ranks, 32 are failing (units 160-191).
For 4096 ranks, 64 are failing (units 320-383).

Looks like a pattern :(

[2019-07-18 07:33] devreal commented on #661
I'm looking into it right now, waiting for nodes on the system :)

[2019-07-18 11:55] #661 closed, assigned to devreal, dhinf

[2019-07-18 15:46] #656 closed, assigned to fuchsto

[2019-07-18 15:47] devreal commented on #657
Fixed in #659

[2019-07-18 15:47] #657 closed, assigned to fuchsto, devreal

[2019-07-18 15:47] devreal commented on #653
Fixed in #659

[2019-07-18 15:47] #653 closed, assigned to fuchsto

[2019-08-02 13:08] #620 closed, assigned to fuchsto, pascalj, rkowalewski

[2019-08-27 08:55] bertwesarg opened #665 "cpp17/polymorphic_allocator.h is not standard complient"
This file containes `__attribute__((aligned())` statements, which are not standard complient.

Please fix.

[2019-08-27 10:24] bertwesarg opened #666 "dash::GlobStaticMem<LMemSpace>::operator= is a deleted function"
The intel compiler 18.5 complains about calling a `delete` member function:

    https://github.com/dash-project/dash/blob/964c45ab23b352bae5a777c6da57108d100eb0a3/dash/include/dash/memory/GlobStaticMem.h#L137

Here are the errors:

[code]

[2019-09-04 06:31] bertwesarg commented on #665
any news here? thanks.

[2019-09-04 06:31] bertwesarg commented on #666
any news here? thanks.

[2019-09-05 10:13] bertwesarg commented on #666
Just got word that Intel 19.4 does not has this issue. Is there any know workaround.

[2019-09-30 08:32] devreal opened #667 "TilePattern::global_at returns wrong offset"
Can someone please shed some light on the following issue? I have a 2D NArray with TilePattern and use `global_at` to determine the global offsets of elements in the tiles. Consider the following example (numbers are unit IDs):

[code]

If I try to get the global offsets of the first and last element of the block `{0, 0}`, I do

[code]

The second call to `global_at` returns 3, which is the offset

[2019-10-01 09:55] Mietzsch opened #668 "Crash when using large 3D NArrays"
When run on a VM with between 3-6GB of RAM and 4 units, this gives a bus error and crashes inside the main for-loop. Depending on the exact hardware, sometimes disabeling line 20 solves this, sometimes it even crashes when the v array is not even declared (line 17). Note that this array is not even needed in the calculation. When run with only 2 units, the program gets about double as far, compare

[2019-10-01 10:09] Mietzsch opened #669 "DASH error when using dash::copy with 3D arrays"
When this code is run with 4 or more units, I get the following error: `[    0 ERROR ] [  3008 ] GlobPtrBase.h            :264  | GlobPtr.increment                            | offset goes beyond the global memory end 1`. I want to copy the last plane of the z NArray to a local vector. This is actually successfull as seen by the output, but I still get this error. When I change the dash::copy to s

[2019-10-01 11:15] devreal commented on #668
@Mietzsch Thanks for the report. Could you please add which MPI version you are using and paste the CMake command you used to build DASH (likely the content of you `build.sh`)?

One reason for seeing `SIGBUS` is that the MPI implementation allocates windows in shared memory and it might be that your VM does not provide sufficient space. That is specific to the MPI implementation though.

[2019-10-01 11:24] Mietzsch commented on #668
I am using MPI version 3.3a2 and I build using the following `build.sh`:
[code]

[2019-10-01 11:26] Mietzsch commented on #669
Addition: I am using MPI version 3.3a2 and my `build.sh` can be found under #668.

[2019-10-01 11:29] devreal commented on #668
Unfortunately, I am not too familiar with MPICH. From https://www.mpich.org/static/downloads/3.3/mpich-3.3-README.txt, it looks like MPICH potentially allocates shared memory under either `/dev/shm` or `/tmp`. Can you please check how much space is free in these directories? The command `df -h /tmp/ /tmp/` should provide that information.

[2019-10-01 11:30] devreal commented on #669
Thanks for the report. I tried running your code on the latest `development` commit and that seems to work for me (only ran locally on my laptop but that should not have an impact on the issue). You said you used `dash-0.4.0`. Does that mean you're using the `development` branch, too?

[2019-10-01 11:38] Mietzsch commented on #668
`/tmp` has 20GB available and `/dev/shm` 2,5GB.

[2019-10-01 11:40] Mietzsch commented on #669
Yes, I am using the `development` branch. I will upgrade to the latest commit and then check back.

[2019-10-01 11:41] devreal commented on #669
We have had some significant work on `dash::copy` here: https://github.com/dash-project/dash/pull/659

[2019-10-01 11:49] devreal commented on #668
Each matrix you allocate is 1GB, adding up to `3GB`. I'm not sure how to convince MPICH to use `/tmp` instead of `/dev/shm`, the `README.envvars` in the distribution tarball doesn't seem to have a hint. If you have a way of installing Open MPI you can give that a try and set the MCA parameter `shmem_mmap_backing_file_base_dir` to `/tmp`. Let me know if you need help with that.

[2019-10-01 11:52] Mietzsch commented on #668
Then let me come back to you on this as well, after I've checked this. Thank you very much, this was very helpful.

[2019-10-01 12:00] devreal commented on #668
If possible, you could also try to provide the VM with more memory and/or increase the size of `/dev/shm` manually, e.g., following https://masukkhan.wordpress.com/2015/12/09/resize-devshm-filesystem-in-linux/

[2019-10-01 16:02] Mietzsch commented on #668
I increased the size of `dev/shm` as you suggested, that solved the issue. Thank you very much!

[2019-10-01 16:02] #668 closed, assigned to nobody

[2019-10-02 06:50] rkowalewski commented on #669
`dash::copy` was always ad is still a nightmare. We had lots of fixes in the past which probably are still lying around in some PRs and always got rejected. Let's look into it face to face if you are here at university again.

[2019-10-02 06:52] rkowalewski commented on #667
Cannot help you really here because I still do not understand the pattern code. AFAIK you are right with your assumptions.

[2019-10-02 08:12] Mietzsch commented on #669
Well, at least this instance of the nightmare got fixed in last past months, it works with the most recent iteration of the `development` branch. Sorry for not checking beforehand and thanks to all.

[2019-10-02 08:12] #669 closed, assigned to nobody

[2019-10-02 12:09] devreal commented on #668
Thanks for reporting back! We should add a `KNOWN_ISSUES` file that describes this.

[2019-10-15 05:45] devreal opened #670 "TilePattern::unit_at returns wrong value"
The assert in the following example fails for some `{x,y}`:

[code]

I believe that the output of `pattern.local_index(gcoords).unit.id` is correct and that `TilePattern::unit_at` is broken.

[2019-10-30 14:51] devreal commented on #651
It seems like this has been resolved in PGI 19.7. Can we close this issue or is any action needed in DASH?

[2019-10-30 15:08] bertwesarg commented on #651
It is. In case you do not want to support older PGI compilers, this can be closed.

[2019-10-31 09:05] devreal commented on #651
Not sure it's worth cluttering the code with `ifdef`s for broken old PGI compilers. It's documented here, in case someone runs into it.

[2019-11-22 04:50] Goon83 opened #672 "Halo for N-D array"
Hi DASH Community,
Just crossed this project and found it is very interesting.
Want to know more about the status of Halo layer (ghost zone) support for a N-dimensional array.  I saw some sample code there, like the below. It actually uses a 2D wrapper for Halo layer of 2D array.   How about a general support for halo layer on an N-D array ?

https://github.com/dash-project/dash/blob/development/d

[2019-11-22 19:42] Goon83 commented on #672
After studying the code a while, it seems that DASH supports at most 2D array, not N-D array, right ?

[2019-11-22 23:43] devreal commented on #672
@Goon83 The Halo abstraction supports arbitrary dimensions of the matrix, @dhinf went through great pains to make that work afaik. What dimensionality are you looking for?

The tests contain an example of using a 3D matrix: https://github.com/dash-project/dash/blob/development/dash/test/halo/HaloTest.cc#L445

The interface stays the same. I'm not sure that we have higher dimensions available onlin

[2019-11-25 08:48] dhinf commented on #672
Hi, the halo abstraction works for N-Dim. You only have to change the template parameters. Compare the example @devreal provided with the two dimensional one and you can see what changed. Which Dimension do you have in mind?

[2019-11-25 17:32] Goon83 commented on #672
Thanks @devreal and @dhinf for clarification. I will give the code a try and see what happens. Will post here about results once I finished.

Which Dimension do you have in mind?

BTW, I also experienced errors in installed DASH on Mac, same as https://github.com/dash-project/dash/issues/616.   Linux system works fine.   I understand that Mac is not HPC system which runs the final app. But, it is

[2019-11-27 15:35] Goon83 opened #673 "Issue on MacOS: HWLOC or PAPI required if not running on a Linux platform"
Mostly follow the steps listed here : https://github.com/dash-project/dash/issues/616
But, no luck on my Mac 10.14.6. After much of pain to install PAPI, remove -lrt and other issues like malloc.h. Code did get compiled but it reports the below error at runtime.  I used the ./build.minimal.sh /w PAPI turn on.  Any idea to debug or resolve this ?

I also tried to test without PAPI via,

adding

#de

[2019-11-27 15:41] Goon83 commented on #673
BTW, the code see

[2019-11-27 19:37] devreal commented on #673
@Goon83 Thanks for bringing this back up. I agree that the argument issued in the previous tickets that mac OS X is not an HPC platform is rather weak and that many people use that platform for development work. I think our main problem is that we currently have no one who is using a mac so it's hard to properly debug and fix these issues. Patches are of course always welcome :)

That being said,

[2019-11-28 00:36] Goon83 commented on #673
@devreal

I think it finds the PAPI. The ./build.minimal.sh says:
...

As shown above, the /usr/local/lib/libpapi.so is located for compile.
For some reason, after building executable file, it needs manually to provides the PATH for libpapi.so.  Also, since the MacOS prefers libpapi.dylib file instead of .so file, I needs to otool and install_name_tool [(here)](https://stackoverflow.com/questions/

[2019-11-28 00:44] Goon83 commented on #673
BTW, I also tested with hwinfo (which installed from MacPorts). It also reports the same error.

[2019-11-28 09:26] devreal commented on #673
The error message from DART that you first reported indicated that PAPI was not found at compile time (it's guarded by `ifdef`s). The linker error suggests that something is wrong with your PAPI installation. Can you check whether the compile commands in DASH contain the flag `-DDART_ENABLE_PAPI`? That flag should be set if PAPI is found.

As an alternative, is there an easy way for you to install

[2019-12-11 21:15] devreal commented on #673
@Goon83 Thanks to @anindex we have a patch that tackles the issue of DASH running on Mac: https://github.com/dash-project/dash/pull/675 Could you give that a try?

[2019-12-11 21:15] devreal commented on #673
Note that with that patch you should not require PAPI or hwloc...

[2019-12-14 09:58] Goon83 commented on #673
@devreal @anindex, thanks for the efforts. As I am on international travels recently, will test the patch ASAP.

[2019-12-16 14:25] bertwesarg commented on #665
very unlucky, to get no reply here. Any one can at least give me a work around?

[2019-12-16 14:32] devreal commented on #665
Yes, it appears that most people around have gone dormant. I just did a quick google on this issue. It appears there is no portable *standard* C++ way of specifying the alignment of a type. Can you provide details of why this is a problem and how it manifests?

[2019-12-16 14:39] bertwesarg commented on #665
The compiler refuses to compile ;-)

[2019-12-16 14:40] bertwesarg commented on #665
I'm now using this:

[code]

It is described here: https://en.cppreference.com/w/cpp/language/alignas

[2019-12-16 14:41] devreal commented on #665
Can you post a PR for this?

[2019-12-16 15:07] rkowalewski commented on #665
That looks good. Please post a PR.

[2020-01-08 18:47] pauleonix opened #678 "Stencil w/ radius greater than one"
Hi, I am using DASH in a student project to benchmark its performance on a 3-dim Stencil going 4 elements in each direction. I would like to use the halo abstraction as in ex.11.halo-stencil, but I can't find documentation on these features (I know, it is in the development branch, so it is not to be expected.). Does the ```value_at()``` method of the boundary iterator work with this kind of stenc

[2020-01-13 18:48] Goon83 commented on #673
Hi @devreal  and @anindex,
I tested the new patch and the compile works on my Mac.
Also, I ran all the test/example codes and nothing goes wrong .
Thanks for the great work.

Something wired, however, happens after I tried to compile the example code individually /w the dash-mpic++.  Error informations are listed below. Note that using the compile files within the code tree works (as said above).

[2020-01-14 09:09] devreal commented on #673
@Goon83 Thanks for checking the branch :) Something seems off with your setup.

First, the `unistd.h` header should be available on Mac OS X (it's part of the C POSIX API afaik). Can you search for it in `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/`?

Second, it seems that your compiler has an issue with the C++ `iostream` header. Can you try to compile this sim

[2020-01-14 18:44] Goon83 commented on #673
Hi devreal,
Thanks for the post to help. I had the two tests below with or without "unistd.h" on both compiler mpicxx and dash-mpicxx.  The mpicxx works on both cases but the dash-mpicxx failed. I also can find the "unistd.h" on multple locations of my mac (see the end).

Test 1, without "unistd.h"

[code]

mpicc works but the dash-mpicxx fails.
[code]

Test 2: with the unistd.h.

[code]

mpicc wo

[2020-01-14 19:06] devreal commented on #673
Interesting. Can you post the output of the following?

[code]

That will show us how the DASH wrapper invokes the underlying MPI compiler.

[2020-01-14 19:18] Goon83 commented on #673
[code]

[code]

[2020-01-14 19:24] devreal commented on #673
What happens if you just invoke the Xcode C++ compiler?

[code]

[2020-01-14 19:38] Goon83 commented on #673
[code]

[2020-01-14 20:08] devreal commented on #673
How do you usually invoke the C++ compiler? `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++` not your standard compiler?

[2020-01-14 20:10] Goon83 commented on #673
Mostly, I just used mpicxx, not directly using c++.

[2020-01-14 20:13] devreal commented on #673
Mhh, then `mpicxx` does something that fixes it. You're using MPICH right? Can you post what `mpicxx -compile_info` prints out?

[2020-01-14 20:18] Goon83 commented on #673
🍀12:10:22@dash🍃 mpicxx -compile_info
clang++ -Wl,-flat_namespace -Wl,-commons,use_dylibs -I/usr/local/Cellar/mpich/3.3.1/include -L/usr/local/Cellar/mpich/3.3.1/lib -lmpicxx -lmpi -lpmpi

[2020-01-14 20:33] devreal commented on #673
Ahh, so mpich picked up `clang++` instead of the Xcode `c++`.

Can you try to rebuild DASH with the following?

[code]

That should tell the DASH CMake to use the Clang compiler.

[2020-01-14 21:50] Goon83 commented on #673
Seems that using the clang++ still has the error:
[code]

For reference, output of mpicc
[code]

[2020-01-14 23:02] Goon83 opened #679 "Different outputs from main and print_matrix"
Hi All,
On the Mac (https://github.com/dash-project/dash/issues/673) with its default Makefile, I am testing the below simple example code to understand how DASH works. It gives me some confused results. I tried to print out matrix within main and print_matrix. sub function. The output from print_matrix looks wrong.  Did I do something wrong with the code ?

Thanks.
Bin

[code]

[code]

[2020-01-16 08:06] devreal commented on #673
AFAICS, your C++ compiler installation is broken as the compiler is unable to compile a simple C++ application by itself. For some weird reason MPICH seems to correct for this by including the necessary directories but that is not the standard (at least on any sane system I have access to).

Having said that, you can try to correct it yourself by adding something like `-I/usr/local/include -stdlib

[2020-01-16 08:32] devreal commented on #679
@fuchsto @rkowalewski @fuerlinger This is a question to you: what is the iteration order of a global iterator through a tiled matrix? My understanding is that it should still go row-wise, not tile-wise (the global pointer's iteration order is tile-wise, right?).

Iterating over the matrix using global iterators has the same result as what `dash::copy` puts into the local buffer (tile-wise iteratio

[2020-01-17 08:14] dhinf commented on #678
Hi, sorry for the late response. Please have a look at the example ex.02.matrix.halo.heat_equation. It is more obvious what the halo wrapper does. The feature branch feat-halo also fixed the problem with slow iterators for the inner part.

A coefficient can be set per stencil point. If none is given, a default value of 1.0 is used. When you build dash with documentation, you can find documentation

[2020-01-17 12:23] rkowalewski commented on #679
There is no single answer IMHO. It makes sense that we iterate tile-wise as the default iteration order, because...what should be the default iteration order of a matrix? There is no real standard how to iterate over a ND-Matrix which is why I would expect the user to explicitly ask for a global row-wise iterator.

Other maths projects (e.g. Eigen) also provide explicit iterators for such purposes

[2020-01-20 11:27] pauleonix commented on #678
I understand now, that I give the position of the elements in ```.value_at()``` by the order I define the stencil elements.
If you could give me a minimal example of giving the coeffs to the stencil and tell me how/when they are applied after that, I guess I will manage to make use of the halo wrapper.
There isn't any way to define the stencil w/o having to write down every single element, right?

[2020-01-21 08:47] dhinf commented on #678
3-D stencil with partly self-defined coefficients. In case of a 3-dim stencil point you need four arguments for the constructor. The first one sets the coefficient and the next three the stencil point:

[code]

[2020-01-21 08:49] dhinf commented on #678
Not at the moment.

[2020-01-21 08:50] dhinf commented on #678
hit the wrong button and accidentally closed the issue

[2020-01-21 08:54] devreal commented on #679
@rkowalewski Thanks for the clarification! I was wrongly assuming that global iterators follow the row-iteration order. We should definitely add this capability, maybe as a specialization of `GlobIter`? The use @Goon83 has is imo strong, copying rows out of a matrix is something people want to do at times and can be done much more efficient with `dash::copy` than element-wise in a raw for-loop.

@

[2020-01-21 19:31] Goon83 opened #680 "Directly specify the halo width"
Following some examples to learn the halo function in DASH. One question is about how to specify the width of halo layer without StencilSpec. I found most example codes use the below steps to declare a array with halo.

[code]
After studying the API of HaloWrapper_t, it seems that  the stencil_spec is the only way to ask for a halo layer.
https://codedocs.xyz/dash-project/dash/a01194.html

Thanks.

[2020-01-21 19:39] Goon83 commented on #679
@devreal  thanks for confirmation.

BTW, does the DASH has an API to access a contiguous subset of a matrix.
Say for a 2D matrix A with size 8 x 8,  could I  access the first 3 x 3 subset via A[0:2, 0:2]?

I did not find such API in https://codedocs.xyz/dash-project/dash/a01398.html

Thanks.

[2020-01-22 13:19] dhinf commented on #680
How should a direct halo width specification look like?
Lets say, you want a two element halo width in each direction, does it mean including diagonal elements or not etc. . The thing is, you need later on the stencil spec to access the halo elements.

[2020-01-22 13:23] dhinf commented on #680
Possible is a stencil spec generator for typical stencil pattern.
E.g. a full stencil with a specified width.
Maybe this could be something you are looking for.

[2020-01-22 19:22] Goon83 commented on #680
Hi dhinf,

Lets say, you want a two element halo width in each direction, does it mean including diagonal elements or not etc. . The thing is, you need later on the stencil spec to access the halo elements.

-->  Yes, it includes diagonal elements.  The general idea is to separate the halo spec and stencil operator. For a case with their own stencil implementation (such as our ArrayUDF), the DASH

[2020-01-23 16:30] dhinf commented on #680
Hi Goon83,

The halo width is based on the stencil spec. But i think it should be possible to also provide the width. I'm interested in your use case. The halo wrapper takes the local part of a dash::matrix or narray (naming is a little bit misleading). Then it adds the halo part, which is a separate chunk of memory. How does ArrayUDF handles the halo memory?

Like i said, i'm really interested ho

[2020-01-23 18:58] Goon83 commented on #680
Hi dhinf,
When data is stored in memory, ArrayUDF views the halo layer as non-halo data too. It basically merges halo and non-halo points as contiguous and normal chunk.  ArrayUDF only knows the halo when it performs I/O, i.e., reading data into its memory.

I came up a simple and naive example (below) to simulate the request of ArrayUDF.  It creates a 2D array on 4 MPI processing, giving the tota

[2020-01-24 14:55] dhinf commented on #680
Indeed, each access on non local elements triggers a blocked communication call. So the performance is really bad. The halo wrapper takes the local part of the distributed Array and the stencil spec. Then it calculates the memory size required for the halo elements and requests new memory. At the moment it is not possible to use the subscript operator to access the halo elements. That's why  you n

[2020-01-25 19:01] pauleonix commented on #678
So there is no way to automatically apply the stencil with the coefficients, meaning that at the moment it is just for convenience if you have a very complicated set of coefficients? My coefficients just depend on the radius from the center. So storage-wise it doesn't make sense to save them this way if there is not more to it.

[2020-01-25 21:56] pauleonix commented on #678
I also have a very basic question. When using the global view of an DASH data structure to access single elements stored on a different node, like in ex.11.simple-stencil, does this mean, that internally there will be a single MPI call for each element? This would make for very bad performance, right?

[2020-01-27 17:51] Goon83 commented on #680
Hi dhinf,
Thanks for clarification. I am a little confused with how to use stencil iterator to access halo elements. Could you point me to some sample code or document? It's more helpful if you can help to modify above example code to with halo and stencil iterator.

Thanks.
Bin

[2020-01-27 19:00] Goon83 opened #681 "NumDimensions, alternative way to the template parameter"
Hi,
Sorry for too many questions here. I am developing a DASH plugin to ArrayUDF and had a question about the NumDimensions. It is a template parameter to the Matrix class (as below). Do we have another way to bypass this it? Say, I declare a Matrix first and then pass the NumDimensions as a parameter.   I am asking because using DASH to be as a storage layer needs to be generic pointer to a matri

[2020-01-28 09:50] theGidy commented on #678
From the point of a  user, I suppose that's true. I was not able to achieve a good performance while using large stencils on large arrays with this approach. In the end, I copied the data+halo with `dash::copy` to a local buffer and executed the stencil calculation on the buffer. But this resulted in other issues in the performance depending on the choosen pattern for the array on my local system.

[2020-01-28 09:52] dhinf commented on #678
The StencilOperator provides a method that uses the coefficients (set_ and get_value_at). But at the moment, if you know your coefficients use them plain in your stencil operation.

[2020-01-28 09:57] dhinf commented on #678
True, if you use global iterators the performance isn't bad, it's awful.  That's why the Halo wrapper manages the halo areas for you and also allows to update them within one call. The stencil operator provides proxy operators for the inner part of you sub matrix (no halo elements) and a boundary operator, where each element has at least on halo element. Normally you start the halo update asynchro

[2020-01-28 10:01] dhinf commented on #678
Have a look at the example ex.02.matrix.halo.heat_equation. This example shows how to use the halo wrapper. Also, if your are using the branch feat-halo, the part marked slow in the example performs quite well now.

[2020-01-28 15:22] dhinf commented on #680
Hi Bin,

here is an example:
https://github.com/dash-project/dash/blob/development/dash/examples/ex.02.matrix.halo.heat_equation/main.cpp

Within the iteration loop you can see how to use the iterator. If you use the feat-halo branch the comment in line 145 (slow version) isn't true anymore. The performance is more competitive in this branch.

[2020-01-28 15:23] devreal commented on #680
@dhinf Can we merge this branch into development?

[2020-01-28 17:02] pauleonix opened #682 "hwloc and LIKWID Versions"
It would be very cool to have minimum/maximum Version numbers for these in the readme. For both libraries there can be build problems if the wrong version is loaded. E.g. it doesn't work with hwloc@2.0.2, but with hwloc@1.11.11. If I then add likwid@4.3.2 there are build errors again. I have no other Versions of likwid installed and I would like to know which one will work (newer or older than 4.3

[2020-01-28 17:06] pauleonix commented on #682
To be more precise: with likwid@4.3.2 and hwloc@1.11.11 I get
[code]

[2020-01-28 17:11] pauleonix commented on #682
Without likwid but with hwloc@2.0.2 I get
[code]

[2020-01-28 19:07] devreal commented on #682
@Spielix You're right, we should document the minimum requirements. We should also support hwloc v2 eventually. I'll see what I can do.

In the meantime, do you need support for either likwid or hwloc-2?

[2020-01-28 19:16] Goon83 commented on #680
hi dhinf,
Could you help to explain the blow code blocks?  I am studying the slow version but have some difficult to locate right document to understand them. Maybe, I don't get the background of the code right.

Following the example code, it is a 2D matrix. The Stencil is defined as
`
StencilSpecT stencil_spec( StencilT(-1, 0), StencilT(1, 0), StencilT( 0, -1), StencilT(0, 1));
`
I assume this l

[2020-01-28 20:45] pauleonix commented on #682
Like I said, first of all I would like to know what difference it makes to have these. I mean when one knows the library one may be able to imagine for what I it may be used in DASH, but not every use-case one can imagine may be implemented (yet), etc.
I would like to know the benefits and - if there are any - the drawbacks of building DASH with these 3rd party libraries enabled.

[2020-01-28 20:55] devreal commented on #682
@Spielix Ahh I see, sorry I didn't fully grasp your question. You should be able to safely build DASH without these two libraries. They are mainly used to query information on the machine you're running on, e.g., the number of cores and the size of memory. In most cases, none of that is crucial for using DASH though and DASH will fallback to Linux APIs to query some of this information if neither

[2020-01-29 09:39] dhinf commented on #680
I need to clean up some code. I think at the end of this week or next week we can merge the branch into development.

[2020-01-29 15:53] pauleonix opened #683 "Is building with -DBUILD_GENERIC=ON a good idea?"
How bad (performance-wise) is it to build DASH with the generic flag turned on?

I have two kinds of nodes available, some with knl architecture and some with skylake architecture. I have to benchmark some DASH functionalities on both of them. Up until now I build DASH generically for it to work on both and then build two versions of my benchmark where I specified the architecture.

Should I build

[2020-01-29 16:00] pauleonix commented on #682
When I build using hwloc@1.11.11 and run dash-test-mpi  with e.g. ```-host mynode:4```, the tests need a very long time (producing more than 11,123 lines of output) and ultimately seem to fail:
[code]
 When I leave away the ```:4``` everything works fine, as without hwloc. As my application(s) are quite communication heavy, I was thinking about having only one process per node instead of one per N

[2020-01-29 16:13] pauleonix commented on #678
Some of the nodes I work on have a knl architecture with many slow cores. Is there any multithreading involved in ```ex.02.matrix.halo.heat_equation```? Or is it possible to speed up at least the inner part with an omp pragma?

EDIT: I should mention that my openMPI implementation doesn't allow for MPI_THREAD_MULTIPLE. Therefore I build DASH with ```-DENABLE_THREADSUPPORT=OFF```.

[2020-01-29 18:00] devreal commented on #683
Most of the pre-compiled (non-header) part of DASH is a simple wrapper around MPI functionality so I don't expect there to be a huge difference. It does depend on your application though: if you do plenty of small-size global memory accesses (i.e., plenty of calls into the runtime and MPI) you may see a difference as the generic compilation drops support for all of the fancy instructions modern pr

[2020-01-30 09:47] dhinf commented on #678
sure, you can use OpenMP. We tested the halowrapper with OpenMP and with the DASH Tasking Model. You can use OpenMP For-Loops for the inner part and OpenMP tasking for the boundaries.

[2020-01-30 10:05] dhinf commented on #680
This is the stencil point position within the stencilspec.
StencilT(-1, 0)  -> value_at(0)
StencilT(1, 0)   -> value_at(1)
StencilT( 0, -1) -> value_at(2)
StencilT(0, 1)   -> value_at(3)

you also can use -> value_at(StencilT(-1,0)) . Here the iterator tries to find the position of stencil point within the given stencil spec and then calls value_at(position). So you have an indirection and results

[2020-01-30 14:58] pauleonix commented on #678
What is the reasoning behind using tasking here?

[2020-01-30 15:34] dhinf commented on #678
you can separate the boundary regions. E.g. one task for north, one for south etc.

[2020-01-30 16:19] pauleonix commented on #678
But that would give me only 6 tasks? And I don't see how this works with the iterators.

[2020-01-30 17:28] #683 closed, assigned to nobody

[2020-01-30 21:40] devreal commented on #678
You can use taskloops inside these tasks to generate more work (if the boundaries are big enough, that is).

[2020-01-31 11:02] pauleonix commented on #682
I would love to get some comment on this. Is this
- b/c one shouldn't use ```:number_of_slots```,
- b/c of the hwloc Version,
- b/c of some configuration issues on my side,
- or is there a bug in ```dash-test-mpi``` or even DASH itself?

[2020-01-31 11:42] pauleonix commented on #678
So assuming the inner and boundary iterators work with openmp > 3.0 (I have 4.5) and that during the loops over these iterators there is no communication going on through MPI:
In my use-case (stencil of radius 4, smallest global grid is 32^3, biggest is 512^3, between 4 and 16 dash processes) the boundary regions are very big. If that were not the case I would understand that having a lot of paral

[2020-01-31 12:14] devreal commented on #682
It is hard to say what is going on just from the error you posted. Could you give some more information your platform, your MPI, and which test exactly fails?

[2020-01-31 13:00] pauleonix commented on #682
Well, you not knowing where it comes from is pretty much enough information for me to just drop hwloc.

As you may want to go further:
- The single node I ran the test on has 2x Intel Xeon Platinum 8168 @2.70GHz
- I use openMPI@3.1.5, gcc@8.2.0 and openBLAS@0.3.7.
- I also tried to run the test in an multi-node setting with more than one slot assigned to each node, but it took so long that I cance

[2020-01-31 13:35] devreal commented on #682
It seems that the locality part of the runtime trips over something in your setup. Unfortunately, I do not know enough about that part to quickly figure things out. Here is the relevant code (https://github.com/dash-project/dash/blob/development/dart-impl/base/src/locality.c#L611):

[code]

AFAICS, the hwloc part is only really relevant if you plan to split teams based on hardware information (gro

[2020-01-31 13:36] devreal commented on #682
Maybe @fuchsto can shed some light on what is going wrong here?

[2020-01-31 14:08] devreal commented on #682
@Spielix You mentioned that the test run takes significantly longer if you place four units on the same node. That is surprising because most of the tests are single-threaded. Can you make sure that the processes are not bound to the same core? Can you try running with `--bind-to none` passed to MPI?

The amount of output is expected, that's the normal test output.

[2020-01-31 15:04] pauleonix commented on #682
The ```bind-to none``` doesn't seem to change anything. I tested it again (on a different node) and with the error the output is again over 10k lines, while when I don't specify the number of slots, I only get 3k lines of output (with all tests passed.)

EDIT There is ca a factor of two in runtime.

[2020-01-31 15:06] pauleonix commented on #682
This node has 2x Intel Xeon Silver 4110 @2.10GHz. With error it takes about 3 minutes, without it takes about 1.5 minutes.

[2020-01-31 15:10] pauleonix commented on #682
[slurm-696529_error.out.txt](https://github.com/dash-project/dash/files/4140038/slurm-696529_error.out.txt)
[slurm-696530_no_error.out.txt](https://github.com/dash-project/dash/files/4140039/slurm-696530_no_error.out.txt)

[2020-01-31 15:20] devreal commented on #682
@Spielix If you don't specify `:4` the test runs with a single unit only. Many of the tests require at least 2 units, some more, so naturally the output is significantly smaller. That might actually also explain the longer runtime...

[2020-01-31 15:23] pauleonix commented on #682
I guess the test that is failing is one of the ones not being run with only one slot?

[2020-01-31 15:32] devreal commented on #682
Korrekt: https://github.com/dash-project/dash/blob/development/dash/test/team/TeamLocalityTest.cc#L273

[2020-01-31 16:23] pauleonix commented on #682
It wouldn't be too surprising if this was a setup issue, as the admins are mostly working on single nodes. We had problems with the MPI setup before. Although I would have thought that this would only show when one uses more than one node...

[2020-01-31 16:34] devreal commented on #682
Can you try to launch one unit per node to see if the issue persists there? (if multi-node runs are part of your use-case)

[2020-01-31 21:42] pauleonix commented on #678
The version with 8 threads seems to be slower than a version with 8 processes. Could it be that the reason is that dash automatically uses MPI windows or even pthreads on a shared memory node and this is in some way better optimized here?
Also it should be noted somewhere that without ```--bind-by none``` openmp regions are potentially being serialized :sweat_smile:

[2020-02-01 14:35] pauleonix commented on #682
I can, but the the only type I have 4 nodes of is knl, so the single cores are very slow (the network is slow too.). When I tried it I got a seemingly different error. ~The problem is that when I try doing the test with the non-hwloc build, it runs for over 8 hours on the 4 nodes and that is the maximum amount of time I can use.~ As it didn't take long for the hwloc version to error on the 4 nodes

[2020-02-01 20:48] pauleonix opened #686 "halo.update_async(); Deadlock in Multi Node Case on feat-halo"
In my stencil benchmark I use the halo wrapper as in ```ex.02.matrix.halo.heat_equation```. When building with the ```feat-halo``` branch my code deadlocks at ```halo.update_async();``` when running the code on more than one node.
If I use the ```developement``` branch or run on a single node with more than one dash unit, this doesn't happen.

This also seems to be the reason for ```dash-test-mpi`

[2020-02-02 00:11] pauleonix commented on #682
As you can see in the new issue I have found out what stopped the non-hwloc run from working (I thought that it couldn't be that slow/that much to test). I actually didn't use the right branch. With the ```development``` branch the code works fine on the four nodes w/o hwloc meaning that the error appearing in "slurm-696581_hwlocerror_4nodes.out.txt" is also due to hwloc. I don't know if or how it

[2020-02-03 16:41] Goon83 opened #687 "Is it possible to create a local matrix per MPI process"
Hi,
Is it possible to create a local matrix per MPI process? It is like MPI_COMM_SELF for file creation. Then each MPI process access its own data.

Thanks,
Bin

[2020-02-03 17:48] devreal commented on #687
@Goon83 I have not tried this but maybe something along these lines works:

[code]

This should give you a team with only one unit each. You can pass this team to the c'tor of the matrix and that should create independent matrices in each unit.

[2020-02-03 22:22] Goon83 opened #688 "unsigned long long in DASH"
Hi,
Met another problem in DASH. I tried to embed the below code into ArrayUDF. The compiler says that "unsigned long long" is not directly supported in DASH. The conversion to "unsigned long" is required but it fails. Any hint to resolve this ?

Thanks,
Bin

Code:

`dash::SizeSpec<2, unsigned long long> dash_size_spec = dash::SizeSpec<2, unsigned long long>();`

Error info from compiler:

[code]

[2020-02-04 09:27] devreal commented on #688
@Goon I cannot seem to reproduce this issue:

[code]

[code]

What compiler are you using?

[2020-02-07 00:06] Goon83 commented on #680
Hi dhinf,
Thanks for explanations.  For the second question, I am still confused.  Say the below example with the size of 5 by 5.  "0" and "A" are inner elements and non 0 are halo.  Will the inner iterator only works on the element "A" ?   Which loop in above code will deal with "0"?

 1     2      3   4    5
 6     0     0   0    7
 8     0     A   0    9
10    0     0   0   11
11   12    13 14

[2020-02-07 11:58] dhinf commented on #686
I will look into next week.

[2020-02-07 12:05] dhinf commented on #678
It can happen that you have indirct blocking with distributed processes (2x2x2 for 3d or 4x2 for 2d). But when you use one process only and 8 threads you need explicit loop blocking to use the cache optimal. Also you might need to consider the first touch policy -> depending on your numa domains

[2020-02-07 12:15] dhinf commented on #678
The order is region wise. e.g. for full stencil in 2d the iterator follows the region numbers for the boundary. the iterator iterates over all elements of region and than goes to the next region
| 0 |        1      | 2 |
| 3 |     inner   | 4 |
| 5 |        6      | 7 |

the method  iterator_at(region_index_t index) returns a pair with the begin and end iterator of the boundary for a specific regi

[2020-02-07 12:24] dhinf commented on #680
Hi Bin,

works on A

works on all 0 elements

I will look into your other questions next week.

Best
Denis

[2020-02-11 22:01] Goon83 commented on #680
Hi Denis,
Thanks for the answers.  Could you elaborate more details about the iteration order (for both inner and boundary)? the cell layout order (e.g., row major)in memory?

I may rephrase my question with the below code again.  As the code says, it accesses halo elements as normal (inner) element through [] operator or value_at.  Having a halo layer can boost the performance. However, the code

[2020-02-13 02:36] pauleonix opened #689 "TeamSpec / balance_extents for 2D Distribution of 3D Data"
I'm working on a 3-dim Stencil Code. When I tried to instead of using ```dash::BLOCKED``` in all three dimensions for the ```DistributionSpec```, to use ```dash::NONE``` in the dimension of the linear index, I got problems b/c some units had zero volume.

The reason is certainly, that my ```TeamSpec``` (with no prior unit distribution given to the ```TeamSpec``` constructor) with units distributed

[2020-02-13 08:51] devreal commented on #689
@Spielix I came across a similar problem. My solution was to create a 2D balanced `TeamSpec` and take the two dimensions of it as the first two input dimensions of the 3D `TeamSpec`:

[code]

HTH!

[2020-02-15 09:43] pauleonix commented on #689
Thanks. That will do.

[2020-02-17 19:00] zhukevin04 opened #690 "Dash::copy from global to global seems error."
Hi, we are using dash in a student project to implement matrix transpose in distributed memory, we want implement a block data copy from global to global by dash::copy. But there is a complied error.(try on development  and bug-656-copy). If this is my code's own error, sorry about that.
Thanks

Error:

This is the function code like example bench.07.local-copy:

[code]

and the patterns are:
[cod

[2020-02-18 13:21] dhinf commented on #680
Hi Bin,
i will look into it next week. The problem by using the subscript operator is the performance. the operator has to check every access whether it is a halo or local element. it is definitely possible, but costly compared to the current solution.

best
Denis

[2020-02-18 13:30] dhinf commented on #686
@Spielix can you please name the flags you used. Did you enabled DYNAMIC_WINDOWS or SHARED_WINDOWS. I can't reproduce  the error. The only thing happened to me, was a MPI_Win_detach error. The error is located in OpenMPI. We have a workaround provided by @devreal

[2020-02-18 19:03] Goon83 commented on #687
Hi Devreal,
I tried the following code but it reports the below error. Any hint to write it in right way?
Followed the [doc](https://codedocs.xyz/dash-project/dash/a01810.html#a2134cf8b17ed1faed2d67201daba1610) to any provide a single argument to split. Nor sure it is right or not.

Code:
`  auto team_local = dash::Team::All().split(dash::Team::All().size());
`

Error:
[code]

[2020-02-18 19:06] Goon83 commented on #680
Hi Denis,
Sounds greats. I think the cost of a simple check should be acceptable regarding the simplicity  of the code.  Using subscript on matrix is more nature way to access a matrix, without considering the data layout.

Bests,
Bin

[2020-02-18 23:32] devreal commented on #687
Just realized that split returns a `Team&`. Can you try `auto&` instead?

[code]

[2020-02-19 07:40] rkowalewski commented on #690
Hello. Thank you for reporting this. It seems that we do not (yet) support global to global copies. What you can do as a short-term workaround is to implement the global copy yourself. If both arrays have the same patterns and sizes it is even simpler as you can copy the local portions on all units.

We have to look into implementing global to global.

[2020-02-19 19:11] Goon83 commented on #687
Hi devreal,
Thanks for the information. I came up with a simple test code but it still complains with some error. See below for details.  Did I do something wrong ?

Bests,
Bin

Sample code:

[code]

Error Info:
[code]

[2020-02-20 10:06] bertwesarg commented on #666
And still no response here. Thanks.

[2020-02-20 14:17] bertwesarg commented on #666
My pragmatic solution is to add a `reset` method to `GlobStaticMem`

[code]

[2020-02-21 19:58] Goon83 opened #692 "StoreHDF::write for 1D compile error"
Hi,
I am testing the HDF5 support in DASH. It reports compile error for 1D data at compile time.
Could you help to look at it ? See below for the code and error output.

Bests,
Bin

Code:
[code]

Error info:
[code]

[code]

[code]

[2020-02-22 09:20] devreal commented on #687
Sorry, I didn't see your reply until just now. The problem is that your `teamspec` uses a different team (`dash::Team::All()` is the default if you don't pass any team).

This should fix it:

[code]

We should think about changing the pattern and matrix interface to disallow passing a team *and* a teamspec to the c'tor to prevent this kind of ambiguity.

[2020-02-24 18:49] Goon83 commented on #687
Hi @devreal ,
I copied and pasted the new code and it still reports the below error. Do you have idea why the error happens.  Thanks.

Bests,
Bin
[code]

[2020-02-25 09:50] devreal commented on #692
Looking into this right now. It seems that the 1D specialization of the TilePattern does not offer `local_blockspec`. Will try to come up with a patch soon.

[2020-02-25 10:37] devreal commented on #692
@Goon83 Can you give the patch at #693 a try?

The 1D specialization of the TilePattern was missing the `local_blockspec` member function. I should note that the CSRPattern and the LoadBalancingPattern are missing that method, too, but I don't know enough about them to fix it immediately. I hope this helps though.

[2020-02-25 19:26] Goon83 commented on #692
Hi devreal,
Thanks for working to resolve this issue. It compiles now without any error.

Bests,
Bin

[2020-02-26 23:01] Goon83 commented on #692
hi @devreal
Another error comes up for the "StoreHDF::read" at compile time. It says that

_"TeamSpec<[...], (default) long>' to 'const TeamSpec<[...],   unsigned long>' for 3rd argument"._

Looks wired that the  "StoreHDF::read" works.

It might be the same as the previous error https://github.com/dash-project/dash/issues/688

BTW, my system is MacOS 10.14.6.

Bests,
Bin

Test code:
[code]

Error

[2020-02-27 08:28] devreal commented on #692
@Goon83 I think there is a problem with the explicit specification of the index type in your Matrix instance. This is certainly a bug in how we pass around this type to dependent templates. As a workaround, can you try removing the `unsigned long` from `dash::Matrix<double, 1, unsigned long>`?

@anindex can you take a look at this? We should include the cases brought up here in the DASH test suite

[2020-02-27 12:07] anindex commented on #692
Hi @devreal,

Sure I will look into it tomorrow :)

[2020-02-27 18:46] Goon83 commented on #673
@devreal
Looked back to some issues posted before and noticed that you already merged the Mac branch into dev.  The Mac branch works on my Mac OS now. Thanks for the work on it.
One minor issue I forget to mention is that it reports an error at compile time (see below).
It is not a serious one and can be easily fixed by adding below line to the header. You may consider to add it to the dev branch

[2020-02-27 20:52] devreal commented on #673
This has been addressed in #677 (pending review) :)

[2020-03-02 22:59] Goon83 opened #698 "Change distribution after create Matrix"
Hi All,
Another question regarding the function availability of DASH.

What will happen if I change the distribution (block size, halo layer) of a existing Matrix ?
Will the DASH support re-distribution the data following new parameters?

Bests,
Bin

[2020-03-03 09:13] devreal commented on #698
I'm not sure that is possible with the current interface. Once a matrix is allocated there is no way to change its layout (afaics).

[2020-03-04 05:13] Goon83 commented on #698
Hi @devreal
Got it and thanks for the clarification.

Bests,
Bin

[2020-03-04 05:18] Goon83 commented on #680
Hi @dhinf and @devreal
Any chance you have made some progress about this line of work? Sorry for that too many questions and tickets for the DASH. So far I had a DASH plugin for our ArrayUDF and delivered to some one of our users for test. It works perfectly.  If anything I can help with the subscript operator to access both inner and halo elements, please let me know.  This feature is quite impor

[2020-03-04 07:51] devreal commented on #698
Could you elaborate what you have in mind for it? Maybe we will get a chance at some point to implement such a feature if there is a good use case.

[2020-03-04 14:05] dhinf commented on #680
Hi Bin,
do you need access for inner and boundary elements separated by the subscript operator or one access for all elements?
something like:
[code]
i try to implement this but you need to allocate a full stencil (or at least all necessary ones), otherwise you will get wrong results.  I will do it besides my current tasks, so it will take while. Hopefully not longer than the end of next week.

[2020-03-04 22:42] Goon83 commented on #680
Thanks dhinf,
Thanks for the hard work. I'd like to assist if you need.
Ideally, it would be one subscript attached to HaloMatrixWrapper to access both inner and halo element, such as:

HaloMatrixWrapper m (4 by 4) with 1 layer halo, making a 5 by 5 matrix;

m[0][0] access    1st element (halo)
m[0][1] access  2nd  element (inner)
m[0][2] access  3rd  element (inner)
.....
m[0][4] access  5th  ele

[2020-03-06 18:36] Goon83 commented on #698
Hi @devreal
It is like the "repart" operator in SciDB [(doc).](https://www.nersc.gov/assets/Uploads/scidb-userguide-12.3.pdf) . The "repart" changes the chunk size (called tile size in DASH) of an existing array. The "repart" in SciDB mostly involves the disk operation (might be just metadata but not sure so far).  A "repart" for DASH array definitely needs to consider lots of communication among

[2020-03-19 20:47] arewedancer opened #701 "Question: Dart Run Time SHMEM"
Hi,
  Is SHMEM Dart run-time still contributor only? Is it going to be released to the general public?  If so, when is the SHMEM build going to be available? Thanks!

[2020-03-19 20:49] devreal commented on #701
Hi @arewedancer

What do you mean with "contributor-only"? And do you refer to the backend available in https://github.com/dash-project/dash/tree/development/dart-impl/shmem? That one unfortunately is not really maintained.

[2020-03-19 21:32] arewedancer commented on #701
@devreal  It is stated in the README.md that
- SHMEM: Symmetric Hierarchical Memory access (contributor distribution
    only)
When I built dash 4.0 with -DDART_IMPLEMENTATIONS=shmem, it failed with errors

[2020-03-19 22:00] devreal commented on #701
Interesting, I was not aware of that. @fuerlinger any hints?

AFAIK, we do not have a port to SHMEM. Currently the only fully supported implementation is the MPI-RMA backend.

[2020-03-19 22:31] arewedancer commented on #701
@devreal  That's OK. Thanks for confirming this. By the way, with the MPI backend, does Dash mitigate against machine/node failures, or it relies on MPI implementations in case of failures?

[2020-03-20 06:59] devreal commented on #701
There is no failure mitigation at this point. I guess the best bet is to write snapshots using the HDF5 backend and then restore from that in case of a failure.

[2020-03-20 13:43] arewedancer commented on #701
Thanks! Closing this issue now.

[2020-03-20 13:43] #701 closed, assigned to nobody

[2020-03-26 18:07] Goon83 opened #702 "Write HDF5 Error for large matrix"
Hi All,
Hope you are doing well under current virus epidemic situation. I understand that you may have important things to do now. I just posted an error information here in case you  can get chance to look into it.

Recently, I tested the function StoreHDF::write and found out that it works on small matrix but has issue for large array on multiple processes (CPU units). Below is the code:

[code]

[2020-03-29 19:51] dhinf commented on #680
Hi Bin,
in the feat-halo branch is a coordinate based access class included now. It is a prototype and has no access checks included.
Also the HaloWrapper now has an constructor that creates the a halo environment with a full stencil.
the halo in the north west is (-1,-1) , this differs from your example.

I adapted your code to the new functionality:

[code]
Best
Denis

[2020-04-01 05:29] Goon83 commented on #680
Hi Denis,
Thanks for hard work on this.  I will test the example soon and update here once it is done.

Bests,
Bin

[2020-04-25 10:58] fuchsto commented on #698
@dash-project/developers First, I want to announce my "comeback" as an active contributor to DASH after my hiatus of over a year.
Regarding this feature request, I have prepared concepts for dynamic adaptations such as load-balancing `dash::Matrix` (aka `dash::NArray`) which I originally designed.
Also, I'm currently supervising a master's thesis on sparse matrix concepts for DASH.
I will put the

[2020-04-25 11:11] fuchsto commented on #690
Global-to-global `dash::copy` is a feature that depends on the stale `nviews` feature-branch.
It already works as-is for one-dimensional ranges.
I will fork a feature branch named something like `rviews` or `ranges` for the one-dimensional part for you (@zhukevin04) to test.

[2020-05-15 11:27] bertwesarg opened #704 "Build error with GCC 10"
I get the following error with GCC 10 on f84e89ecf:

[code]

Though this may also be a compiler error.

[2020-05-26 17:08] Goon83 commented on #680
Hi, @dhinf,
Tried the code on the development branch and it did not compile.

PS:  also tried to install bug-dash-halo/bug-halo-wrapper branches for test.  But, none of them work on Mac.

Bests,
Bin

[code]

[2020-05-26 18:15] dhinf commented on #680
Hi Bin,
i missed to mention to use the feat-halo branch.

Please try it with this branch.

best
Denis

[2020-05-26 21:08] Goon83 commented on #680
@dhinf thanks for information.

Check-outing the  feat-halo branch but it still reports below errors:

[code]

[2020-05-27 06:50] dhinf commented on #680
Hi Bin,

i fixed it. After i send you the example, i changed the internal structure and missed to change that alias in stencil.h.

best
Denis

[2020-05-28 17:21] Goon83 commented on #680
hi @dhinf
Thanks for resolving the issue. It works now.

Will you merge it into the dev branch ?

Bests,
Bin

[2020-05-28 17:31] Goon83 commented on #698
Hi @fuchsto
Sorry for not monitoring this thread closely.

Welcome back to this wonderful project.

Yes, the rebalancing feature is very interesting to us.

Let me know how can I help.
Bests,
Bin

[2020-06-09 07:35] bertwesarg opened #708 "Invalid datatype error on HPE Cray"
Got this error from a SPEC reporter:

[code]

Any ideas where this comes from or what I could request from the report?

[2020-06-09 07:39] devreal commented on #708
It would be interesting to know if that occurs during the run or at the end and ideally a stack trace would be helpful.

I see two possible places:

1) The large transfer types (vector types used to transfer >2G data);
2) The strided and indexed types used to handle the halo transfers (which seems more likely here)

[2020-06-09 11:11] dhinf commented on #708
1. unlikely
2. not possible, because strided and indexed isn't used for halo transfers anymore

[2020-06-09 12:36] bertwesarg commented on #708
I see two instances of invalidating the `contiguous.max_type`:

[here](https://github.com/dash-project/dash/blob/22f6487c4ea2a86c9d6e223892048a7dd6042a5b/dart-impl/mpi/src/dart_mpi_types.c#L361) `MPI_DATATYPE_NULL` is used.

But [here](https://github.com/dash-project/dash/blob/22f6487c4ea2a86c9d6e223892048a7dd6042a5b/dart-impl/mpi/src/dart_mpi_types.c#L346) and [here](https://github.com/dash-proje

[2020-06-09 12:50] bertwesarg commented on #708
While I do not think this will fix it, but here is some cleanup and a check before calling `MPI_Type_free`

[code]

[2020-06-09 12:58] devreal commented on #708
Can you please post a PR for this? :+1:

[2020-06-09 13:08] bertwesarg commented on #708
Sure, do you think it fixes anything related to my problem here?

[2020-06-09 13:17] devreal commented on #708
Hard to say, the confusion of `MPI_DATATYPE_NULL` and `DART_MPI_TYPE_UNDEFINED` may be a reason but it's hard to say really.

[2020-06-09 13:21] devreal commented on #708
Actually, the last two lines of the patch might be the culprit (https://github.com/dash-project/dash/pull/709/files#diff-f99e41ced414d50f5b467c4e54685f19R360).

[2020-06-09 14:00] bertwesarg commented on #708
But this should be `!= MPI_DATATYPE_NULL` for all basic types, thus it should not matter.

[2020-06-09 14:00] bertwesarg commented on #708
I will push the changes to SPEC and ask kindly if this is fixed on HPE Cray

[2020-06-10 09:57] dhinf commented on #704
same with clang 10

[2020-06-10 10:23] devreal commented on #704
Looks like we use `std::unique_ptr<dash::GlobPtr<dash::Atomic<T>>>` somewhere and that fails because we canbot assign `nullptr` to `dash::GlobPtr`?

[2020-06-10 12:15] dhinf commented on #704
correct. i'm looking into it, because nothing compiles at the moment with gcc and clang 10

[2020-06-10 12:45] dhinf commented on #704
i found a solution and will open a pull request soon

[2020-06-10 16:05] dhinf commented on #704
fixed with pr #710

[2020-06-12 16:54] Goon83 commented on #702
Hi DASH Community,
Just check whether someone can help to check this issue ?

Bests,
Bin

[2020-06-15 07:52] devreal commented on #704
Fixed with #710. Closing.

[2020-06-15 07:52] #704 closed, assigned to fuchsto, rkowalewski, devreal

[2020-06-16 07:05] dhinf commented on #680
Hi Bin,
i missed to answer that question. Hopefully i will find some time to clean up the code and then merge it.

best
Denis

[2020-06-17 10:39] dhinf commented on #702
I will look into it this week.

[2020-06-18 10:41] dhinf commented on #702
The problem is not the total size of the NArray, it is the size of the extension. E.g. 21 x 20 also results in an error. For 21 a the first rank has 11 elements in the first dimension, but the second one only 20. This seems to be a problem. I tried it with the outputstream. In the end it should be the same result.

[code]

[2020-06-19 11:10] dhinf commented on #702
It is a bug in the TilePattern. When you use the proxy dash::NArray instead of dash::Matrix it should work. dash::Matrix uses the per default the TilePattern while dash::Narray uses a BlockPattern instead. That's the only difference.

[2020-06-19 11:11] dhinf commented on #702
little work around until we fixed the pattern

[2020-06-19 15:37] dhinf commented on #702
I fixed it, but if you compile dash with enabled assertions you will get an error by using the TilePattern with underfilled blocks.
@devreal and @fuchsto: Why does a TilePattern can't  have underfilled blocks? What was the reason to forbid it.

[2020-06-19 16:16] devreal commented on #702
I believe that is a longstanding issue that has never been properly implemented. If someone has a patch I would love that...

[2020-06-22 08:54] dhinf commented on #702
The solution would be the same as for the BlockedPattern. Only the last Block is underfilled. If that is fine i will open a pull request.

[2020-06-22 09:12] devreal commented on #702
Absolutely, please give it a shot :+1:

[2020-06-26 15:17] dhinf commented on #702
fixed with pr #713

[2021-01-05 23:28] Goon83 commented on #702
@dhinf @devreal

Thanks for working on this issue.
Tested the bug-dash-hdf5-pattern branch and it works.

Could you please review the merge and get the code into development branch?

Thanks.
Bin

[2021-01-06 05:47] Goon83 commented on #680
@dhinf
Just revisited some old issue post and found this new feature is still out of the development branch.

Could you kindly hep to merge this into development.

Thanks and happy new year !

Bests,
Bin

[2021-01-07 10:03] dhinf commented on #680
Hi Goon83,
i will merge in the next days.

Happy new year and bests
Denis

[2021-01-15 15:57] dhinf commented on #680
Hi Goon83,
i need to fix some bugs for small narrays. I will merge the fix and the feat-halo branch into development next week.

best
Denis

[2021-02-01 09:24] #672 closed, assigned to devreal, dhinf

[2021-02-01 09:25] #678 closed, assigned to dhinf

[2021-02-01 09:28] dhinf commented on #680
it is merged now

[2021-04-26 05:14] Goon83 commented on #702
@dhinf @devreal

I recently tested the code on a 1D data and found the  StoreHDF::write and  StoreHDF::read still can not work.
The test cod code and error information are presented in below.
Could you help to look into this?

Bests,
Bin
Test code:
===========
#include "libdash.h"
#include <iostream>

using dash::io::hdf5::hdf5_options;
using dash::io::hdf5::StoreHDF;

#define N1 201

int main(int

[2021-04-27 14:03] dhinf commented on #702
@Goon83

i'll look into it. I need to add the missing method inside the pattern. i'll try to do it this week.

best
Denis

[2021-04-28 08:26] dhinf commented on #702
It is fixed and merged to development. Btw. in your example code dash::init(&argc,&argv) is missing.
Please check, if the fix works your environment.