[2016-10-12 22:19] fuchsto opened #1 "Matrix.allocate(pattern) does not work if pattern leaves context"
Use cases like that does not work:

[code]

This functionality is essential for the hdf5 API.

[2016-10-12 22:23] fuchsto opened #2 "Inconsistent IndexType and SizeType across classes"
While scanning through the `dash::Matrix` code, I realized that there are inconsistencies among classes with regards to the `IndexType` and `SizeType` used.

While `dash::Matrix` passes these types on to some members, e.g., `Pattern`, other classes in the hierarchy are agnostic of the `IndexType` the user has chosen as template parameter and instead use the default index type (`internal::default_s

[2016-10-12 22:26] fuchsto opened #3 "dash::Matrix local column and row access and copy"
I am trying to run a simple test using `dash::Matrix local row()` and `col()` views to copy a subset of a 2D matrix into a `std::vector`. I am making the following observations:

1) I can copy the whole local part of the Matrix into the local vector using dash::copy.

2) I can get a row using `matrix.local.row(0)` and correctly print its content on unit 0. However it fails with a `std::out_out_ran

[2016-10-14 10:32] clemensmanert opened #5 "dash::Array initializer_list constructor initializes with wrong values"
The dash::Array constructor initializes the Array with the wrong values.
 Array(
    size_type                           nelem,
    std::initializer_list<value_type>   local_elements,
Team & team = dash::Team::All())

Example: A call with dash::Array(4, {1,2,3,4}) would result in a dash::Array with values {1,1,1,1}.

[2016-10-14 10:46] fmoessbauer commented on #5
As discussed after the meeting on wednesday, this constructor has to be removed. Due to the "hidden" parallelism the result is not well defined (local indices vs global indices).

[2016-10-14 11:19] clemensmanert commented on #5
I'd not remove that constructor. It is makes unit tests much easier to read and write. The hidden parallelism can be described perfectly well in the docu.

[2016-10-14 11:33] fmoessbauer commented on #5
Ok, get it ;) So I recommend implementing it the following way:
- init list denotes global array values
- each unit writes local values only
- provide a good documentation with examples as the behavior is not trivial

[2016-10-14 11:48] fuchsto commented on #5
Okay for me. The size constructor conceptually has the same ambiguity (whether size refers to global or local capacity), so that's not a strong argument anyways.
@clemensmanert : you want it, you code it!
Assign me for review once unit tests pass.

[2016-10-14 13:07] fmoessbauer opened #7 "MPI versions of travis ci do not support MPI3"
Hi Team!

unfortunately, no travis build environment currently supports packages for MPI3 [1]. Hence our CI scripts will fail as we depend on MPI3 [2]. Compiling a current version of MPI inside the travis env is not a possibility, as the compilation time reaches hours.
The recommended workaround for this problem is to use a docker container [3].

How should we proceed?
### References
- [1] https:/

[2016-10-14 13:55] fuchsto commented on #7
Oh. I assumed that, being Ubuntu 14.04 Server, it should support all of its deb packages.
Is there a specific reason why MPI-3 is not supported? Could it be fixed by adding an apt-source?

Integration tests pass on projekt03 for me, so it's a bummer.
Yes, sure, let's give docker a try if it doesn't work the usual way.

[2016-10-14 14:02] fuchsto commented on #7
Are you sure about the missing MPI-3 support?
Log says:

[code]

OpenMPI-1.6 implements MPI-3.x, and no host restrictions should apply.

Edit: Also see [this note in the Travis docs](https://docs.travis-ci.com/user/languages/c):

[code]

[2016-10-14 14:09] fmoessbauer commented on #7
Ok, I assumed that because some features seem to be missing, as the build script reported the mpi libs correctly:

[code]

[code]

I fixed the env variable (forgot to pull request ...) but unfortunately that did not solve the problem.

[2016-10-14 14:13] fuerlinger commented on #5
Agreed. An initializer list for a dash::Array should specify the global list of element values, i.e., it should have global-view semantics. This is consistent with the rest of dash::Array and was an early design decision for the Array.

[2016-10-14 15:33] fuchsto commented on #7
Implicit declarations suggest that these are missing in the MPI header that has been successfully included.
And that's because you were right, I confused the version numbers. Actually, openmpi-1.6 is ancient.

Well, we could check if an apt-source is provided somewhere for libopenmpi**2**-dev.
There is also libmpich2-dev, but it doesn't sport MPI-3 either.

Just switch to a docker environment if i

[2016-10-14 15:53] fmoessbauer commented on #7
I have already searched for a mpi ppa but did not find any. I would definitely recommend to switch to docker as we will have problems with other missing packages. Furthermore we can pre build all dependencies inside the docker container and just pull it.

I will check the workload... If anyone is interested in building the container, read this: https://docs.travis-ci.com/user/docker/.

[2016-10-14 18:54] clemensmanert commented on #7
I don't think docker is a proper choice for a container system. I'd prefer Linux containers or Bsd Jails.

[2016-10-14 19:27] fuchsto commented on #7
Yeah, we know, but Travis doesn't provide us with that option, and: who fixeth, ruleth!

@fmoessbauer Remember to use libopenmpi2-dev, libopenmpi-dev-1.10.x still only is MPI-2.

https://blueprints.launchpad.net/ubuntu/xenial/amd64/libopenmpi-dev/1.10.2-3

[2016-10-14 20:00] fuchsto commented on #7
I sure don't know what's wrong about your Travis / Docker config, but I had to get some popcorn to watch the log roll down. The suspense is killing me.

Edit: Maybe try using absolute paths for logs, `pwd` might change between the stages.

[2016-10-14 20:12] fmoessbauer commented on #7
Nice to hear that you are enjoying my helpless tries to get the job done :+1: HPC is just not made for customer ppa packages...

Up to now the status is as follows:
- docker container is working
- papi is incompatible
- blas is incompatible
- travis does not show the error messages (no matter how hard I try)

[2016-10-14 21:02] fmoessbauer commented on #7
After a hell of trying and hacking, **I got it finally working**. However the ticket should not be closed, as papi and blas have to be tested as well.

Another point is that not all failed tests are reported as such. When looking in the debug output there seem to be failed tests, but the dash-ci.sh script does not detect them.

@clemensmanert Please add the appropriate packages to the dockerfile a

[2016-10-14 21:22] fuchsto commented on #7
Wow, would never have thought we'd have  a travis build within 24 hours of the migration.
Thank you, Felix! This was **so** needed.

But! Ha! Not quite there yet! It's not actually running the tests, is it? Looks like it aborts (without error code) because mpirun is run as root.

[2016-10-14 21:23] fmoessbauer commented on #7
Yes Sir, but already fixed!

[2016-10-14 21:26] fuchsto commented on #7
You are using the unholy `allow-run-as-root`?
I admire your courage, but ... https://www.youtube.com/watch?v=EWCGJaYk-Zw

I will figure out user modes for `mpirun`, we will keep fingers crossed until then.
Thank you for biting through config hell, it was well worth the effort.

[2016-10-14 21:32] fmoessbauer commented on #7
I had similar thoughts, but in my opinion it's the easiest solution as the docker container only has a root user. Furthermore the flag only has effect if the user is stupid enough to call `sudo mpirun`.

Maybe we should enable this only if the ci script is started with `--enable-with-sudo`

[2016-10-14 21:34] fuchsto commented on #7
Agreed, but there should be some way to restrict permissions for the MPI run.
Call it a day!

[2016-10-14 21:39] #7 closed, assigned to clemensmanert, fmoessbauer

[2016-10-14 22:56] fuchsto commented on #7
Closed the ticket as PAPI and BLAS do not enable major functions in DASH apart from `dash::summa` which is a too peculiar detail in the context of this issue request.
The most important optional dependency is hwloc which works just fine.

[2016-10-15 11:00] fmoessbauer opened #11 "DARTLocalityTest.UnitLocality fails"
Hi Team!

the DARTLocalityTest.UnitLocality fails for `mpirun -n 2`. See [travis build #98](https://travis-ci.org/dash-project/dash/builds/167858979) for details.

[code]

Branch `bug-dart-locality`

[2016-10-15 11:10] fmoessbauer opened #12 "FindTest.* Testgroup fails"
Hi,

the tests in FindTest.\* currently fail:

[code]

See (travis build #97)[https://travis-ci.org/dash-project/dash/builds/167857538] for details. Branch `bug-stl-find`

[2016-10-16 10:47] fmoessbauer opened #14 "Travis add support for long running Tests"
Currently the test script has a maximum execution time of 10 minutes. Travis cancels the build if no output is generated within 10 minutes.

Currently the test selection runs ~ 5 minutes.

Todo: Output test results for each test in ci script.

[2016-10-16 14:10] fmoessbauer commented on #12
Debug builds have shown that the bug is not caused by the dash::find implementation. Probably the team is deconstructed?

[code]

[2016-10-17 07:43] fmoessbauer opened #15 "Fix linker errors of hdf5 driver"
Currently the implementation of dash's hdf5 driver does not link, as it breaks the multiple definition rule.

[2016-10-17 10:24] fmoessbauer commented on #1
This problem is even worse: Generally cases where teamspec, sizespec and distspec are specified manually might not work:

[code]

**branch** `bug-matrix-del-alloc`

[2016-10-17 11:58] fmoessbauer commented on #15
Fix was trivial. Fixed, closed and merged.

[2016-10-17 11:58] #15 closed, assigned to fmoessbauer

[2016-10-17 15:54] fuchsto opened #17 "Migrate User Guide to dash/doc"
The DASH user guide, currently written in Latex in the dash-papers/userguide repository, should be migrated to the DASH distribution documentation in Markdown format.

I migrated the NArray section for starters.

The user guide now is automatically generated from dash/doc on readthedocs:
https://dash.readthedocs.io/en/latest

[2016-10-17 16:00] fmoessbauer commented on #1
Debugging showed that this Problem is not related to the matrix, but to the `dash::TilePattern`. If using block pattern, the bug does not occur.

[2016-10-17 18:24] JosefSchaeffer commented on #12
I will have a closer look at this issue

[2016-10-17 20:14] fmoessbauer commented on #17
I ported my part of the guide to dash/docs.

However: Wouldn't it be better to put the documentation in it's own repository? Otherwise each figure inflates the dash repository.

[2016-10-18 01:14] fuchsto commented on #11
Reason is that Travis is not a good match for our needs.
In the container, both MPI processes are mapped to the same physical core, confusing the locality discovery backend.
This is now tolerated in dart-impl/base/src/internal/domain_locality.c, but actually it's an invalid environment.

[2016-10-18 01:14] #11 closed, assigned to fuchsto

[2016-10-18 01:16] fuchsto commented on #12
There was a bug in destruction of team localities that has been fixed in #18
Travis CI passes now.
@fmoessbauer Please verify and close this issue.

[2016-10-18 01:59] fuchsto commented on #2
Fixed in pull request #19

[2016-10-18 01:59] #2 closed, assigned to fuchsto, devreal

[2016-10-18 02:35] fuchsto commented on #17
The documentation is part of the DASH distribution, so that's fine.
Figures should be SVG files, not binaries.

[2016-10-18 11:19] fuchsto commented on #12
Not reproduced in development any more.

[2016-10-18 16:35] fmoessbauer commented on #12
Unfortunately I cannot confirm this. The CI of the development branch passes because these tests are disabled. I merged the changes in development to bug-stl-find right now, but the CI does not pass. It's still the same error.

See pull request #21 and travis https://travis-ci.org/dash-project/dash/builds/168668684

Can you please have a look again.

[2016-10-18 16:57] fuchsto commented on #12
It doesn't break at destruction of teams, looks like a problem in the algorithm.
Actually @JosefSchaeffer was assigned to the `dash::find` algorithms, I just added the implementation as a rough outline.

[2016-10-18 17:46] fuchsto opened #23 "Remove dynamic memory allocation in dash::Matrix view types"
See #22 and comments by @devreal

[2016-10-18 19:08] knuedd opened #24 "memory leak when accessing matrix with [][]"
In an example application I noticed a huge memory consumption. The following is a minimal example that demonstrates this behavior. Like this, it exceeds my 8 gig memory and is killed. **Make sure to disable your swap before testing.**

[code]

Change '#define LEAK' into '#define NOLEAK' to get a perfectly working code. This makes me think that there is no other cause of a memory leak. Did I confus

[2016-10-18 20:32] fmoessbauer commented on #12
I'm pretty sure that the bug is not in the algorithm itself, as it calculates correct values (see debug output). @JosefSchaeffer and I completely refactured the old incorrect implementation during the DASH meeting. After that the unit tests passed without any error.

After moving to GitHub the bug has first occurred. The code in the old DASH repository (same implementation) is still working.

[2016-10-18 22:45] #23 closed, assigned to nobody

[2016-10-18 23:13] fuchsto commented on #24
Yes, just confirmed this has been fixed by @devreal in #22

[2016-10-18 23:28] fuchsto opened #26 "dash::make_team_spec based on locality hierarchy"
In its current intermediate implementation, the number of nodes and NUMA domains has to be specified explicitly for `dash::make_team_spec`.
Previously, global (homogeneous) hardware locality settings have been used implicitly.

It should be updated to the new locality concepts such that blocking factors are derived from the unit's lowest common locality domain.

Finally, this would then allow to o

[2016-10-19 07:12] knuedd commented on #24
Thanks for the quick reaction. Unfortunately, my little test code above is now killed during dash::init(). This is what happens:

[code]

[2016-10-19 07:33] knuedd commented on #24
Hm, it seems the memory leak was fixed already in 9cfe34d955374cddec2e897d2789b791df4d276b.

[2016-10-19 08:08] fmoessbauer commented on #12
I can't get this bug out of my head. It seems to be related to compiler optimization, as it only occures when compiling with -Ofast. However I have no idea how to debug that...

[2016-10-19 15:17] fuchsto commented on #24
Yes, in pull request #22
I think the initialization has a bug if hwloc and / or PAPI are not enabled.
Could you attach your build log?

[2016-10-20 11:26] fuchsto commented on #12
No, it's actually simple: The array leaves the scope before all units received the result.
I added a barrier at the end of the test case to fix this.
This is curious, however, as deallocation is a collective operation with an internal barrier.

[2016-10-20 11:30] knuedd commented on #24
Indeed, I didn't have PAPI and hwloc. Here is the cmake log which should be enough. Or do you need the entire build output?

[code]

[2016-10-20 15:54] fmoessbauer commented on #12
Ok, strange... This should definitely not be necessary.
I can't see your changes. Did you push?

[2016-10-21 15:01] fmoessbauer commented on #5
For different solutions see:
- fb90f1a159c2358f95c3486be52f173f79b68531, branch `bug-array-init-list` @fmoessbauer
- b0244ae1098a7a37792d84ffca200c1813934d0b, branch `bug-Array_constructor_initializer_list_5` @clemensmanert

[2016-10-24 10:45] fmoessbauer opened #28 "Use dash::io Concepts in dash's HDF5 writer"
The following tasks have to be done:
- [x] rename classes and files (remove HDF5 in names, as already in namespace)
- [x] change api to implement `dash::io` concept
- [x] adopt tests and examples
- [x] Testing
- [x] verify that `dash::io` concept is implemented correctly
- [x] documentation

Branch: `feat-hdf5-cleanup`

[2016-10-24 10:51] fmoessbauer commented on #28
The `dash::io` implementation in `development` was not type safe, resulting in ambiguos operators. I changed that by using `C++11` style `class enum`. Another advantage of that is a much simpler code and easier inheritance.

@fuchsto : Please verify both the changes in `dash::io` and my implementation of `dash::io::hdf5`.

[2016-10-24 16:08] fmoessbauer opened #29 "Support PAPI versions greater 5.4.1"
Currently it is not possible to compile DASH with a PAPI version > 5.4.1. The problem cannot be easily fixed, as functions from `string.h` and `papi.h` clash.

[code]

[2016-10-24 17:25] fuchsto opened #30 "Compiler errors in 32-bit build"
Some template specializations are duplicate on 32-bit targets, like:

[code]

Also, compiler warnings have been reported for gcc-6.4.

[2016-10-24 19:58] fuchsto opened #31 "Evaluate interprocedural (icc) / link-time (gcc) optimization"
Add compiler / linker flags and evaluate benchmark results (`dash/examples/bench.*`):
- gcc: `-lto`
- icc: `-qipo` or `-ipo` depending on version

[2016-10-24 20:08] fuchsto commented on #30
Fixed in #32

[2016-10-24 20:08] #30 closed, assigned to fuchsto

[2016-10-25 10:45] fuchsto opened #34 "DART initialization fails if no third-party library is enabled"
If none of PAPI, libnuma, LIKWID, hwloc are enabled, DART initialization fails because no locality domains are constructed between scope GLOBAL and UNIT.

See secondary bug report in #24

[2016-10-25 10:46] fuchsto commented on #24
Thank you @knuedd, the CMake config preamble is exactly what I needed. Could reproduce the defect easily. Closing this issue as the original defect is fixed, created separate issue #34 for the defect in initialization of DART.

[2016-10-25 10:46] #24 closed, assigned to fuchsto, knuedd

[2016-10-25 21:45] fmoessbauer commented on #31
Currently only icc is able to link DASH with link time optimization. When enabled the benchmark results are slightly better. See [here](https://github.com/dash-project/dash-benchmarking/tree/lto-comparison) for a comparison. Fortunately there is no noticable impact on the compile time.

If using gcc with `-flto`, the binaries cannot be linked. Hence I disabled `lto` if the compiler is gnu.

[code]

[2016-10-26 01:16] fuchsto opened #36 "Include minimal build configuration in CI tests"
Motivated by issue #34, standard build configurations (Release, Debug) x Minimal should be covered by integration test.

[2016-10-26 01:17] fuchsto commented on #34
Fixed in #35.
Standard build configurations (Release, Debug) x Minimal should be covered by integration test to prevent bugs like this.
Opened support item #36 on this.

[2016-10-26 01:17] #34 closed, assigned to fuchsto

[2016-10-26 16:03] fmoessbauer commented on #31
Some research showed that the linking problem is a bug in GCC's linker plugin. If disabling the plugin compilation and linking work as expected.

However this feature seems experimental to me as sometimes internal compiler errors appear. (GCC 5.3.0)

[2016-10-27 09:04] fmoessbauer commented on #31
Using gcc 5.3.0 (on projekt03) the benchmark results are slightly worse for the LTO case. Hence I do not recommend to enable LTO per default.

Therefor I added a build flag `ENABLE_LT_OPTIMIZATION` to enable or disable LTO in release builds (as LTO is not compatible with debug mode). Per default the flag is disabled.

[2016-10-28 16:29] fmoessbauer commented on #14
Solved in #38. Can be closed after merge.

[2016-10-28 16:47] fmoessbauer opened #39 "Buggy dash testing in docker CI environment"
# faulty tests

The following tests report errors in the docker test environment, using the build config from dash-ci.sh
## mpich
- [x] ArrayLargeStructTest (segfault)
- [x] HDF5 (See Issue #1)

4 Units
- [x] TeamLocalityTest.\* (Assert)

8 Units
- [x] DARTOnesidedTest.GetBlockingTwoBlocks (Assert)
## openmpi

3 Units
- [x] FillTest.TestAllItemsFilled (segfault)
- [x] ForEachTest.ForEachWithIndex

[2016-10-30 07:27] fuchsto commented on #39
Great effort! Working on fixes now.

[2016-10-30 09:11] fuchsto commented on #1
Fixed defect in copy-construction of TilePattern, waiting for CI.

[2016-10-30 09:35] fuchsto commented on #1
Fixed in #40

[2016-10-30 09:35] #1 closed, assigned to fuchsto, fmoessbauer

[2016-10-30 09:40] fuchsto commented on #29
This is a bug in PAPI, not DASH, actually. I wrote a patch for PAPI that I currently use to build PAPI manually.

[2016-10-30 10:22] fuchsto commented on #3
Created branch bug-3-mat-row-copy

[2016-10-30 22:10] fmoessbauer opened #42 "HDF5 matrix groups do not work"
Currently the hdf5 matrix writer stores all matrices in the root group instead of the selected one. Hence the `HDF5MatrixTest.GroupTest` does not succeed.

[2016-10-30 22:14] fmoessbauer commented on #42
Fixed in PR #44 . Waiting for CI tests

[2016-10-31 09:23] fmoessbauer commented on #42
PR #44 merged

[2016-10-31 09:23] #42 closed, assigned to fmoessbauer

[2016-10-31 12:58] devreal commented on #3
I have played around with the test and it seems that the number of elements to be copied is incorrectly  determine.

dash::copy reports that 381 will be copied:

`
[    0 TRACE ] [ 27306 ] Copy.h                   :913  | dash::copy                                   | copy local subrange num_copy_elem: 381
`
At this point, Valgrind reports the following out-of-bounds write:

[code]

The number of

[2016-10-31 16:20] #14 closed, assigned to fmoessbauer

[2016-11-02 02:30] #31 closed, assigned to fuchsto, fmoessbauer

[2016-11-02 02:43] fuchsto opened #45 "CI does not report critical failures"
See log output of several recent CI tests, for example:
https://travis-ci.org/dash-project/dash/builds/171929653

Critical failures are recognized by the CI script but overall result is "PASSED".

Also, there is currently a corrupt free in dart-mpi/dart_segment.

[2016-11-02 02:48] fuchsto opened #46 "Corrupt free() in dart_segment"
The CI runs fail in `dart_exit` because of a corrupt free in `dart_segment_clear` (`dart-impl/mpi/src/dart_segment.c`).

See log at https://travis-ci.org/dash-project/dash/builds/172487710

The CI run is reported as `PASSED` due to an unrelated bug in the CI script (see #45).

[code]

[2016-11-02 08:06] fmoessbauer commented on #45
Fixed in PR #47 . Can be closed after merge.

[2016-11-02 10:11] fuchsto commented on #3
Thank you, probably a bug in `dash::local _range`.I'm about to extend and formalize this function interface anyways this week, I will add your failing use cases as unit tests and assign you for review once it's ready.

[2016-11-02 14:39] clemensmanert opened #48 "Reorganize header includes in test cases"
Each test case includes the libdash.h header which is not necessary and results in a long build time. The libdash contains all headers of the dash project, it would be much easier to have each test include just the specific header it really needs.

[2016-11-02 15:12] devreal commented on #46
I'm looking into this. I cannot reproduce it locally so I have  to build it on our cluster. Unfortunately, building the test suite is not trivial without access to github during the build (outbound http[s] seem to be blocked). Working on it...

[2016-11-02 21:08] fuchsto opened #52 "Add CI configuration using NastyMPI"
Some defects are only visible by chance, like missing barriers after local initialization.
I think we could drastically reduce false positives in CI builds by integrating NastyMPI.

[2016-11-02 21:30] fmoessbauer commented on #39
A full featured test environment for both mpich and openmpi tests using up to 4 units is provided in branch `bug-39-circleci-bugs`. The number of nodes can be increased, but then it's harder to find the failed tests as the output might interleave.

[2016-11-02 21:37] fuchsto commented on #46
@devreal You don't need github, it is only used to pull gtest. You can specify a local build of gtest as described in the build.sh scripts:

[code]

Building gtest should be trivial, it has no dependencies/requirements other than CMake which DASH needs anyways.

[2016-11-02 21:49] fuchsto commented on #5
@clemensmanert Fixed in #53 and merged to development.
The actual problem was a result of confusing semantics of `dash::GlobPtr`, see Doxygen comments in
`dash/include/dash/GlobPtr.h`

[2016-11-02 22:03] #5 closed, assigned to clemensmanert

[2016-11-03 05:17] fuchsto opened #54 "Integrate Huan's Async Progress Extension"
Huan implemented an asynchronous progress engine for the DART-MPI runtime.

See: "Asynchronous progress design for a MPI-based PGAS one-sided communication system". Huan Zhou, Jose Gracia. 2016.

The implementation is in branch `feat-mpi-progress` and must be merged.
Instead of adding another `#ifdef` cascade, the progress-runtime should be implemented as alternative
runtime implementation.

[2016-11-03 07:29] fmoessbauer commented on #28
Merged

[2016-11-03 07:29] #28 closed, assigned to fuchsto, fmoessbauer

[2016-11-03 10:23] devreal opened #55 "Test UnorderedMapTest.Initialization fails in MPI_Win_detach for OpenMPI 2.0"
[UPDATE:] Forgot to change to github repository before starting the testing. New errors arise on the code from the github repo so I updated the bug report to reflect them instead of the obsolete code.[/UPDATE]

Executing the test suite on our Linux cluster (Laki) using OpenMPI fails with the following message:
[code]

Used compiler was GCC 6.1.0 and for OpenMPI the 2.0.1 release was used.  With th

[2016-11-03 10:59] fuchsto commented on #39
@fmoessbauer How do I run the mpich container?

[2016-11-03 11:31] fmoessbauer commented on #39
Both containers are run in parallel if 2x 4 is configured in circleci. Otherwise they are build and executed sequentially.

If you want to run the container directly use the mpich dockerfile provided in dash/scripts/docker-testing/mpich

[2016-11-03 13:02] devreal commented on #55
UPDATE2: Skipping the failed test mentioned above I see the GlobDynamicMemTest failing again. With OpenMPI 3.0.0a I see the following error:

[code]

[2016-11-03 13:40] devreal opened #56 "Testsuite hangs in collective operations when using MPICH"
I am running the testsuite on our Linux cluster (Laki), this time using MPICH v3.4.1. There seems to be a race condition that leads one process to wait in MPI_Win_free while others are waiting in an allgather. DDT shows the following stack trace:

[code]

I'm not sure whether the following message is related to this issue so I post it here for completeness:

[code]

When filtering this test, some

[2016-11-03 13:46] devreal commented on #46
Thanks, haven't thought about this. However, I cannot reproduce this problem, neither on my local machine nor on our Linux cluster. However, it might be covered by #55 or #56 so I am deferring until they are fixed.

[2016-11-03 14:09] devreal opened #57 "host_topology: usage of strncat might overflow buffer"
GCC issues the following warning for the function `dart__base__host_topology__module_locations`:

[code]

The way strncat is used here is dangerous since the size parameter does not describe the size of the destination buffer. The man page reads:

A safe way would be to use snprintf or the like to control the amount of data written and thus to avoid memory corruption.

[2016-11-03 17:03] fuchsto commented on #46
@devreal Yes, I could only reproduce it for specific builds, it's strange.
You can use Travis or CircleCI to reproduce this, it fails reliably in CI there:

https://travis-ci.org/dash-project/dash
https://circleci.com/dashboard (login via github account)

Currently it works because `dart_segment_clear` is disabled in `dart_exit`.
For debugging, you can login to CircleCI containers via SSH. Just cl

[2016-11-03 17:16] fuchsto commented on #56
@devreal I suppose the MPICH version doesn't support shared windows then? Does it work when building with CMake flag `-DENABLE_SHARED_WINDOWS=OFF`?
It looks like it's blocking at a progress handler, we had that issue on SuperMUC with IBM MPI.

[2016-11-03 17:19] #45 closed, assigned to fmoessbauer

[2016-11-03 17:23] fuchsto commented on #39
Got it. It's merged to development now.

[2016-11-03 17:26] fuchsto commented on #55
@devreal We have MPICH included in CI now. The stability fixes in #58 might have resolved these defects.
Will link the CI result here once it is ready.

[2016-11-03 17:32] fuchsto commented on #56
Apparently the fixes in #58 resolved this.
I just repeated a full CI run with both OpenMPI and MPICH and it passed flawlessly:

https://circleci.com/gh/dash-project/dash/211#usage-queue/containers/1

@devreal Please test again with the current state of development and let me know if you can still reproduce this.

[2016-11-03 17:32] fuchsto commented on #55
Apparently the fixes in #58 resolved this.
I just repeated a full CI run with both OpenMPI and MPICH and it passed flawlessly:

https://circleci.com/gh/dash-project/dash/211#usage-queue/containers/1

@devreal Please test again with the current state of development and let me know if you can still reproduce this.

[2016-11-03 17:34] fuchsto commented on #39
CI currently passes with OpenMPI and MPICH:
https://circleci.com/gh/dash-project/dash/211#usage-queue/containers/1

The segfault is prevented for now.
Almost there! Some test cases are still deactivated.

[2016-11-03 17:36] fuchsto commented on #57
Hm? I don't get it. Actually it's the source length I want to guard as the destination buffer size is known.
Will have a look at this.

[2016-11-03 17:50] fuchsto commented on #57
Ah, sure, I had it the other way around. Will be merged from branch bug-57-host-strncat.
Thanks! (Also, why did my gcc not report this? Which version do you fancy?)

[2016-11-03 17:59] fuchsto commented on #57
Argh, sorry. Yes, as I'm _appending_, restricting the size of the snippets to append does not help much.
Thank you for reporting! Will be merged from branch `bug-57-host-strncat`

[2016-11-04 09:27] devreal commented on #55
I checked the CI logs and found that the CI is using OpenMPI 1.10 so I tested with 1.10.3 on our cluster. The tests succeed with this version. Any chance you can verify with version 2.0 of OpenMPI? It's open whether the problem is on our side or whether we see a regression in OpenMPI.

[2016-11-04 09:33] devreal commented on #55
Oh, and I forgot to mention that the same problems appear with the latest state of the development branch.

[2016-11-04 10:14] devreal commented on #56
I ran the tests with MPICH v3.2 (CI uses 3.1.6) and it succeeds when running on a single node. However, MPICH reports a faulty MPI_Bcast when running on multiple nodes that I am investigating right now.

[2016-11-04 10:23] fmoessbauer commented on #36
Implemented in PR #59.

[2016-11-04 10:43] clemensmanert opened #60 "Specific Testcase as a build target"
Build time matters for developers. If if implement a feature or fix a bug I immediately want to have a new build and the unit test result. I also do not want to build all the other unit tests, which might not affect my ticket at all. All I need is a usable possibility to build an run just one specific unit test.

[2016-11-04 11:49] devreal opened #61 "Tests fail if running on mutliple nodes"
I am running the testsuite on with 4 processes on 2 nodes using MPICH v3.2 and see the following error in the Shared test:

[code]
The 16 bytes are a dart gptr that is sent to everyone in the team. I tried to find out where the 280 Byte are coming from and it seems that they stem from `dart__base__host_topology__init` where data is send from one leader unit to all others. Notice the following two

[2016-11-05 02:34] #60 closed, assigned to clemensmanert

[2016-11-05 06:19] fuchsto commented on #61
@devreal
Yes, the snippet you posted is suspicious, but I cannot reproduce this on SuperMUC.
If possible, please send the full log output via mail, there might be an earlier problem in the execution.

Also, does the test fail if you run it separately via runtime parameter `--gtest_filter=SharedTest.*`?

[2016-11-05 12:43] fuchsto commented on #55
@devreal Yes, @fmoessbauer is working on it, see branch `feat-docker-ompi2`.
These bugs are nasty to find and reproduce, good thing we made CI a priority recently.

I think it's more probable that my dynamic global memory allocation does not comply to some consistency constraint of the MPI standard and OpenMPI 2 is just more strict than OpenMPI 1 so we didn't notice, yet.

That's why I want to use

[2016-11-05 12:55] fuchsto commented on #56
In the meantime, I repair the "suspicious" TODO code segment in the locality runtime module.
Thank you!
Locality services and dynamic global allocation are huge and very recent additions to the feature set, I'm glad the codebase is thoroughly tested now.

[2016-11-05 15:08] fmoessbauer commented on #61
By implementing the docker openmpi2 container, I discovered the same bug. It is easily reproducible. For the container, see branch `feat-docker-ompi2 dash/scripts/docker-testing/openmpi2`. There are some tests that hang. I will make a new Issue (#63) for that.

[2016-11-05 15:18] fmoessbauer opened #63 "Tests hang using OpenMPI 2.0"
The following tests hang when using openmpi 2.0. For testing and verification the new docker container `dashproject/ci:openmpi2` can be used. The container provides a openmpi 2.0 environment which is build from [sources](https://www.open-mpi.org/software/ompi/v2.0/).

It is also possible to ssh into the container on circleci and debug there.

# OpenMPI v2.0

## 2 Units
- [ ] SharedTest.AtomicAdd
-

[2016-11-05 16:04] fuchsto commented on #63
@fmoessbauer I think some of these failed test are subsequent errors due to a defect in some test case that corrupts the runtime.
Can you please configure the containers such that each test suite is run in isolation using

[code]

... instead of a single execution of  `dash-test-mpi`?
I see no other way to locate the underlying bug.

[2016-11-05 16:43] fmoessbauer opened #66 "Locality Tests fail in minimal build target"
If no hardware locality lib is loaded, some hardware metrices are set to "-1". However the `DARTLocalityTest` checks that these values are greater 0. Maybe some other test failures of the minimal target are symptoms of that bug.

See this [example build](https://circleci.com/gh/dash-project/dash/228?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link).

`ul->hwinfo.m

[2016-11-05 17:25] fuchsto opened #67 "Request official dockerhub account"
Apparently, only "official" organizations can have a "-" in their name on dockerhub,

Here is the list of requirements for "official repositories". Since our latest efforts, we satisfy all of them.

https://github.com/docker-library/official-images/blob/master/NEW-IMAGE-CHECKLIST.md
https://github.com/docker-library/official-images

[2016-11-05 17:29] fuchsto commented on #66
Ah, the tests might be incorrect then. It depends on the level of the interface whether "unknown" (`-1`) or default values are reported by the locality component.

The failing assertion is `(ul->hwinfo.min_threads) > 0`, that's as low-level as it can get, so returning `-1` is the correct behavior.

Will have a look at the logs.

Actually, there should be two DARTLocality-Test Suites defined for bu

[2016-11-05 19:21] fuchsto commented on #36
This issue should be closed. Defects coming up in the minimal build are reported in a bug issue.

[2016-11-05 20:38] fmoessbauer commented on #52
Support for NastyMPI is provided in branch `feat-52-nastympi`. Currently NastyMPI has to be compiled by the user.

For the CI tests it would be nice if cmake pulls and builds it automatically if  specified (like google test). @rkowalewski can you provide a cmake build script for nastympi? That would make the process much easier.

[2016-11-06 16:23] BenjaProg opened #69 "some examples in "root/dash/examples" don't build"
The array examples series don't build in my VM on development branch.
In contrast ex.01.hello for example does build.
When I execute "build.sh" they are build successfully and are found in the folders:
"root/build/bin" and "root/build/dash".

When I try building the examples after building DASH with make in the folder "root/dash/examples/.."
I get an error. The outut of my building ex.02.array att

[2016-11-06 16:52] fuerlinger commented on #69
These are two different build systems. When you run build.sh you use the CMake build system and it sounds like this works fine for you and builds all examples.

The Makefile in root/dash/examples/ is part of a separate manual build system (manually maintained configuration and make files for certain use cases) and the two systems don't mix.

[2016-11-06 16:59] BenjaProg commented on #69
Yeah building with cmake seems to build all examples just fine.
@fmoessbauer said it might be a linker problem.
Unfortunately I don't understand the error message right now to resolve this issue.

[2016-11-06 17:33] fuerlinger commented on #69
If cmake works fine, then there is really nothing to resolve. As I mentioned, the two build systems are not meant to work together.

[2016-11-06 17:33] #69 closed, assigned to fuchsto, fmoessbauer

[2016-11-07 10:45] rkowalewski commented on #52
@fmoessbauer: Yes, I will do that.

[2016-11-07 13:45] fuchsto commented on #61
Okay, I'm marking this bug report as bug detail then.

[2016-11-07 16:38] fmoessbauer opened #70 "CopyTests fail in minimal build target"
If building the dash minimal target, dash::copy is not working properly. This can also be reproduced on a non virtualized / CI environment.

- [ ] CopyTest.AsyncGlobalToLocalBlock

[code]

See [this build](https://circleci.com/gh/dash-project/dash/235) for details

[2016-11-08 09:19] devreal opened #71 "dart_gptr not fully initialized"
Throwing valgrind at the DASH test suite I see reports similar to the one below:
[code]

The reason seems to be that none of the allocation functions in dart_globmem.c initialize the `flag` field of the gptr argument. Working on a fix.

[2016-11-08 09:43] devreal opened #72 "DART locality valgrind issues"
Valgrind reports the following memory access issues related to DART locality when running the DASH test suite

[code]

IMO we should aim at being valgrind-clean to prevent bugs caused by unexpected or undefined behavior.

[2016-11-08 14:35] fuchsto opened #74 "DART-IF: Send/Receive"
Extend dart-if by send/receive communication, such as:

[code]

[2016-11-08 16:39] fuchsto commented on #72
@devreal
I second this. Please integrate valgrind in the CircleCI build, see issue #75

[2016-11-08 16:42] fuchsto opened #75 "Integrate valgrind in CircleCI build target"
Valgrind should be added in at least a minimal CI target to check for memory leaks and consistency defects.

[2016-11-08 16:58] devreal commented on #75
I would prefer someone already familiar with CircleCI to do the integration as I cannot give this a high priority right now. It will also be much quicker to do for the maintainers of the CI scripts. Maybe @fmoessbauer can take over this task?

[2016-11-08 17:02] devreal commented on #71
Fixed by #73

[2016-11-08 17:02] #71 closed, assigned to devreal

[2016-11-08 17:05] fuchsto commented on #75
@fmoessbauer is sick for the next days, actually it's the same situation here, it's not like CI is a core task for us either.
Also, I would prefer if the whole team, or at least more than 1-2 members, understand CI, otherwise the team in Munich degenerates to second level support. We have been new to CI two weeks ago as well.

And valgrind integration is not a mission critical feature of course, s

[2016-11-08 17:11] fuchsto commented on #75
@devreal But, speaking of it: we should provide a documentation of our CI procedure to make contributions easier for other team members.

Documentation of CI is definitely a task for @fmoessbauer and me (@fuchsto).

See support issue #76

Once documentation is available, we should discuss the current CI procedure and define all required integration test scenarios in a brief conference call.

[2016-11-08 17:16] fuchsto opened #76 "Document CI procedure in DASH distribution docs"
To enable other contributors to extend the continuous integration builds, the current CI procedure should be explained in the DASH distribution docs (`/doc/CI/...`).

CI documentation should be comprehensible to an audience without prior experience in container configurations and summarize the relevant aspects from Travis/CircleCI documentation by example.

[2016-11-08 18:37] fuchsto opened #77 "Enable compiler report output for ICC"
Intel compilers (`icc`, `icpc`) support reports for inlining and vectorization that should be enabled if available.

[2016-11-08 18:47] fuchsto commented on #77
See branch: `sup-77-cc-reports`

[2016-11-08 19:01] fuchsto commented on #57
Fixed in PR #78

[2016-11-08 19:01] #57 closed, assigned to fuchsto

[2016-11-08 19:10] #77 closed, assigned to fuchsto

[2016-11-08 20:22] fuchsto commented on #70
Fixed in PR #79

[2016-11-08 20:22] #70 closed, assigned to fuchsto, fmoessbauer

[2016-11-08 20:23] fuchsto commented on #66
Fixed in PR #78

[2016-11-08 20:23] #66 closed, assigned to fuchsto

[2016-11-08 20:31] fuchsto commented on #36
Re-testing minimal build in CI, see branch `sup-70-ci-minimal`.

[2016-11-08 21:09] #36 closed, assigned to fuchsto, fmoessbauer

[2016-11-09 06:22] fuchsto commented on #72
@devreal Looks like a false positive. Can you provide the exact command used to call valgrind?

Tried with:

[code]

Did not try the valgrind MPI wrappers, these would remove lots of false positives in the MPI runtime.

[2016-11-09 07:49] devreal commented on #75
I agree that there  should be more than one person understanding the CI. I had a look at some of the scripts yesterday and it was not clear to me where to start with the intergration. Once we have documentation from #76 I'm happy to look into that.

[2016-11-09 08:30] devreal commented on #72
I am running locally (GCC 5.4.0, valgrind 3.11.0) using

`mpirun -n 2 valgrind  --track-origins=yes --log-file=dash-test.%p.vg build/bin/dash-test-mpi`

I tested it on our Linux cluster but do not see the errors there (GCC 6.1.0, valgrind 3.8.1). I will re-run locally with your patches once they are merged.

[2016-11-09 08:37] fuchsto commented on #72
Thank you, my valgrind command was identical in principle, see PR #82

Actually we should use the valgrind MPI wrappers to eliminate false positives.
See: http://valgrind.org/docs/manual/mc-manual.html#mc-manual.mpiwrap

[2016-11-09 08:56] devreal commented on #72
I wasn't aware of the wrappers. Building them right now to do some tests

[2016-11-09 09:00] fuchsto commented on #72
Not sure if the valgrind MPI wrappers grok MPI 3.x, though.

[2016-11-09 09:34] fuchsto opened #83 "Unified performance reports"
For automated performance reports in CI, benchmark applications should provide an option to print performance measurements in a unified format.

For this, utility types/concepts `dash::bench::BenchmarkResult`, `dash::bench::BenchmarkResultPrinter` should be introduced to decouple benchmark parameters and performance metrics from output.

Illustrating example:

[code]

... with `123.4`, `226.6`, `5

[2016-11-09 09:43] fuchsto commented on #75
Perfect, thanks!

Yes, the CI scripts need some cleanup, shot myself in the foot quite frequently myself.
We will consolidate deployment first to make things less cryptic.

[2016-11-09 22:14] fuchsto commented on #72
Valgrind MPI wrappers do not report leaks or illegal access/free, resolved in #82

[2016-11-09 22:14] #72 closed, assigned to fuchsto

[2016-11-10 13:53] fmoessbauer commented on #76
After a few days of recovery I am back again. I definitely agree that CI documentation is a priority task. Started documentation in branch `sup-76-cidoc`.

[2016-11-10 16:43] fmoessbauer commented on #76
Please have a look at PR #84.

[2016-11-11 08:52] fuchsto commented on #76
@devreal Let us know if the documentation of the CI procedures is okay for you:

https://dash.readthedocs.io/en/latest/CI/

[2016-11-11 10:16] devreal opened #85 "MatrixTest.DelayedAlloc fails in Release build"
If I run the CI script locally the test MatrixTest.DelayedAlloc fails for Release builds:

[code]

Note that expected and actual always match up to the precision displayed. I assume that the difference appears in a low-significance bit (comparing double values for equality is never a good idea). However, I was unable to extract more information, even setting -DENABLE_TRACE_LOGGING=ON didn't help.

[2016-11-11 10:25] fmoessbauer commented on #85
At the time I wrote the test, I thought Gtest automatically uses a machine precision aware assertion. However that is not the case. Can you simply substitute the assertion with `EXPECT_DOUBLE_EQ` and re run the test?

This should fix it.

[2016-11-11 10:32] devreal commented on #85
I can confirm that this fixes the test, all tests run successfully now.

[2016-11-11 10:35] fmoessbauer commented on #85
Ok perfekt. I will write the wrapper for `ASSERT_*_U`in `test_base.h` and make a pull request.

[2016-11-11 12:21] #85 closed, assigned to fmoessbauer

[2016-11-11 13:36] devreal commented on #75
I have been playing around with this today, mainly trying to get the CI and docker working locally (I still cannot build a docker container locally due to network issues). My first shot is at branch sup-75-valgrindci, please have a look at it. I am created a new docker configuration that installs valgrind and sets EXEC_WRAP, which is then used as a prefix to the test executable in dash-test.sh. Co

[2016-11-11 16:25] fmoessbauer commented on #75
Nice Job, looks great! I implemented the described behavior by just skipping the main loop if container is `openmpi2_vg` and target is not Debug. I also extended the documentation according to this.

I also added the container to dockerhub, as otherwise it cannot be pulled. Have to re-run CI after the build of the container has finished.

[2016-11-11 17:37] fmoessbauer opened #87 "Re-consolidate CI tasks in CircleCI"
Each task (line) in the `circleci.yml` file adds an implicit barrier to the parallel execution of the containers.
As the trend in DASH CI is towards a subset of targets executed in each environment, this massively rises CI time.

For example the valgrind check is run if and only if the container is `openmpi2_vg` and build type is `debug`. All other containers do not even run the debug target.

Yes

[2016-11-11 17:56] fuchsto commented on #87
@fmoessbauer Yeah, I know ... It's painfully obvious when you look at the build timeline provided by CircleCI at the end of a build.

The actual reason for the "multistep-tasks" was to generate output within the 10-minute-mark.
What I also don't like is that for CircleCI, the build targets are defined in three places (pull, build and run scripts).

So yes, we should clean this up. Suggestions?

[2016-11-11 18:06] fmoessbauer commented on #87
Our main problem is that we try to pass the configuration through multiple layers of CI, bash, docker and CI again...

However CI becomes to an full time job if we want to test the code automatically up to this detail. There are already four open tickes concerning CI and many of them are not trivial...

Why do we hit the time limit? If every step produces continuously output there should be no pro

[2016-11-11 18:11] fuchsto commented on #75
@devreal Awesome!

@fmoessbauer Remember to use the valgrind MPI wrappers, otherwise we will get lots of false positives from valgrind in the MPI runtime.

[2016-11-11 18:20] fmoessbauer commented on #75
Don't be happy to early. There are still some todos.
- Currently the command is executed the following way (from CI output). Is that correct?
  `mpirun --allow-run-as-root --map-by core -n 1  valgrind --track-origins=yes --leak-check=full /opt/dash/build-ci/20161111-180312/Debug/bin/dash/test/mpi/dash-test-mpi`
- We need a detection of leak messages in the logs (can be easily added in `dash-ci.sh`

[2016-11-11 18:24] fuchsto commented on #75
Yes, the command looks okay.
The overall jango is:

[code]

[2016-11-11 18:25] fuchsto commented on #75
... and: I added `valgrind-mpi` to the pre-install packages in the openmpi2_vg config.

[2016-11-11 18:27] fmoessbauer commented on #75
Ok, but why the hell are there so many memory errors?

And please restart the CI after the new version of the container is available on dockerhub. The build takes ~ 30 minutes...

[2016-11-11 18:40] fuchsto commented on #75
Mostly false positives, especially those

[code]

Also, lots of reports from OpenMP and (still) MPI runtimes. Those are not related to DASH code.

Ah, apparently we should disable logging for valgrind, the `sprintf` in the LOG macros seem to confuse it.
Or there might be unclean code in the LOG_MESSAGE macro?

[2016-11-11 18:49] fuchsto commented on #75
According to the valgrind docs
(http://valgrind.org/docs/manual/mc-manual.html#mc-manual.mpiwrap), we need:

[code]

[2016-11-11 19:33] fuchsto commented on #75
@fmoessbauer Awwkay ... _sigh_ ... so, Ubuntu Xenial does not provide the valgrind MPI wrappers as a package (valgrind-mpi), so we will have to build them manually.

That sucks.

The process is described in the valgrind docs:
http://valgrind.org/docs/manual/mc-manual.html#mc-manual.mpiwrap

Still, this won't eliminate _all_ false positives. From the docs:

[2016-11-12 03:28] fuchsto commented on #75
@devreal @fmoessbauer
Testing with from-scratch builds of valgrind and openmpi2 now.
OpenMPI has to be build with valgrind support configured.

Documenting the build steps in the DASH wiki:
http://doc.dash-project.org/internal/tools/valgrind

For valgrind support in OpenMPI2:
https://www.open-mpi.org/faq/?category=debugging#memchecker_what

[2016-11-12 05:33] fuchsto commented on #12
Well, one bug was that `dart_allreduce` used `nbytes` instead of `count` for `MPI_Allreduce`.

[2016-11-12 05:46] fuchsto commented on #12
Yes, got it: https://circleci.com/gh/dash-project/dash/293

[2016-11-12 06:35] #12 closed, assigned to fuchsto, fmoessbauer, JosefSchaeffer

[2016-11-12 07:27] fuchsto commented on #39
Added branch `bug-39-fill` for the last failing test case.

@fmoessbauer @fuerlinger @devreal

Test case `FillTest.TestAllItemsFilled` only fails for:
- OpenMPI
- Release mode
- element type with size of 8 bytes (works for int, float but fails for long, double)
- odd number of units

If two separate loops are used, each only writing every other element, the test passes:

[code]

The variant using

[2016-11-12 09:04] fmoessbauer commented on #52
@rkowalewski : Please check if I integrated NastyMPI correctly in DASH. How can I verify that the proxy is actually used?

[2016-11-12 09:31] #39 closed, assigned to fuchsto

[2016-11-12 12:01] fuchsto commented on #56
@devreal Fixed the broadcast from leader unit to local team in #90

[2016-11-12 14:00] fuchsto commented on #87
Naah, the CI setup has been eating up enough time already, and we should be satisfied with our workflow as it is.
In the beginning, all we wanted was Travis. Now our workflow looks like a mechanism from Koyaanisqatsi.

Roger will check if nastyMPI is integrated correctly some time after he is back, and for now we just clean up the scripts and focus on more interesting stuff.
Actually there is just

[2016-11-12 15:18] fuchsto commented on #61
Broadcast to local team has been implemented in #90

[2016-11-12 16:38] fmoessbauer commented on #75
@fuchsto : After disabling the hanging tests (see #63) the [CI finishes](https://circleci.com/gh/dash-project/dash/305). However it fails as there are many leaks reported. It is not clear to me in which order valgrind and openmpi should be build. Also the commands in the dash wiki are contradicting. I cannot build valgrind with mpi support and mpi with valgrind support at the  same time as this is

[2016-11-12 16:42] fuchsto opened #91 "Cleanup / Finalize DART Locality Interface"
Including type semantics, see
https://github.com/dash-project/dash/compare/feat-dart-loc
from PR #217

[2016-11-12 16:45] fuchsto commented on #75
@fmoessbauer I agree, it's not like I invented it. Currently I build OpenMPI twice: first to obtain `mpicc` used to build valgrind, then again to link with the valgrind installation. Yup.

[2016-11-12 16:48] fuchsto commented on #75
... but even then I still get lots of false positives reported from valgrind. Let's not waste any more time into this, I don't see how we could make it useful in CI at the moment.

[2016-11-12 16:50] fmoessbauer commented on #75
Agree. We keep the container, but do not run them in CI. I will make a new branch where I pick everything useful and make a PR.

[2016-11-14 00:32] fuchsto commented on #87
@fmoessbauer
Build timing on CircleCI looks okay actually:
https://circleci.com/gh/dash-project/dash/317#build-timing/containers/0
So I think we can keep the current setup where CI tests are called separately to produce nicer log output.

[2016-11-14 05:42] #26 closed, assigned to fuchsto

[2016-11-14 06:11] fuchsto commented on #75
Nice, we can consider this done then.

[2016-11-14 09:08] devreal commented on #75
Mhh, seems like I cannot follow-up with your discussions over the weekend (too much private life here I guess) and coming back on Monday finding the issue closed already...

I think we can still make good use of Valgrind to detect the use of uninitialized values inside DASH/DART in the CI tests. Using the filter file as described in [https://www.open-mpi.org/faq/?category=debugging#valgrind_clean]

[2016-11-14 09:23] fuchsto opened #97 "Update CHANGELOG"
Some metric tonnes of features and bug fixes have been added since dash-0.2.0.
It's already hard to keep track, we have to update the CHANGELOG now and then to document our progress.

Also, there are some known limitations in the upcoming version 0.3.0 that must be documented in CHANGELOG before release.
The related issues are tagged as `known-limitation:0.3.0`:

<https://github.com/dash-project/d

[2016-11-14 09:36] devreal commented on #76
Documentation looks good to me, thanks for the quick write-up. I used it while dealing with #93 and found it very useful. I just noticed an opened TODO that should be closed before closing this issue.

[2016-11-14 10:29] devreal commented on #61
Still seeing the MPI_Bcast fail on latest development using MPICH 3.2:

[code]

Stacktrace:

[code]

Debugging this a bit, it appears that unit 2 passes root=2 to dart_bcast using a node-local communicator. This is erroneous because root should be 0 on this communicator (unit numbering starts with 0 on all communicators). A translation to team-local unit IDs has to be done. Will commit a fix soon.

[2016-11-14 14:32] fuchsto commented on #61
@devreal Thank you, the ID-translation is required of course. Wondering why it worked on SuperMUC.
Did you validate the fix? Does the test suite pass on your cluster?

[2016-11-14 14:36] fuchsto commented on #75
@devreal That would be great. If you can provide us with a full valgrind command that yields useful output, I will gladly integrate it in CI.

[2016-11-14 14:58] devreal commented on #75
I sent a report to the OpenMPI developer and am waiting for a reply. Will get back here as soon as the issue of unfiltered false positives is resolved.

[2016-11-14 15:14] devreal commented on #61
I thought it did but I re-checked and it turns out that it crashes with a different error :(

This time I end up with a SIGSEGV. On unit 0 I see the following output:

[code]

Stack trace:

[code]

[2016-11-14 15:51] devreal commented on #61
I made some progress I think but I am not done yet, gotta leave for today though. I committed some patches to `bug-56-local-team` since I think this is still related.

Right now there seems to be some invalid copying going, Valgrind says:

[code]

[2016-11-14 16:13] fuchsto commented on #61
@devreal Thank you for crunching this, I have an idea where the invalid copy is coming from. Let me check my implementations in dart/base first, there might be conceptual issues

[2016-11-14 18:13] fmoessbauer commented on #76
Ok great. Added description for last missing todo.

[2016-11-14 18:13] #76 closed, assigned to fuchsto, fmoessbauer, devreal

[2016-11-14 18:48] fmoessbauer commented on #87
Yes, that's ok for me. I added to copy the logs in the artifacts dir. This makes things much more comfortable when accessing them.

[2016-11-14 20:14] fuchsto commented on #87
@fmoessbauer
Test artifacts on CircleCI currently have test reports split into 3 XML files:

[code]

(see https://circleci.com/gh/dash-project/dash/342#artifacts/containers/0)

Why? The tests shouldn't be run on three containers, should they?

[2016-11-15 03:59] fuchsto opened #104 "Execution Policies for Algorithms"
Execution policies should be introduced that allow to specify the behavior of DASH algorithms.

Usage should correspond to execution policies as proposed for the STL:
http://en.cppreference.com/w/cpp/experimental/transform_reduce

For example:

[code]

[2016-11-15 08:40] devreal commented on #76
Great, thanks a lot! In case anything is unclear later I will open another ticket.

[2016-11-15 08:41] devreal commented on #97
Do we have a branch for that? From my side, I could only mention tons of stability fixes :)

[2016-11-15 08:43] fmoessbauer commented on #87
This is pure coincidence, the number actualy denotes the number of mpi processes. The xml files are automatically generated by googletest. So in each Container (aka environment) each build target is run with 1,2,3 mpi processes. This is also documented in the new CI doc ;)

[2016-11-15 08:43] #87 closed, assigned to fuchsto, devreal

[2016-11-15 10:03] fuchsto commented on #3
The defect could be easily reproduced and has been added as test case `MatrixTest.CopyRow`.
Fixed in pull request #105

[2016-11-15 10:04] fuchsto commented on #3
@devreal Please close this issue after review.
Relevant part of the diff starts here:
https://github.com/dash-project/dash/pull/105/files#diff-3727b32cf9caed9a261d978fb1a5c2ce

[2016-11-15 10:37] fuchsto commented on #97
Well, _actually_ a dedicated branch should not be required.
Some time ago I stepped on a soap box and proclaimed that

I did not even come close to care about this guideline ever again of course.
Will create branch `sup-97-maintainer-docs` for now, but let's remember to update the changelog before creating
pull requests in the future.

[2016-11-15 10:43] fuchsto commented on #87
Aah, understood. Apart from that, the test artifacts (test summary in XML) are broken once in a while when
test results of MPI processes are merged. But let's just not care, please.

[2016-11-15 13:00] devreal commented on #3
My test case for copying a row succeeds now. However, trying to copy a column the same way still does not wok. Consider the following example (similar to the example above):

[code]

Here is the log and the valgrind message:

[code]

The size of the column should be 20, not 181. Sorry for not making the column example explicit in my first post.

[2016-11-15 13:44] fuchsto opened #106 "Update Doxygen"
Everyone (yes, you @dash-project/developers):

- Read the DASH API at https://codedocs.xyz/dash-project/dash/
- Complete it.

[2016-11-15 13:45] devreal opened #107 "Extent of a matrix local row"
Consider the following code:
Consider the row of a two-dimensional matrix in DASH. My expectation was that a row has one dimension less than the number of dimensions of the matrix it belongs to, i.e., 1 for a 2D matrix.

However, the following example shows that a row is still two-dimensional with the extent in one dimension set to 1:
[code]
which results in the following output:
[code]

The same

[2016-11-15 13:55] fuchsto opened #108 "Review / Extend Unit Tests"

[2016-11-15 14:05] fuchsto commented on #107
No, any view referencing a multi-dimensional container depends on the container type, like `dash::Matrix<int, 2>` would only be compatible with `dash::MatrixRef<int, 2>`.

The dimensionality is part of the view type. The _behavior_ (representation) of the type is defined by the second dimension parameter in the view templates (`NumDim` or `CurDim`). These are decremented in RA operators and `sub<N

[2016-11-15 14:12] devreal opened #109 "Thread-safety of DART functions"
The documentation states the following:

This is problematic for two reasons:
- We cannot guarantee that the underlying communication library supports multi-threaded access (MPI provides `MPI_Init_thread` to check whether this is supported) neither do we enforce multi-threaded initialization at the moment.
- There are global data-structures in DART that are manipulated, e.g., the team or segment d

[2016-11-15 14:23] devreal commented on #107
Because a _row_ or _column_ can be seen as a one-dimensional vector. Of course they can be seen as a special case of an otherwise arbitrary slice as well, hence my confusion.

What would be the replacement to use?

`LocalMatrixRef` does not seem to have a viewspec member.

[2016-11-15 15:05] devreal commented on #108
Created branch `sup-106-dart-doxygen` to work on the DART side of life...

[2016-11-15 16:58] fuchsto commented on #109
Thread-safe by default _without any restriction on safe operations whatsoever_ is a bad idea, that's why the STL doesn't do it.
But I think the issue here is just the missing definition of thread safety.

... does not specify if this refers to function calls on shared resources.
Calling `dart_group_add_member` in parallel is perfectly thread safe! But not on the same `dart_group_t` object.

I thin

[2016-11-15 17:27] fuchsto commented on #107
Not too happy about the interface and ambiguities myself. I wrote formal semantics of the NArray concept some time ago and the implementation does not comply in places, obviously.
So my job is now to:
- use NArray specification to document semantics and interfaces of the NArray concept (Doxygen, user guide)
- add tests for these semantics
- adjust implementation of Matrix types accordingly

[2016-11-15 17:45] fuchsto commented on #109
@fuerlinger @knuedd @colinglass @jgraciahlrs
What is the stance of the members of the honorable DART Interface Review Board (DIRB) on this?

[2016-11-15 18:00] fuerlinger commented on #109
I'm not particularly worried about locks on group manipulation routines. Team creation will be slow anyhow and if you are doing it too often, then you are doing something wrong.

However, data access operations should certainly be as fast as possible and we should (and can) avoid locks. Similar to STL, DASH datastructures are not concurrent data structures - that's a whole different story that we

[2016-11-15 18:13] fuchsto commented on #109
Yes, concurrent writes to independent container elements are valid, but that's the same thing:
Writes to container _elements_ do not modify the container's state unless specified otherwise by const qualifiers. Adding / removing elements modifies the container and would not be considered safe.
Fortunately since C++11, we can rely on the new, useful semantics of `const`.

P.S.: @fuerlinger Fixed a f

[2016-11-15 18:27] fuchsto commented on #109
Hm, it's a bit of a shame, really. This use case is a prime example for STL execution policies:
http://en.cppreference.com/w/cpp/experimental/parallelism
... but enabling or disabling MPI multi-threading support for single operations is not feasible, apparently.

[2016-11-15 18:34] fuchsto commented on #3
Yaaah, I'm kinda not surprised that this fails, there are commits missing. Hold on ...

[2016-11-15 18:38] fuchsto commented on #3
Ah, no, it's a packing / strided copy issue. Will add more info later today.

[2016-11-15 23:31] fuchsto commented on #3
So, it's trickier than that.
Slicing columns from a matrix with row-major storage order is fine, but copying this slice is not.
Strictly speaking, this is not a bug, it's a missing feature: DASH does not support strided copying yet.
That's why this is not covered in unit tests.

[code]

So, good news is that it's supposed to fail, but an error message would be more polite than, say, a core dump.

[2016-11-16 00:03] fuchsto opened #110 "DART Interface (comm/globmem): redesign for data types"
Functions in the communication- and global memory modules use untyped communication buffers and memory ranges (`void *`).
This is problematic in several respects:

- communication is more efficient when the native underlying data type is known to MPI
- elements are not properly aligned in memory attached to MPI windows as the type displacement unit
   is currently set to `1`. This caused biblical

[2016-11-16 02:20] fuchsto commented on #63
All clues lead to a defect in progress communication in OpenMPI:
https://github.com/open-mpi/ompi/issues/157

When an `MPI_Accumulate` is followed by an `MPI_Barrier` and OPAL progress threads are disabled, a deadlock occurs:

![openmpi2_opal_lock](https://cloud.githubusercontent.com/assets/37075/20332965/beed504c-abaf-11e6-9c66-b4f587f0f524.png)

In the `SharedTest.AtomicAdd` test case, all units

[2016-11-16 08:38] jgraciahlrs commented on #110
I agree, it makes little sense to have accumulate, etc, without a data type. The operation op is simply ill-defined.

[2016-11-16 08:44] jgraciahlrs commented on #63
We routinely use OpenMPI with MPI_THREAD_MULTIPLE, so I am surprised.

Could you run the following command
   ompi_info --all --all       (note the double --all)
and send my the output by email. Also a small MPI-only test-case would be nice.

[2016-11-16 08:56] devreal commented on #63
Thanks for digging into this! Some remarks:

If I understand this report correctly, the problem only occurs if `MPI_THREAD_MULTIPLE` is enabled. We currently do not enforce this since we only use MPI_Init. This is part of the MPI standard to allow for thread-concurrent MPI calls and we do not need this in development atm.

AFAIK, progress threads are an independent concept in OpenMPI to ensure pro

[2016-11-16 09:02] devreal commented on #110
I have been thinking about this issue as well. Do you have any pointers to back the claim that typed communication is more efficient?

I'd be interested to hear the details :)

In general, I would not mind changing the API and dropping the non-typed versions as there are probably no codes relying on the current DART interface. Adding another parameter to the DART communication operations should no

[2016-11-16 09:21] devreal commented on #109
This is currently the way I'm doing it on my tasking branch, except that the function is called `dash_init_threads` (of course this split is debatable). If the user requests `THREAD_MULTIPLE` and the MPI implementation does not support it we have to ensure mutual exclusion ourselves through locks. We could think about returning the _actual_ concurrency level back to the user, just as MPI does.

Fr

[2016-11-16 09:40] jgraciahlrs commented on #110
Regarding the data-types, I do not really think it matters for simple data types as MPI_FLOAT or MPI_BYTE.

MPI is probably more efficient for derived data-types. The implementors of a particular MPI likely wrote better code for packing and unpacking derived data-types into buffers then the average MPI user would. I do not think that using simple MPI_FLOAT versus MPI_BYTE makes a difference.

So,

[2016-11-16 10:53] fuchsto commented on #110
As I wrote above, it is not about prettification in the interface, it's a technical necessity.

It produced (and probably still produces) bugs because alignment was off.
MPICH apparantly always aligns at 64 in `MPI_Alloc*`, OpenMPI2 doesn't.
MPI_FLOAT vs. MPI_BYTE indeed didn't make much of a difference.
MPI_DOUBLE vs. MPI_BYTE, on the other hand, made much of a core dump, and only for specific
co

[2016-11-16 11:09] fuchsto commented on #63
No, that's for the OpenMPI defect. _Our_ defect occurs when `MPI_THREAD_MULTIPLE` is **not** enabled (see above) because the progress thread is blocked by the MPI barrier in this case. Otherwise the MPI process would stall but the progress thread continues and signals completion.
In some forum linked above - not the most reliable reference possibly - it is mentioned that OMPI progress should be en

[2016-11-16 11:21] fuchsto commented on #63
@jgraciahlrs Thank you a lot for looking into this, I'm not exactly an expert in OpenMPI configuration.

We can upload files here in the comments, the output of `ompi_info --all --all` is attached.
This is from a build with MPI_THREAD_MULTIPLE enabled and OMPI progress disabled, which didn't help.
[ompi_info_all_all.txt](https://github.com/dash-project/dash/files/594442/ompi_info_all_all.txt)

I w

[2016-11-16 11:36] fuchsto commented on #109
I don't even see a way to make the state of teams a non-global state even with drastic redesigns.
If team configurations were local, they wouldn't actually achieve anything, the global effect is their actual purpose.
But is it a problem, actually? Why would a thread engange in team organization?
Team operations are collective by nature and must be executed by involved processes.
Delegating, say, a

[2016-11-16 12:11] devreal commented on #109
I agree that team management operations are not required to be thread-safe although one might think about initializing different parts of the code in parallel using threads (we all know this kind of users, right?). We need to specify which parts are meant to be thread-safe and which are not. In the future, global allocations need to be thread-safe since they can be easily hidden in some DASH funct

[2016-11-16 12:28] fuchsto commented on #109
Yes, totally aggree. For the upcoming release, I'd just add documentation of thread-safe/-unsafe functions and not change anything in implementation for now.

[2016-11-16 13:31] knuedd opened #111 "dash::for_each only with const element access?"
dash::for_each only accepts a function with a "const ElementType&" argument. We want non-const access, too.

When using a std::for_each with "container.lbegin(), container.lend()" it works as expected. See https://github.com/dash-project/dash-apps/blob/master/dash_tutorial_2017-01/02-astro_load_image/astro-alternative.cpp#L238 for an example.

Cheers, Andreas

[2016-11-16 13:46] fmoessbauer commented on #111
I think we need both signatures. This is not a bug, but just a missing feature.
I will implement that now.

[2016-11-16 14:25] fmoessbauer commented on #111
Done in PR #112 . Btw: This is also a candidate for execution policies #104

[2016-11-16 19:49] fmoessbauer opened #114 "Barriers are always team local only"
Currently it is not possible to use barriers which block all units if a team is split. Each barrier only blocks the units of the current team. See this example

[code]

[2016-11-17 08:36] devreal commented on #29
Just tried with PAPI 5.5.0 and the problem seems to persist. Could you please send the patch to the PAPI mailing list? Or send me the patch and I will be happy to forward it :)

[2016-11-17 17:50] fmoessbauer commented on #114
This bug is really strange. In branch `bug-114-team` the new team split unit tests work as expected. However almost the same case in `feat-hdf5-team` does not work.
And for debugging, keep in mind that the bug does not occur on CI, as there the team is not splitted.

For details see [HDF5ArrayTest](https://github.com/dash-project/dash/blob/feat-hdf5-team/dash/test/HDF5ArrayTest.cc#L415) and [TeamT

[2016-11-17 19:02] fuchsto commented on #114
Hm. Also, the question is what `Team::All()` should refer to. I think there is some specification missing.
Will get back to this soon.

[2016-11-17 20:33] fuchsto commented on #106
@devreal Great effort, thank you a lot!

[2016-11-17 20:34] #111 closed, assigned to fmoessbauer

[2016-11-17 20:49] fuchsto opened #116 "Supporting strided ranges"
From issue #3:

Consider the following use cases:

[code]

Slicing columns from a matrix with row-major storage order is fine, but copying this slice is not.
This is a missing feature: DASH does not support strided copying yet.

[code]

This affects the specification of at least the following interfaces:

- Implementations of `dash::copy` should support strided input ranges, the interface must not

[2016-11-17 20:51] fuchsto commented on #3
Closing this bug issue, missing feature requested in issue #116

[2016-11-17 20:51] #3 closed, assigned to fuchsto, devreal, dhinf

[2016-11-18 04:12] fuerlinger commented on #114
`dash::Team::All()` always refers to all units with which the program has been started.  `dash::Team::All().barrier()` is synonymous with `dash::barrier()` and should work as intended (barrier on all units) regardless of what sub-teams have been created.

[2016-11-18 04:19] fuerlinger commented on #114
I have not tested with locality split, but with the simple regular split things work as expected:

[code]

Note the usage of `position()` to distinguish the teams after the split. `position` might not be the best name,  we should probably rename it to either `rank()` or `id()` or something.

[2016-11-18 08:13] fuchsto commented on #114
@fuerlinger Okay, that's what one would expect. We will extend unit tests for this then.
@fmoessbauer Does it depend on `locality_split` perhaps? The underlying mechanism for splitting is the same, though.

I suggest renaming `position()` to `relative_id`. The term _local_ is misleading because units in a child
team may be spread among non-local domains.
In the DART locality module, I use `id`. `g

[2016-11-18 08:41] devreal commented on #109
Agreed. RFC:

I will also open a ticket to track the implementation of thread-safe global allocation after this release.

[2016-11-18 09:13] fuchsto commented on #109
That would work, but we can elaborate some more already.
- include the definition for _Thread Safety_ and its compliance to the STL.
- define Doxygen tags for DART types:
  - `\thread_safe_read` - safe for concurrent reads
  - `\thread_safe_single_write` - safe if at most one thread is writing/modifying
  - `\thread_safe`  - safe without restrictions

**Example: `dart_team_t`**

`dart_team_create`

[2016-11-18 09:23] fuchsto commented on #109
@devreal Off-topic remark: we use the "compact" format in Doxygen instead of `\brief`.
The first paragraph is used as `\brief`, the following paragraphs (separated by first empty line) is the full
documentation.

Example:

[code]

[2016-11-18 09:32] devreal commented on #109
Thanks for the hint, will fix it within branch sup-109-dart-threadsafety.
I will also annotate the DART functions with thread-safety information.

[2016-11-18 09:54] fuchsto commented on #109
@devreal No need for a fix, `\brief` still works.
The thread-safety doxygen tags are just a suggestion, let us know if you find something better.

[2016-11-18 09:57] fuchsto opened #117 "NArray Concept Specification"
From #107:

The current interface of `dash::Matrix` / `dash::NArray` has some ambiguities and does not comply
to formal semantics of the NArray concept.

- use NArray specification to document semantics and interfaces of the NArray concept (Doxygen, user guide)
- add tests for these semantics
- adjust implementation of Matrix types accordingly

[2016-11-18 09:58] fuchsto commented on #107
Closed and continued in #117

[2016-11-18 09:58] #107 closed, assigned to fuchsto

[2016-11-18 10:08] fuchsto commented on #110
@dash-project/developers

Let's find a final resolution for this. I think we all agree that DART should do its best to avoid incorrect behavior on higher layers.

For reference, the defect related to untyped buffers and its fix is documented in #39
Have a look and let me know if I am mistaken in my conclusions.

Otherwise I will make all buffer-/value-related functions in DART depend on a data typ

[2016-11-18 10:31] devreal commented on #110
I tried to find the fix but there are so many changes in #39, I can neither figure out the defect nor the fix in it.

Nevertheless, I think we should go for a typed interface. I'll be happy to take over the DART part, there surely will be significant changes required in DASH as well.

:+1: from me.

[2016-11-18 10:37] fuchsto commented on #110
@devreal I was referring to my last comment, way to the bottom.
The fix is here:
https://github.com/dash-project/dash/pull/89/files#diff-c1d66a8de9d59875f81bcc797fd1d8f8R54

[2016-11-18 12:06] JosefSchaeffer commented on #106
Created a branch `sup-106-dash-doxygen` for doxygen documentation.

[2016-11-18 12:35] devreal commented on #109
Having given it more thought, I think it does not make sense to distinguish between read and write access in DART. You either call a DART function from multiple threads or you don't. The STL definition of thread-safety does not apply to the DART API, although it does apply to DASH of course.

For DART, I think we should specify the following three:
- `\threadsafe`: safe to call from multiple threa

[2016-11-18 13:30] fuerlinger commented on #109
@devreal sounds good to me.

In the cautionary note on thread safety we should also note that local-view access to DASH data structures does not involve DART calls and can thus be safely be performed in a thread parallel way.

[code]

@fuchsto The above is true for `dash::Matrix` too, right? I.e., `dash::LocalMatrixRef` etc. are tread-safe out of the box?

[2016-11-18 15:08] devreal opened #118 "Improve thread-support of DART/DASH"
The following features in DART and DASH should be improved to support thread-parallel access:

1. Interface to control thread-aware initialization of the underlying communication library (mainly MPI)
2. Communication operations (mainly put/get and atomic operations, collective operations will not be thread-safe due to restrictions in MPI)
3. Global memory allocation (needs protection of internal s

[2016-11-18 15:19] devreal opened #119 "DART header littered with DART_INTERFACE_* macros"
I found that the public DART header files all contain the macros DART_INTERFACE_ON and DART_INTERFACE_OFF. Upon closer investigation it seems that his has been used in the oneheader.pl script, which combines all DART interface header into one file. However, this does not seem to be used in the CMake based build system but is only called from within Makefiles in the DART directories. Is all of this

[2016-11-18 15:30] fuerlinger commented on #119
Correct, it is used by the script which takes multiple header files and takes everything between the DART_INTERFACE_ON and DART_INTERFACE_OFF markers and puts it in one header file.

It was never used as part of the build process but serves to create one single coherent header file that is the "official" DART API description. Please keep it in, it should not hurt much (there should be one ON and o

[2016-11-18 15:33] devreal commented on #119
You're right, it does not hurt. I just stumbled upon it while working on the documentation for the DART interface and wanted to make sure it's not legacy that is not needed anymore. Thanks for the clarification, will mark this issue as invalid.

[2016-11-18 15:33] #119 closed, assigned to devreal

[2016-11-18 15:46] fuchsto opened #120 "Cowichan Problems in DASH Examples"
Implement Cowichan Problems as set of examples for DASH.

See: http://www.dcs.ed.ac.uk/home/cowichan/

[2016-11-18 20:21] fuchsto opened #121 "DASH License"
DASH is currently released under a non-standard license.

We should decide on a FLOSS license like MIT, BSD, LGPL, ... as soon as possible as DASH is would
not comply to many classifications like CII.

For standards on FLOSS conforming licenses, see: https://opensource.org/licenses

As an example for FLOSS compliance, see requirements of the Core Infrastructure Initiative (CII):
https://bestpracti

[2016-11-19 02:44] fuchsto commented on #109
@fuerlinger Yes, we could even specify this as a general constraint:

However, `dart_put` is not an atomic write operation, right? So RDMA could lead to
data races at the target unit, if I'm not mistaken. Otherwise, we could add:

[2016-11-19 03:05] fuchsto commented on #29
Just retried with papi-5.5.1, had no issues when removing configure flag `--with-ffsll`.
Pushed to branch `sup-29-papi` for testing.

[2016-11-19 04:19] fuchsto commented on #29
@fmoessbauer CI passed with new container configuration.
Please review and close if this is resolved now.

[2016-11-19 07:10] fuchsto commented on #29
Eh, my bad, this only fixes the build when PAPI is installed from source, but still fails if it has been installed from a package or container.

PAPI build fails when compiling with `-pedantic`. They don't use strict compile flags themselves, apparently.

Will submit a request to the PAPI mailing list.

[2016-11-19 11:55] devreal commented on #109
Correct, `dart_put` is not atomic, only `compare_and_swap` and `fetch_and_op` are. It is up to the user to prevent data races, just like the definition of thread-safety in the STL states.

[2016-11-19 12:22] fmoessbauer commented on #108
By investigating #114 I noticed that many algorithms are not team aware. Especially whenever using global iterators, use `auto & team = iter.pattern().team()` and `team.barrier()` instead of `dash::barrier()`. See #126 for details.

[2016-11-19 12:49] fmoessbauer opened #125 "dash::Array does not support teams properly"
If using the array constructor with a team other than `dash::Team::All()`, the array is only allocated for the first (aka `team.position() == 0`) team. In all other teams, the array is not allocated.

See [this unit test](https://github.com/dash-project/dash/blob/bug-125-array-team/dash/test/ArrayTest.cc#L171) in `bug-125-array-team` as showcase.

[2016-11-19 12:57] fmoessbauer commented on #114
Ok, the team splits work properly. However, for locality_splits it is not guaranteed to get the requested number of teams (Bug #127).
The bug itself is a symptom of #125, #126 and #127

IMO the ticket can be closed.

[2016-11-19 13:03] fmoessbauer opened #126 "DASH algorithms are not team aware"
Almost all DASH algorithms are not team aware because they use `dash::barrier()` internally. This has to be changed to team local barriers.

If using GlobIters, this can be done the following way:
`auto & team = iter.pattern().team()` and `team.barrier()` instead of `dash::barrier()`.

[2016-11-19 13:06] fmoessbauer opened #127 "Locality splits might not split into requested number of teams"
If no locality information is available, `team.locality_split(..., n)` does not split the team.

IMO team splits should always return the requested number of teams. If no locality information is available, simple team splits (`team.split(n)`) should be used.

[2016-11-19 13:10] fmoessbauer opened #128 "Provide team support in HDF5 storage driver"
Currently dash's hdf5 api only works with containers using `dash::Team::All()`.
It is intended to also support containers that are allocated using only a subset of units.

Branch: `feat-hdf5-team`.

[2016-11-19 13:26] fmoessbauer commented on #128
Implemented in PR #129

[2016-11-19 13:36] fuerlinger commented on #125
It looks like the problem is the absolute `dash::myid()` in `GlobMem.h` used to construct the local pointers. When working with global-view indices it actually seems to work alright.

[2016-11-19 15:27] fuchsto commented on #110
Further reference: (http://www.netlib.org/utk/papers/mpi-book/node36.html)

It is actually a coincidence that DART communication worked for Xeon Phi / Xeon.

[2016-11-19 15:41] fuchsto commented on #126
Well, this method chain

[code]

... is based on existing concepts already, so why not use it to extend the `GlobalIterator` concept by a method `barrier()` to synchronize all units in the team that have access to the iterator? It would always pick the correct team, too.

This would correspond to an atomic barrier (`dash::Atomic<T>.flush()|.barrier()`) in principle.

[2016-11-19 18:43] fuchsto commented on #125
@dash-project/developers

Just some thoughts:
I'm wondering if `dash::myid()` and `dash::barrier()` etc. should really behave the way they do at the moment.

If they have global reference, then they are actually not that useful. No algorithm or data structure could use them because they refer to a global, possibly disjoint, set of units.
When would an algorithm / container / whatever actually be i

[2016-11-19 18:47] #114 closed, assigned to fuchsto, fuerlinger, fmoessbauer

[2016-11-19 20:10] fuerlinger commented on #125
`dash::barrier()` is just shorthand for the more long-winded `dash::Team::All().barrier()`, same for `dash::myid()`. It is the right and natural thing to do for applications that don't construct teams explicitly, which might be the majority.

For applications that use explicit teams, things are more complex of course. A unit can be part of an arbitrary number of teams and therefore there is no alt

[2016-11-19 20:15] fmoessbauer commented on #125
I agree that the current behavior is unclear and misleading. However for me this is a matter of documentation and not implementation / behavior.

There are several good reasons why the containers belong to team all if not specified. For example we currently do not provide any operation to join teams. Furthermore (as @fuerlinger stated) each unit can be part of an arbitrary number of teams. They mi

[2016-11-19 20:15] fuchsto commented on #125
A unit may be part of an arbitrary number of teams, right, but these are hierarchical.
I would just like to have a counterpart to `Team::All()` (the top level team) like `Team::Local()` (child team at current lowest level).

[2016-11-19 20:16] fuchsto commented on #125
@fmoessbauer Part of two teams at the same level? How so? A split is a set operation.

[2016-11-19 20:21] fmoessbauer commented on #125
I did not verify that, but I guess the following creates such case:

[code]

For me it is not clear, how cases like this can be mapped to a single tree.

[2016-11-19 20:21] fuchsto commented on #125
I don't know, this use case just doesn't look right to me:
(edit: it looks right, but it shouldn't)

[code]

[2016-11-19 20:23] fuchsto commented on #125
@fmoessbauer
Ah, sure, that's legal.
Yup, you are right, a "local" team is not well-defined. Okay, Then I'm okay with the way things are.

Perhaps there is another way to make it harder to shoot yourself in the foot like in my example above.

[2016-11-19 20:40] fuerlinger commented on #125
I'd say overall the details of team hierarchies are still up for discussion and we can see what makes the most sense. I think in the work of Amir Kamil they actually had a concept of lexically scoped teams for Titanium and then other things are possible / make sense than in our case with C++ but we can investigate further.

In terms of multiple child-teams I'm not sure what is currently implemente

[2016-11-19 21:08] fuchsto commented on #125
@fuerlinger I will need some minutes with you and a whiteboard for this, but if there is a so-called containment hierarchy (as in DART locality domains: a unit can be mapped to any domain, but exactly one at any time), then I would define `dash::Team::Local()`  (or `Leaf()` ...) and use it as default in containers.

Didn't you define the `HView` concept for this already?

Application developers th

[2016-11-19 21:24] devreal commented on #125
I think it is dangerous to assume that there is a containment hierarchy. As was already stated, a unit can be part of multiple teams and there does not have to be a single `Leaf` team to rely on. Assuming an arbitrary team as a leaf team and working with this in DASH algorithms counter intuitive. DASH container accept a team as argument on construction and DASH algorithms should work on the teams

[2016-11-19 23:56] #126 closed, assigned to fuchsto, clemensmanert, fmoessbauer, JosefSchaeffer

[2016-11-20 09:42] fuchsto commented on #125
Sure, but that is unrelated. I was talking about default teams for containers.

[2016-11-20 11:47] fmoessbauer commented on #125
Unfortunately this is still not fixed. For unit tests see PR #135. In fact the old implementation in GlobMem.h was correct, but the bug was in [Array.h](https://github.com/dash-project/dash/pull/135/files?diff=unified#diff-c7449bc244521033fd94e4f27828d59aL1147), because there a relative team id is explicitly passed to `GlobMem.lbegin`. For clarification see issue #136.

In branch `bug-125-arary-te

[2016-11-20 13:14] fmoessbauer opened #136 "Proper definition of local and global unit id's in GlobMem"
Currently it is not clear, which methods in `GlobMem.h` require team local id's and which require global id's.
This has lead to various bugs in the past, including an erroneous fix in PR #133.

Therefor I propose to rename the interface the following way:
- `relative_unit_id` for team local id's
- `global_unit_id` for id's related to `dash::Team::All()`

This should also be fixed in documentation.

[2016-11-20 13:38] fmoessbauer opened #137 "Add support for merging teams in DASH"
Currently a team split is a non reversible operation. Together with the specification (or current implementation) that each unit can only be part of a single team hierarchy, team splits cannot be tested in the unit tests. Hence I set the bug label.

To fix this I see the following possibilities:
- allow one unit in multiple teams (requires that the team hierarchy is not a single tree)
- provide a

[2016-11-20 14:06] fuerlinger commented on #137
@fmoessbauer Which functionality would you like to test exactly? The team split is not reversible in the sense that the created team can not be destroyed explicitly, but on the other hand the original team also doesn't go away and can still be used.

I feel that team related operations can actually be very tricky to reason about and therefore I'm hesitant to include an operation such as a join or

[2016-11-20 14:59] fmoessbauer commented on #137
Currently each Team / sub team can only be split once. However in the unit tests we have multiple tests which split the `dash::Team::All()`. As all unit tests are executed in one DASH run, the ordering of the tests matters.The second testcase that splits a team will always fail.

However each test case should not depend on the env created by previous tests. The problem can easily be verified by ru

[2016-11-21 08:51] devreal opened #138 "Improvements to DART communication interface"
While reviewing the changes for #110 I realized that there are some inconsistencies in the DART communication interface:

1. We are mixing `int` and `size_t` for arguments describing the number of elements in a provided buffer, e.g., in dart_allgatherv. They should all be the same, preferably `size_t`. The same data type should be used for displacements to be coherent. Note that in some places thi

[2016-11-21 09:45] fuerlinger commented on #138
Sounds good to me!

[2016-11-21 10:23] devreal commented on #138
Going through the code, I found this gem in `dart_accumulate`:
[code]

Any reason the team argument was introduced earlier? Any reason to keep it?

[2016-11-21 14:17] #110 closed, assigned to fuchsto, fuerlinger, fmoessbauer, devreal, knuedd, jgraciahlrs

[2016-11-21 14:17] #138 closed, assigned to fuerlinger, devreal

[2016-11-21 14:49] devreal opened #140 "Multiple memory leaks in DART"
On multiple occasions memory does not seem to be free'd properly in DART. Most of the leaks seem to stem from the use of MPI groups and a missing MPI_Group_free, e.g., :

[code]

However, there are other leaks that are not related to MPI groups, e.g., :
[code]

I'm working on a fix to resolve these leaks.

[2016-11-21 16:26] fuerlinger opened #141 "Update manual makefiles"
The manual makefiles are out of date and won't build a working DASH library.

[2016-11-22 00:42] stiefn commented on #74
I think dart_bcast is equivalent to dart_team_send/dart_team_recv and at the same time easier to use, so we dont need those functions.

[2016-11-22 05:16] #141 closed, assigned to fuerlinger

[2016-11-22 08:25] devreal commented on #75
In case anyone is interested, there is an ongoing discussion in a PR for OpenMPI (https://github.com/open-mpi/ompi/pull/2175) to plug all memory leaks, eventually.

[2016-11-22 08:53] devreal commented on #121
Some examples to drive the discussion:

1. OpenMPI, MVAPICH, and OpenSHMEM use the BSD 3-clause license (https://opensource.org/licenses/BSD-3-Clause)
2. GASPI-GPI2 is lincesed under GPL-v3 (and proprietary)
3. HPX is licensed under the Boost Software License 1.0 (http://www.boost.org/users/license.html)

I agree with @fuchsto  that we need to decide on a license as soon as possible. Personally, I

[2016-11-22 09:00] fuerlinger commented on #137
Here is an implementation sketch:

Implement a method `clone()` that clones the current team, i.e., creates a copy of a team on the C++ side for the same underlying DART team.

- add a boolean variable `_is_clone` to differentiate the original from the clone(s).
- actual de-allocation of DART resources should only happen in the destructor of originals. Cloned teams leave the DART resources alone.

[2016-11-22 09:26] fuchsto commented on #140
The most interesting and most pressing is #46 actually

[2016-11-22 09:36] devreal commented on #46
So far I was unable to reproduce and haven't followed it further because of other more prominent issues that might be the root cause (#55, #61, #63). I will try to reproduce it once again today.

[2016-11-22 11:50] clemensmanert opened #143 "Strong typing for local and global IDs"
Create a new own type for each kind of id, so they can not be mixed up any more.

[2016-11-22 11:57] devreal commented on #143
Can you give an example for which IDs this is problematic?

[2016-11-22 13:23] devreal commented on #46
I still cannot reproduce it locally but the error persists in CI if the call to `dart_segment_clear` is enabled. I tried to SSH into the failed build but someone seems to use SSH in CircleCI atm. Will try again later.

[2016-11-22 13:38] devreal commented on #46
I logged in to the containers but that was of little use. Can anyone tell me where the binaries used in the CircleCI runs are copied to? I cannot seem to find the binaries used in the run (e.g., `/opt/dash/build-ci/20161122-132654/Nasty/bin/dash/test/mpi/dash-test-mpi`) which I would like to simply run the test again.

[2016-11-22 13:58] fmoessbauer commented on #46
The binaries should be in this path. The CI script also prints the mpirun (only with the interessting flags) commands. For build [430](https://circleci.com/gh/dash-project/dash/430#tests/containers/0) this is for example `mpirun -n 1 /opt/dash/build-ci/20161122-132655/Nasty/bin/dash/test/mpi/dash-test-mpi`

[2016-11-22 14:34] devreal commented on #46
Strange, even when ssh'ing into the Container 0 (the MPICH build) during a running build I do not see `/opt/dash`:

[code]
Not sure what is going on there but it's starting to get frustrating. Also, I cannot reproduce this locally even when running in the dock container.

[2016-11-22 15:28] fmoessbauer commented on #125
Bugs are fixed now. The `dash::Team` discussion can be continued in #137.

[2016-11-22 15:28] #125 closed, assigned to fuchsto

[2016-11-22 15:50] fmoessbauer commented on #46
Ups, sorry for the misapprehension. The tests are run inside the docker container, so you have to attach to an running container or better run a new one interactively.

[code]

Added [documentation for debugging](https://dash.readthedocs.io/en/latest/CI/#online-ci-providers) on CirlceCI in PR #144.

[2016-11-22 17:14] fuchsto commented on #75
Nice! So at least it's not an issue on our side.

[2016-11-22 17:15] fuchsto commented on #121
+1 for 3-clause BSD suggested by @devreal

[2016-11-22 17:33] fuchsto commented on #143
@fmoessbauer Why do you use `dash::myid()` in GlobMem even if there is a team explicitly specified?

https://github.com/dash-project/dash/blame/development/dash/include/dash/GlobMem.h#L129

[2016-11-22 17:50] fmoessbauer commented on #143
This is required, as `lbegin(dart_unit_t global_id)` requires global unit ids. Hence, I renamed the function parameters too. IMO this is not a good solution as I already mentioned in the meeting, however otherwise we have to change the DART interface.

I know you have changed it in PR #133, however that was not a good one, as then the unit test failed. In fact, the bug was in the [Array implementa

[2016-11-22 17:59] fuchsto commented on #143
@fmoessbauer Disregard that, I got it myself, can't quite remember why I implemented it this way, though.

EDIT: deleted my comment, you were too quick to answer and I can't seem to undelete it

[2016-11-22 18:16] fuchsto commented on #127
@fmoessbauer
Hm, I don't aggree on this one.
Splitting is a request. If the programmer requested a locality split that is not possible, defaulting to "just any  split" is bad.

Likewise, what if there is only one unit in the team to split? There is no fallback for this.
Currently we raise an exception but that is not a sensible solution.

There should be a way to resolve the actual number of teams

[2016-11-22 19:15] fuchsto opened #146 "Execute all test suites in single, isolated runs of dash-test"
Currently, if a test leads to a broken or undefined state of the DASH runtime, subsequent tests may fail and thus report false positives.

Add a script that allows to perform tests as isolated runs of single test suites.

[2016-11-22 20:20] fuchsto commented on #146
Created branch `sup-146-test-isolated`

[2016-11-22 20:47] devreal commented on #46
That is what came to my mind on the way home. Retried and can run the tests manually. Now I am fighting Ubuntu, which won't give me a core dump despite `ulimit -c unlimited`. I assume that this has to do with the apport handler that is registered in `kernel.core_pattern` but my session ended before I was able to test it when running the container with `--privileged` (not sure this will work though

[2016-11-23 01:09] fuchsto commented on #127
@fuerlinger @fmoessbauer @devreal

See branch `feat-127-nsplit`:

- Added output parameter `nout` to `dart_group_split`, `dart_group_locality_split` returning number of actual groups created in the split.
- Added `dash::Team.num_siblings()` returning the number of groups created in the split of the parent team

Use case:

[code]

[2016-11-23 04:01] fuchsto commented on #106
@dash-project/developers

**IMPORTANT**
Currently there is a bug in codedocs which prevents updates of the generated HTML files in browser cache.

To review doxygen output on https://codedocs.xyz/dash-project/dash either

- clear your browser cache (via browser settings, `<CTRL>+<F5>` does not suffice) or
- use incognito mode (starts with empty cache) (`<CTRL>+<SHIFT>+N` in chromium`)

[2016-11-23 07:41] fuchsto commented on #106
@dash-project/developers
Examples are now nicely included in Doxygen.
For reference:
- http://dash-api.coreglit.ch/dash-0.3.0 (Doxygen generated on my server)
- https://codedocs.xyz/dash-project/dash/ (automatically generated by codedocs from latest `development` state)

Please help documenting all examples in `dash/examples`, just use the `\example` tag as in `dash/examples/ex.02.array/main.cpp`.

[2016-11-23 08:24] devreal commented on #140
I already fixed a host of issues in `bug-140-dart-memleaks`, including leaking `MPI_Group` handles. However, the last CI run failed in `CopyTest.BlockingGlobalToLocalBarrierUnaligned` when running with 1 unit only. Valgrind reports the following issue:

[code]

@fuchsto Could you please look at this test? The test seems suspicious in the following line:
[code]

Isn't that reading beyond the bounds

[2016-11-23 08:52] fuchsto commented on #140
@devreal Awesome, looks way better now.

Yes, you are probably right with the out-of-bounds; checking this now.

[2016-11-23 09:07] devreal commented on #146
Thanks a lot for this, will try it today.

[2016-11-23 10:14] fuchsto commented on #55
@devreal I could not reproduce this defect any more, it might have been fixed along with other recent changes.
Can you retest this please?

[2016-11-23 10:43] fuchsto commented on #140
@devreal You can retry now, the out-of-bounds fix is merged.

[2016-11-23 13:05] devreal commented on #140
Looks good, seems fixed!

Another issue I found: The implementation of `Team::split(n)` seems to leak memory at mutiple points:

1. The memory allocated for `sub_groups` is never `free`'d as is the memory for `sub_groups[i]`. AFAICS, it can safely be `free`'d at the end of the function.
2. The `result` variable is overwritten without `delete`'ing the memory allocate in an earlier iteration of the

[2016-11-23 13:29] fuchsto opened #153 "TeamLocalityTest.GroupUnits fails if multiple units mapped to same domain"

[2016-11-23 13:38] fuchsto commented on #140
Yes, this is a refactoring ToDo, we should use `std::vector` for temporary arrays and nothing else.
Will fix this later today.

[2016-11-23 13:42] devreal commented on #140
One more thing: Is `dart_team_destroy` ever called on the team created in the split? I can't seem to find, although `dart_team_locality_finalize` is called but that is something different.

[2016-11-23 13:46] fuchsto commented on #140
No, but that's actually not a bug I think: #137

[2016-11-23 13:50] devreal commented on #140
OK, I see. Not calling `dart_team_destroy` will likely leak the communicator handle but that's fine with me for now.

[2016-11-23 14:05] devreal commented on #153
Log Files:
[team_locality_build.txt](https://github.com/dash-project/dash/files/609009/team_locality_build.txt)
[team_locality_run.txt](https://github.com/dash-project/dash/files/609010/team_locality_run.txt)

[2016-11-23 14:10] fuchsto commented on #140
Yes, doesn't hurt too much for now, but we should free all team objects in `dart_finalize`.
Destruction of DART teams is addressed in #137.

I think we can close this issue for now.

@devreal, just create a pull request for branch `bug-140-dart-memleaks` when you're done.

[2016-11-23 14:11] fuchsto commented on #137
Also, from issue #140: All teams should be destroyed in `dart_finalize`.

[2016-11-23 14:13] fuchsto commented on #63
Test case `CopyTest.AsyncLocalToGlobPtr` is fixed for OpenMPI 2 in #152

[2016-11-23 14:34] fuchsto commented on #153
Thanks, that confirms my assumption: multiple units are mapped to the same locality domain.

See team_locality_run.txt, line 5489:
[code]

This corresponds to the locality hierarchy at line 5383 ff.

[2016-11-23 14:36] devreal commented on #55
The problem persists on our cluster (not reproducible on my local system). One test that fails reproducibly with several versions of OpenMPI (2.0.1, latest git master) is ListTest:

[code]

Stack trace is:
[code]

[2016-11-23 15:07] devreal commented on #61
This still fails (works on just one node) with a Segfault (see at the very end):

[code]

[2016-11-23 16:49] #74 closed, assigned to fuchsto, stiefn

[2016-11-23 17:40] fuchsto commented on #97
To automatically generate an unrevised change log from git history:

[code]

[2016-11-23 23:46] #140 closed, assigned to fuchsto, devreal

[2016-11-24 01:27] fuchsto opened #159 "Memory Management in dash::Team"
- Fix memory leaks in `Team.split`
- Replace dynamic C-style arrays (!) with std:;vector

See bug report in #140

[2016-11-24 01:29] fuchsto commented on #140
Cleanup of `dash::Team` in separate issue: #159

[2016-11-24 05:56] fuchsto commented on #143
@dash-project/developers

After all, I think @clemensmanert is right.
In C++ noone would give this a second thought and use phantom types or any other strong typing for
exactly this use case.
Documentation is not a solution. Any arcane interface can be documented, good interfaces don't need it.

I would introduce types in DART like:

[code]

... with some union-magic for convenient strong typing.

[2016-11-24 07:33] fuchsto commented on #109
With the documentation updates by @devreal we can safely consider this issue resolved.

[2016-11-24 07:33] #109 closed, assigned to fuchsto, fuerlinger, devreal, knuedd

[2016-11-24 07:39] fuchsto commented on #46
@devreal  This thing is a pain. Can't reproduce it on any machine other than CircleCI and that doesn't help much.
Do you have any new hints? Otherwise I'll prepare a minimal CI test case with as many mechanisms in `dart_initialize` disabled as possible to narrow it down.
For a first try, you could disable `dart_topology_*`.

[2016-11-24 07:41] fuchsto commented on #136
Discussed in #143

[2016-11-24 13:53] devreal commented on #143
To me it looks like this is only some (though maybe more prominent) form of documentation as well as long as we do not make sure that `dart_unit_t` itself is _never_ used by the user in DASH. If implicit conversion has to happen we lose all semantic information at some point or another. Not sure what interfaces have to be changed for this to work.  Or maybe I'm missing the point here?

[2016-11-24 13:57] devreal commented on #46
I am still hunting that down. However, it's a pain to get SSH access to the containers in the first place since our CircleCI slots are almost always busy. Once you have it, CircleCI does not allow to produce core dumps. Valgrind does not work out of the box as well. My next try will be X-fowarding into the container and attaching xterm/gdb to the MPI processes. If that does not help, I will resort

[2016-11-24 14:07] fuchsto commented on #46
Feel free to cancel CircleCI jobs that are in front of the queue, it's way more annoying for you than for anyone else to wait for a CI build right now. There are no pressing issues you would block right now.

[2016-11-24 14:10] fuchsto commented on #46
Ah, first I try switching to 2x2 containers. Builds will take longer, but this should free another slot for pull requests and your debugging session to run in parallel.

[2016-11-24 14:44] fuchsto commented on #143
You might: My intention is the opposite: the strong typing *adds* semantic information that I don't want to lose.
Let's use `dart_group_addmember`, where we communicated in code comments about is usage, as an example. It currently looks like this:

[code]

As a user, I would be unsure whether `unitid` refers to the unit's global rank or its relative id in the current team. Both would make sense.

[2016-11-24 15:00] devreal commented on #143
Got it, thanks. I'm fine with changing the interface like that and not have implicit conversion (not possible in C anyway but could be possible in C++), even though it's a bit more coding effort (manually creating the struct from a dart_unit_t or using a macro to do it).

[2016-11-24 15:15] fuchsto commented on #143
Right, but in C++ we can do even better and use phantom types like:

[code]

... and provide constructors or use brace initializers for convenient instantiation:

[code]

Ah yes, and conversion operators must be `= delete`, that's a crucial point indeed.

[2016-11-24 16:11] devreal commented on #46
Valgrind reports the following error in the docker container:

[code]

Trying to get debug symbols working in release mode...

[2016-11-24 16:30] devreal opened #161 "TeamLocalityTest: Subdomain tag too short"
It seems that there is a problem with the TeamLocalityTest. Valgrind reports:
[code]

Adding some debug output to `dart__base__locality__domain_group`, I see that `strlen(group_subdomain_tags[sd]) < (group_parent_domain_tag_len + 1)`:

[code]
Note that `(group_parent_domain_tag_len + 1)` is 15 in this case and `group_subdomain_tags[sd]` contains `'.0.0.0.0.1.0.0' `

[2016-11-24 16:37] devreal opened #162 "SeqTilePatternTest: Missing parameter in LOG_MESSAGE"
This line (SeqTilePatternTest.cc:29) causes invalid reads:
[code]

Just count the number of expected and provided parameters ;) I just can't interpret the cryptic output so I cannot provide a fix...

[2016-11-24 16:39] fuchsto commented on #46
Why not use Debug mode? CMake sets all compiler flags automatically and in a portable way.
To disable logging, set CMake flags

[code]

[2016-11-24 16:44] fuchsto commented on #162
Aah. Just delete that log message then, it's too verbosive for non-debugging purposes anyways.

Oh, and *ob-vi-ous-ly* it's

e: extents
bs: block size
nu: number of units
mpu: ... eh ... something per unit, beats me.

[2016-11-24 16:54] devreal commented on #46
That's what I usually do but that also disables compiler optimizations and suspect that optimizations trigger this bug.

Got debug symbols for the error mentioned above:
[code]

Just can't make any sense of it so far...

[2016-11-24 17:38] devreal commented on #46
[RANT]
Just for documentation: Ubuntu is is a cluster-f***, literally. They patch MPICH in a way that it cannot be used with Valgrind. See https://bugs.launchpad.net/ubuntu/+source/mpich2/+bug/1045326

CircleCI is fubar as well. Most of the times it claims that

... and I only see output of the first container and it's SSH setup, but that one runs MPICH. Can't do much right now, will try again tom

[2016-11-24 17:46] fuchsto commented on #46
Holy.

What has MPICH ever done to them? People like that bring their own spices to a dinner.

Horrible.

[2016-11-25 00:46] fmoessbauer commented on #162
Merged in #164. Ticket can be closed

[2016-11-25 00:46] #162 closed, assigned to fuchsto

[2016-11-25 00:49] #128 closed, assigned to fmoessbauer

[2016-11-25 00:51] fmoessbauer commented on #136
As discussed in #143, types will be introduced to fix this. Hence I close this duplicate.

[2016-11-25 00:51] #136 closed, assigned to fuchsto, fuerlinger, clemensmanert

[2016-11-25 02:30] fuchsto commented on #46
@devreal

I found the source of the double-free defect:

A memory segment in `dash::DynamicAllocator` is detached using `dart_team_memderegister`.
This again calls `dart_segment_remove` and `dart_segment_dealloc`.
All this looks fine to me.

Apparently, detached segments are deallocated again in `dart_segment_clear`.

The test case for detaching dynamic global memory is skipped in runs with less t

[2016-11-25 08:32] devreal commented on #46
Oh boy, thanks for your efforts finding this. I will create a fix for it.

[2016-11-25 11:45] jgraciahlrs commented on #121
I am pretty sure we discussed and decided the licence already at a project meeting back in 2015 or early 2016. I am not sure which one we decided on.

In any case, I favour BSD 3-clause.

[2016-11-25 11:46] jgraciahlrs commented on #121
Sorry, reopening ;)

[2016-11-25 12:20] devreal commented on #146
Tried it. Unfortunately, the script fails on our cluster due to the `-k` parameter not being supported by `timeout` in versions < 8.5, see http://git.savannah.gnu.org/cgit/coreutils.git/tree/NEWS#n1626. Is the additional kill really necessary?

[2016-11-25 15:17] #46 closed, assigned to devreal

[2016-11-25 15:21] fmoessbauer commented on #127
I agree that this is a better solution than enforcing the number of teams.

[2016-11-25 15:21] #127 closed, assigned to fuchsto, fuerlinger, fmoessbauer, devreal

[2016-11-28 09:11] fuchsto commented on #146
@devreal
The kill-switch (no pun intended) was just for additional stability. Didn't know the option is non-standard.

[2016-11-28 09:11] #146 closed, assigned to fuchsto, fmoessbauer, devreal

[2016-11-28 09:55] fuchsto commented on #61
@devreal
Can you run the tests again with the new CI script where test suites are executed in isolated runs?
I think it is just a small set of tests that are failing due to defect #153

[2016-11-28 11:34] devreal opened #167 "DART Group Allocation/Initialization"
I am not too happy with the allocation/initialization interface of DART groups. ATM, a group has to be allocated as follows:

[code]

It requires 3 (in words: three!) function calls to setup a group. This is rather complicated and highly error-prone. I understand that we cannot expose the implementation of a `dart_group_t` since it depends on the underlying implementation (shmem, mpi, ...). Howeve

[2016-11-28 11:49] fuerlinger commented on #167
@devreal Yes, this was a snafu in the early days of coming up with the specification for DART. I'm all in favor of a redesign along those lines (including changing the type of dart_group_t).

[2016-11-28 12:21] fuchsto commented on #167
@devreal @fuerlinger
I agree that defining allocation and initialization as inseparable operation is a a good thing because this prevents the creation of `dart_group_t` objects in an invalid state.

My only objection is that `dart_group_t` would be a native pointer in your variant, and this would be hidden from the user.
So when a user would try to use, for example, `dart_put` to send a DART group

[2016-11-28 12:28] fuchsto commented on #167
More important, @devreal addresses an issue that is actually of more general concern for DART.
Currently there is no uniform object-oriented style to construct, clone, assign and destruct instances of DART types.

I suggest the following vocabulary for all DART types:

- `dart_foo_create(dart_foo_t ** obj)`
  constructor (allocation + default initialization)
- `dart_foo_assign(dart_foo_t * lhs, da

[2016-11-28 12:35] fuerlinger opened #168 "Coordinate-based access to matrix.local throws std::out_of_range on unit!=0"
Using coordinate-based access to the local storage of a matrix throws when not on unit 0. Access works fine using chained subscripts:

[code]

[2016-11-28 13:08] devreal commented on #167
Is this a valid use-case? My understanding is that groups are local to units and each unit should construct it's own groups. In the current MPI implementation, copying a team is illegal anyway because the underlying MPI group cannot be copied.

This sounds like a huge overhead to me, which for most types is not required. `dart_unit_t` and `dart_team_t` are integral types that do not have to be ini

[2016-11-28 13:30] devreal commented on #167
I should note that my second proposed change (making `dart_group_t` a pointer typedef) would come with changes to all group functions to fit to the use of the other DART datatypes, i.e., strip the pointer from all function definitions:

[code]

would become

[code]

If we only implement the first proposed the interface would remain stable except for two changes to the API (deletion of `dart_group_

[2016-11-28 13:35] fuchsto commented on #167
@devreal
Ah, no, my wording was unclear there: I don't suggest to introduce these OO-methods for *all* DART types.
Just for those that

- involve ownership
- already have some kind of `create` and `destroy` functions already defined

So this would only affect `dart_team_t` and the locality types, I think.

There is no `dart_team_assign` or `dart_team_clone`, yet.
However, these have been suggested

[2016-11-28 14:04] devreal commented on #167
I'm all in for common naming in DART, so :+1: from my side. I guess you meant `dart_group_t` instead of `dart_team_t` though ;)

[2016-11-28 14:17] fuchsto commented on #167
@devreal
Ok, will create a branch for that for everyone to review.

I was indeed referring to `dart_team_t`. There is `dart_team_create` and `dart_team_destroy` but no `dart_team_clone`, yet (suggested by @fuerlinger in #125)

[2016-11-28 14:24] devreal commented on #167
Got it, I already started massaging the DART group interface in branch `feat-167-groupalloc` can move that to yours as well.

[2016-11-28 15:23] devreal commented on #61
Unfortunately, our cluster is down for maintenance until Thursday. I will try as soon as I get a chance to get on the cluster again.

[2016-11-28 22:29] rkowalewski commented on #52
The original solution had two minor issues:
a) While we link statically we always use shared libraries. For this reason we should use the shared library version of Nasty-MPI. --> Fixed
b) The order in which libraries are listed during the link step mattes. Before the small fix, Nasty-MPI was simply added to the end of all the libraries. However, we have to link Nasty-MPI before the native MPI libr

[2016-11-29 00:11] fuchsto commented on #52
@rkowalewski Thanks!
But currenlty the NastyMPI-tests fail with:

[code]

See logs in https://circleci.com/gh/dash-project/dash/551

[2016-11-29 07:52] rkowalewski commented on #52
Is there any chance to see the linker commands on circle CI? I have checked my local build scripts and it works. Probably LD_LIBRARY_PATH, or similar, is different in the docker machine.

[2016-11-29 09:13] fmoessbauer commented on #52
Hi, I don't think this is a circle CI specific problem, as the tests are run inside our docker containers. Just run the container locally as described in this [wonderful documentation](http://dash.readthedocs.io/en/latest/CI/#online-ci-providers)

[2016-11-29 09:43] fmoessbauer commented on #52
The problem is quite simple. NastyMPI is not copied to DASH's install dir. Hence it is not found when running the CI script.

[2016-11-29 12:47] Golim4r opened #171 "A* Implementation"

[2016-11-29 14:40] devreal commented on #143
Thinking about this a little more it seems that it is only important to be able to differentiate global and local unit IDs based on the type. To make the change less intrusive, we could as well simply typedef `dart_global_unit_t` to `dart_unit_t` and create a special struct for `dart_local_unit_t`. Thus, the default would always be a global unit ID (as has been used already) and only team-local un

[2016-11-29 14:41] devreal commented on #159
Should be handled by #172

[2016-11-29 16:01] fuerlinger commented on #171
If it is more than a few dozen lines of code, the A* search implementation for DASH should probably live in the [dash-apps repository](https://github.com/dash-project/dash-apps).

[2016-11-29 16:40] clemensmanert opened #173 "A build script just for tests."
As a developer I want to have a build script which just builds specified tests.

[2016-11-29 16:51] fuchsto commented on #173
@clemensmanert
That's already available, isn't it? See CMake option `TESTCASES`.

Example:

[code]

Build scripts for testing depend on specific use cases. If developers need a build script for a set of tests, they should modify a private copy of the existing scripts.

Private build scripts should be named `my.something` so they are automatically ignored by git.

[2016-11-29 16:55] #159 closed, assigned to fuchsto, clemensmanert, fmoessbauer, ddiefenthaler

[2016-11-29 17:00] #173 closed, assigned to clemensmanert

[2016-11-29 17:09] clemensmanert commented on #173
I want to have a script which builds a minimal config of dash with specified unit tests. The script could also run the specified ones then automatically.

[2016-11-29 17:11] fuchsto commented on #143
Then we would have another interface / behavior the user has to learn and keep in mind.
To anyone who is not involved in DART code, it would be annoying that there are two different styles to specify a unit id, and they would be mixed up all the time.
Having to "treat FOO in a special way because reasons" is a symptom of a bad interface.

[2016-11-29 17:37] fuchsto commented on #173
Create a private copy of `build.minimal.sh` and specify `-DTESTCASES`, we don't need to deliver a specific build script for that.

[2016-11-29 19:50] fuchsto commented on #171
@fuerlinger Yes, right. My bad, I was thinking about integrating it in tests and Doxygen, but it's actually a stand-alone application at this point.
@Golim4r I will explain how to add a DASH application in a mail tomorrow

[2016-11-29 19:50] #171 closed, assigned to Golim4r

[2016-12-01 00:55] fuchsto commented on #161
The original cause of this defect are invalid parameters, it seems.
The parent domain tag (e.g. ".0.1.2") must be shorter than any tag of its children (".0.1.2.0", ".0.1.2.1", ...).
Checking domain tag parameters before executing the grouping operation would be too expensive, though.

When multiple units are mapped to the same domain (which is an invalid configuration we can't avoid in CI), the te

[2016-12-01 02:33] fuchsto commented on #118
I will take care of the global memory allocation and team management aspects.
We also should think about meaningful tests / verification measures.

There is a light-weight, convenient unit test framework for thread-parallel test cases called *partest* from the [siemens/embb](https://github.com/siemens/embb) ecosphere that I really like.
I don't know if it is readily available to include it in dist

[2016-12-01 07:55] fuchsto opened #178 "Memory leaks reported by cppcheck"
[code]

[2016-12-01 10:32] devreal commented on #178
I will have a look at this.

[2016-12-01 10:33] devreal commented on #178
Ahh sorry, seems to have been fixed in #179 already. Thanks for the fix!

[2016-12-01 16:36] devreal commented on #61
Re-ran just now (MPICH v3,2). I see the following errors:

[code]
Same error also occured on `GlobMemTest`, `ArrayTest`

[code]

[code]

For the last one, Valgrind reports (running on two nodes, ppn=4):
[code]
Attaching full Valgrind log.
[dash_locality_domain_vg.txt](https://github.com/dash-project/dash/files/625211/dash_locality_domain_vg.txt)

Attaching full test run log.
[dash_tests_mpich3.2.t

[2016-12-01 19:20] fuchsto commented on #61
@devreal Awesome, thank you!

So it's just a few singular test cases that are affected by the same bug in the new topology module.
Something about leader communication is broken when units are running on multiple nodes.

That helps a lot!

How did you configure / run the Valgrind test? Looks way better than with OpenMPI.

[2016-12-01 19:24] fuchsto commented on #178
Ah, sorry, forgot to add a reference to this issue in the pull request.

[2016-12-01 19:25] #178 closed, assigned to fuchsto, devreal

[2016-12-02 10:51] fmoessbauer commented on #52
There is a bug in NastyMPI whereby it does not compile in gcc:
[code]

I temporary fixed that by removing the `-Werror` flag in branch `bug-gcc-macro`. @rkowalewski please have a look at this macro and fix it finally. However I am not sure if it is really desired to use `-Werror` in production builds.

For further details on this bug, see https://gcc.gnu.org/onlinedocs/cpp/Variadic-Macros.html

[2016-12-02 10:57] rkowalewski commented on #52
@fmoessbauer Thanks! I am going to fix this. However, I agree on that we should not use the `-Werror` flag in productive builds. I will accordingly modify the Makefile.

[2016-12-02 13:31] devreal commented on #143
Out of curiosity, I started implementing typed unit IDs for the DASH part. Please see https://github.com/dash-project/dash/compare/feat-143-unitids

Some things I noticed:
1. I do not allow for implicit construction from a `dart_unit_t` (and related) to prevent type errors from going unnoticed. However, without implicit conversion the initialization of a `global_unit_t` and `local_unit_t` cannot b

[2016-12-02 14:01] fmoessbauer commented on #143
Hi, at a first glance, I noticed the following points:
- `dash::myid()` and `dash::size()` should never be used internally. Better use `team.global_id()`. Please correct me if I am wrong with this opinion.
- I recommend naming the unit scope as tobi has written above, because it is refers to a scope. See [here](https://github.com/dash-project/dash/compare/feat-143-unitids#diff-7ceb89ab717670b13112

[2016-12-02 14:13] devreal commented on #143
The implementation of `team.global_id()` was actually a copy of `team.dart_id()` as it returned the DART _team ID_ so I deliberately deleted it. I also do not see why a team should provide the global ID of a unit if this aspect is already handled by a global function. Maybe I do not see what is wrong with `dash::myid()` though.

Not sure I understand this part. Do mean `dash::scope::local`? Should

[2016-12-02 14:22] fuerlinger commented on #143
I think what Felix means is that in DASH library code `dash::myid()` and `dash::size()` is likely incorrect / not what you want, since most constructs in DASH have a team (possibly different from `dash::Team::All()` associated with them. Library code should always use `team.myid()` or `team.size()` for the correct team that forms the context for the algorihtm/container. Felix, fell free to correct

[2016-12-02 14:57] devreal commented on #143
In the cases where I replaced `team.myid()` with `dash::myid()`, the respective library call `GlobMem::lbegin()` expects a global ID, not a team-local ID, which makes sense since DART global pointer hold global IDs (afaik). We could provide an overload that also takes a local_unitid and performs a translation.

The question is whether teams should provide the _global_ ID of the current unit. IMO,

[2016-12-02 15:07] fuerlinger commented on #143
Agreed, providing separate global IDs seems redundant to me. The global ID is simply the ID in `dash::Team::All()` which is always readily available as `dash::myid()`

[2016-12-02 15:19] fmoessbauer commented on #143
The point ist that I am not happy with `dash::myid()` at all because its name does not imply to which team it is related. However I understand that for new DASH users  (which do not use teams) `dash::myid()` it is useful. For example MPI does not provide something similar. There you always have to specify to which communicator the id is related. Just my two cents.

To the `dash::scope::local` poin

[2016-12-02 15:22] rkowalewski commented on #143
This seems to be a discussion about our programming conventions. What @fmoessbauer and @fuerlinger meant is that we should not use short-hand statements in our library. While `dash::myid()` is always the global unit id, it results in better readability to explicitly use the associated context (at least for me). Apart from that, short-hand statements may still change in future while `dash::Team::Al

[2016-12-02 15:32] devreal commented on #143
So just to make sure I understand this right: your argument is that I should use `dash::Team::All().myid()` instead of `dash::myid()`? The issue there is that `dash::Team::All().myid()` also returns a `local_unitid` while `dash::myid()` returns a `global_unitid`. We would need to introduce a template parameter to `dash::Team` to control this type (which would be fine with me if this is requested).

[2016-12-02 15:37] devreal commented on #143
Come to think about it, the return type of `dash::Team::All().myid()` should be dash::global_unit_t anyway. I will change it accordingly.

I would also propose to implement `dash::myid` in terms of `dash::Team::All().myid()` to dedup this functionality.

[2016-12-02 16:23] fmoessbauer commented on #143
I am not sure how you are going to implement that. `dash::Team::All` returns a reference to a dash team and `team.myid()` should always return a relative id. This is also supports my idea of `team.global_id()`

[2016-12-02 16:30] fmoessbauer opened #181 "Failing tests of one-sided operations in Nasty-MPI test configuration"
NastyMPI builds show that CopyTest.AsyncLocalToGlobPtr contains race conditions.

Hence, if running with NastyMPI, the tests fails because the calculated values are not correct.
See [this CI run](https://circleci.com/gh/dash-project/dash/588) for details.

@rkowalewski proofed that the test also fails if running on projekt03 when using NastyMPI. On CI this holds for all mpi environments.

[2016-12-02 17:34] fuchsto commented on #143
@devreal Thank you so much for putting your time into this.
I will digest your implementation and the discussions and add my remarks here.

[2016-12-02 17:47] fuchsto commented on #181
@dash-project/developers
Bumping this issue to the whole team to raise awareness for the awesomeness of [NastyMPI](https://link.springer.com/chapter/10.1007/978-3-319-43659-3_4). Use it!

This bug report is great news for the significance of QA procedures in DASH.

@fmoessbauer This is just an issue description and not your PhD thesis (yet), but: NastyMPI doesn't conduct a proof in strict formal t

[2016-12-02 18:22] devreal commented on #143
@fmoessbauer I was a bit too fast on that, it's not easily possible to implement this using a template (since dash::Team::* would become dash::Team<>::* across the code base). However, I still think that `team.global_id()` is bad design because a specific team couldn't care less about the global unit ID.

If we still want to encapsulate the accessor for the global unit ID inside dash::Team we coul

[2016-12-02 18:42] fuchsto commented on #143
@devreal I aggree, for several reasons.

Briefly put, from the perspective of a specific team, there is no "global". You have to "step outside" of the team's reference frame to view the global scope.

A static method looks very intuitive to me to express this because developers simply cannot obtain the global position from a team instance, they have to consolidate the *type* `dash::Team` which has

[2016-12-03 01:25] fuchsto commented on #52
@fmoessbauer @rkowalewski

Before we can close this issue, some last questions:

**MPI shared windows**

If I remember correctly, MPI shared windows should be disabled for Nasty-MPI runs because, obviously, Nasty-MPI can't nastify `memcpy`. Right?

- Curiously, the local-to-global `copy_async`-test still fails with MPI shared windows enabled.
  Maybe we need `MPI_Win_fence` to synchronize private/

[2016-12-03 01:29] fuchsto commented on #181
@fmoessbauer @rkowalewski
My first debugging attempts raised some questions regarding NastyMPI semantics and build configuration.
See my recent comment in #52 ([direct link](/dash-project/dash/issues/52#issuecomment-264604617))

[2016-12-03 04:28] fuchsto commented on #181
Well, hm, I'm not too sure about this, there might also be a bug in Nasty-MPI perhaps?

@rkowalewski
Even some of the most basic tests fail with Nasty-MPI.
I enabled debug logging for NastyMPI and don't see anything wrong about the MPI operations executed by DART.
This is a log snippet from test case `DARTOnesidedTest.GetBlockingSingleBlock`, executed on projekt03 with:

[code]

![nastympi-log-sni

[2016-12-03 04:42] fuchsto commented on #52
@fmoessbauer @rkowalewski
MPI shared windows have been enabled in the Nasty-MPI build config which prevents Nasty-MPI from intercepting MPI function calls.

This is fixed in CI and build scripts on branch `feat-52-nastympi` now.

[2016-12-03 04:49] fuchsto commented on #52
@rkowalewski
Also, test even fail when executed on a single unit, see [CircleCI build 592](https://circleci.com/gh/dash-project/dash/592).
Found this rather surprising (note that it's `mpirun -n 1`):

[code]

[2016-12-03 08:53] fmoessbauer commented on #143
Ok, you convinced me. I did not even thought about a static method. IMO the static method is the best solution. Thanks for putting time into this and the enlightening discussion.

[2016-12-03 10:34] fmoessbauer commented on #52
@fuchsto
Addressing the "Build config" question above: Theoretically `LD_PRELOAD` is sufficient if MPI libs are linked dynamically. However even in this case the user has to provide a build of NastyMPI. If setting the flag above, cmake pulls NastyMPI from the official repo and builds it. Furthermore, DART is linked against it in the correct order, so that even static linked MPI libs are supported.

[2016-12-03 13:26] fuchsto commented on #120
Moved to https://github.com/dash-project/dash-apps/issues/4

[2016-12-03 13:26] #120 closed, assigned to fuchsto, devreal, BenjaProg

[2016-12-04 17:59] fuerlinger opened #182 "Compiling DART fails when MPI shared windows are disabled"
DART does not compile when `DART_MPI_DISABLE_SHARED_WINDOWS` is defined.

[code]

[2016-12-04 18:19] fuerlinger opened #184 "Also run the CI tests with shared windows disabled"
Once DART successfully builds again with disabled shared windows, we should run CI tests with both configurations: enabled and disabled.

Disabled shared windows more closely resembles the distributed memory setting and might uncover issues that would otherwise go unnoticed. Plus it is needed for NastyMPI to work (intercept puts and gets).

[2016-12-04 22:18] fmoessbauer commented on #184
I agree, that this should definitely be tested. However this (again) rises the time the CI takes to finish.

Implemented in branch [feat-184-ci-sw](https://github.com/dash-project/dash/compare/feat-184-ci-sw).

[2016-12-05 16:24] fmoessbauer commented on #184
On CircleCI the tests fail using the OpenMPI2 container with more than one unit: See [CI Output](https://circleci.com/gh/dash-project/dash/602#artifacts/containers/2).

@fuchsto please have a look at the logs.

[2016-12-05 17:18] rkowalewski commented on #181
@fuchsto There was a small bug in Nasty-MPI where the splitting of one-sided Put/Get-Operations resulted in wrong displacement units at the target memory location. I have fixed this and pushed to the master branch in our Nasty-MPI repository. The following test works now without any errors:

[code]

Regarding the memory semantics, Nasty-MPI always assumes the unified memory model. Actually, simula

[2016-12-05 17:28] fmoessbauer commented on #181
Looks good now. However the CI does not pass as "TeamTest.Deallocate" segfaults at least [on Travis](https://travis-ci.org/dash-project/dash/builds/181408074)

[2016-12-05 21:26] rkowalewski commented on #181
Well, this bug is a different story and I do not know if this is really new. The problem is a "double free" of `dash::Array`. In `TeamTest.Deallocate` we first call `dash::Team::free` which in turn calls `dash::Array::deallocate` (due to the registered deallocator). Then the `dash::Array` instance goes out of scope which triggers again `dass::Array::deallocate`.
I have a fix in the branch. However

[2016-12-06 12:55] fmoessbauer opened #185 "Setup one DASH run per Testgroup in CI"
Initialize DASH in setup of each test group and finalize DASH after each test group. This requires changes in TestPrinter, as this currently uses `dash::shared` to gather results.

After this implementation, change CI to run all tests in a single run.

[code]

[2016-12-06 14:39] fuchsto commented on #184
I already changed the build config for "Minimal" to MPI shared windows disabled.
Shouldn't that suffice?

[2016-12-06 14:47] fuchsto commented on #182
@fuerlinger Curious ... I already fixed that some weeks ago. Did this fail on a fresh clone of the development branch?

[2016-12-06 14:52] fuerlinger commented on #182
Yes, it did for me - I used the manual Makefiles but that should set the same preprocessor defines as the CMake build so that should not matter.

[2016-12-06 14:56] fuchsto commented on #182
Ok, looks like I fixed that in an unmerged branch, shared windows are still enabled for build "Minimal" on development:

https://github.com/dash-project/dash/blob/development/dash/scripts/dash-ci-deploy.sh

[2016-12-06 15:20] devreal commented on #143
I just finished converting most of the places where `dart_unit_t` was used to using typed unit IDs.

The usage of `global_unit_t` is quite rare. However, in many places the default `Team::All()` team is used if no team is explicitly specified, thus requiring the otherwise legal use of `dash::myid()` to be converted to `local_unit_t`. I'm also not quite happy about the fact that `dash::Team::All().

[2016-12-06 18:51] fuchsto commented on #143
@devreal
Currently reviewing your changes in PR #186

Need to clarify semantics for myself first, but apart from that, the PR should include documentation.
I will add documentation in branch `feat-143-unitids` and assign you, @fmoessbauer and @fuerlinger  for review.

[2016-12-06 19:03] fuchsto commented on #185
Merged your changes, now trying CI runs with single test run.

[2016-12-06 19:05] fuchsto commented on #184
It's fixed in branch `feat-52-nastympi`, will be fixed with merge of PR #170

See branch `feat-184-shwin`

[2016-12-06 20:42] fuchsto commented on #181
@fmoessbauer Apart from that: See? False positives. Didn't prove nuddin.

[2016-12-06 21:34] fmoessbauer commented on #185
Looks good but unfortunately some XML Files are still corrupted. I will give it a second try tomorrow.

[2016-12-06 22:16] fuchsto commented on #185
@fmoessbauer
Currently, when I run

[code]

... no test cases are run. Why is that?

[2016-12-07 07:11] fmoessbauer commented on #185
I cannot reproduce this on CI nor Projekt03. Maybe you have set GTEST_FILTER? Where did you test?
The last missing task of this ticket (overlapping in XML files) ist fixed in #188

For me the output looks at follows (on project 03)
[code]

[2016-12-07 07:24] fuchsto commented on #185
Ah, yes, that's possible.

Still, we should use a common base class for test suites instead of copy-pasting setup and teardown in every test suite.
See PR #170

[2016-12-07 07:29] fuchsto commented on #52
@fmoessbauer @rkowalewski

Finalization fails for OpenMPI + NastyMPI:

<https://638-45930061-gh.circle-artifacts.com/1/tmp/circle-junit.BjwvGVQ/openmpi/Nasty/logs/test_mpi.log>

Example:

[code]

There is no error for MPICH and OpenMPI 2, though.

Update: Apparently the test suite has been killed as it timed out:

[code]

[2016-12-07 07:34] fmoessbauer commented on #185
Hi, I definitively agree on that. Also the solution with the global `TESTENV` is not so pretty.
With your test class, we can simply sed over the `test/*.h` files and replace the `dash::init` and `dash::finalize` commands with the appropriate setup and teardown calls.

I will implement the necessary changes after PR #143 is merged, as otherwise we will get conflicts in many places.

[2016-12-07 08:25] fuchsto commented on #182
@fuerlinger Fixed in your PR #183

[2016-12-07 08:25] #182 closed, assigned to fuerlinger, devreal

[2016-12-07 09:33] fuchsto commented on #143
See my comments in PR #186:

Currently there is a conversion operator to `dart_unit_t` and a conversion constructor from `dart_unit_t`.

In effect, this allows use cases we intended to prohibit in the first place:

[code]

Added test suite `UnitIdTest` for further test of unit id semantics.

[2016-12-07 10:49] fuchsto commented on #184
@rkowalewski @fmoessbauer @fuerlinger

In PR #189, I re-enabled MPI shared windows in CI builds as there apparently is a bug in OpenMPI 2, if I'm not mistaken.

There is a deadlock where one unit is entering a barrier, and another unit calls `MPI_Put` to a window shared with the barrier'ed unit (but in it's own segment):

![dash-log-openmpi2-deadlock_annotated](https://cloud.githubusercontent.com/

[2016-12-07 11:22] fuchsto commented on #63
Also see my comments on a presumed bug in OpenMPI 2 in #184:
<https://github.com/dash-project/dash/issues/184#issuecomment-265416419>

[2016-12-07 11:34] rkowalewski commented on #184
@fuchsto Actually you have been a bit faster than me. You are totally right, OpenMPI-2 blocks in one-sided communications. However this issue happens only if we use multiple MPI windows which is actually the case in DART. The issue has been recently discovered and is documented in [Issue #2530](https://github.com/open-mpi/ompi/issues/2530) in the Open-MPI Repository.

Additionally, we have another

[2016-12-07 11:38] fuchsto commented on #184
Okay, so long story short:

We won't use OpenMPI 2 in CI for now.

This is just one of several arcane defects in OpenMPI 2 I stumbled upon and fixing them doesn't help DASH/DART at all.

[2016-12-07 11:41] fuchsto commented on #63
@jgraciahlrs
This is one of the bugs in OpenMPI 2 that we stumbled upon:
https://github.com/open-mpi/ompi/issues/2530

After investing lots, **lots** of time into debugging our failing use cases, all of them could be tracked down to OpenMPI 2.

Another snapshot of a recent failing use case (#184 for details):

![dash-log-openmpi2-deadlock_annotated](https://cloud.githubusercontent.com/assets/37075

[2016-12-07 11:47] rkowalewski commented on #184
We should revert to OpenMPI 1.10.x

[2016-12-07 14:35] rkowalewski commented on #63
@fuchsto @jgraciahlrs  I made some additional research. Actually, the problem does not only occur if we have multiple windows. OpenMPI-2 cannot make any progress if in a one-sided communication origin and target are the same rank. See https://github.com/open-mpi/ompi/issues/2538

I think there is at least a workaround. Even without MPI shared windows we can check if origin and target are the same.

[2016-12-07 16:20] devreal commented on #143
I added documentation and deleted mixed-type comparison and assignment operators.

[2016-12-07 16:41] fmoessbauer commented on #184
**Yes and No** - I recommend the following:
- We keep the OpenMPI2 container (but do not run in CI) and from time to time we can manually test if OpenMPI2  works for us.
- We update the OpenMPI container to OpenMPI 1.10.latest

This is also beneficial, because if we only use only two Circle containers, we can run two commits at a time :+1:

[2016-12-07 17:16] fuchsto commented on #184
Yes, that's my plan. Once they got a grip on RDMA again, we will use it.
Good news is that we only need two CircleCI containers now.

... emm, as you already mentioned.

[2016-12-07 19:10] fuchsto commented on #143
As the usage of local vs. global unit ids is discussed repeatedly for several use cases, I propose the following rules:

Example:

[code]

[code]

Ceterum censeo: I still don't like the term "local" for teams.
A "local" team can span several compute nodes and it therefore sounds misleading to me.

In the DART topology module, I use `relative_id` and `global_id`.

Any objections?

@dash-project/dev

[2016-12-07 19:53] fuchsto commented on #184
Fixed in #189

[2016-12-07 19:53] #184 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer

[2016-12-07 20:18] fuchsto commented on #185
Also, a timeout for single test suites would be useful.

When running test suites in isolation with `dash-test-all-single.sh`, a frozen test case does not break the following tests.
We should try to maintain this with the new test base class.

[2016-12-07 22:30] fuchsto commented on #161
@devreal Can you still reproduce this? The use case you reported should be fixed in #177.

[2016-12-07 23:31] fuchsto commented on #63
The last two defects reported in this issue are caused by this bug in OpenMPI-2, too.
For example, test case `SharedTest.AtomicAdd`:

![dash-log-openmpi2-deadlock-atomic_annotated](https://cloud.githubusercontent.com/assets/37075/20991172/43fb5778-bcdd-11e6-86ea-76e1ba619abd.jpg)

Same thing: unit 0 calls `MPI_Accumulate` on its own window (origin = target), unit 1 runs into a barrier, and executi

[2016-12-08 00:59] fuchsto commented on #63
Retesting with nightly snapshot of OpenMPI-2, configured with

[code]

[2016-12-08 04:00] fuchsto commented on #55
With the latest nightly snapshot of OpenMPI-2 the defects in our test suites are not reproducible any more on my machines.

See: https://github.com/open-mpi/ompi/issues/2538

Can you retry the test suite on your cluster with the OpenMPI-2 nightly?
"It should work now".

[2016-12-08 04:32] fuchsto commented on #168
Created branch `bug-168-mat-coords`.

[2016-12-08 09:01] devreal commented on #161
Just tested with latest development and it still crashes when using 8 units. I am attaching the Valgrind log of one of the processes, which still shows invalid writes in the domain handling.
[dash_locality_domain.vg.25710.txt](https://github.com/dash-project/dash/files/638934/dash_locality_domain.vg.25710.txt)

[2016-12-08 09:49] fmoessbauer commented on #143
I totally agree on @fuchsto's proposal. So in short this means
- Change the (public) interface of `dash::GlobMem` to use relative / local ids
- Rename `local_unit_t` to `relative_unit_t` (can be simply done using [sed](https://en.wikipedia.org/wiki/Sed))

[2016-12-08 09:53] fmoessbauer commented on #185
Theoretically you are right, but if a test hangs, this is in almost any case due to a hanging MPI statement. So practically even a timeout does not help as we start only one process instead of one process per group.

[2016-12-08 13:21] fuchsto commented on #161
Ok, thank you!                       (... but ... _whhhyyyyy_ ... ?)

How did you configure / call Valgrind? Is it the bundled memcheck of OpenMPI?
On my clusters, Valgrind reports don't look sensible, let alone pretty.

[2016-12-08 15:10] devreal commented on #161
Right now, things seem to fall apart completely again: No matter the test I run, I get a SIGSEGV during initialization if I have debug output enabled in DART:

[code]

I have no idea why things go wrong there. The `recvcounts` array is used in `dart_allgather` but I cannot spot a mistake there. The use of `MPI_IN_PLACE` seems OK to me. I spent most of my day debugging this and it appears both with

[2016-12-08 15:25] devreal commented on #161
Not sure if that is related but I also see this error mesasges on unit 0:

[code]

[2016-12-08 15:34] devreal commented on #55
I tried it but the tests fail at multiple points, I tried to make my way through the test suite by filtering out failing tests. After excluding `UnorderedMapTest.*:TeamLocalityTest.*:ListTest.*:GlobDynamicMemTest.*` I got stuck investigating a failing `DARTOnesidedTest` (errors thrown in `MPI_Request_free`). I might continue looking into the latter test and see if this is a problem with OpenMPI 2.

[2016-12-08 16:01] fuchsto commented on #55
Yes, I totally aggree. DASH is not a regression test service for OpenMPI. I personally don't even use it. I already removed OpenMPI 2 from CI build targets.

[2016-12-08 16:18] fuchsto commented on #55
... and thank you for your constant effort in this!
In the future, we will monitor our time budget for debugging / cool-to-haves more closely.

[2016-12-09 01:04] fuchsto commented on #185
Yes, hm, you're right of course, it's not a trivial problem.
We would need a timer thread that cancels the MPI runtime to break deadlocks, and I don't even know if that's feasible. MPI is not exactly renowned for rich fault tolerance / recovery features.

Just forget about it. And apart from that, let's just keep each other from wasting any more time than desperately necessary in CI for now.

[2016-12-09 09:30] devreal commented on #143
I agree that the term `local_unit_t` is not very intuitive. However, with `relative_unit_t` it's not clear either -- it's relative to what? How about `team_unit_t` and `global_unit_t`? (Renaming them in the end is straightforwarding, Eclipse ftw :)

For the `lbegin`|`lend` case: I think the reason this function actually takes a global unit ID is that the DART global pointer takes a global unit ID,

[2016-12-09 16:58] fuchsto commented on #143
A unit id that is relative to `Team::All()` is global, and the `relative_unit_t` for units in `Team::All()` is equivalent to `global_unit_t`, so it's semantically stable. Even if the "wrong" type is used, it would still be correct.

Using `team_unit_t` and `global_unit_t` would imply that these are different concepts, that is, it reads like a global unit id is unrelated to a team.

Also, Eclipse?!

[2016-12-09 18:17] #185 closed, assigned to fuchsto, fmoessbauer

[2016-12-09 18:19] fuchsto commented on #181
False positives fixed in NastyMPI, closing this issue.

[2016-12-09 18:19] #181 closed, assigned to fuchsto, rkowalewski

[2016-12-09 18:33] fuchsto opened #191 "Use case: Local Ranges from Multidimensional NArray View"
Assigned @fmoessbauer for progress monitoring and review.

[2016-12-09 18:33] fuchsto opened #192 "Multidimensional View- and Range Concepts"
Assigned @fmoessbauer for progress monitoring and review.

[2016-12-09 20:43] fuchsto opened #193 "DASH Task Concept Specification"
Note for later: ensure the DASH Task concept is compatible to the Kokkos task API.

[2016-12-09 20:43] fuchsto opened #194 "DASH Task Concept Specification"
Note for later: ensure the DASH Task concept is compatible to the Kokkos task API.

[2016-12-09 22:31] fuchsto commented on #194
Unintentional duplicate of 193

[2016-12-09 22:31] #194 closed, assigned to nobody

[2016-12-11 10:43] fmoessbauer opened #195 "Usage of Halo and Stencil in dash"
Hi,

for a student project, I am currently writing a stencil application.
Can anybody tell me how to use `dash::HaloBlock` and stencils? There is some code and documentation in dash, however for me it is not clear how to create a HaloBlock from a `dash::NArray`.

From the meeting in Munich I thought this is supported by dash.

Halo Blocks would also be nice for the [astro tutorial](https://github.

[2016-12-11 23:35] fuchsto commented on #195
Let's have a Skype session on that. The actual missing part is automatic packing of boundary regions. We don't have it yet, but HaloBlock will simplify it a lot.

[2016-12-11 23:37] fuchsto commented on #195
... oh, yes: the changes by @dhinf are not merged in development

[2016-12-12 08:41] #167 closed, assigned to devreal

[2016-12-13 14:50] fmoessbauer commented on #106
@dash-project/developers

Until now, there is not a single commit in `sup-106-dash-doxygen`. As discussed in the meeting, the documentation will be written in branch `doc-106-dash-doxygen` to bypass CI.

Please help us to complete the API documentation. Seriously!

[2016-12-13 20:58] BenjaProg opened #198 "Dash::barrier() ignored"
I have a strange behavior of dash:barrier() in my VM.
They are basically ignored and the ouput in the example given below can be in any order.
So even if I run it in a VM this shouldn't ever happen right?

[code]
[barrierBug Output.txt](https://github.com/dash-project/dash/files/650120/barrierBug.Output.txt)

In the attached file are some output examples.

[2016-12-13 21:10] fmoessbauer commented on #198
Hi Benedikt,

IO is almost always buffered (line buffered in this case) and hence the ordering on your screen might not correlate with the execution order. You can test this easily by adding sleeps:

[code]

I did not try this, but this helps in most cases. If not, I'm going to have a closer look at your code.

[2016-12-13 21:25] BenjaProg commented on #198
Ah yeah! That seems to be the case, thanks!!
Then it's no bug of course.

Before we close this issue: is there a nicer way than using sleeps?

[2016-12-13 21:30] rkowalewski commented on #198
Hey Ben! As Felix pointed out I/O is aggressively buffered. std::endl
causes only to flush the stream buffer. However, it does not guarantee that
your buffer is flushed to the Operating system's I/O library. You can try
to use the flush method in std::ostream. That should give you better
results even though I have not tested it.
On Tue, 13 Dec 2016 at 22:25, BenjaProg <notifications@github.com> wr

[2016-12-13 21:33] fmoessbauer commented on #198
The MPI standard does not specify how stdout from different nodes should be collected for printing at the originating process. The only portable way to do this (as far as I know) is to write the output into a buffer (including a timestamp) and send it to the master unit.

Then only the master unit performs IO and hence it is synchronized.

[2016-12-13 21:33] #198 closed, assigned to fuchsto, fmoessbauer, BenjaProg

[2016-12-13 21:46] BenjaProg commented on #198
Thanks for your replies!

@rkowalewski I tested it with std::cout.flush() right now but it didn't change anything in the output

[2016-12-14 17:40] fuchsto commented on #106
We use the following style for documentation:

[code]

[2016-12-14 18:13] ddiefenthaler commented on #106
Thanks for the introduction.

Is `/// parameter documentation` in any way preferred over `\param` or `@param`?

[2016-12-14 19:39] fuchsto commented on #106
@ddiefenthaler Don't use the Java-style `@param`, please. Apart from that, use whatever you prefer.
I personally like the inline style `/// Param description` because undocumented parameters are easier to spot.

[2016-12-15 13:58] fmoessbauer opened #202 "Add support for async launch policy in dash/io"
Concept

[code]

The async stream internally uses futures. To avoid multithreading in IO, the store/load operations are chained and executed sequentially.

Implementation in branch `feat-hdf5-views`

[2016-12-15 14:27] fuchsto commented on #202
Boost Asio:
http://www.boost.org/doc/libs/1_60_0/doc/html/boost_asio/reference.html

[2016-12-15 14:30] fuchsto commented on #202
Note that async is a *launch policy*, not an *execution* policy.

http://en.cppreference.com/w/cpp/thread/async

[2016-12-15 20:00] BenjaProg opened #203 "dash::transform segmentation fault with unsigned char"
Is dash::transform<type> intended to be used with unsigned char?
It works for me with char, int and unsigned int (testet so far) but not with unsigned char, there I get a segmentation fault.

That's the function call:
[code]

[2016-12-15 22:38] fmoessbauer commented on #203
I will have a look at it tomorrow. In the meantime you can debug it with @ddiefenthaler if you like.

[2016-12-16 01:16] ddiefenthaler commented on #203
When calling dash::transform it passes the given arguments down to dart.
This also includes the type which happens in [Line 41](https://github.com/dash-project/dash/blob/development/dash/include/dash/algorithm/Transform.h#L41) of Transform.h
As of `dash::dart_datatype` is currently not specialized for `unsigned char`,
`DART_TYPE_UNDEFINED` is passed to `dart_accumulate` which then segfaults.

* On

[2016-12-16 02:41] BenjaProg commented on #203
[fast fix worked out with ddiefenthaler](https://github.com/dash-project/dash/commit/6033d10f9345f7a02eb37162fb20f7bb39ec0b09)

[2016-12-16 17:14] fmoessbauer commented on #203
Opened PR #204 to review and fixed order of types.

[2016-12-18 15:51] #203 closed, assigned to BenjaProg

[2016-12-19 07:54] devreal commented on #143
I am back from China and managed to implement typed unit IDs in DART during the conference breaks. This change was even more invasive since we cannot define operations on structs in C.

The DASH unit types are now derived from the DART unit types, hence we could get rid of the scope enum entirely.

Please note that there are a handfull todos for @fuchsto (see `TODO[TF]`) in places where I would ha

[2016-12-19 13:56] devreal opened #206 "Build fails with Clang"
Trying to build current development with Clang 3.8 fails with the following errors:

[code]
(`array.ndim()` cannot be used in a static_assert).

Further down the road, Clang has an issue with the Matrix.sub<> function:

[code]

This seems to be one of the dark corners of the C++ language. The correct code is:

[code]

Finally, the linking fails at the moment:

[code]

`PatterName` is a static memb

[2016-12-19 14:01] devreal commented on #206
Please see bug-206-clang. I would like to leave it to @fmoessbauer to fix the HDF5 related error.

[2016-12-19 14:27] devreal commented on #206
@fmoessbauer Never mind, I realized that the fix is trivial. Will commit as soon as the build was successful on my machine.

[2016-12-19 15:16] fmoessbauer commented on #206
This is the kind of bugs I love: When I read the ticket, it's already fixed. Nevertheless: Good Catch 👍

[2016-12-20 06:34] devreal opened #208 "Use pragma once as header guard"
While preparing fixes for #206, Clang reported a mismatching header guard (see https://github.com/dash-project/dash/pull/207/commits/3776bfe0b2f1aa87b969107b9c3693c63aa7030f). Is there any reason not to replace the `#define` based header guards with `pragma once`? They are much cleaner and less verbose. All compilers we use should support this pragma (including Cray).

[2016-12-20 08:12] devreal commented on #52
Just for the records: Using Nasty MPI in CI seems to fail sporadically, see https://circleci.com/gh/dash-project/dash/731. Re-running the test suite succeeded.

[2016-12-20 08:22] devreal commented on #55
Closing this issue as per discussion above.

[2016-12-20 08:22] #55 closed, assigned to fuchsto, devreal

[2016-12-20 09:14] devreal commented on #161
This issue is still open, blocks at least #61 and #56.

[2016-12-20 09:14] devreal commented on #61
Current development fails on the following test:
[code]

The test fails since `dart_team_create` is already called during initialization, i.e.:

[code]

This increments the team counter in DART and thus the test `team_core.dart_id() == 1` evaluates to false.

[2016-12-20 09:19] fmoessbauer opened #209 "Use clone of MPI_COMM_WORLD in DART to avoid interference with application"
For libraries using MPI it is good practice to duplicate the `MPI_COMM_WORLD` for inner-library communication to avoid interference with the MPI calls of the application.

This is especially necessary if using threads and `MPI_THREAD_MULTIPLE`. Otherwise library-internal barriers (as well as two-sided communications) might bind to application barriers.

**Example**
[code]

[2016-12-20 09:20] devreal commented on #209
Good point, I will take of it.

[2016-12-20 09:41] #206 closed, assigned to fmoessbauer

[2016-12-20 11:53] rkowalewski commented on #52
This is probably a progress problem in Open-MPI which appears even in the nightly build. I have still to figure it out.

[2016-12-20 16:15] fmoessbauer opened #211 "Refactoring / Cleanup in dash::Team"
During debugging of PR #210 @devreal detected various design or implementation adversities. These are currently marked with TODO @fuchsto and should be fixed in the near future.

Original comment by @devreal

[2016-12-20 16:17] fmoessbauer commented on #209
Implemented in PR #210

[2016-12-20 16:17] #209 closed, assigned to fuchsto, fuerlinger, devreal

[2016-12-20 21:46] fuchsto commented on #143
@devreal Naahiiice, thank you, much appreciated!

Updated branch `feat-143-unitids` to development via rebase. Some unit tests fail now, presumably due to the now-enforced local/global semantics of unit ids. Will take care of that.

[2016-12-20 21:52] fuchsto commented on #143
@devreal On second and third thoughts, I follow your suggestion to rename relative unit ID types to

`dart_team_unit_t` = `dash::team_unit_t` (instead of `*local_unit_id`)

You're right, `dart_relative_unit_t` would be less intuitive for users that are not familiar with the "historical" naming scheme.
Will run an sed on source files once integration tests pass.

[2016-12-20 22:28] fuchsto commented on #61
@devreal Good catch!

The test case is a rather recent addition by @fmoessbauer
Felix, could you provide a fix?
I'd suggest testing for something like `team_core.dart_id() == prev_team_core_id`.
Also, testing for the file fails when running on multiple nodes.
You can use the locality interface to skip the test in this case.

[2016-12-20 22:39] fuchsto commented on #208
It has its advantages, but unfortunately `#pragma once` is non-standard.
We could use it in addition to include guards, though.
The actual missing feature is running cpplint and/or CppCheck in integration tests. These would report mismatched and malformed include guards.

If we should switch to `#pragma once` entirely (without additional include guards), the build must at least include a preproces

[2016-12-20 22:42] fuchsto commented on #161
On it!

[2016-12-20 22:43] ddiefenthaler opened #212 "Solve segmentation fault of dash::transform on unkown types"
As stated by #203 `dash::transform` fails at runtime when operating on a type not defined in [Types.h](https://github.com/dash-project/dash/blob/development/dash/include/dash/Types.h#L85).

A suggestion was to move this error to compile time. This could be done by removing the member&nbsp;`value` from the struct&nbsp;`dart_datatype<T>` without specialization.
Unfortunaly this does not work this ea

[2016-12-21 10:03] devreal commented on #212
Wouldn't it be sufficient to introduce a `static_assert` in `dash::internal::accumulate_impl*` that checks that the type is known? Something like this:
[code]

[2016-12-21 11:00] fmoessbauer commented on #212
I agree that this is probably the simples solution. This statement should also be added in `dash::accumulate`.

[2016-12-21 11:25] devreal commented on #212
Good point! I also wonder why `accumulate_impl` resides in Transform.h. Wouldn't it be more efficient for `dash::accumulate` to call `accumulate_impl` for operations we can map to DART operations instead of doing the accumulate on-by-one on global memory?

[2016-12-21 11:25] fmoessbauer commented on #61
I will have a look at my test. Is it sufficient to just skip the test if it is executed on multiple nodes?
The file ist necessary to check if the team barriers work correctly. IMO the only way to ensure this is to use some external state like a file.

[2016-12-21 11:29] fmoessbauer commented on #212
I stumbled upon this too, but therefor we need execution policies ( #104 ). However you are right. MPI_accumulate is much more efficient and has a better scaling.

Update: Ok, wait: According to #104 `dash::transform` already uses accumulate...

[2016-12-21 11:38] devreal commented on #212
I think we can implement it using dart_accumulate without execution policies, this will be the default then.

[2016-12-21 11:40] fuchsto commented on #143
Fixed in #186

[2016-12-21 11:40] #143 closed, assigned to fuchsto, fuerlinger, clemensmanert, fmoessbauer, devreal

[2016-12-21 12:59] devreal commented on #212
Please see PR #213, which introduces the checks for valid data types.

Regarding dash::accumulate, the current implementation has a flaw: only unit 0 (randomly chosen?) actually receives a valid result. This is neither documented nor does the user have a chance to influence this. I seem to remember that we had a similar discussion at our last F2F. IMO, either the user can choose which unit receive

[2016-12-21 14:00] devreal commented on #212
@ddiefenthaler Please let us know if PR #213 has fixed your problem.

[2016-12-21 14:39] ddiefenthaler commented on #212
Fixed, thank you.
As mentioned in the first comment it was actually just a fork of Issue #203, but with a more general solution in mind.

When writing this yesterday I already thought that there must be simpler solutions, but I weren't able to think about any. However I haven't done much with `static_assert` prior to DASH.

[2016-12-21 14:39] #212 closed, assigned to fuchsto, fmoessbauer, ddiefenthaler

[2016-12-21 14:51] devreal commented on #211
Having given this another thought and checking the code, I realized that the user cannot change a `dash::Team` after its creation except for splitting it, which completely legal on dash::Team::All(). Thus, he cannot break anything.

However, in many cases where pointers to dash::Team are used we can easily use references iff the team is guaranteed to be initialized in the ctor and never changed th

[2016-12-21 15:40] devreal commented on #211
OK, never mind. Using references does not work if we use assignment operators, delayed allocation, and the like. Marking this bug as invalid...

[2016-12-21 15:40] #211 closed, assigned to fuchsto

[2016-12-21 15:43] devreal opened #216 "Improvements to dash::accumulate"
The current implementation of `dash::accumulate` has a flaw: only unit 0 (randomly chosen?) actually receives a valid result. This is neither documented nor does the user have a chance to influence this. I seem to remember that we had a similar discussion at our last F2F. IMO, either the user can choose which unit receives the result or it should be broadcast to all units. At the very least, it ha

[2016-12-21 17:09] rkowalewski commented on #52
The build is now fixed. The errors were reproducible only by using Open-MPI 1.x or MPICH 3.x. It turned out that we did not properly finalize DASH before finalizing MPI. We have recently decoupled MPI Initialization from DASH Initialization. This is fixed now as well.

[2016-12-21 17:26] fuchsto commented on #52
Fixed in #170

[2016-12-21 17:26] #52 closed, assigned to fuchsto, rkowalewski, fmoessbauer

[2016-12-21 19:50] fuchsto commented on #216
The current realization of `dash::accumulate` is somewhat irritating, yes. Oh yes.

First things first:

- `dart_accumulate` semantically corresponds to `MPI_Accumulate`: `C[i] = reduce(A[i], B[i])`
- `dash::accumulate` semantically corresponds to `std::accumulate`: `Acc = reduce([AccInit] v A[s...e])`

Consequently, `dart_accumulate` is ***not*** a semantically suitable backend for `dash::accumul

[2016-12-21 20:51] fuchsto commented on #106
@dash-project/developers

I added a comprehensive style guide for Doxygen documentation in the contributor guide lines:

https://github.com/dash-project/dash/blob/development/CONTRIBUTING.md

Now, don't be shy and give it a try!

[2016-12-22 09:21] devreal commented on #216
Thanks for the enlightenment! Then maybe `accumulate_impl` should not reside in `Accumulate.h` since the semantics are different? Who owns the code?

[2016-12-22 09:29] fuchsto commented on #216
Emm. You moved it there? Or @fmoessbauer did and you reviewed it:
https://github.com/dash-project/dash/commit/71d57b7895d33736d0bef6b2c8d78a44e60e8a0b

I implemented the algorithm stuff and placed `accumulate_impl` in `Transform.h`
... but we all own the code!

[2016-12-22 09:30] devreal commented on #216
I know. Let me rephrase: Who will fix it? ;)

[2016-12-22 09:31] fuchsto commented on #216
Oh :D
I will, my original implementation is broken anyways.

[2016-12-22 09:32] fuchsto commented on #216
... aaaand also: as it is defined in DASH, `accumulate_impl` should be named `transform_impl`, because that's the DASH semantics.

[2016-12-22 13:58] devreal opened #220 ""Buddy Allocator" in DART: Status"
Inside DART, we use a buddy allocator that was taken from https://github.com/cloudwu/buddy. However, there is no license shipped with it. I assume that we cannot just use it without explicit permission?

There is a refactoring todo but so far no one has seemed to touch it. Do we actually need our own allocator here? Can we show that `malloc`/`free` is significantly slower? As it stands right now,

[2016-12-22 14:27] devreal commented on #118
[UPDATE: Added third point]

I created a branch (`bug-118-threadsafety`) to deal with this and started investigating the road-blocks in the global memory allocation on the DART side. There are two issues right now:

1. The segment management is using a global shared hash table that is used to map segment IDs from DART `gptr`s to the segment information. There are three possible solutions:
    - Us

[2016-12-22 15:01] fuchsto commented on #118
Fortunately, these issues are anything but exotic. These are classic parallel memory management problems.
Not too long ago I was lucky enough to be involved in a project at Siemens CT which addresses these challenges for embedded systems, called EMBB.
It contains a very, very stable and portable atomic (CAS, FAA) interface for C99 and also provides lock-free and wait-free containers, but only for

[2016-12-22 15:12] devreal opened #221 "Segment IDs and dynamic global data structures"
While investigating #118 I noticed that segment IDs in DART are not reused, limiting the total number of team-aligned global memory allocations to 2^15 (32k). At the same time, I noticed that some DASH algorithms allocate short-lived global data structures, see dash::accumulate as an example. I haven't checked where else this is the case.

Consider long-running real-world applications with time-st

[2016-12-22 18:42] fuchsto commented on #221
Yes, this definitely has to be fixed. Bugs resulting from this limit would be obscure to a cruel extent, it's adequate to call it sabotage.

I don't know of a reason for this, and if there is, it can't be a good one.
The only reason I can think of is that it's not trivial with respect to consistency of the global address space.

The problem with re-using segment IDs is their unambiguousness:
Reusi

[2016-12-22 19:39] fuerlinger commented on #221
Memory is a bit blurry here but I think there is no particular reason why segment IDs are not re-used in the current implementation - it was just the most simple way to get a new unique ID to use a counter.

I would not worry too much about global pointers or global references that might still exist and refer to memory that is now invalid or belongs to a new and different data structure. That situ

[2016-12-23 17:37] devreal commented on #221
With the current implementation, units neither agree on the same segment ID during an allocation nor is there one segment ID counter for each team (the team ID is not part of the `gptr`, so that would not work). In fact, the segment ID is used locally to identify all metadata of a global allocation. Having the same segment ID on all units for a single global memory allocation would make copying `g

[2016-12-25 22:08] fmoessbauer commented on #83
During the Christmas days I did some research and came to the decision, that we definitely should not implement this our own. There are (at least two) pretty advanced benchmarking libraries for C++:

- [Google Benchmark](https://github.com/google/benchmark)
- [DigitalInBlue Celero](https://github.com/DigitalInBlue/Celero)

Both offer a highly configurable but easy to use interface similar to Googl

[2016-12-26 17:20] fuchsto commented on #83
@fmoessbauer
Apart from that: **you**, my dear, are officially forbidden to direct your attention to mundane tasks like this.
You have more interesting stuff to invest your efforts into.

[2016-12-26 17:21] fuchsto commented on #83
... the same applies to @devreal for the same reason.
Seriously: if you do, I won't merge your pull requests or roll them back if someone else does. Leave CI alone. It's the evil witch. It drains your energy.

[2016-12-26 17:28] fuchsto commented on #221
@devreal @fuerlinger You both are right, I mixed up the concerns there.
Allocation does not care about consistency and consensus, that the **containers'** or algorithms' job.
So: yes, we do need the mechanisms I mentioned after all, but that's an unrelated problem.

[2016-12-26 17:32] fuchsto commented on #220
@devreal We got in touch with the author of the original buddy allocator code, and there is no problem with respect to copyright. The code does not match our requirements anyhow, so it's an ancient refactoring ToDo.

If you see a way to replace it without putting too much effort into it, I will help as best as I can.
If reworking the local allocator does not conveniently fit into your task model r

[2016-12-26 21:54] fuchsto commented on #191
Added branch `feat-191-lranges`:

https://github.com/dash-project/dash/tree/feat-191-lranges

[2016-12-26 22:17] fuchsto commented on #191
@fmoessbauer Working on ranges concept in `dash/include/dash/Range.h`, will bounce for review when ready.

[2016-12-26 22:47] fmoessbauer opened #223 "Implement IO bindings for ADIOS"
Instead of implementing bindings for each IO backend (like HDF5) from scratch, a binding to [ADIOS](https://www.olcf.ornl.gov/center-projects/adios/) can be written. This would instantly enlarge the number of storage formats, while following the concept of responsibility assignment.

For me this is a long term goal and I am open to discussions.

[2016-12-27 12:59] #17 closed, assigned to fuchsto, fuerlinger, rkowalewski, clemensmanert, JosefSchaeffer

[2016-12-27 13:39] fuchsto commented on #192
Article in DASH documentation wiki:
<http://doc.dash-project.org/Concepts/Range>

[2016-12-29 17:57] fmoessbauer commented on #202
The feature is implemented and works for both input and output streams. Surprisingly it even works with builds of MPI without thread support. However then, no MPI calls are allowed while performing async io operations (otherwise strange things might happen).

I also updated both OpenMPI containers to multithreaded builds of OpenMPI. Thereto OpenMPI is build from the sources instead of using the pa

[2016-12-30 22:10] fuchsto opened #225 "Include clang-3.8 build in CI"

[2017-01-03 11:38] fmoessbauer opened #226 "Extent of underfilled block in BlockPattern is wrong"
If a `dash::Pattern` (Blockpattern) has underfilled blocks, currently the following holds:
[code]
This is not correct if the last block is underfilled. See unit test `BockPatternTest.UnderfilledPatternExtent` for details.

Furthermore, if a unit only has underfilled blocks, `pattern.blocksize(0)` returns the size of the underfilled block, which is not correct because the following should hold:
[co

[2017-01-04 01:34] ddiefenthaler opened #228 "TeamSpec::balance_extents() only operates on 2 dimensions"
When looking at balance_extents in [TeamSpec.h](https://github.com/dash-project/dash/blob/dd42d162a1ed0e80c934efe94c8c1977d1317a6b/dash/include/dash/TeamSpec.h#L233),
I noticed that it only balanced the extents in the first two dimensions.

As I'm probably going to need this for more dimensions in the future,
I'll try to rewrite it so that it gets balanced in all dimensions. See pull request #229.

[2017-01-04 16:11] rkowalewski opened #230 "DART locality interface requires mpirun mapping option for OpenMPI"
The DART Locality interface does not work if OpenMPI is started with the `mpirun` default setting. This manifests in an erroneous locality hierarchy information, e.g. an invalid number of NUMA domains. On a local development system (projekt03) I can see 4 NUMA domains while there actually exist only 2. For whatever reason this depends on the process mapping. The issue currently causes [strange beh

[2017-01-06 04:54] fuchsto commented on #228
@ddiefenthaler Yes, that is the expected behavior. Note that the balancing is constrained with hardware topology domain sizes.
For example, with 4 sockets and 2 NUMA domains in the hardware topology, the algorithm optimizes surface-to-volume ratio by balancing extents constrained to even multiples of 8.

[2017-01-06 05:26] fuchsto opened #231 "Enable all available compiler warnings"
We currently compile with warning flags `-Wall -Wpedantic -Wextra` which is basically reasonable, however g++ offers several additional warning options that are not enabled with this configuration.

[2017-01-06 09:46] fmoessbauer commented on #202
A branch containing only the new docker containers is `feat-202-mpithread`

[2017-01-06 10:09] rkowalewski commented on #231
Which one for example do you mean?

EDIT: Got it. I assume you refer to Pull request #232

[2017-01-06 16:12] ddiefenthaler commented on #228
Those constraints are interesting.
I'm quite sure that balance_extents in the current development branch does not consider any topology information. (Current implementation: [TeamSpec.h](https://github.com/dash-project/dash/blob/dd42d162a1ed0e80c934efe94c8c1977d1317a6b/dash/include/dash/TeamSpec.h#L233))
Another example, the first one might be poorly chosen: 225 units get balanced to 9x25 instead

[2017-01-08 12:39] knuedd commented on #226
I think the same bug haunts the tutorial example with a 2D matrix. The sum of the local extents in a dimension is sometimes not the global extent. Also the local iterators iterate over too many elements if the last block in a dimension is under-filled.

I tried to show that behavior in branch bug-226-pattern in a new test case MatrixTest.UnderfilledBlockedPatternExtents but there some asserts tell

[2017-01-08 12:43] fmoessbauer commented on #226
`dash::Matrix` uses `dash::TilePattern` which does not support underfilled blocks. Hence specify the pattern type directly using `dash::Pattern` (which is the Blockpattern), or use `dash::NArray` which uses the blockpattern per default.

To address the ambiguity of the pattern concept and the blockpattern `dash::Pattern` see my PR #227

[2017-01-08 20:08] knuedd commented on #226
Ah, thanks for that hint. This solves one half and the local extents are now correct when using DASH NArray instead of DASH Matrix. There is one strange thing left, though. The local iterators iterate over the full local block, not only the actual elements used in an under-filled block.

The following example illustrates it:

[code]

[2017-01-09 08:57] devreal commented on #231
Thanks for the additional flags. While this is only a developer option, it greatly helps to have a clean build again soon. Otherwise, more critical warnings might go unnoticed. I will start fixing the DART part soon.

[2017-01-09 09:03] fuchsto commented on #231
@devreal Thank you, but don't give it high priority.

[2017-01-09 10:35] devreal commented on #220
Thanks for the clarification. I think the permission should be documented somewhere.

The question still remains: Do we really need to have a custom allocator implementation? The buddy allocator is only used in `dart_memalloc` which seems to be a replacement for `malloc`, returning local memory wrapped in a global pointer. I'm not convinced that the added complexity (and effort to get it right now

[2017-01-09 11:05] rkowalewski commented on #220
I agree with @devreal, however local memory allocation is not a collective team allocation. If we do not use a Buddy Allocator we still need a data structure to internally track all locally allocated memory segments and free them either at runtime if not needed anymore or at `dart_finalize`. That is where the Buddy Allocator comes in handy.

[2017-01-09 12:07] devreal commented on #220
Good point. But we do not need an internal data structure to free the memory at runtime, i.e., by calling `dart_memfree`, because a call `free` on the pointer contained in the `gptr` is sufficient. It is debatable whether DART should be responsible for freeing locally allocated memory upon `dart_finalize` or whether this is the user's responsibility. I would vote for the latter and it is safe to d

[2017-01-09 12:18] devreal commented on #231
[UPDATE] Submitted comment before finished writing, classical slipped-off-my-mouse mistake ^^ [/UPDATE]

Just out of curiosity, I ran a make and looked at the new warnings. Some seem to be pure style-related, e.g.,
[code]
Here, a `void` is missing in the parentheses.

Others are really strange, e.g.,

[code]

This seems to be some strange behavior of GCC, see https://gcc.gnu.org/bugzilla/show_bug.

[2017-01-09 12:20] fuchsto commented on #231
That was unintended, the style-related warnings should be disabled.

[2017-01-09 12:33] devreal commented on #231
Addendum: `-Wmissing-prototypes` seems to be useful as well (spots functions that could be marked `static`), e.g.,

[code]

[2017-01-09 20:13] devreal commented on #202
I'm fine with this hack for the time being. However, unless you actually check for the value of `_provided_thread_support` before you call MPI in a multi-threaded environment it does not give you much benefit. After all, you might be using an MPI library that was not compiled with support for `MPI_THREAD_MULTIPLE`. From what I know, OpenMPI uses thread-multiple by default if configured appropriate

[2017-01-09 20:41] devreal commented on #231
Here is a nice gem: GCC 5.4.1 crashes on `dart-impl/mpi/src/dart_segment.c` with `-Wstrict-overflow=5`:

[code]
I installed GCC 6 which has this bug fixed:
[code]
I still cannot make any sense of this warning, see my comment above. Unless someone has a good explanation and a fix for the warning we might want to consider removing this flag...

[2017-01-09 20:50] devreal commented on #231
I suggest removing the flags `-Wold-style-definition` and `-Wstrict-prototypes` since they are mainly style-related.

However, I was surprised that warnings of unused variables and functions are explicitly disabled through `-Wno-unused`. I strongly suggest to enable these warnings since they can help detect broken code or at least help clean up code.

[2017-01-10 03:44] fuchsto commented on #220
Hmyaa, the wording is specific. Memory is allocated in the unit's global memory space (because it is accessible via global pointer), but not in the unit's *shared* global memory space.

If I remember correctly, I use `dart_memalloc` to allocate memory before it is attached (published in *shared* global memory space) in dynamic global allocators.

But I'm not religious about this part of the DART i

[2017-01-10 03:54] fuchsto commented on #231
The reason to configure `-Wno-unused` is that

1. it reports temporaries used for logging in most cases
2. compilers are really good at eliminating unused temporaries (given they are results from a const / constexpr which is usually the case)

Not implying that these are good reasons, though. I deactivated this warning category after I studied compiler warnings of biblical dimension without findin

[2017-01-10 04:09] fuchsto commented on #231
`-Wstrict-overflow` is rather important to us because it adds checks on additional stages in the optimization of literal expressions, in particular like those in DASH index set arithmetics.

So, for example:

[code]
With `-Wstrict-overflow=k`, the level `k` determines the degree of "reduced common sense" of these warnings. `k=5` is really too excessive, as illustrated in the `abs(...) % X` example

[2017-01-10 08:36] rkowalewski commented on #220
Actually there are two things to clarify. At the moment we have two windows:
- One for collective team allocation in which we allocate memory related to all containers of a specific team (`dart_team_memalloc` or `dart_team_memregister`). Each memory segment is dynamically allocated (i.e., malloc) and then attached.
- Another one for local memory allocation in which we use the buddy allocator. The

[2017-01-10 08:50] fuerlinger commented on #220
The original idea was to have two different kinds of memory allocation in DART

(A) A collective operation: every unit in a team participates and contributes an equal amount of memory
(B) A non-collective operation: only one unit (the others are not involved at all) allocates memory that is, however, meant to be accessible by the other units, "local" might be the wrong word to use in this context.

[2017-01-10 09:41] devreal commented on #220
Ahh thanks for your clarifications. I was not aware of the subtle difference between _global_ and _shared global_ memory... I understand that there is a need for non-collective allocations and I can see the use-case. Two points to make here:

1) It might be more efficient to use `MPI_Alloc_mem` instead of a custom allocator to allocate memory that is accessible from other units, although the stand

[2017-01-10 10:04] devreal commented on #231
OK, I understand your point on `-Wstrict-overflow` and we should lower the level to something more sensible. However, even with level 3 I see warnings that I cannot make any sense of. Maybe you know a way to adapt the code to fix avoid the warning. Otherwise, this is really dangerous it leads to situations where other warnings are overseen or even intentionally ignored (because hey, we ignore the

[2017-01-10 10:33] devreal commented on #231
One more note on `-Wstrict-overflow`: With level 3, we receive warnings from within MPI as well:

[code]

I do not think we should have this flag enabled for all developers as it needlessy clutters compiler output and makes spotting more severe warnings problematic. We can put it as a separate CMake flag though if these diagnostics are important in some places...

[2017-01-10 12:46] fuchsto commented on #231
Ah well, that makes this flag unusable for us then. Thanks for your changes!

[2017-01-11 14:07] devreal commented on #220
Argh, it's only after I started to shuffle around code to get rid of the buddy allocator that I understand what the buddy allocator is used for. Good documentation ftw! Turns out the allocator does not actually _allocate_ memory from the OS but return an index to be used for some externally allocated chunk of memory. To add to the confusion, the variable holding the "allocator" instance in DART is

[2017-01-12 17:17] devreal commented on #118
I started to work on making the local and global memory allocation in DART thread-safe. So far, I have used mutexes (`pthread_mutex`) to ensure mutual exclusion inside the buddy allocator and inside the segment data management. There is a new build variable that can be used to switch off threading support, which also eliminate the overhead from the mutexes. The increment/decrement of segment count

[2017-01-12 18:27] fmoessbauer commented on #202
@devreal : Give me a hint when you have finished related changes in `bug-118-threadsafety`, then I will replace my workaround with your implementation.

[2017-01-13 09:11] devreal commented on #231
I fixed an issue that prevented builds with Clang from succeeding. The Intel compiler also complains about some warning flags he does not understand, in particular:

[code]

I will add a fix to #234

[2017-01-13 13:36] dhinf commented on #226
There are also problems with underfilled blocks if you use NArray.lend(). Here lend() points to the an element behind the allocated and not behind the "real" last element.
But fixing the number of allocated memory for underfilled blocks is quite challenging, because there are many exceptions to be aware of. For example, a Blockpattern can be used with TILE and BLOCKCYCLIC and not as the intended P

[2017-01-13 15:28] devreal commented on #118
I added documentation on the updated thread-safety restrictions for the DART part and fixed some issues. In the branch, `dash::initialize` now calls `dart_init_thread` if compiling with `-DDASH_ENABLE_THREADING` and provides the thread-support status through `bool dash::is_threaded`.

I also added documentation for the methods in `Init.cc`.

From my point of view, this is all that is needed for DA

[2017-01-13 23:55] fuchsto commented on #231
Hm! icc-14 is fine with it on my machine. What version of icc did you use?

[2017-01-13 23:58] fuchsto commented on #226
Yes, that is absolutely necessary, these patterns have fundamentally different semantics.
I was confronted with the complexity emerging from the possible combinations of regular domain composition properties some time ago and introduced a traits classification system to handle it. There is a paper on it:

https://www.researchgate.net/publication/308131528_Expressing_and_Exploiting_Multi-Dimensiona

[2017-01-16 09:17] devreal commented on #231
I tested with icc 2016. It's likely that these warnings have been removed again, Intel does not seem to too transparent about that. We can add `-diag-disable=10006` to suppress the warning about unsupported warnings ^^

[2017-01-16 09:23] devreal commented on #231
ICC 2016 has the following interesting warning, that we might want to fix:

[code]

However, there is a more serious issue here: The build fails with the following error:

[code]

I'm still not sure why this fails with Intel while the build succeeds with Clang and GCC.

UPDATE: There was an earlier error that I did not see immediately (hidden in many warnings ^^):

[code]

[2017-01-16 09:49] dhinf commented on #226
I know the properties. But why does a TilePattern has the property pattern_mapping_tag::balanced and BlockPattern not? BlockPattern(Blocked,Blocked) -> every unit has exactly one block.
Or why the the Blockpattern doesn't have the property: pattern_layout_tag::blocked ? BlockPattern(Blocked,None) -> all Elements are contiguous in local memory.

I only want to understand how properties are defined,

[2017-01-16 22:00] fuchsto commented on #226
Consider

[code]

[2017-01-16 22:01] fuchsto commented on #226
And no, elements in a block of BlockPattern are **not** contiguous in memory, different from TilePattern.

The definitions of pattern properties are documented in `dash/pattern/PatternProperties.h`

Also see:

- <https://codedocs.xyz/dash-project/dash/a00995.html>
- <https://codedocs.xyz/dash-project/dash/a01003.html>
- <https://codedocs.xyz/dash-project/dash/a01011.html>

[2017-01-17 07:23] dhinf commented on #226
I considered: auto pat = BlockPattern(BLOCKCYCLIC(4), NONE)
Exact the same output of the local memory for Block- and TilePattern. I used the a plain pointer, which means the elements are contiguous in local memory. In which case the elements of a Blockpattern are not contiguous?

[2017-01-17 07:44] fuerlinger commented on #226
![pattern1](https://cloud.githubusercontent.com/assets/475258/22011416/3f9ca70a-dc8f-11e6-8d7e-19cf5349bf0f.PNG)
![pattern2](https://cloud.githubusercontent.com/assets/475258/22011417/3fb0929c-dc8f-11e6-89ef-b938e3dbb3d6.PNG)

This might answer your questions. Here are some examples for Blocked and Tiled patterns. The blockcyclic example shows that the elements are not stored contiguously. The ima

[2017-01-17 08:16] dhinf commented on #226
Thanks Karl. The NONE,BLOCKCYCLIC helped. Here the results looked different. My problem was the naming. I expected the behaviour the TilePattern showed from the Blockpattern.

[2017-01-17 08:28] knuedd commented on #226
Can we still try to fix the broken lend() so that  `x.lend()-x.lbegin() == x.local.extent(1) * x.local.extent(0)`. Here is also a small example:

    #include <unistd.h>
    #include <iostream>
    #include <cstddef>
    #include <iomanip>
    #include <cstdlib>

    using std::cout;
    using std::endl;
    using std::setw;
    using std::flush;

    #include <libdash.h>

    int main( int argc,

[2017-01-17 10:47] fmoessbauer commented on #226
Please have a look if my recent fix in BlockPattern also fixes your pro problems: See [this](https://github.com/dash-project/dash/compare/bug-226-pattern) comparison.

[2017-01-17 11:22] knuedd commented on #226
Hi Felix, that's great. Can we merge this into the development branch very soon, so we can include it in the tutorial VM.

[2017-01-17 12:17] fmoessbauer commented on #226
Yes, of course. I made a PR. However someone familar with the `BlockPattern` should verify my fix in both correctness and performance.

[2017-01-17 19:00] fuchsto commented on #226
On it.

[2017-01-17 19:03] fuchsto commented on #231
Narf?
Is that already fixed in your PR, or should I hotfix this?

[2017-01-18 00:08] fuchsto commented on #226
@knuedd It's merged. Pull from development and let me know if it works now.

[2017-01-18 08:25] knuedd commented on #226
On 2017 M01 17, Tue 16:08:52 CET Tobias Fuchs wrote:

Still not working properly. The example code says:

    global extent is 13 x 7 == 91

    uint 0: local extent is 7 x 4 == 28 but the local iterator visited 28
    uint 3: local extent is 6 x 3 == 18 but the local iterator visited 28
    uint 1: local extent is 6 x 4 == 24 but the local iterator visited 28
    uint 2: local extent is 7 x 3 ==

[2017-01-18 08:39] devreal commented on #231
I haven't managed to fix it because I'm not sure what exactly causes the error. Using a small test case, I can reproduce the problem with ICC 16.0.3 (which claims to fully support C++11 `noexcept`). The example builds fine with 17.0.0. I suspect that this is a compiler bug. I will ask for a OpenMPI installation built with 17.0.0 to validate it against DASH.

Let me know if you have a hot fix :) We

[2017-01-18 13:10] devreal commented on #231
I have to revert my previous statement on the build error: the problem was that the Intel compiler module on our cluster did not load a newer GCC version, which is required by the Intel compiler to properly compiler C++11 features. When I bring the GCC 6.2.0 into the game everything works fine.

I am about to commit some more fixes to warnings though.

[2017-01-18 18:39] fmoessbauer commented on #226
This is more or less unrelated to the `BlockPattern`, the suspicious code is in [Matrix-inl.h, line 155](https://github.com/dash-project/dash/blob/development/dash/include/dash/matrix/internal/Matrix-inl.h#L155), as the `GlobMem` is allocated for `_pattern.local_capacity()` elements, not `_pattern.local_size()`. However it's not clear to me why the capacity of the pattern is interesting anyway.

`

[2017-01-18 20:30] fuchsto commented on #226
Yes, curious. It looks like a defective and just-correct-enough result from a broken merge. Will provide a revised version.

[2017-01-18 21:04] fuchsto commented on #231
Hm! We want to be compatible to gcc-4.9, though. I will heat up my build-VM and rerun all configs to be sure.

[2017-01-19 14:05] BenjaProg opened #238 "MPI_Group_free() called after MPI_FINALIZE"
In my simple program for learning how to work with teams in DASH [here](http://doc.dash-project.org/Examples/TeamExperimentationTemplate) I get the output you can see in the attachment.
But the error(s) only occurs in my VM if the block in line 90-91 is a comment.
So if the whole program is executed I get the error(s).

I assume it's a bug in Team::split(), but perhaps I am wrong?
[errOut.txt](htt

[2017-01-19 14:14] fmoessbauer opened #239 "Fix empty allocations"
Currently GlobMem allocations hang if at least one unit does not contribute any local elements. This is due to collective MPI operations in DART which are skipped for units without local elements. Furthermore the implementation of memory allocation does not comply to the specifications made in the header.

For details also have a look at my comment [here](https://github.com/dash-project/dash/issue

[2017-01-19 14:23] devreal commented on #239
I just checked the DART code for skipped collective operations. I cannot see that DART itself skips collectives on empty allocations. So it's just that DASH is skipping collective DART calls on empty allocations?

[2017-01-19 14:28] fmoessbauer commented on #239
There are two sides of the problem:
1. DASH skips the collective operation `dart_team_memalloc_aligned`.
2. DART does not allow empty allocations, as `MPI_win_attach` does not work for empty windows (not sure if this is the bug, but it's the error MPI reports). However a simple `if(nelem == 0){++nelem;}` in DART fixes the problem. But this is definitly not the right way to solve the problem.

[2017-01-19 14:37] devreal commented on #239
Can you please paste the MPI error message? At least the standard does not seem to enforce a size greater zero for `MPI_Win_attach`.

[2017-01-19 14:48] devreal commented on #238
This is not directly a bug in `Team::split` but related: in `Team::split` the new team is registered for later deallocation. The deallocation then happens upon destruction of the static `dash::Team::All()`, which happens after `dash::finalize` has been called. A simple solution would be to not delete any children in `~Team` after DASH has been finalized. Alternatively, `dash::finalize` should make

[2017-01-19 14:49] fmoessbauer commented on #239
Executed using the openmpi (v1.10.5) docker container:

[code]

See branch [bug-239-allocate](https://github.com/dash-project/dash/compare/bug-239-allocate) for my implementation.

[2017-01-19 14:58] devreal commented on #238
I think this is easy to fix, provide a fix soon. Thanks for reporting.

[2017-01-19 15:09] BenjaProg commented on #238
okay cool thanks!

[2017-01-19 15:25] devreal commented on #238
Can you please check the branch `bug-238-teamfinalize` to see whether that fixes your issue? I could not immediately reproduce the error message on my local machine.

[2017-01-19 15:34] BenjaProg commented on #238
Yeah I am on it!
I were suprised by the error later, at first it never occured but if it occured once, it occured every time
(that was yesterday). And today same again, for hours no error and with the first occurance i couldn't get rid of it.

[2017-01-19 15:52] BenjaProg commented on #238
Hm now I get a Segmentation Fault, see attachment
[errOut2.txt](https://github.com/dash-project/dash/files/717070/errOut2.txt)

By the way I run it with 4 units, if good to know...

[2017-01-19 15:53] devreal commented on #239
Please see the PR and check whether all cases are addressed (I'm not too familiar with the DASH side of global allocations but at least it fixes the test in question).

[2017-01-19 16:10] BenjaProg opened #241 "dash::Matrix doesn't accept struct as template datatype"
Why does `dash::Matrix` and thus `dash::NArray` not accept struct as template datatype while `dash::Array` does?
For example:

[code]

[2017-01-19 16:17] devreal commented on #241
My guess would be that `dash::Array` is just missing the `static_assert`, hence the different behavior. However, afaics both could potentially store non-trivial (but trivially-copyable) data but I am not sure on the design decisions taken earlier.

[2017-01-19 16:21] dhinf commented on #241
Matrix accepts structs, but all members have to be trivially-copyable. How is MTRX_TYPE defined?

[2017-01-19 16:27] fmoessbauer commented on #239
Looks good to me. Thanks for the fix.

[2017-01-19 17:09] fmoessbauer commented on #226
I transformed the example code into an unit test, and now it works (see PR #243). @knuedd: Please confirm that and close the issue.

[2017-01-19 17:35] devreal commented on #241
Interestingly we enforce is_trivial for Matrix but not for Array, which has the following comment in it:

For details on the two: http://stackoverflow.com/questions/4178175/what-are-aggregates-and-pods-and-how-why-are-they-special/7189821#7189821

`is_trivially_copyable` seems to be implemented with GCC >5.1.0 but not with (the rather ancient) <=4.9.4: https://gcc.gnu.org/onlinedocs/gcc-5.1.0/libs

[2017-01-19 18:23] fuerlinger commented on #241
[95.datatypes.pdf](https://github.com/dash-project/dash/files/717411/95.datatypes.pdf)

Here is an old "design document" on this issue. `is_trivially_copyable` was indeed not implemented back then. If it is available now on all platforms of interest to us then it seems like this is the appropriate property to check for. Structs are certainly useful to have as elemental types in our data structures

[2017-01-19 21:53] BenjaProg commented on #241
@dhinf MTRX_TYPE is defined: using MTRX_TYPE = uchar;
In the program a matrix is read in and depending onthe values the programmer can/should change the type of the matrix. The program is templated in a way so you can just change MTRX_TYPE.
And in the use cases of this program, the type of MTRX_TYPE should always be trivially copyable.

[2017-01-20 07:47] knuedd commented on #226
Confirmed

[2017-01-20 07:47] #226 closed, assigned to fuchsto

[2017-01-20 08:55] dhinf commented on #241
How is uchar defined? I tried a struct with unsigned char and it worked.

[2017-01-20 08:59] devreal commented on #241
@fuerlinger
I did some tests with different compilers that I have at hand: Intel seems to support it since ICC 15, GNU since 5.1.0, and Clang 3.8.0 supports it as well (although support might be available in earlier versions of Clang but this is the earliest version I have access to atm).

The only exception is the Cray compiler: it uses the g++ header files of version 4.8.2 (!), even in the lates

[2017-01-20 09:12] BenjaProg commented on #241
@dhinf Yes uchar is just a unsigned char.
The code i am talking about is [in this line](https://github.com/dash-project/dash-apps/blob/master/cowichan/winnow/main.cpp#L80).

remark: the code is a construction site and incomplete, but runs so far...
The dash::Array in Line 80 is not needed at the moment because of design decisions.

[2017-01-20 09:35] #238 closed, assigned to fuchsto, fuerlinger, rkowalewski, fmoessbauer, devreal, BenjaProg, ddiefenthaler

[2017-01-20 09:38] BenjaProg opened #246 "Why doesn't dash::copy support GlobPtr as input?"
Hey, is there a reason why dash::copy doesn't accept GlobPtr as in/output?
I stumbled about this as i wanted to copy to a globmem allocated with memalloc on a remote unit.
[it's just in the comments right now](https://github.com/dash-project/dash-apps/blob/master/cowichan/winnow/main.cpp#L152) and I try to solve the problem another way, but I am still curious why ;-)

[2017-01-20 13:17] devreal commented on #118
Some more thoughts I had today on thread-safe global memory allocation: (using this issue to document my thoughts)

The issue is more  severe than I initially thought. While we can make all access to global data structures involved in global memory allocation thread-safe, team-aligned global memory allocation in the same team is inherently not thread-safe. The reason is that global memory allocati

[2017-01-20 18:55] fuchsto commented on #246
`dash::copy` is an algorithm interface, that is: it has several implementations depending on the direction (local-global, global-local, global-global) with adapter wrappers for different parameter types.
GlobPtr ranges should be supported and, at least for some variants, already are.
Apparently an adapter specialization for GlobPtr is missing for your use case. I will add it.

[2017-01-20 19:02] fuchsto commented on #118
Hm, actually, multi-threaded global allocation is not supported intentionally because allocation and thread-safety are conceptually unrelated (as in: orthogonal semantics).
It's exactly like in the STL.
Your requirements are perfectly sound. They don't concern allocators, though.
I suggest we schedule a Skype conference call with @rkowalewski to clarify this.